<div id="job_time" data-job="<%= job.id %>">


  <div id="job_time_content">
    <% users = job.job_memberships.where("job_role_id != ?", JobMembership::CREATOR) %>
    <% if job.start_date.present? && users.any? %>
        <div class="timesheet">
          <div class="name">
            <div id="job_time_loader" class="pull-left push-down hidden inline">
              <div class="">
                <span class="ajax-loading search-loading"><b>Loading..</b></span>
              </div>
            </div>

            <%= link_to job_times_path(job: job.id, page: @page - 1),
                        remote: true,
                        class: "bold pull-right push-down activity-user-link start-job-time-loader" do %>
                <i class="icon-chevron-left"></i>
            <% end %>
          </div>
          <% 11.times do |i| %>
              <div class="day-header <%= i == 2 && @page == 0 ? "orange-text" : "" %>">
                <%= (@start_date + (i - 2).days).strftime("%a") %>
                <br>
                <%= (@start_date + (i - 2).days).day %>
              </div>
          <% end %>

          <%= link_to job_times_path(job: job.id, page: @page + 1),
                      remote: true,
                      class: "bold activity-user-link start-job-time-loader" do %>
              <i class="icon-chevron-right"></i>
          <% end %>
        </div>

        <% @job_times = JobTime.where(:company_id => current_user.company_id).where(:job_id => job.id).to_a %>
        <% users.each do |job_membership| %>
            <%= render 'job_times/timesheet_line', job: job, user: job_membership.user, start_date: @start_date, job_membership: job_membership %>
        <% end %>

        <br><br>

        <div class="pull-right">
          <h3 class="list-item-column2">Total Scheduled</h3>

          <h3 class="light-blue-text inline total-scheduled">0</h3>
          <br>

          <h3 class="list-item-column2">Total Worked</h3>

          <h3 class="inline total-worked">0</h3>
        </div>


        <br><br><br><br>

        <div class="">
          <p class="inline">Press once to schedule <span class="blue">█</span></p>

          <p class="inline push-right">Press again after work day to confirm work <span class="good-text">█</span></p>
        </div>

    <% elsif job.start_date.nil? %>
        <br><br>

        <p class="center">
          <b class="blue-text help-text">Set job start date to show scheduling</b>
        </p>
    <% elsif users.empty? %>
        <br><br>

        <p class="center"><b>No Job Members. Add users to job...</b></p>
    <% end %>
  </div>


</div>