<div id="job_time" data-job="<%= job.id %>">


  <div id="job_time_content">
    <% job_memberships = job.job_memberships.where("job_role_id != :creator AND job_role_id = :field", creator: JobMembership::CREATOR, field: JobMembership::FIELD) %>
    <% if job_memberships.any? %>
        <div class="timesheet">
          <div class="name">
            <div id="job_time_loader" class="pull-left push-down hidden inline">
              <div class="">
                <span class="ajax-loading search-loading"><b>Loading..</b></span>
              </div>
            </div>

            <%= link_to job_times_path(job: job.id, page: @page - 1),
                        remote: true,
                        class: "bold pull-right push-down activity-user-link start-job-time-loader" do %>
                <i class="icon-chevron-left"></i>
            <% end %>
          </div>
          <% 14.times do |i| %>
              <div class="day-header  <%= (@start_date + (i - 3).days).to_date == Time.zone.now.to_date ? "orange-text" : "" %>">
                <%= (@start_date + (i - 3).days).strftime("%a") %>
                <br>
                <%= (@start_date + (i - 3).days).day %>
              </div>
          <% end %>

          <%= link_to job_times_path(job: job.id, page: @page + 1),
                      remote: true,
                      class: "bold activity-user-link start-job-time-loader" do %>
              <i class="icon-chevron-right"></i>
          <% end %>
        </div>

        <hr>

        <% @job_times = JobTime.where(:company_id => current_user.company_id).where(:job_id => job.id).to_a %>
        <b>Day</b>
        <% job_memberships.each do |job_membership| %>
            <% if job_membership.shift_type == JobMembership::SHIFT_DAY %>
                <%= render 'job_times/timesheet_line', job: job, user: job_membership.user, start_date: @start_date, job_membership: job_membership, show_job: false %>
            <% end %>
        <% end %>

        <br><br>
        <b>Night</b>
        <% job_memberships.each do |job_membership| %>
            <% if job_membership.shift_type == JobMembership::SHIFT_NIGHT %>
                <%= render 'job_times/timesheet_line', job: job, user: job_membership.user, start_date: @start_date, job_membership: job_membership, show_job: false %>
            <% end %>
        <% end %>

        <br><br>

        <div class="pull-right">
          <h3 class="list-item-column2 align-top">Total Scheduled</h3>

          <h3 class="light-blue-text inline total-scheduled align-top push-down-small">0</h3>
          <br>

          <h3 class="list-item-column2 align-top">Total Worked</h3>

          <h3 class="inline total-worked align-top push-down-small">0</h3>
        </div>


        <br><br><br><br><br>

        <div class="alert">
          <b class='orange-text'>Schedule work before job start date, and confirm after completion of shift.</b>
          <br>
          <p class="inline-block">Press once to schedule</p>&nbsp;&nbsp;<div class='inline-block' style='width: 10px; height: 10px; background: #01a6fb'></div>
          <p class="inline-block push-right">Press again after work day to confirm work</p>&nbsp;&nbsp;<div class='inline-block' style='width: 10px; height: 10px; background: #1edf30'></div>
        </div>

    <% elsif job_memberships.empty? %>
        <br><br>

        <p class="center"><b>No field personnel assigned to job...</b></p>
    <% end %>
  </div>


</div>