<br>
<div class="timesheet user-timesheet">
  <div class="name"><%= render 'users/user_icon', user: user, use_link: true, use_name: true %></div>


  <% job_times = JobTime.where(:user_id => user.id).where("job_times.time_for > :start_date AND job_times.time_for < :end_date", start_date: @start_date, end_date: @start_date + 14.days) %>
  <div class="timesheet-line-view <%= user.nil? ? "disabled-user-line" : "" %>">
    <% 14.times do |i| %>
        <% job_time = job_times.find { |jt| jt.user_id == user.id && jt.time_for.strftime("%d-%m-%Y") == (start_date + (i).days).strftime("%d-%m-%Y") } %>
        <div class="day tooltip-info" data-title="<%= job_time.present? ? job_time.job.name : 'Not on job' %>">
          <input type='submit' value='<%= job_time.present? ? (job_time.hours == job_time.hours.to_i ? job_time.hours.to_i : job_time.hours) : current_user.company.minimum_work_day %>'
                 data-type='<%= job_time.present? ? job_time.status_string : "none" %>'
                 data-job="<%= job_time.present? ? job_time.job_id : nil %>"
                 data-day="<%= (start_date + (i).days).strftime("%d-%m-%Y") %>"
                 data-user="<%= user.id %>"
                 class="bluebtn day-button day-button-schedule popover-control <%= job_time.present? ? (job_time.status == JobTime::SCHEDULED ? "light-blue" : "green") : "gray" %>"
                 data-html="true"
                 data-toggle="popover"
                 data-placement="bottom"
                 data-trigger="manual"
                 data-original-title="Choose <%= current_user.company.work_day_type == Company::HOURLY_WORK_DAY ? "Hours" : "Days" %>">
        </div>
    <% end %>
  </div>

  <% if false %>
      data-content="<%= render 'job_times/timesheet_timepicker', user: user, job: job_time.present? ? job_time.job : nil, date: (start_date + (i).days) %>"

<% end %>

  <% total_scheduled_time = job_times.select { |jt| jt.user_id == user.id }.map(&:hours).reduce(:+) || 0 %>
  <% total_work_time = job_times.select { |jt| jt.user_id == user.id && jt.status == JobTime::WORKED }.map(&:hours).reduce(:+) || 0 %>

  <div class="push-down-small pull-right">
    <b class="inline user-total-time-scheduled push-down hidden" data-hours="<%= total_scheduled_time %>"><%= total_scheduled_time %></b>
    <b class="inline user-total-time push-down" data-hours="<%= total_work_time %>"><%= total_work_time %></b>
  </div>

</div>

