<br>
<div class="timesheet user-timesheet">
  <% if show_job %>
      <div class='name'>
        <a href="jobs/<%= job_membership.job.id %>" class='inline-block activity-user-link tooltip-info'
           target="_blank"
           data-html="true"
           data-placement="right"
           data-title="<%= render('jobs/well_tooltip', job: job_membership.job, show_summary_data: true) %>">
          <%= job_membership.job.well.name %>
        </a>
      </div>
  <% else %>
      <% if user.present? %>
          <div class="name"><%= render 'jobs/user', job_membership: job_membership, include_icon: true %></div>
      <% else %>
          <div class="name"><%= job_membership.user_name %></div>
      <% end %>
  <% end %>


  <div class="timesheet-line-view <%= user.nil? ? "disabled-user-line" : "" %>">
    <% 14.times do |i| %>
        <div class="day tooltip-info" data-title="<%= (start_date + (i - 3).days).strftime("%a %d") %>">
          <% job_time = @job_times.find { |jt| jt.user_id == job_membership.user_id && jt.time_for.strftime("%d-%m-%Y") == (start_date + (i - 2).days).strftime("%d-%m-%Y") } %>
          <input type='submit' value='<%= job_time.present? ? (job_time.hours == job_time.hours.to_i ? job_time.hours.to_i : job_time.hours) : current_user.company.minimum_work_day %>'
                 data-type='<%= job_time.present? ? job_time.status_string : "none" %>'
                 data-job="<%= job.id %>"
                 data-day="<%= (start_date + (i - 2).days).strftime("%d-%m-%Y") %>"
                 data-user="<%= job_membership.user_id %>"
                 class="bluebtn day-button day-button-schedule popover-control <%= job_time.present? ? (job_time.status == JobTime::SCHEDULED ? "light-blue" : "green") : "gray" %>"
                 data-html="true"
                 data-content="<%= render 'job_times/timesheet_timepicker', user: user, job: job, date: (start_date + (i - 2).days), job_membership: job_membership %>"
                 data-toggle="popover"
                 data-placement="bottom"
                 data-trigger="manual"
                 data-original-title="Choose <%= current_user.company.work_day_type == Company::HOURLY_WORK_DAY ? "Hours" : "Days" %>">
        </div>
    <% end %>
  </div>

  <% total_scheduled_time = @job_times.select { |jt| jt.user_id == job_membership.user_id }.map(&:hours).reduce(:+) || 0 %>
  <% total_work_time = @job_times.select { |jt| jt.user_id == job_membership.user_id && jt.status == JobTime::WORKED }.map(&:hours).reduce(:+) || 0 %>

  <div class="push-down-small pull-right">
    <b class="inline user-total-time-scheduled push-down hidden" data-hours="<%= total_scheduled_time %>"><%= total_scheduled_time %></b>
    <b class="inline user-total-time push-down" data-hours="<%= total_work_time %>"><%= total_work_time %></b>
  </div>

</div>

