<div class="activity">

  <% if job_note.note_type == 2 %>
      <div class="job-note-warning"></div>
  <% end %>
  <% if job_note.note_type == 3 %>
      <div class="job-note-error"></div>
  <% end %>
  <% if job_note.note_type == 4 %>
      <div class="job-note-task"></div>
  <% end %>

  <div class="activity-avatar-box-small">
    <%= image_tag "user_avatar_small.png" %>
  </div>

  <ul class="activity-content">
    <div class="activity-user-link-div">
      <%= render 'activities/user', user: job_note.user %>

      <% if job_note.assign_to.present? %>
          <%= image_tag "to_arrow.png", class: "job-note-assign-arrow" %>
          <%= render 'activities/user', user: job_note.assign_to %>
      <% end %>
    </div>

    <p class="activity-date"><%= job_note.created_at.strftime("%a %m/%d/%Y %l:%M %p") %></p>

    <div>
      <p class="activity-message">
        <% if job_note.note_type == 3 %>
          <h3 class="warning-text">
            <%= image_tag "error_red.png" %>
            <%= job_note.text %>
          </h3>
      <% else %>
          <%= job_note.text %>
      <% end %>
      </p>
    </div>

    <br>

    <div id="job_note_comments_<%= job_note.id %>" class="all-comments-box ">
      <% job_note.comments.each do |comment| %>
        <%=  render 'job_note_comments/comment', comment: comment %>
      <% end %>
    </div>

    <%= form_for JobNoteComment.new, remote: true do |f| %>
        <%= f.hidden_field :job_note_id, value: job_note.id %>
        <%= f.text_field :text,
                           placeholder: "Type to add a comment...",
                           id: "job_note_comment_text_" + job_note.id.to_s,
                           class: "job-field-value-editable custom-data-input light-text note-comment" %>
    <% end %>

  </ul>

</div>