<div class="activity">

  <% if job_note.note_type == 2 %>
      <div class="job-note-warning"></div>
  <% end %>
  <% if job_note.note_type == 3 %>
      <div class="job-note-error"></div>
  <% end %>

  <div class="activity-avatar-box-small">
    <%= image_tag "user_avatar_small.png" %>
  </div>

  <ul class="activity-content">
    <%= link_to job_note.user.name, job_note.user, class: "activity-user-link" %>
    <div class="activity-user-link-hover">
      <h2><%= job_note.user.position_title %></h2>

      <p><%= job_note.user.district.name %></p>
    </div>
    <p class="activity-date"><%= job_note.created_at.getlocal.strftime("%a %m/%d/%Y %l:%M %p") %></p>

    <div>
      <p class="activity-message">
        <% if job_note.note_type == 3 %>
            <%= image_tag "error_red.png" %>
      <% end %>
        <%= job_note.text %></p>
    </div>

  </ul>

</div>