<div class="activity">

  <% if job_note.note_type == 2 %>
      <div class="job-note-warning"></div>
  <% end %>
  <% if job_note.note_type == 3 %>
      <div class="job-note-error"></div>
  <% end %>
  <% if job_note.note_type == 4 %>
      <div class="job-note-task"></div>
  <% end %>

  <div class="note-avatar-box-small">
    <% if job_note.user.present? && job_note.job.present? %>
        <% @job_membership = job_note.job.get_membership_role(job_note.user) %>
        <% names = job_note.user.present? ? job_note.user.name.split : job_note.user_name.split %>
        <div class="inline-block">
          <div class="member-icon-large <%= @job_membership.present? ? @job_membership.icon_css_style : "" %> tooltip-info"
               data-placement="bottom" data-html="true"
               data-title="<div class='activity-tooltip'><h2 class='white-text'><%= job_note.user.present? ? job_note.user.name : job_note.user_name %></h2><span class='member-tooltip <%= @job_membership.present? ? @job_membership.icon_css_style : "" %>'><%= @job_membership.present? ? @job_membership.role_title : "--" %></span><br><br><%= job_note.user.title.to_s %></h2><p><%= (job_note.user.district.present? ? job_note.user.district.name : "-") %></p></div>">
            <p>
              <% if names.any? %>
                  <%= names.count > 1 ? names.first[0, 1] + names.last[0, 1] : names.first[0, 1] %>
              <% else %>
                  -
              <% end %>
            </p>

            <div class="member-icon-image member-icon-image-user"></div>
            <div class="member-icon-image-function <%= @job_membership.present? ? @job_membership.icon_image_css_style : "" %>"></div>

          </div>
        </div>
    <% else %>
        <% names = job_note.user.present? ? job_note.user.name.split : job_note.user_name.split %>
        <div class="inline-block">
          <div class="member-icon-large <%= @job_membership.present? ? @job_membership.icon_css_style : "" %> tooltip-info">
            <p>
              <% if names.any? %>
                  <%= names.count > 1 ? names.first[0, 1] + names.last[0, 1] : names.first[0, 1] %>
              <% else %>
                  -
              <% end %>
            </p>

            <div class="member-icon-image member-icon-image-user"></div>
          </div>
        </div>
    <% end %>
  </div>

  <ul class="activity-content">
    <div class="activity-user-link-div">
      <% if job_note.user.present? %>
          <%= render 'activities/user', user: job_note.user %>
      <% else %>
          <p class='inline-block'><b><%= job_note.user_name %></b></p>
      <% end %>

      <% if job_note.assign_to.present? %>
          <%= image_tag "to_arrow.png", class: "job-note-assign-arrow" %>
          <%= render 'activities/user', user: job_note.assign_to %>
      <% end %>
    </div>

    <p class="activity-date tooltip-info"
       data-placement="bottom"
       data-title="<%= job_note.created_at.strftime("%a %m/%d/%Y %l:%M %p") %>">
      <%= time_ago_in_words(job_note.created_at) %> ago
    </p>

    <div>
      <p class="activity-message">
        <% if job_note.note_type == 3 %>
          <h3 class="warning-text">
            <%= image_tag "error_red.png" %>
            <%= job_note.text %>
          </h3>
      <% elsif job_note.note_type == JobNote::ACTIVITY_REPORT %>
          <% note_activity_report = NoteActivityReport.where(:job_note_id => job_note.id).first %>
          <b class='label label-info'>Daily Activity Report</b><br>

          <div class='activity-report-root'>
            <div><p><a href='#' class='user-link pull-right activity-report-show-all'>Show Full Report</a></p></div>
            <div class='past-day hidden'>
              <p class="inline-block list-item-column-short"><b>Past day</b></p><%= note_activity_report.past %></div>
            <div><p class="inline-block list-item-column-short present-day hidden"><b class=''>Present</b>
            </p><%= note_activity_report.present %></div>
            <div class='next-day hidden'>
              <p class="inline-block list-item-column-short"><b>Next day</b></p><%= note_activity_report.future %></div>
          </div>
      <% elsif job_note.note_type == JobNote::ASSET_REQUEST %>
          <b class='label'>
            Asset Request</b><br><br>
          <%= job_note.text %>
      <% else %>
          <%= job_note.text %>
      <% end %>
      </p>
    </div>

    <br>

    <% if false %>
        <div id="job_note_comments_<%= job_note.id %>" class="all-comments-box ">
          <% job_note.comments.each do |comment| %>
              <%= render 'job_note_comments/comment', comment: comment %>
          <% end %>
        </div>

        <%= form_for JobNoteComment.new, remote: true do |f| %>
            <%= f.hidden_field :job_note_id, value: job_note.id %>
            <%= f.text_field :text,
                             placeholder: "Type to add a comment...",
                             id: "job_note_comment_text_" + job_note.id.to_s,
                             class: "job-field-value-editable custom-data-input light-text note-comment job-note-comment-box tooltip-info",
                             "data-placement" => "bottom",
                             "data-title" => "Click to add comment" %>
        <% end %>     '
    <% end %>

  </ul>

</div>