<div class="activity">

  <% if job_note.note_type == 2 %>
      <div class="job-note-warning"></div>
  <% end %>
  <% if job_note.note_type == 3 %>
      <div class="job-note-error"></div>
  <% end %>
  <% if job_note.note_type == 4 %>
      <div class="job-note-task"></div>
  <% end %>

  <div class="note-avatar-box-small">
    <% if job_note.job.get_membership_role(job_note.user).present? %>
        <% case job_note.job.get_membership_role(job_note.user).job_role_id
               when 1 %><%= image_tag "user_avatar_default.png" %>
            <% when 2 %><%= image_tag "manager_icon.png" %>
            <% when 3 %><%= image_tag "coordinator_icon.png" %>
            <% when 4 %><%= image_tag "field_icon.png" %>
            <% when 5 %><%= image_tag "shop_icon.png" %>
            <% else %><%= image_tag "user_avatar_default.png" %>
        <% end %>
    <% end %>
  </div>

  <ul class="activity-content">
    <div class="activity-user-link-div">
      <% if job_note.user.present? %>
          <%= render 'activities/user', user: job_note.user %>
      <% else %>
        <%= job_note.user_name %>
      <% end %>

      <% if job_note.assign_to.present? %>
          <%= image_tag "to_arrow.png", class: "job-note-assign-arrow" %>
          <%= render 'activities/user', user: job_note.assign_to %>
      <% end %>
    </div>

    <p class="activity-date tooltip-info"
       data-placement="bottom"
       data-title="<%= job_note.created_at.strftime("%a %m/%d/%Y %l:%M %p") %>">
      <%= time_ago_in_words(job_note.created_at) %> ago
    </p>

    <div>
      <p class="activity-message">
        <% if job_note.note_type == 3 %>
          <h3 class="warning-text">
            <%= image_tag "error_red.png" %>
            <%= job_note.text %>
          </h3>
      <% else %>
          <%= job_note.text %>
      <% end %>
      </p>
    </div>

    <br>

    <div id="job_note_comments_<%= job_note.id %>" class="all-comments-box ">
      <% job_note.comments.each do |comment| %>
          <%= render 'job_note_comments/comment', comment: comment %>
      <% end %>
    </div>

    <%= form_for JobNoteComment.new, remote: true do |f| %>
        <%= f.hidden_field :job_note_id, value: job_note.id %>
        <%= f.text_field :text,
                         placeholder: "Type to add a comment...",
                         id: "job_note_comment_text_" + job_note.id.to_s,
                         class: "job-field-value-editable custom-data-input light-text note-comment job-note-comment-box tooltip-info",
                         "data-placement" => "bottom",
                         "data-title" => "Click to add comment" %>
    <% end %>

  </ul>

</div>