<fieldset class="field" id="tool_<%= tool.id %>">
  <div>

    <div class="secondary-tool-name">
      <%= image_tag "tool.png" %>
      <h3 class="push-right-small"><%= tool.name %></h3>
      <p class="tool-description push-right-small"><%= tool.description %></p>
    </div>

    <div class="push-right">
      <%= link_to "remove", tool, method: :delete, remote: true,
                  data: {confirm: "Remove Secondary Tool " + tool.name + "?"}, class: "delete-button tooltip-info",
                  "data-placement" => "bottom",
                  "data-title" => "Delete " + tool.name + " from division" %>
    </div>
  </div>
</fieldset>