<% if @tool.new_record? %>
$('#alert').remove();
$('body').append("<%= j render 'layouts/modal_error', title: "Problem Adding Tool", message: @tool.errors.full_messages.join(', ').html_safe %>");
$('#alert').modal({show:true});

<% else %>

$('#modal_popup').css('visibility', 'hidden');
$('#modal_popup').find(".modal-content").children().remove();
$('#modal_popup').height(0);

<% if @tool.division %>

$('#secondary_tools_list').append("<%= j render 'tools/tool', tool: @tool %>");

<% else %>

$('#primary_tool_tool_id').append($("<option></option>")
        .attr("value", '<%= @tool.id %>')
        .text('<%= @tool.name %>'));
$('#primary_tool_tool_id').find("option[value='<%= @tool.id %>']").attr('selected', 'selected');

<% end %>

<% end %>