<div class="bha-tool">
  <div>

    <div class="pull-right">
      <%= link_to "order", "#",
                  class: "push-up order-button bha-order-up tooltip-info",
                  "data-placement" => "bottom",
                  "data-title" => "Move tool up by 1 row" %>
      <%= link_to "order", "#",
                  class: "push-up delete-button bha-remove tooltip-info",
                  "data-placement" => "bottom",
                  "data-title" => "Remove tool from BHA" %>
    </div>

    <% if tool.is_a?(PrimaryTool) %>
        <div>
          <%= hidden_field_tag "[bha_items][pt_tool_" + tool.id.to_s + "]", "1" %>
          <p class="checkbox-label-large"><%= tool.tool.name %></p>
          <span class='help-text push-right-small'><%= tool.comments %></span>

          <% if tool.part_memberships.any? %>
              <div class="push-right-small inline">
                <% tool.part_memberships.where(:template => true).each_with_index do |part_membership, index| %>
                    <% real = part_membership.usage_part_membership(document.job.id) %>
                    <% part = Part.where("parts.district_id = :district_id AND parts.material_number = :material_number AND parts.template is TRUE", district_id: document.job.district_id, material_number: part_membership.material_number.to_s).limit(1).first %>

                    <div class='inline'>
                      <% if part.present? %>
                          <%= link_to part.name, part, target: "_blank", class: "inline activity-user-link tooltip-info", "data-title" => part.name + ", Material # " + part.material_number %>
                      <% else %>
                          <p class="inline"><%= part_membership.material_number %></p>
                      <% end %>

                      <div class="inline">
                        <% if real.present? && real.part.present? %>
                            <p class="inline help-text">- Serial #</p>
                            <%= link_to real.part.serial_number, real.part, target: "_blank", class: "inline activity-user-link" %>
                        <% end %>
                      </div>
                    </div>
                <% end %>
              </div>
          <% end %>
          <br><br>
        </div>

    <% else %>
        <div>
          <%= hidden_field_tag "[bha_items][st_tool_" + tool.id.to_s + "]", "1"  %>
          <p class="checkbox-label-large"><%= tool.tool.name %></p>
        </div>
    <% end %>
  </div>

  <% df = DynamicField.new %>
  <% df.value_type = DynamicField::LENGTH_IN %>
  <div class="bha-other-items push-right-small">
    <div class="inline-block">
      <b>ID</b>
      <%= text_field_tag (tool.is_a?(PrimaryTool) ? "pt_tool_" : "st_tool_") + tool.id.to_s + "_id", "",
                         class: "bha-value",
                         value: bha_item.inner_diameter,
                         placeholder: "ID" %>
    </div>

    <div class="inline-block push-right-small">
      <b>OD</b>
      <%= text_field_tag (tool.is_a?(PrimaryTool) ? "pt_tool_" : "st_tool_") + tool.id.to_s + "_od", "",
                         class: "bha-value",
                         value: bha_item.outer_diameter,
                         placeholder: "OD" %>
    </div>

    <div class="inline-block push-right-small">
      <b>Length</b>
      <%= text_field_tag (tool.is_a?(PrimaryTool) ? "pt_tool_" : "st_tool_") + tool.id.to_s + "_length", "",
                         class: "bha-value",
                         value: bha_item.length,
                         placeholder: "Length" %>
    </div>

    <div class="inline-block push-right tooltip-info" data-title="Upward connection">
      <b><i class="icon-arrow-up"></i></b>
      <%= select_tag (tool.is_a?(PrimaryTool) ? "pt_tool_" : "st_tool_") + tool.id.to_s + "_up",
                     options_for_select(BhaItem.options),
                         class: "custom-select-ajax bha-value2 align-top push-up",
                         placeholder: "Up" %>
    </div>

    <div class="inline-block push-right-small tooltip-info" data-title="Downward connection">
      <b><i class="icon-arrow-down"></i></b>
      <%= select_tag (tool.is_a?(PrimaryTool) ? "pt_tool_" : "st_tool_") + tool.id.to_s + "_down",
                     options_for_select(BhaItem.options),
                     class: "custom-select-ajax bha-value2 align-top push-up",
                     placeholder: "Down" %>
    </div>
  </div>

  <hr>
</div>