<div>
  <% if bha.nil? %>
      <br><br>

      <p class='help-text center'>No BHA configured...</p>

      <br>
      <% if signed_in? %>
          <div class='center'>
            <%= link_to "New Tool String BHA", new_bha_path(document: master_bha.document.id, bha: master_bha),
                        class: "bluebtn btnsmall" %>
          </div>
      <% end %>
  <% else %>
      <% depth = 0.0 %>
      <div id="items" class="list">
        <% bha.bha_items.each do |item| %>

            <% if item.tool.present? %>
                <% depth = depth + item.length %>

                <div class="bha-line">

                  <div class="push-right-small">
                    <div class="list-item-column list-item-column3 orange-text">
                      <%= render 'part_memberships/part_membership', part_membership: item.tool, allow_remove: false %>
                    </div>

                    <p class="list-item-column2 list-item-column-short">
                      <b><%= item.inner_diameter.to_s %></b>
                    </p>

                    <p class="list-item-column2 list-item-column-short ">
                      <b><%= item.outer_diameter.to_s %></b>
                    </p>

                    <p class="list-item-column2 list-item-column-short">
                      <b><%= item.length.to_s %></b>
                    </p>

                    <p class="list-item-column2 list-item-column-short ">
                      <b class='label label-info'><%= depth %></b>
                    </p>

                    <% if item.up >= 0 %>
                        <p class="list-item-column2 list-item-column-short help-text tooltip-info"
                           data-html="true"
                           data-title="Upward Connection: <%= item.up >= 0 ? BhaItem.connection_string(item.up) : "-" %>">
                          <%= item.up >= 0 ? BhaItem.connection_string(item.up) : "-" %>
                        </p>
                    <% end %>
                  </div>

                </div>
            <% end %>
        <% end %>
      </div>

      <br>

      <% if !bha.master_bha.present? %>
          <div class='push-down pull-right'>
            <div class='inline-block'>
              <b>Bit to
                Sensor</b><span class='push-right-small blue-text'><%= bha.bit_to_sensor.present? ? bha.bit_to_sensor : "-" %></span>
            </div>
            <div class='inline-block push-right'>
              <b>Bit to
                Gamma</b><span class='push-right-small blue-text'><%= bha.bit_to_gamma.present? ? bha.bit_to_gamma : "-" %></span>
            </div>
          </div>
      <% else %>
          <br>
          <%= link_to "Edit Tool String", edit_bha_path(bha), class: "btn btn-default pull-right" %>
      <% end %>
  <% end %>
</div>