<div id="bha" class="">
  <div class="bha-content">
    <div class="page_header">
      <h1><%= bha.name %></h1>
      <span class='push-right-small blue-text'><%= bha.description %></span>

      <div class="btn-group inline pull-right">
        <a class="custom-data-toggle-jobs" data-toggle="dropdown" href="#">
          Assembly Actions
        </a>
        <ul class="dropdown-menu">

          <li>
            <%= link_to "Edit", edit_bha_path(bha), class: "dropdown-menu-link" %>
          </li>
          <li class="divider"></li>
          <li>
            <%= link_to "Clone", new_bha_path(clone: true, bha: bha), class: "dropdown-menu-link" %>
          </li>
          <li class="divider"></li>
          <li>
            <%= link_to "Delete Assembly", bha, method: :delete,
                        data: {confirm: "Delete Assembly?"},
                        class: "dropdown-menu-link tooltip-info",
                        "data-placement" => "left",
                        "data-title" => "Delete assembly?" %>
          </li>
        </ul>
      </div>
    </div>

    <div class="content">
      <p class="list-item-column list-item-column-long help-text">
        Tool
      </p>

      <p class="list-item-column2 list-item-column-short  help-text">
        ID <span class='help-text'>(in)</span>
      </p>

      <p class="list-item-column2 list-item-column-short  help-text">
        OD <span class='help-text'>(in)</span>
      </p>

      <p class="list-item-column2 list-item-column-short  help-text">
        Length <span class='help-text'>(in)</span>
      </p>

      <p class="list-item-column2 list-item-column-short  help-text">
        Depth <span class='help-text'>(in)</span>
      </p>

      <p class="list-item-column2 list-item-column-count  help-text">
        <i class="icon-arrow-up"></i>
        &nbsp;/&nbsp;
        <i class="icon-arrow-down"></i>
      </p>


    </div>


    <% depth = 0.0 %>
    <div id="items" class="list">
      <% bha.bha_items.each do |item| %>

          <% depth = depth + item.length %>

          <div class="">

            <div class="push-right-small">
              <p class="list-item-column list-item-column-long orange-text">
                <b class="inline"><%= item.tool.tool.name %></b>
              </p>

              <p class="list-item-column2 list-item-column-short">
                <b><%= item.inner_diameter.to_s %></b>
              </p>

              <p class="list-item-column2 list-item-column-short ">
                <b><%= item.outer_diameter.to_s %></b>
              </p>

              <p class="list-item-column2 list-item-column-short">
                <b><%= item.length.to_s %></b>
              </p>

              <p class="list-item-column2 list-item-column-short ">
                <b class='blue-text'><%= depth %></b>
              </p>

              <% if item.up >= 0 || item.down >= 0 %>
                  <p class="list-item-column2 list-item-column-short  help-text">
                    <%= item.up >= 0 ? BhaItem.connection_string(item.up) : "-" %>
                    &nbsp;/&nbsp;
                    <%= item.down >= 0 ? BhaItem.connection_string(item.down) : "-" %>
                  </p>
              <% end %>
            </div>

            <% if item.tool.is_a?(PrimaryTool) %>
                <% if item.tool.part_memberships.any? %>
                    <div class="">
                      <% item.tool.part_memberships.where(:template => true).each_with_index do |part_membership, index| %>
                          <div>
                            <% real = part_membership.usage_part_membership(item.bha.document.job.id) %>
                            <% part = Part.where("parts.district_id = :district_id AND parts.material_number = :material_number AND parts.template is TRUE", district_id: item.bha.document.job.district_id, material_number: part_membership.material_number.to_s).limit(1).first %>

                            <div class='inline-block push-right'>
                              <% if part.present? %>
                                  <%= link_to part.name, part, target: "_blank", class: "inline activity-user-link" %>
                              <% else %>
                                  <p  class="inline-block"><b><%= part_membership.material_number %></b></p>
                              <% end %>

                              <div class="inline-block">
                                <% if real.present? && real.part.present? %>
                                    <p class="inline-block help-text">- Serial #</p>
                                    <%= link_to real.part.serial_number, real.part, target: "_blank", class: "inline activity-user-link" %>
                                <% end %>
                              </div>
                            </div>
                          </div>
                      <% end %>
                    </div>
                <% end %>
            <% end %>
            <hr>
          </div>
      <% end %>
    </div>
  </div>

  <div id="bha_loader" class="push-down center hidden inline">
    <br>

    <div class="">
      <span class="ajax-loading search-loading"><b>Loading..</b></span>
    </div>

    <br>
    <br>
  </div>
</div>