<div class="bha-tool">

  <%= hidden_field_tag "[bha_items][" + tool.id.to_s + "]", tool.id.to_s, value: "1" %>

  <div class="pull-right">
    <%= link_to "order", "#",
                class: "push-up order-button bha-order-up tooltip-info",
                "data-placement" => "bottom",
                "data-title" => "Move tool up by 1 row" %>
    <%= link_to "order", "#",
                class: "push-up delete-button bha-remove tooltip-info",
                "data-placement" => "bottom",
                "data-title" => "Remove tool from BHA" %>
  </div>

  <div class='inline-block align-top'>
    <%= render 'part_memberships/part_membership', part_membership: tool %>
  </div>

  <% df = DynamicField.new %>
  <% df.value_type = DynamicField::LENGTH_IN %>
  <div class="inline-block bha-other-items">
    <div class="inline-block push-right-small">
      <b>ID</b>
      <%= text_field_tag tool.id.to_s + "_id", "",
                         class: "bha-value",
                         value: bha_item.inner_diameter,
                         placeholder: "ID" %>
    </div>

    <div class="inline-block push-right-small">
      <b>OD</b>
      <%= text_field_tag tool.id.to_s + "_od", "",
                         class: "bha-value",
                         value: bha_item.outer_diameter,
                         placeholder: "OD" %>
    </div>

    <div class="inline-block push-right-small">
      <b>Length</b>
      <%= text_field_tag tool.id.to_s + "_length", "",
                         class: "bha-value",
                         value: bha_item.length,
                         placeholder: "Length" %>
    </div>

    <div class="inline-block push-right tooltip-info" data-title="Upward connection">
      <b><i class="icon-arrow-up"></i></b>
      <%= select_tag tool.id.to_s + "_up",
                     options_for_select(BhaItem.options),
                     class: "custom-select-ajax bha-value2 align-top push-up",
                     placeholder: "Up" %>
    </div>

    <div class="inline-block push-right-small tooltip-info" data-title="Downward connection">
      <b><i class="icon-arrow-down"></i></b>
      <%= select_tag tool.id.to_s + "_down",
                     options_for_select(BhaItem.options),
                     class: "custom-select-ajax bha-value2 align-top push-up",
                     placeholder: "Down" %>
    </div>
  </div>

  <hr>
</div>