<% provide(:title, "Edit BHA") %>

<div class="page_header">
  <h1 id="part_name">Edit Bottom Hole Assembly</h1>

  <% df = DynamicField.new %>
  <% df.value_type = DynamicField::LENGTH_IN %>
  <div class='pull-right'>
    <b class=''>Units</b>
    <%= select_tag "Units",
                   options_for_select(df.unit_options, df.value_type),
                   class: " bha-units unit-tooltip custom-select-ajax", "data-placement" => "bottom",
                   "data-html" => false, "data-title" => "Units, click to change" %>
  </div>
</div>


<div class="form" data-form="new_bha">
  <%= form_for @bha do |f| %>

      <%= render 'shared/error_messages', object: f.object %>

      <%= render 'bhas/fields', f: f %>
      <hr>

      <div class="" id="list">
        <% @bha.bha_items.each do |bha_item| %>
            <% if bha_item.tool.present? %>
                <%= render 'bhas/bha_tool', bha_item: bha_item, tool: bha_item.tool, document: @document %>
            <% end %>
        <% end %>
      </div>

      <div class="form" id="add_tool" data-form="add_tool">
        <% serial = '' %>
        <% options = [] %>
        <% # Includes only jobs with BHA  %>
        <% PartMembership.includes(job: :well).includes(job: :documents).where("wells.id = ?", @job.well_id).where("documents.document_type = ?", Document::BOTTOM_HOLE_ASSEMBLY).order("part_memberships.name ASC").each do |p| %>
            <% options << [p.name + ' - ' + p.serial_number, p.id] %>
        <% end %>
        <%= select_tag "Add Tool", options_for_select(options),
                       id: "bha_tool_options",
                       class: "inline-block custom-select custom-select-long tooltip-info",
                       "data-form" => "add_tool",
                       "data-placement" => "bottom",
                       "data-title" => "Add tool to BHA",
                       prompt: "Add tool to BHA..." %>

        <%= link_to "Add", "#", id: "add_new_bha_item",
                    "data-document" => @document.id.to_s,
                    class: "bluebtn btnsmall" %>
      </div>
      <div id="add_tool_loader" class="hidden" data-form="add_tool">
        <span class="ajax-loading search-loading"><b>Adding Tool...</b></span>
      </div>

      <hr>

      <%= f.submit "Save", class: "bluebtn pull-right push-right-small form-loading-on-click",
                   "data-form" => "new_bha" %>

      <%= link_to "Cancel", request.referer + '#drilling-bha', class: "bluebtn red pull-right" %>


      <br><br>
  <% end %>
</div>

<div class="form-loading hidden" data-form="new_bha">
  <%= render 'layouts/inline_loading', title: "Updating Bottom Hole Assembly..." %>
</div>


<script type="text/javascript">
    $('.custom-select-ajax').each(function () {
        if (!$(this).hasClass('custom-select-added')) {
            $(this).addClass('custom-select-added');
            $(this).customSelect();
        }
    });
</script>