<% provide(:title, "New BHA") %>

<div class="page_header">
  <% if !@master_bha.present? %>
      <h1 id="part_name">New Bottom Hole Assembly</h1>
  <% else %>
      <h1 id="part_name">New BHA Tool String</h1>
  <% end %>
</div>


<div class="form" data-form="new_bha">
  <%= form_for @bha do |f| %>

      <%= render 'shared/error_messages', object: f.object %>

      <%= hidden_field_tag "[bha][document_id]", @document.id %>
      <% if @master_bha.present? %>
          <%= hidden_field_tag "[bha][master_bha_id]", @master_bha.id %>
      <% end %>

      <%= render 'bhas/fields', f: f %>

      <hr>

      <div class="" id="list">

      </div>

      <div class="form" id="add_tool" data-form="add_tool">
        <% options = [] %>
        <% # Includes only jobs with BHA       %>
        <% PartMembership.includes(job: :well).includes(job: :documents).where("wells.id = ?", @job.well_id).where("documents.document_type = ?", Document::BOTTOM_HOLE_ASSEMBLY).order("part_memberships.name ASC").each do |p| %>
            <% options << [p.name + ' - ' + p.serial_number, p.id] %>
        <% end %>

        <% if options.empty? %>
            <div class="no-job-log-entries alert">
              <%= image_tag "warning.png", class: "pull-left push-down" %>
              <div class='pull-left push-right-small push-down-small'>
                <h3 class='orange-text'>No tools/assets on well...</h3>

                <p>You must first add assets or accept shipments on the job page to add them here.</p>
              </div>
              <br><br><br>
            </div>
        <% else %>

            <%= select_tag "Add Tool", options_for_select(options),
                           id: "bha_tool_options",
                           class: "inline-block custom-select custom-select-long tooltip-info",
                           "data-form" => "add_tool",
                           "data-placement" => "bottom",
                           "data-title" => "Add tool to BHA",
                           prompt: "Add tool to BHA..." %>

            <%= link_to "Add", "#", id: "add_new_bha_item",
                        "data-document" => @document.id.to_s,
                        class: "bluebtn btnsmall" %>
        <% end %>

      </div>
      <div id="add_tool_loader" class="hidden" data-form="add_tool">
        <span class="ajax-loading search-loading"><b>Adding Tool...</b></span>
      </div>

      <% if false %>
          <div class="content">
            <% @document.job.job_template.primary_tools.where(:job_id => @document.job.id).where(:template => false).includes(:tool).order("tools.name ASC").each do |primary_tool| %>
                <%= render 'bhas/bha_tool', tool: primary_tool, document: @document, f: f %>
            <% end %>

            <% @document.job.secondary_tools.includes(:tool).order("tools.name ASC").each do |secondary_tool| %>
                <%= render 'bhas/bha_tool', tool: secondary_tool, document: @document, f: f %>
            <% end %>
          </div>
      <% end %>

      <hr>

      <%= f.submit "Save", class: "bluebtn pull-right push-right-small form-loading-on-click",
                   "data-form" => "new_bha" %>

      <% if request.referrer.present? %>
          <%= link_to "Cancel", request.referer + '#drilling-bha', class: "bluebtn red pull-right " %>
      <% else %>
          @drilling_log = DrillingLog.includes(job: :well).where("wells.id = ?", @job.well_id).first
          <% if @drilling_log.present? %>
              <%= link_to "Cancel", "/drilling_logs/#{@drilling_log.id}#drilling-bha", class: "bluebtn red pull-right " %>
          <% end %>
      <% end %>



      <br><br>
  <% end %>
</div>

<div class="form-loading hidden" data-form="new_bha">
  <%= render 'layouts/inline_loading', title: "Creating Bottom Hole Assembly..." %>
</div>
