<div class="field bha-tool">
  <div>

    <%= link_to "order", "#", remote: true,
                class: "pull-right push-up order-button bha-order-up tooltip-info",
                "data-placement" => "bottom",
                "data-title" => "Move tool up by 1 row" %>

    <% if tool.is_a?(PrimaryTool) %>
        <%= f.check_box "pt_tool_" + tool.id.to_s, checked: false,
                        class: "regular-checkbox bha-show-fields", id: "primary_" + tool.id.to_s %>
        <label for="primary_<%= tool.id %>"></label>

        <p class="checkbox-label-large"><%= tool.tool.name %></p>

        <% if tool.part_memberships.any? %>
            <div class="">
              <% tool.part_memberships.each_with_index do |part_membership, index| %>
                  <% real = part_membership.usage_part_membership(document.job.id) %>
                  <% part = Part.where("parts.district_id = :district_id AND parts.material_number = :material_number AND parts.template is TRUE", district_id: document.job.district_id, material_number: part_membership.material_number.to_s).limit(1).first %>

                  <div class='inline-block push-right'>
                    <% if part.present? %>
                        <p class="inline"><b><%= part.name %></b> -</p>
                        <%= link_to part_membership.material_number, part, class: "inline activity-user-link" %>
                    <% else %>
                        <%= part_membership.material_number %>
                    <% end %>

                    <div class="inline">
                      <% if real.present? && real.part.present? %>
                          <p class="inline">-</p>
                          <% if !real.part.district_serial_number.blank? %>
                              <%= link_to 'Serial #: ' + real.part.serial_number + '  |  District #: ' + real.part.district_serial_number, real.part, class: "activity-user-link" %>
                          <% else %>
                              <%= link_to 'Serial #: ' + real.part.serial_number, real.part, class: "activity-user-link" %>
                          <% end %>
                      <% end %>
                    </div>
                  </div>

              <% end %>
            </div>
        <% end %>
    <% else %>
        <%= f.check_box "st_tool_" + tool.id.to_s,
                        checked: false,
                        class: "regular-checkbox bha-show-fields", id: "secondary_" + tool.id.to_s %>
        <label for="secondary_<%= tool.id %>"></label>

        <p class="checkbox-label-large"><%= tool.tool.name %></p>
    <% end %>
  </div>

  <% df = DynamicField.new %>
  <% df.value_type = DynamicField::LENGTH_IN %>
  <div class="bha-other-items push-right-small hidden">
    <div class="inline-block job-field-div">
      <%= text_field_tag (tool.is_a?(PrimaryTool) ? "pt_tool_" : "st_tool_") + tool.id.to_s + "_id", "", class: " job-field-value-editable custom-data-input bha-value",
                         placeholder: "Inner diameter" %>
      <%= select_tag "Units",
                     options_for_select(df.unit_options, df.value_type),
                     class: "unitsSelect bha-units unit-tooltip", "data-placement" => "bottom",
                     "data-html" => false, "data-title" => "Units, click to change" %>
    </div>

    <div class="inline-block job-field-div">
      <%= text_field_tag (tool.is_a?(PrimaryTool) ? "pt_tool_" : "st_tool_") + tool.id.to_s + "_od", "", class: " job-field-value-editable custom-data-input bha-value",
                         placeholder: "Outer diameter" %>
      <%= select_tag "Units",
                     options_for_select(df.unit_options, df.value_type),
                     class: "unitsSelect bha-units unit-tooltip", "data-placement" => "bottom",
                     "data-html" => false, "data-title" => "Units, click to change" %>
    </div>

    <div class="inline-block job-field-div">
      <%= text_field_tag (tool.is_a?(PrimaryTool) ? "pt_tool_" : "st_tool_") + tool.id.to_s + "_length", "", class: " job-field-value-editable custom-data-input bha-value",
                         placeholder: "Length" %>
      <%= select_tag "Units",
                     options_for_select(df.unit_options, df.value_type),
                     class: "unitsSelect bha-units unit-tooltip", "data-placement" => "bottom",
                     "data-html" => false, "data-title" => "Units, click to change" %>
    </div>
  </div>
</div>