<div id="bha_header" class="alert alert-info bha-column">
  <%= link_to "New", edit_bha_path(document: document.id),
              class: "bluebtn btnsmall pull-right push-down new-bha",
              remote: true %>

  <b>Configured Assemblies</b>

  <br><br>

  <p><%= bhas.count %> configured</p>

  <div class="<%= bhas.any? ? "" : "hidden" %>">
    <hr>
    <% bhas.each do |bh| %>
        <div class="inline-block push-left-small">
          <%= link_to bha_path(bh, bha: true),
                      class: "bluebtn new-bha bha-button " + (bh == @bha ? "" : "gray"), remote: true do %>
          <%= bh.name %><p class="inline push-right-small">(<%= bh.bha_items.count.to_s %>)</p>
          <% end %>
        </div>
    <% end %>
  </div>
</div>