<% provide(:title, @document.name) %>

<div class="page_header">
  <h1 id="part_name"><%= @document.name %></h1>

  <h3 class="inline">&nbsp;BHAs</h3>

  <div class="btn-group inline pull-right">
    <a class="custom-data-toggle-jobs" data-toggle="dropdown" href="#">
      Export
    </a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to "Export as Excel", document_path(@document, format: "xlsx"),
                    target: "_blank",
                    class: "dropdown-menu-link tooltip-info submit-form",
                    "data-placement" => "left",
                    "data-title" => "Export log as Microsoft Excel file." %>
      </li>
    </ul>
  </div>

</div>


<div>
  <%= render 'jobs/job_progress_link', job: @document.job, show_summary_data: false, job_name: false %>
</div>

<br>

<%= render "bha/bha_header", document: @document, bhas: @bhas %>


<div id="bha">

  <% if @bhas.any? %>
    <%= render "bha/bha_tally", bha: @bhas.first %>
  <% end %>

  <div id="bha_loader" class="push-down center hidden inline">
    <br><br>

    <div class="">
      <span class="ajax-loading search-loading"><b>Loading..</b></span>
    </div>
  </div>

</div>

</div>


