<% provide(:title, 'Features') %>

<div class="about-div">
<!--<div class="page_header">
  <h1 class="page-title">What is Elephant?</h1>
</div>-->

<div class="">

<div class="features-part-1">
  <div class="container">
    <p class="content elephant-about-p1 about-p1-white"><span class="elephant-name">Elephant</span> is a complete
      solution
      for the Exploration &amp; Production sector of the Oil &amp; Gas industry.
      Elephant connects the entire company and traditionally separated verticals of information such as asset management
      and operational data to create insights that were never before possible.
      Elephant reduces your data entry and re-processing, but is also pioneering data analytics to determine asset
      failure points, production and operational factors, and general failure correlation.
      Think of the possibilities of knowing what is causing why, and how.
      <br> <br>
      Elephant's <b class="orange-text">job-centric</b> approach is easy to use. No hardware or software required.
      <br><br>
      It's time to start thinking about your future.
    </p>

    <br>
    <br>

  </div>
</div>

<div class="about-part-2">
  <div class="container">


    <h1>The Difference</h1>

    <p class="elephant-about-p1 blue-text">

      Operationally, Elephant integrates engineering components with the right data and workflow to create
      efficient success. Retrospectively, Elephant produces the insight and knowledge to fundamentally change the
      way you think about your business.

      <br><br>

      Where other companies talk about databases, we talk about insight.

      <br>

    <div class="">
      <%= image_tag "software_box.jpg" %>
    </div>

    </p>
    <br><br><br>

    <p>
      <span class="gotham-bold">90%</span> of a job is complete by
      the time that it arrives on location. Your business is actually planning. The
      only way to do this effectively and on a large scale is via a system that can coordinate communication,
      information,
      assets, and insight in a way that is actionable and on-time.
    </p>

    <p class="elephant-about-p1 blue-text">

    <div class="">
      <%= image_tag "software_box4.jpg" %>
    </div>

    <br><br><br>

    <h1>A few features...
      <hr>
    </h1>

    <div>
      <b class="blue-text">Assets</b><br>

      <p class="empty-checkbox-text">Asset tracking, run history, maintenance records, and usage/failure points.</p>
    </div>

    <div>
      <b class="blue-text">Operations</b><br>

      <p class="empty-checkbox-text">Data acquisition and automation for up to 60% time-savings per employee.
        Integrated, real-time engineering calculations (Surveys, ROP, etc).</p>
    </div>

    <div>
      <b class="blue-text">Issues</b><br>

      <p class="empty-checkbox-text">Issue case management, root cause analysis, failure history, and cross-referenced
        analytics (85% of X failure also happened to have Y criteria).</p>
    </div>

    <div>
      <b class="blue-text">Standardization</b><br>

      <p class="empty-checkbox-text">Standardize information delivery and analysis across all product
        lines including
        procedures, data,
        warnings, updates, communication, and notes.</p>
    </div>

    <div>
      <b class="blue-text">Performance</b><br>

      <p class="empty-checkbox-text">Job performance, employee performance and activity.</p>
    </div>

    <div>
      <b class="blue-text">HSE Compliance</b><br>

      <p class="empty-checkbox-text">Collect for review or audit.</p>
    </div>

    <div class="">
      <%= image_tag "software_box2.jpg" %>
    </div>

    </p>


    <br><br><br>

    <h2 class="warning-text">Traditional companies no longer have the answers because although they have every system,
      not one talks to another, and literally there is no insight, knowledge, or efficiency.
    </h2>

    </p>
    <p>
      <span class="gotham-bold"></span>Elephant is not a nice-to-have, but rather a concrete requirement to operations and decision making.
      Let us show you life with Elephant, one filled with advantages and cost savings.
    </p>

    <p class="elephant-about-p1 blue-text">

    <div class="">
      <%= image_tag "software_box3.jpg" %>
    </div>
    <br><br>
    </p>


  </div>
</div>


<div class="about-part-3">
  <div class="container">
    <h1>Details Matter</h1>

    <p class="elephant-about-p1">Elephant is the catalyst that will drive operational greatness within your
      organization. </p>

    <br>

    <p>Information will change companies and define the next batch of great ones by fine tuning the problem areas
      that
      cause cost overruns, delays, and inefficiencies.
      <br><br>
      Elephant provides up-to-the-second access to cloud data streams to pinpoint exact problems.
      Our platform simplifies and organizes data that is coming in from around the globe, so you don't have to.
      Understand and react to trends in real time.
    </p>

    <br>
    <br>

    <div class="center">
      <%= image_tag "rig_quality.png" %>
    </div>

  </div>
</div>


<div class="about-part-4">
  <div class="container">
    <h1>Standardize Global Procedures</h1>
    <br>

    <p class="elephant-about-p1">Bring your organization into one goal, one mission, one procedure.</p>

    <br>

    <p>Elephant dissolves traditional boundaries of global organizations by neutralizing measurement unit problems,
      time
      zone, geographical and communication problems.
      <br><br>
      Elephant takes the heavy lifting of making sure your organization is operating per a centralized workflow and
      set
      of documents.
      Once your organization has defined the procedures, everyone across the world will be operating along the same
      guidelines.
    </p>

    <br>
    <br>

    <div class="center">
      <%= image_tag "global_standardization.png" %>
    </div>

  </div>
</div>


<div class="features-part-6">
  <div class="container">
    <h1>Reducing Failures and Non-Productive Time</h1>
    <br>

    <p class="elephant-about-p1">One of our biggest goals at Elephant is reducing mistakes in the process.</p>


    <br>

    <p>Elephant uses the latest technology and human behavior research to curb problems before they happen.
      On average 25% of service time in upstream is categorized as non-productive time. Of that, 75% is usually
      accounted for by out-of-date procedures, bad communications, or lack of accountability.
      Elephant is stopping this.
    </p>

    <br><br>

    <div class="center">
      <%= image_tag "reduce_npt.jpg" %>
    </div>

  </div>
</div>


<div class="features-part-7">
  <div class="container">
    <h1>Safety &amp; Quality</h1>
    <br>

    <p class="elephant-about-p1">Increase Safety, Reduce Risk</p>


    <br>

    <p>Elephant is obsessed about increasing safety full-cycle. We create an environment that facilitates speed but
      emphasizes that procedures be followed exactly. Elephant has built safety into the process, and not as an
      afterthought.
    </p>

    <br><br>

    <div class="center">
      <%= image_tag "safety.png" %>
    </div>

  </div>
</div>

<div class="about-part-2">
  <div class="container">
    <p>

    <h1 class="">Increase Usage</h1>

    <p>When systems are disparate, they are hard to use, hard to find, and generally do not return the investment for
      their price.
      <br><br>
      Organizations then continue to add more systems for the more problems they have. Still none tackling the problem
      of usage.
    </p>
    <%= image_tag "all_systems.jpg" %>

    </p>

    <br>

    <p>


    <p>Elephant focuses every system around the job. The only way to guarantee usage and subsequent benefit is through
      one system that can interface with the many features needed to power your business.</p>
    <%= image_tag "elephant_system.jpg" %>

    </p>


  </div>
</div>


</div>

</div>

