<% provide(:title, 'Features') %>

<div class="about-div">
  <!--<div class="page_header">
    <h1 class="page-title">What is Elephant?</h1>
  </div>-->

  <div class="">

    <div class="features-part-1">
      <div class="container">
        <p class="content elephant-about-p1 about-p1-white"><span class="elephant-name">Elephant</span> is a solutions
          package created for the energy industry to achieve
          high quality processes. Elephant uses the latest software technology and every
          communication channel available to gather, organize, and save data that is used to achieve total
          communication, process standardization, information delivery, and failure reduction.</p>

        <br>
        <br>

        <!--
        <div class="center">
          <%= image_tag "video_placeholder.jpg", class: "center" %>
        </div>
        -->
      </div>
    </div>

    <div class="about-part-2">
      <div class="container">

        <h1>Empower</h1>

        <p class="elephant-about-p1">Elephant is the systems intelligence that will help your organization outperform
          the
          competition.</p>
        <br>

        <p>
          Our best-in-class cloud platform for the oil and gas industry revolutionizes job process, quality, and
          organizational knowledge while maintaining the core strengths of your organization.
        </p>
        <br>

        <p>
          Elephant gives you the robust tools to meet today's challenges in a big way. Information is constantly in
          flux,
          and the only way to ensure quality and
          success in the oilfield is to have great insight into your process. By building a powerful information and
          communication
          network around your existing process, Elephant delivers operational efficiency and increased customer success.
        </p>
        <br>

        <br>

        <h1>Service Process on Elephant Cloud</h1>
        <br>
        <%= image_tag "elephant_cloud.jpg" %>

        <br>
        <br>
        <br>

        <p>
          With no need for expensive hardware updates, Elephant is an out-of-the-box solution that is
          ready to drive forward at your pace. It is built upon industry leading security and data protection standards,
          and
          has been built to scale.
        </p>

      </div>
    </div>


    <div class="about-part-3">
      <div class="container">
        <h1>Details Matter</h1>

        <p class="elephant-about-p1">Elephant is the catalyst that will drive operational greatness within your
          organization. </p>

        <br>

        <p>Information will change companies and define the next batch of great ones by fine tuning the problem areas
          that
          cause cost overruns, delays, and inefficiencies.
          <br><br>
          Elephant provides up-to-the-second access to cloud data streams to pinpoint exact problems.
          Our platform simplifies and organizes data that is coming in from around the globe, so you don't have to.
          Understand and react to trends in real time.
        </p>

        <br>
        <br>

        <div class="center">
          <%= image_tag "rig_quality.png" %>
        </div>

      </div>
    </div>


    <div class="about-part-4">
      <div class="container">
        <h1>Standardize Global Procedures</h1>
        <br>

        <p class="elephant-about-p1">Bring your organization into one goal, one mission, one procedure.</p>

        <br>

        <p>Elephant dissolves traditional boundaries of global organizations by neutralizing measurement unit problems,
          time
          zone, geographical and communication problems.
          <br><br>
          Elephant takes the heavy lifting of making sure your organization is operating per a centralized workflow and
          set
          of documents.
          Once your organization has defined the procedures, everyone across the world will be operating along the same
          guidelines.
        </p>

        <br>
        <br>

        <div class="center">
          <%= image_tag "global_standardization.png" %>
        </div>

      </div>
    </div>



    <div class="features-part-6">
      <div class="container">
        <h1>Reducing Failures and Non-Productive Time</h1>
        <br>

        <p class="elephant-about-p1">One of our biggest goals at Elephant is reducing mistakes in the process.</p>


        <br>

        <p>Elephant uses the latest technology and human behavior research to curb problems before they happen.
            On average 25% of upstream operations are categorized as non-productive time. Of that, 75% is usually
            accounted for by out-of-date procedures, bad communications, or lack of accountability.
            Elephant is focused heavily on reducing those numbers.
        </p>

        <br><br>

        <div class="center">
          <%= image_tag "reduce_npt.jpg" %>
        </div>

      </div>
    </div>


  </div>

</div>