<% provide(:title, 'Home') %>

<div>

  <canvas id="kenburns" width="1200" height="800">
    <div id="kenburns_fallback"></div>
  </canvas>

  <div class="signin-box">
    <%= render 'sessions/signin' %>
  </div>

  <div class="quote">
    <p>Reduce non-productive time.<br> Increase efficiency &amp; Safety.<br> All with a
      <a class="link" href="/features">comprehensive solution »</a></p>
    <br>
    <a href="tel:1-817-500-0360" class="phone">1-817-500-0360</a>
  </div>

</div>


<script type="text/javascript">

    $(function () {

        $('#kenburns').kenburns({
            images:['<%= image_path('background2.jpg') %>',
                '<%= image_path('background.jpg') %>',
                '<%= image_path('background4.jpg') %>',
                '<%= image_path('background3.jpg') %>',
                '<%= image_path('background5.jpg') %>',
                '<%= image_path('background6.jpg') %>',
            ],
            frames_per_second:20,
            display_time:20000,
            fade_time:1000,
            zoom:1.3,
            background_color:'transparent',
            post_render_callback:function ($canvas, context) {

            }
        });



    });

</script>

