<% capture do %>
    <script type="text/javascript" src="../jquery.min.js"></script>
    <script type="text/javascript" src="../jquery.jqplot.min.js"></script>
    <script type="text/javascript" src="../plugins/jqplot.pieRenderer.min.js"></script>
    <script type="text/javascript" src="../plugins/jqplot.donutRenderer.min.js"></script>
    <link rel="stylesheet" type="text/css" hrf="../jquery.jqplot.min.css"/>
<% end %>

<div class="page_header">
  <h1>Overview</h1>
  <%= link_to "Clear filters", overview_path, class: "inline activity-user-link pull-right" %>
</div>


<div class="well">
  <%= form_tag overview_path, :method => :post do |f| %>

      <%= hidden_field_tag "", "", name: "division_id", id: "division_filter_id", value: @division_id %>
      <%= image_tag "division_extrasmall.png", class: "job-status-avatar" %>
      <%= text_field_tag "", "", data: {autocomplete_source: divisions_path},
                         placeholder: "Filter by Division, Segment, etc..",
                         id: "division_filter",
                         value: @division_name,
                         class: "inline txtfield small job-note-assign custom-data-input tooltip-info",
                         "data-placement" => "top",
                         "data-title" => "Filter by Division, Segment, Product Line, Job Type" %>


      <%= hidden_field_tag "", "", name: "district_id", id: "district_filter_id", value: @district_id %>
      <%= image_tag "district_extrasmall.png", class: "job-status-avatar push-right-small" %>
      <%= text_field_tag "", "", data: {autocomplete_source: districts_path},
                         placeholder: "Filter by District name",
                         id: "district_filter",
                         value: @district_name,
                         class: "inline txtfield small job-note-assign custom-data-input tooltip-info",
                         "data-placement" => "top",
                         "data-title" => "Filter by District Name" %>


      <%= hidden_field_tag "", "", name: "user_id", id: "person_filter_id", value: @user_id %>
      <%= image_tag "user_avatar_extrasmall.png", class: "job-status-avatar push-right-small" %>
      <%= text_field_tag "", "", data: {autocomplete_source: users_path},
                         placeholder: "Filter by Person",
                         id: "person_filter",
                         value: @user_name,
                         class: "inline txtfield small job-note-assign custom-data-input tooltip-info",
                         "data-placement" => "top",
                         "data-title" => "Filter by Person" %>

      <div class="push-right-small inline">
        <!-- <%= submit_tag "Update", class: "bluebtn gray" %> -->
      </div>

      <hr>

      <ul class="nav nav-pills">

        <li class="active">
          <a href="#" id="job_secondary_tools_toggle" class="job-tray-toggle custom-data-toggle tooltip-info"
             data-tray="secondary_tools"
             data-placement="bottom" data-title="List of tools used on this job">All time</a>
        </li>

        <li class="push-right-small">
          <a href="#" class="job-tray-toggle custom-data-toggle tooltip-info"
             data-tray="notes"
             data-placement="bottom" data-title="List of tools used on this job">Last 30 days</a>
        </li>

        <li class="push-right-small">
          <a href="#" class="job-tray-toggle custom-data-toggle tooltip-info"
             data-tray="activity"
             data-placement="bottom" data-title="List of tools used on this job">Last 60 days</a>
        </li>

        <li class="push-right-small">
          <a href="#" class="job-tray-toggle custom-data-toggle tooltip-info"
             data-tray="activity"
             data-placement="bottom" data-title="List of tools used on this job">Last year</a>
        </li>


      </ul>

  <% end %>
</div>


<br>

<div class="chart-block tooltip-info"
     data-title="'Total Jobs' is the number of jobs being analyzed based on the set of filters.">
  <div class="chart-title">Jobs</div>
  <div class="donut-chart-div">
    <div class="donut-text "><%= @jobs.count %></div>
    <div class="percentage ">jobs</div>
  </div>
</div>

<div class="chart-block tooltip-info"
     data-title="'Personnel Utilization' refers to the ratio of active users on jobs compared by district and product line to all users on Elephant.">
  <div class="chart-title">Personnel Utilization</div>
  <div class="donut-chart-div">
    <div id="personnel_utilization" class="donut-chart "></div>
    <div class="donut-inner-circle"></div>
    <div class="donut-text"><%= @personnel_utilization %></div>
    <div class="percentage">%</div>
  </div>
</div>

<div class="chart-block tooltip-info"
     data-title="'Elephant Utilization' is the utilization of Elephant compared to all jobs by your organization.">
  <div class="chart-title">Elephant Utilization</div>
  <div class="donut-chart-div">
    <div id="elephant_utilization" class="donut-chart "></div>
    <div class="donut-inner-circle"></div>
    <div class="donut-text ">67</div>
    <div class="percentage ">%</div>
  </div>
</div>

<div class="chart-block tooltip-info"
     data-title="'Average Job Duration' is the average duration of all jobs, represented in days.">
  <div class="chart-title">Average Job Duration</div>
  <div class="donut-chart-div">
    <div class="donut-text "><%= @average_job_time %></div>
    <div class="percentage ">days</div>
  </div>
</div>


<hr>


<div class="chart-block tooltip-info"
     data-title="'Job Failure Rate' shows the percentage of jobs that have any failure.">
  <div class="chart-title">Job Failure Rate</div>
  <div class="donut-chart-div">
    <div id="failure_rate" class="donut-chart "></div>
    <div class="donut-inner-circle inner-circle-red"></div>
    <div class="donut-text chart-text-red"><%= @job_failure_rate %></div>
    <div class="percentage chart-text-red">%</div>
  </div>
</div>

<div class="chart-problem">
  <% if @failures.count > 0 %>
      <div class="chart-title">Failure Problem</div>
  <% end %>
  <br>

  <% @failures.to_a.sort_by { |fg| fg[1].count }.reverse!.take(4).each do |failure_group| %>
      <div class="chart-problem">
        <div class="chart-problem-name">
          <%= failure_group[1][0].failure_master_template.text %>
          <p class="inline job-failure-item">&nbsp;<%= failure_group[1].count %></p>
        </div>
        <div class="chart-problem-bar">
          <div style="width: <%= failure_group[1].count * 10 %>%"></div>
        </div>
      </div>
  <% end %>

</div>

<hr>

<div class="chart-block tooltip-info"
     data-title="'Total Jobs' is the number of jobs being analyzed based on the set of filters.">
  <div class="chart-title">Personnel</div>
  <div class="donut-chart-div">
    <div class="donut-text "><%= @total_personnel %></div>
    <div class="percentage ">people</div>
  </div>
</div>

<div class="chart-block tooltip-info"
     data-title="'Total Jobs' is the number of jobs being analyzed based on the set of filters.">
  <div class="chart-title">Districts</div>
  <div class="donut-chart-div">
    <div class="donut-text "><%= @total_districts %></div>
    <div class="percentage ">districts</div>
  </div>
</div>

<div class="chart-block tooltip-info"
     data-title="'Total Jobs' is the number of jobs being analyzed based on the set of filters.">
  <div class="chart-title">Job Types</div>
  <div class="donut-chart-div">
    <div class="donut-text "><%= @total_job_types %></div>
    <div class="percentage ">types</div>
  </div>
</div>



<script>
    $(document).ready(function () {
        var plot3 = $.jqplot('personnel_utilization', [
            [
                ['a', <%= @personnel_utilization %>],
                ['b', 100 - <%= @personnel_utilization %>]
            ]
        ], {
            animate:true,
            animateReplot:true,
            background:"#FFFFFF",
            seriesColors:[ "#458fd2", "#FFFFFF"],
            seriesDefaults:{
                textColor:" #00ff0000",
                shadow:false,
                renderer:$.jqplot.DonutRenderer,
                rendererOptions:{
                    animation:{
                        show:true,
                        speed:2500
                    },
                    padding:0,
                    innerDiameter:95,
                    sliceMargin:0,
                    startAngle:-90,
                    showDataLabels:true,
                    dataLabels:'value'
                }
            }
        });

        var plot3 = $.jqplot('elephant_utilization', [
            [
                ['a', 67],
                ['b', 100 - 67]
            ]
        ], {
            animate:true,
            background:"#FFFFFF",
            seriesColors:[ "#458fd2", "#FFFFFF"],
            seriesDefaults:{
                textColor:" #00ff0000",
                shadow:false,
                renderer:$.jqplot.DonutRenderer,
                rendererOptions:{
                    padding:0,
                    innerDiameter:95,
                    sliceMargin:0,
                    startAngle:-90,
                    showDataLabels:true,
                    dataLabels:'value'
                }
            }
        });

        plot3 = $.jqplot('failure_rate', [
            [
                ['a', <%= @job_failure_rate %>],
                ['b', 100 - <%= @job_failure_rate %>]
            ]
        ], {
            animate:true,
            background:"#FFFFFF",
            seriesColors:[ "#e4472e", "#FFFFFF"],
            seriesDefaults:{
                textColor:" #00ff0000",
                shadow:false,
                renderer:$.jqplot.DonutRenderer,
                rendererOptions:{
                    padding:0,
                    innerDiameter:95,
                    sliceMargin:0,
                    startAngle:-90,
                    showDataLabels:true,
                    dataLabels:'value'
                }
            }
        });

        $('#person_filter').data("autocomplete")._renderItem = function (ul, item) {
            return $("<li class='item_" + item.id + "'></li>").data("item.autocomplete", item).append(
                    "<a><div class='job-user'><strong>" + item.value + " </strong><div><p class='job-user-title'>" + item.position_title + "</p><p class='job-user-district'>" + item.district + "</p></div></div></a>").appendTo(ul)
        }
        $('#division_filter').data("autocomplete")._renderItem = function (ul, item) {
            return $("<li class='item_" + item.id + "'></li>").data("item.autocomplete", item).append(
                    "<a><div class='job-user'><strong>" + item.name + " </strong><div><p class='job-user-title'>" + item.division_type + "</p><p class='job-user-district'>" + "" + "</p></div></div></a>").appendTo(ul)
        }
        $('#district_filter').data("autocomplete")._renderItem = function (ul, item) {
            return $("<li class='item_" + item.id + "'></li>").data("item.autocomplete", item).append(
                    "<a><div class='job-user'><strong>" + item.value + " </strong><div><p class='job-user-title'>" + item.country + ", " + item.state + "  " + item.city + "</p><p class='job-user-district'>" + item.region + "</p></div></div></a>").appendTo(ul)
        }
    });
</script>

<div class="content">
  <h3>Jobs</h3>

  <div class="job-status-guide pull-right">
    <p class="inline">0%</p>

    <p class="inline pull-right">100%</p>
  </div>
</div>

<hr>

<div class="content" id="jobs">
  <% @jobs.each do |job| %>
      <%= link_to job, class: "job-status job-link tooltip-info",
                  "data-placement" => "left",
                  "data-title" => "Click to open job" do %>
          <%= render 'jobs/job_progress', job: job, show_summary_data: true, job_name: false %>
      <% end %>
  <% end %>
</div>

<%= will_paginate @jobs, :params=> { :district_id => @district_id, :division_id => @division_id, :user_id => @user_id } %>


<script>
    $(document).ready(function () {
        if (location.search.indexOf("page") >= 0) {
            var new_position = $('#jobs').offset();
            window.scrollTo(0, new_position.top - 150);
        }
    });
</script>



