<% capture do %>
    <script type="text/javascript" src="../jquery.min.js"></script>
    <script type="text/javascript" src="../jquery.jqplot.min.js"></script>
    <script type="text/javascript" src="../plugins/jqplot.pieRenderer.min.js"></script>
    <script type="text/javascript" src="../plugins/jqplot.donutRenderer.min.js"></script>
    <link rel="stylesheet" type="text/css" hrf="../jquery.jqplot.min.css"/>
<% end %>

<div class="page_header">
  <h1>Overview</h1>
</div>


<div class="well">
<%= select_tag "Divisions", options_for_select(current_user.company.divisions.collect { |d| [d.name, d.id] }),
               class: "custom-select tooltip-info",
               "data-placement" => "bottom",
               "data-title" => "Filter list by division",
               prompt: "Filter by division..." %>

<%= select_tag "Districts", options_for_select(current_user.company.districts.collect { |d| [d.name, d.id] }),
                 class: "custom-select tooltip-info push-right-small",
                 "data-placement" => "bottom",
                 "data-title" => "Filter list by district",
                 prompt: "Filter by district..." %>

  <%= image_tag "user_avatar_extrasmall.png", class: "job-status-avatar push-right-small" %>
  <%= text_field_tag "", "", data: {autocomplete_source: users_path},
                     placeholder: "Filter by Person",
                     id: "new_note_name",
                     class: "inline txtfield small job-note-assign custom-data-input tooltip-info",
                     "data-placement" => "bottom",
                     "data-title" => "Filter by Person" %>

  <%= link_to "Clear filters", overview_path, class: "activity-user-link push-right" %>


  <hr>
  <ul class="nav nav-pills">

    <li class="active">
      <a href="#" id="job_secondary_tools_toggle" class="job-tray-toggle custom-data-toggle tooltip-info"
         data-tray="secondary_tools"
         data-placement="bottom" data-title="List of tools used on this job">All time</a>
    </li>

    <li class="push-right-small">
      <a href="#" class="job-tray-toggle custom-data-toggle tooltip-info"
         data-tray="notes"
         data-placement="bottom" data-title="List of tools used on this job">Last 30 days</a>
    </li>

    <li class="push-right-small">
      <a href="#" class="job-tray-toggle custom-data-toggle tooltip-info"
         data-tray="activity"
         data-placement="bottom" data-title="List of tools used on this job">Last 60 days</a>
    </li>

    <li class="push-right-small">
      <a href="#" class="job-tray-toggle custom-data-toggle tooltip-info"
         data-tray="activity"
         data-placement="bottom" data-title="List of tools used on this job">Last year</a>
    </li>


  </ul>
</div>


<br>

<div class="chart-block">
  <div class="chart-title">Total Jobs</div>
  <div class="donut-chart-div">
    <div class="donut-text "><%= @jobs.count %></div>
    <div class="percentage ">jobs</div>
  </div>
</div>

<div class="chart-block">
  <div class="chart-title">Personnel Utilization</div>
  <div class="donut-chart-div">
    <div id="personnel_utilization" class="donut-chart "></div>
    <div class="donut-inner-circle"></div>
    <div class="donut-text"><%= @personnel_utilization %></div>
    <div class="percentage">%</div>
  </div>
</div>

<div class="chart-block">
  <div class="chart-title">Elephant Utilization</div>
  <div class="donut-chart-div">
    <div id="elephant_utilization" class="donut-chart "></div>
    <div class="donut-inner-circle"></div>
    <div class="donut-text ">67</div>
    <div class="percentage ">%</div>
  </div>
</div>

<div class="chart-block">
  <div class="chart-title">Average Job Duration</div>
  <div class="donut-chart-div">
    <div class="donut-text "><%= @average_job_time %></div>
    <div class="percentage ">days</div>
  </div>
</div>


<hr>


<div class="chart-block">
  <div class="chart-title">Job Failure Rate</div>
  <div class="donut-chart-div">
    <div id="failure_rate" class="donut-chart "></div>
    <div class="donut-inner-circle inner-circle-red"></div>
    <div class="donut-text chart-text-red"><%= @job_failure_rate %></div>
    <div class="percentage chart-text-red">%</div>
  </div>
</div>

<div class="chart-problem">
  <div class="chart-title">Failure Problem</div>
  <br>

  <% @failures.each do |failure_group| %>
      <div class="chart-problem">
        <div class="chart-problem-name"><%= failure_group[1][0].failure_master_template.text %><p class="inline">&nbsp;<%= failure_group[1].count %></p></div>
        <div class="chart-problem-bar"><div style="width: <%= failure_group[1].count * 10 %>%"></div></div>
      </div>
  <% end %>

</div>

<br>
<br><br>

<script>
    $(document).ready(function () {
        var plot3 = $.jqplot('personnel_utilization', [[['a', <%= @personnel_utilization %>], ['b', 100 - <%= @personnel_utilization %>]]], {
            background:"#FFFFFF",
            seriesColors:[ "#458fd2", "#FFFFFF"],
            seriesDefaults:{
                textColor:" #00ff0000",
                shadow:false,
                renderer:$.jqplot.DonutRenderer,
                rendererOptions:{
                    padding:0,
                    innerDiameter:95,
                    sliceMargin:0,
                    startAngle:-90,
                    showDataLabels:true,
                    dataLabels:'value'
                }
            }
        });

        var plot3 = $.jqplot('elephant_utilization', [[['a', 67], ['b', 100 - 67]]], {
            background:"#FFFFFF",
            seriesColors:[ "#458fd2", "#FFFFFF"],
            seriesDefaults:{
                textColor:" #00ff0000",
                shadow:false,
                renderer:$.jqplot.DonutRenderer,
                rendererOptions:{
                    padding:0,
                    innerDiameter:95,
                    sliceMargin:0,
                    startAngle:-90,
                    showDataLabels:true,
                    dataLabels:'value'
                }
            }
        });

        plot3 = $.jqplot('failure_rate', [[['a', <%= @job_failure_rate %>], ['b', 100 - <%= @job_failure_rate %>]]], {
            background:"#FFFFFF",
            seriesColors:[ "#e4472e", "#FFFFFF"],
            seriesDefaults:{
                textColor:" #00ff0000",
                shadow:false,
                renderer:$.jqplot.DonutRenderer,
                rendererOptions:{
                    padding:0,
                    innerDiameter:95,
                    sliceMargin:0,
                    startAngle:-90,
                    showDataLabels:true,
                    dataLabels:'value'
                }
            }
        });
    });
</script>



<div class="content">
  <h3>Jobs</h3>

  <div class="job-status-guide pull-right">
    <p class="inline">0%</p>

    <p class="inline pull-right">100%</p>
  </div>
</div>

<hr>

<div class="content">
  <% @jobs.each do |job| %>
      <%= link_to job, class: "job-status job-link tooltip-info",
                  "data-placement" => "left",
                  "data-title" => "Click to open job" do %>
          <%= render 'jobs/job_progress', job: job, show_summary_data: true, job_name: false %>
      <% end %>
  <% end %>

</div>


