<% capture do %>
    <script type="text/javascript" src="../jquery.min.js"></script>
    <script type="text/javascript" src="../jquery.jqplot.min.js"></script>
    <script type="text/javascript" src="../plugins/jqplot.pieRenderer.min.js"></script>
    <script type="text/javascript" src="../plugins/jqplot.donutRenderer.min.js"></script>
    <link rel="stylesheet" type="text/css" hrf="../jquery.jqplot.min.css"/>
<% end %>

<div class="page_header">
  <h1>Overview</h1>

  <div class="pull-right overview-options">
    <%= link_to "Clear filters", overview_path, class: "inline activity-user-link clear-filter-link" %>
    <br>
    <a id="show_hide_overview_filters" class="activity-user-link" href="#">
      <%= @filters_open == "open" ? "Hide Detailed Filters" : "Show Detailed Filters" %>
    </a>
  </div>
</div>


<div class="well">
  <%= form_tag overview_path, :method => :post do |f| %>

      <%= hidden_field_tag "", "", name: "division_id", id: "division_filter_id", value: @division_id %>
      <%= image_tag "division_extrasmall.png", class: "job-status-avatar" %>
      <%= text_field_tag "", "", data: {autocomplete_source: divisions_path},
                         placeholder: "Filter by Division, Segment, etc..",
                         id: "division_filter",
                         value: @division_name,
                         class: "inline txtfield small job-note-assign custom-data-input tooltip-info",
                         "data-placement" => "top",
                         "data-title" => "Filter by Division, Segment, Product Line, Job Type" %>


      <%= hidden_field_tag "", "", name: "district_id", id: "district_filter_id", value: @district_id %>
      <%= image_tag "district_extrasmall.png", class: "job-status-avatar push-right-small" %>
      <%= text_field_tag "", "", data: {autocomplete_source: districts_path},
                         placeholder: "Filter by District name",
                         id: "district_filter",
                         value: @district_name,
                         class: "inline txtfield small job-note-assign custom-data-input tooltip-info",
                         "data-placement" => "top",
                         "data-title" => "Filter by District Name" %>


      <%= hidden_field_tag "", "", name: "user_id", id: "person_filter_id", value: @user_id %>
      <%= image_tag "user_avatar_extrasmall.png", class: "job-status-avatar push-right-small" %>
      <%= text_field_tag "", "", data: {autocomplete_source: users_path},
                         placeholder: "Filter by Person",
                         id: "person_filter",
                         value: @user_name,
                         class: "inline txtfield small job-note-assign custom-data-input tooltip-info",
                         "data-placement" => "top",
                         "data-title" => "Filter by Person" %>

      <div class="push-right-small inline">
        <!-- <%= submit_tag "Update", class: "bluebtn gray" %> -->
      </div>

      <%= hidden_field_tag "", "", name: "filters_open", id: "all_filters_id", value: @filters_open %>
      <div id="overview_filters" class="<%= @filters_open == "open" ? "" : "hidden" %>">
        <hr>

        <%= hidden_field_tag "", "", name: "time", id: "time_filter_id", value: @time %>
        <ul class="nav nav-pills inline">

          <li>
            <a class="filter-label disabled">
              <h3 class="inline pull-left">Time</h3>
            </a>
          </li>


          <li class=" <%= @time == "all" ? "active" : "" %> push-right-small">
            <a href="#"
               class="overview-time-filter custom-data-toggle tooltip-info"
               data-time="all"
               data-placement="bottom"
               data-title="Jobs performed in the last year">All time</a>
          </li>
          <li class=" <%= @time == "30" ? "active" : "" %> push-right-small">
            <a href="#"
               class="overview-time-filter custom-data-toggle tooltip-info"
               data-time="30"
               data-placement="bottom"
               data-title="Jobs performed in the last 0-30 days">0-30 days</a>
          </li>
          <li class=" <%= @time == "previous 30" ? "active" : "" %> push-right-small">
            <a href="#"
               class="overview-time-filter custom-data-toggle tooltip-info"
               data-time="previous 30"
               data-placement="bottom"
               data-title="Jobs performed in the last 0-30 days">30-60 days</a>
          </li>
          <li class=" <%= @time == "60" ? "active" : "" %> push-right-small">
            <a href="#"
               class="overview-time-filter custom-data-toggle tooltip-info"
               data-time="60"
               data-placement="bottom"
               data-title="Jobs performed in the last 0-30 days">0-60 days</a>
          </li>
          <li class=" <%= @time == "year" ? "active" : "" %> push-right-small">
            <a href="#"
               class="overview-time-filter custom-data-toggle tooltip-info"
               data-time="year"
               data-placement="bottom"
               data-title="Jobs performed in the last 0-30 days">Last 12 months</a>
          </li>
        </ul>

        <hr>

        <%= hidden_field_tag "", "", name: "rating", id: "rating_filter_id", value: @rating %>
        <ul class="nav nav-pills inline">
          <li>
            <a class="filter-label disabled">
              <h3 class="inline pull-left">Rating</h3>
            </a>
          </li>

          <li class=" <%= @rating == "all" ? "active" : "" %> push-right-small">
            <a href="#"
               class="overview-rating-filter custom-data-toggle tooltip-info"
               data-rating="all"
               data-placement="bottom"
               data-title="Jobs performed in the last year">All rating levels</a>
          </li>
          <li class=" <%= @rating == "1" ? "active" : "" %> push-right-small">
            <a href="#"
               class="overview-rating-filter custom-data-toggle tooltip-info"
               data-rating="1"
               data-placement="bottom"
               data-title="Jobs performed in the last 0-30 days">1 star</a>
          </li>
          <li class=" <%= @rating == "2" ? "active" : "" %> push-right-small">
            <a href="#"
               class="overview-rating-filter custom-data-toggle tooltip-info"
               data-rating="2"
               data-placement="bottom"
               data-title="Jobs performed in the last 0-30 days">2 star</a>
          </li>
          <li class=" <%= @rating == "3" ? "active" : "" %> push-right-small">
            <a href="#"
               class="overview-rating-filter custom-data-toggle tooltip-info"
               data-rating="3"
               data-placement="bottom"
               data-title="Jobs performed in the last 0-30 days">3 star</a>
          </li>
          <li class=" <%= @rating == "4" ? "active" : "" %> push-right-small">
            <a href="#"
               class="overview-rating-filter custom-data-toggle tooltip-info"
               data-rating="4"
               data-placement="bottom"
               data-title="Jobs performed in the last 0-30 days">4 star</a>
          </li>
          <li class=" <%= @rating == "5" ? "active" : "" %> push-right-small">
            <a href="#"
               class="overview-rating-filter custom-data-toggle tooltip-info"
               data-rating="5"
               data-placement="bottom"
               data-title="Jobs performed in the last 0-30 days">5 star</a>
          </li>
        </ul>

        <hr>

        <%= hidden_field_tag "", "", name: "failure_level", id: "failure_filter_id", value: @failure_level %>
        <ul class="nav nav-pills inline">
          <li>
            <a class="filter-label disabled">
              <h3 class="inline pull-left">Failures/job</h3>
            </a>
          </li>

          <li class=" <%= @failure_level == "all" ? "active" : "" %> push-right-small">
            <a href="#"
               class="overview-failure-filter custom-data-toggle tooltip-info"
               data-failure="all"
               data-placement="bottom"
               data-title="Jobs performed in the last year">All failure levels</a>
          </li>
          <li class=" <%= @failure_level == "1" ? "active" : "" %> push-right-small">
            <a href="#"
               class="overview-failure-filter custom-data-toggle tooltip-info"
               data-failure="1"
               data-placement="bottom"
               data-title="Jobs performed in the last 0-30 days">1 failure</a>
          </li>
          <li class=" <%= @failure_level == "2" ? "active" : "" %> push-right-small">
            <a href="#"
               class="overview-failure-filter custom-data-toggle tooltip-info"
               data-failure="2"
               data-placement="bottom"
               data-title="Jobs performed in the last 0-30 days">2 failures</a>
          </li>
          <li class=" <%= @failure_level == "3" ? "active" : "" %> push-right-small">
            <a href="#"
               class="overview-failure-filter custom-data-toggle tooltip-info"
               data-failure="3"
               data-placement="bottom"
               data-title="Jobs performed in the last 0-30 days">3+ failures</a>
          </li>
        </ul>
      </div>


  <% end %>
</div>


<br>

<div class="loading center hidden">
  <br>
  <br>
  <span class="ajax-loading search-loading push-right"><b>Loading, please wait</b></span>
  <br>
</div>

<div id="results">

<div class="chart-block tooltip-info"
     data-title="'Total Jobs' is the number of jobs being analyzed based on the set of filters.">
  <div class="chart-title">Jobs</div>
  <div class="donut-chart-div">
    <div class="donut-text "><%= number_with_delimiter(@jobs.count, :delimiter => ",") %></div>
    <div class="percentage ">jobs</div>
  </div>
</div>

<div class="chart-block tooltip-info"
     data-title="'Personnel Utilization' refers to the ratio of active users on jobs compared by district and product line to all users on Elephant.">
  <div class="chart-title">Personnel Utilization</div>
  <div class="donut-chart-div">
    <div id="personnel_utilization" class="donut-chart "></div>
    <div class="donut-inner-circle"></div>
    <div class="donut-text"><%= @personnel_utilization %></div>
    <div class="percentage-circle">%</div>
  </div>
</div>

<div class="chart-block tooltip-info"
     data-title="'Performance Rating' is the average job rating.">
  <div class="chart-title">Performance Rating</div>
  <div class="donut-chart-div">
    <div id="performance_rating" class="donut-chart "></div>
    <div class="donut-inner-circle <%= @average_job_performance >= 3 ? "" : "inner-circle-red" %>"></div>
    <div class="donut-text <%= @average_job_performance >= 3 ? "" : "chart-text-red" %>"><%= @average_job_performance %></div>
    <div class="percentage-circle <%= @average_job_performance >= 3 ? "" : "chart-text-red" %>">of 5</div>
  </div>
</div>

<div class="chart-block tooltip-info"
     data-title="'Average Job Duration' is the average duration of all jobs, represented in days.">
  <div class="chart-title">Average Job Duration</div>
  <div class="donut-chart-div">
    <div class="donut-text "><%= @average_job_time.nil? ? "0" : @average_job_time %></div>
    <div class="percentage ">days</div>
  </div>
</div>


<hr>


<div class="chart-block tooltip-info"
     data-title="'Job Failure Rate' shows the percentage of jobs that have any failure.">
  <div class="chart-title">Job Success Rate</div>
  <div class="donut-chart-div">
    <div id="failure_rate" class="donut-chart "></div>
    <div class="donut-inner-circle <%= @job_success_rate > 70 ? "" : "inner-circle-red" %>"></div>
    <div class="donut-text <%= @job_success_rate > 70 ? "" : "chart-text-red" %>"><%= @job_success_rate %></div>
    <div class="percentage-circle <%= @job_success_rate > 70 ? "" : "chart-text-red" %>">%</div>
  </div>
</div>

<div class="chart-problem">
  <% if @failures_count > 0 %>
      <div class="chart-title">Failure Problem</div>
      <a href="#" class="activity-user-link pull-right">View all failures (<%= @failures_count %>)</a>
      <br>

      <% @failures_list.each do |failure_group| %>
          <div class="chart-problem">
            <div class="chart-problem-name">
              <%= Failure.find_by_id(failure_group[0]).text %>
              <p class="inline job-failure-item">&nbsp;<%= failure_group[1] %></p>
            </div>
            <div class="chart-problem-bar">
              <div style="width: <%= (failure_group[1].to_f / [@failures_list.first[1].to_f, 50].max) * 100 %>%"></div>
            </div>
          </div>
      <% end %>
  <% end %>

</div>

<hr>

<div class="chart-block tooltip-info"
     data-title="'Total Jobs' is the number of jobs being analyzed based on the set of filters.">
  <div class="chart-title">Personnel</div>
  <div class="donut-chart-div">
    <div class="donut-text "><%= number_with_delimiter(@total_personnel, :delimiter => ",") %></div>
    <div class="percentage ">people</div>
  </div>
</div>

<div class="chart-block tooltip-info"
     data-title="'Total Jobs' is the number of jobs being analyzed based on the set of filters.">
  <div class="chart-title">Districts</div>
  <div class="donut-chart-div">
    <div class="donut-text "><%= @total_districts %></div>
    <div class="percentage ">districts</div>
  </div>
</div>

<div class="chart-block tooltip-info"
     data-title="'Total Jobs' is the number of jobs being analyzed based on the set of filters.">
  <div class="chart-title">Job Types</div>
  <div class="donut-chart-div">
    <div class="donut-text "><%= number_with_delimiter(@total_job_types, :delimiter => ",") %></div>
    <div class="percentage ">types</div>
  </div>
</div>

<div class="chart-block tooltip-info"
     data-title="'Elephant Utilization' is the utilization of Elephant compared to all jobs by your organization.">
  <div class="chart-title">Elephant Utilization</div>
  <div class="donut-chart-div">
    <div id="elephant_utilization" class="donut-chart "></div>
    <div class="donut-inner-circle"></div>
    <div class="donut-text ">67</div>
    <div class="percentage-circle ">%</div>
  </div>
</div>


<script>
    $(document).ready(function () {
        var plot3 = $.jqplot('personnel_utilization', [
            [
                ['a', <%= @personnel_utilization %>],
                ['b', 100 - <%= @personnel_utilization %>]
            ]
        ], {
            animate:true,
            animateReplot:true,
            background:"#FFFFFF",
            seriesColors:[ "#458fd2", "#FFFFFF"],
            seriesDefaults:{
                textColor:" #00ff0000",
                shadow:false,
                renderer:$.jqplot.DonutRenderer,
                rendererOptions:{
                    animation:{
                        show:true,
                        speed:2500
                    },
                    padding:0,
                    innerDiameter:95,
                    sliceMargin:0,
                    startAngle:-90,
                    showDataLabels:true,
                    dataLabels:'value'
                }
            }
        });

        var plot3 = $.jqplot('elephant_utilization', [
            [
                ['a', 67],
                ['b', 100 - 67]
            ]
        ], {
            animate:true,
            background:"#FFFFFF",
            seriesColors:[ "#458fd2", "#FFFFFF"],
            seriesDefaults:{
                textColor:" #00ff0000",
                shadow:false,
                renderer:$.jqplot.DonutRenderer,
                rendererOptions:{
                    padding:0,
                    innerDiameter:95,
                    sliceMargin:0,
                    startAngle:-90,
                    showDataLabels:true,
                    dataLabels:'value'
                }
            }
        });

        plot3 = $.jqplot('failure_rate', [
            [
                ['a', <%= @job_success_rate %>],
                ['b', 100 - <%= @job_success_rate %>]
            ]
        ], {
            animate:true,
            background:"#FFFFFF",
            seriesColors:[ "<%= @job_success_rate > 70 ? "#458fd2" : "#e4472e" %>", "#FFFFFF"],
            seriesDefaults:{
                textColor:" #00ff0000",
                shadow:false,
                renderer:$.jqplot.DonutRenderer,
                rendererOptions:{
                    padding:0,
                    innerDiameter:95,
                    sliceMargin:0,
                    startAngle:-90,
                    showDataLabels:true,
                    dataLabels:'value'
                }
            }
        });

        plot3 = $.jqplot('performance_rating', [
            [
                ['a', <%= @average_job_performance %>],
                ['b', 5 - <%= @average_job_performance %>]
            ]
        ], {
            animate:true,
            background:"#FFFFFF",
            seriesColors:[ "<%= @average_job_performance >= 3 ? "#458fd2" : "#e4472e" %>", "#FFFFFF"],
            seriesDefaults:{
                textColor:" #00ff0000",
                shadow:false,
                renderer:$.jqplot.DonutRenderer,
                rendererOptions:{
                    padding:0,
                    innerDiameter:95,
                    sliceMargin:0,
                    startAngle:-90,
                    showDataLabels:true,
                    dataLabels:'value'
                }
            }
        });

        $('#person_filter').data("autocomplete")._renderItem = function (ul, item) {
            return $("<li class='item_" + item.id + "'></li>").data("item.autocomplete", item).append(
                    "<a><div><img src='/assets/user_avatar_extrasmall.png' class='job-member-avatar pull-left'></div><div class='job-user'><strong>" + item.value + " </strong><div><p class='job-user-title'>" + item.position_title + "</p><p class='job-user-district'>" + item.district + "</p></div></div></a>").appendTo(ul)
        }
        $('#division_filter').data("autocomplete")._renderItem = function (ul, item) {
            return $("<li class='item_" + item.id + "'></li>").data("item.autocomplete", item).append(
                    "<a><div><img src='/assets/division_extrasmall.png' class='job-member-avatar pull-left'></div><div class='job-user'><strong>" + item.name + " </strong><div><p class='job-user-title'>" + item.division_type + "</p><p class='job-user-district'>" + "" + "</p></div></div></a>").appendTo(ul)
        }
        $('#district_filter').data("autocomplete")._renderItem = function (ul, item) {
            return $("<li class='item_" + item.id + "'></li>").data("item.autocomplete", item).append(
                    "<a><div><img src='/assets/district_extrasmall.png' class='job-member-avatar pull-left'></div><div><div class='job-user'><strong>" + item.value + " </strong><div><p class='job-user-title'>" + item.country + ", " + item.state + "  " + item.city + "</p><p class='job-user-district'>" + item.region + "</p></div></div></div></a>").appendTo(ul)
        }
    });
</script>

<div class="content">
  <h3>Jobs</h3>

  <div class="job-status-guide pull-right">
    <p class="inline">0%</p>

    <p class="inline pull-right">100%</p>
  </div>
</div>

<hr>

<div class="content" id="jobs">
  <% @jobs.each do |job| %>
      <%= link_to job, class: "job-status job-link tooltip-info",
                  "data-placement" => "left",
                  "data-title" => "Click to open job" do %>
          <%= render 'jobs/job_progress', job: job, show_summary_data: true, job_name: false %>
      <% end %>
  <% end %>
</div>

<%= will_paginate @jobs, :params => {:district_id => @district_id, :division_id => @division_id, :user_id => @user_id} %>


<script>
    $(document).ready(function () {
        if (location.search.indexOf("page") >= 0) {
            var new_position = $('#jobs').offset();
            window.scrollTo(0, new_position.top - 150);
        }
    });
</script>


</div>
