<% provide(:title, 'Sales') %>


<div class="about-div">
  <div class="sales-part-1">
    <div class="container">

      <div class="pull-left">
        <p class="connect">Connect With Us</p>

        <a href="tel:1-817-500-0360" class="phone">1-817-500-0360</a>
        <br><br>

        <a href="mailto:info@go-elephant.com" class="sales-email">
          <%= image_tag "email_icon.png" %>
          <p class="email">General questions?</p>
        </a>
        <br>
        <a href="mailto:support@go-elephant.com" class="sales-email">
          <%= image_tag "email_icon.png" %>
          <p class="email">Need help?</p>
        </a>
        <br>
        <a href="mailto:sales@go-elephant.com" class="sales-email">
          <%= image_tag "email_icon.png" %>
          <p class="email">Talk to our Sales team</p>
        </a>
      </div>

      <div class="bubble">
        <%= image_tag "help_bubble.png" %>
      </div>


      <div class="inline">

        <br><br>
        <br>

        <p class="connect">About Elephant</p>

        <p>
          Elephant was founded by oil operation experts and software entrepreneurs. The confluence of factors in
          technology and emerging needs of oil and gas companies created the perfect opportunity to disrupt an industry
          in need of change.
        </p>

        <br><br>

        <p class="phone">"We think about our software as a failure if any of our users require a help
          file"</p>

        <br><br>

        <p class="connect">Why the name 'Elephant'?</p>

        <p>
          Elephants are big and they never forget. When they walk, they walk together. Our
          software
          encompasses
          these qualities. Elephant offers companies the ability to handle the enormous amount of data that is
          exponentially
          growing in an always protected and always efficient manner. When your company walks, with Elephant, your
          company
          will walk together.
        </p>

      </div>


      <br><br>

      <div class="center">
        <%= image_tag "made_in_texas.png" %>
      </div>

    </div>
  </div>


</div>