<div class="login">

  <h1>LOGIN</h1>

  <h2>To your Elephant Account</h2>

  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %> loginrightmargin"><%= value %></div>
  <% end %>

  <%= form_for(:session, url: sessions_path, autocomplete: "on") do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email, placeholder: "Type Email", class: "tooltip-info",
                       "data-placement" => "bottom",
                       "data-title" => "Email address" %>

      <%= f.label :password %>
      <%= link_to "Forgot Password?", reset_password_path, tabindex: "4",
                  class: "tooltip-info",
                  "data-placement" => "bottom",
                  "data-title" => "Request to reset your Elephant password" %>
      <%= f.password_field :password, placeholder: "Type Password",
                           class: "tooltip-info",
                           "data-placement" => "bottom",
                           "data-title" => "Password" %>

      <div class="lastrow">

        <div class="inline tooltip-info"
             data-placement="bottom"
             data-title="Keep your account securely logged in for your next return">
          <%= f.check_box :stay_logged_in, checked: true, class: "checkbox" %>
          <%= f.label "Stay Logged In", class: "checkbox-label" %>
        </div>

        <%= f.submit "LOGIN", class: "bluebtn loginright tooltip-info",
                     "data-placement" => "bottom",
                     "data-title" => "Log into your elephant account" %>
      </div>

  <% end %>
</div>