<div class="login">

  <h1>Account Login</h1>

  <% if !flash.any? %>
      <h2>Access your Elephant Account</h2>
  <% end %>

  <% flash.each do |key, value| %>
      <br>

      <div class="alert alert-<%= key %> loginrightmargin"><b><%= value %></b>
        <%= image_tag "error_red.png", class: "login-error" %>
      </div>

  <% end %>

  <div class="form">
    <%= form_for(:session, url: sessions_path, autocomplete: "on") do |f| %>

        <%= f.label :email %>
        <%= f.text_field :email, placeholder: "Type Email",
                         value: params[:email],
                         class: "input-controls tooltip-info",
                         "data-placement" => "bottom",
                         "data-title" => "Email address" %>

        <%= f.label :password %>
        <%= link_to "Forgot Password?", reset_password_path, tabindex: "4",
                    class: "tooltip-info forgot-password",
                    "data-placement" => "bottom",
                    "data-title" => "Request to reset your Elephant password" %>
        <%= f.password_field :password, placeholder: "Type Password",
                             class: "input-controls tooltip-info",
                             "data-placement" => "bottom",
                             "data-title" => "Password" %>

        <div class="lastrow">


          <%= f.submit "LOGIN", class: "bluebtn loginright tooltip-info form-loading-on-click",
                       "data-placement" => "bottom",
                       "data-title" => "Log into your elephant account" %>
        </div>

        <br><br><br><br><br><br><br><br>

        <div class='help'>
          <%= link_to "Having Problems?", "mailto:support@go-elephant.com?subject=I'm Having Problems!",
                      class: "tooltip-info",
                      "data-placement" => "bottom",
                      "data-title" => "Are you having problems?" %>
          <br>
          <%= link_to "Need help logging in?", "mailto:support@go-elephant.com?subject=I Need Help Logging In",
                      class: "tooltip-info",
                      "data-placement" => "bottom",
                      "data-title" => "Is there a problem logging in?" %>
          <br>
          <%= link_to "Account Support?", "mailto:support@go-elephant.com?subject=I'm Having Problems with my Account",
                      class: "tooltip-info",
                      "data-placement" => "bottom",
                      "data-title" => "Need help with your account?" %>
        </div>

    <% end %>
  </div>

  <div class="white-text">
    <%= render 'layouts/inline_loading', title: "Logging in..." %>
  </div>
</div>