<div class="login">

  <h1>LOGIN</h1>

  <% if !flash.any? %>
      <h2>To your Elephant Account</h2>
  <% end %>

  <% flash.each do |key, value| %>
      <br>
      <div class="alert alert-<%= key %> loginrightmargin"><b><%= value %></b>
        <%= image_tag "error_red.png", class: "login-error" %>
      </div>

<% end %>

  <%= form_for(:session, url: sessions_path, autocomplete: "on") do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email, placeholder: "Type Email",
                       class: "input-controls tooltip-info",
                       "data-placement" => "bottom",
                       "data-title" => "Email address" %>

      <%= f.label :password %>
      <%= link_to "Forgot Password?", reset_password_path, tabindex: "4",
                  class: "tooltip-info",
                  "data-placement" => "bottom",
                  "data-title" => "Request to reset your Elephant password" %>
      <%= f.password_field :password, placeholder: "Type Password",
                           class: "input-controls tooltip-info",
                           "data-placement" => "bottom",
                           "data-title" => "Password" %>

      <div class="lastrow">


        <%= f.submit "LOGIN", class: "bluebtn loginright tooltip-info",
                     "data-placement" => "bottom",
                     "data-title" => "Log into your elephant account" %>
      </div>

  <% end %>
</div>