<div class="login">

  <h1>LOGIN</h1>
  <h2>To your Elephant Account</h2>

  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %> loginrightmargin"><%= value %></div>
  <% end %>

  <%= form_for(:session, url: sessions_path, autocomplete: "on") do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email, placeholder: "Type Email" %>

      <%= f.label :password %>
      <%= link_to "Forgot Password?", reset_password_path, tabindex: "4" %>
      <%= f.password_field :password, placeholder: "Type Password" %>

      <div class="lastrow">

        <%=  f.check_box :stay_logged_in, checked: true, class: "checkbox" %>
        <%=  f.label "Stay Logged In", class: "checkbox-label" %>
        <%= f.submit "LOGIN", class: "bluebtn loginright" %>
      </div>

  <% end %>
</div>