<div class="login" style='margin-top: 100px; width: 327px; margin-left: auto; margin-right: auto;'>

  <%= image_tag "elephant_mark.png", style: "margin-bottom: 20px;" %>


  <h1 style='color: #ffffff; font-family: gothamlightregular;'>Login</h1>

  <div class="form" data-form="login" style=''>

    <%= form_for(:session, url: sessions_path, autocomplete: "on") do |f| %>

        <%= f.text_field :email, placeholder: "Type Email",
                         value: params[:email],
                         class: "input-controls tooltip-info",
                         "data-placement" => "bottom",
                         "data-title" => "Email address" %>

        <%= f.password_field :password, placeholder: "Type Password",
                             class: "input-controls tooltip-info",
                             "data-placement" => "bottom",
                             "data-title" => "Password" %>

        <div class="" style='width: 320px; margin-left: auto; margin-right: auto; text-align: left;'>

          <%= link_to "Forgot Password?", reset_password_path, tabindex: "4",
                      class: "tooltip-info white-text",
                      style: "font-size: 14px;" %>

          <%= f.submit "LOGIN", class: "btn btn-success form-loading-on-click pull-right",
                       style: "padding-left: 20px; padding-right: 20px;",
                       "data-form" => "login" %>
        </div>


        <% flash.each do |key, value| %>
            <br><br>

            <div class="">
              <%= image_tag "error_red.png" %>
              <b style='line-height: 25px; font-size: 15px;'><%= value %></b>
            </div>

        <% end %>

    <% end %>
  </div>

  <div class="form-loading hidden" data-form="login">
    <div class='' style="margin-left: 60px;">
      <%= render 'layouts/inline_loading', title: "Signing In..." %>
    </div>
  </div>

</div>