<% provide(:title, 'Create Password') %>
<div class="content">

  <div class="page_header">
    <h1>Change Password</h1>
  </div>

  <%= form_for(:session, url: create_password_path) do |f| %>

      <% if params[:new_account] == "true" %>
          <div class="alert ">
            <b>To finish creating your account, you now need to create a password.</b>

            <p class="">Your current password is temporary and needs to be changed.</p>
          </div>
      <% else %>
          <div class="alert ">
            <b>This form will change your current password.</b>

            <p class="">Enter your current password and the new password below.</p>
          </div>
      <% end %>

      <div class="well">
        <div class="content">
          <% if params[:new_account] == "true" %>
              <b class="inline">Email Address</b>
              <br><br>
              <%= f.text_field :email, placeholder: "Type Email", value: @email, class: "txtfield" %>

              <hr>
          <% else %>
            <%= f.hidden_field :email, value: @email %>
          <% end %>

          <%= f.hidden_field :new_account, value: @new_account %>

          <div class="">
            <div class="field">
              <%= f.label :current_password, class: "field-title field-title-long" %>
              <%= f.password_field :current_password, class: "txtfield small" %>
            </div>

            <div class="field">
              <%= f.label :password, class: "field-title field-title-long" %>
              <%= f.password_field :password, class: "txtfield small" %>
            </div>
            <div class="field">
              <%= f.label :password_confirmation, class: "field-title field-title-long" %>
              <%= f.password_field :password_confirmation, class: "txtfield small" %>
            </div>
          </div>
        </div>
      </div>

      <div>
        <%= f.submit "Update Password", class: "bluebtn pull-right" %>
      </div>

  <% end %>
</div>