<% provide(:title, 'Reset Password') %>

<div class="">

  <div class="page_header">
    <h1>Reset Password</h1>
  </div>


  <div class="form">
    <%= form_for :session, action: :forgot, remote: true do |f| %>

        <div class="content">
          <div class="alert ">
            <b>To reset your password, please enter you email below.</b>

            <p class="">We will then send you an email with instructions on how to complete the change.</p>
          </div>

          <div class="well">
            <h3 class="inline">Email Address</h3>
            <%= f.text_field :email, placeholder: "Type Email", value: params[:email],
                             class: "txtfield tooltip-info push-right-small",
                             "data-placement" => "bottom",
                             "data-title" => "Email address of the Elephant account" %>
            <%= f.submit "SEND EMAIL", class: "bluebtn tooltip-info form-loading-on-click",
                         "data-placement" => "bottom",
                         "data-title" => "Send an email with a password reset" %>


            <div id="no_email" class="warning-text hidden">
              <%= image_tag "error_red.png" %> Could not find a user with that email, please try again.
            </div>
          </div>

        </div>

    <% end %>
  </div>

  <%= render 'layouts/inline_loading', title: "Sending email..." %>

  <div id="email_sent" class="hidden content">
    <br>
      Password reset instructions have been sent to <b><span id="email"></span></b>
    <br><br>
    <%= link_to "Login Now", root_path, class: "activity-user-link" %>
  </div>
</div>