<div id="drilling_log_entry_<%= entry.id %>"
     class='field drilling-log-entry'>
  <div class="">

    <div class="btn-group inline-block align-top pull-right push-up">
      <a class="custom-data-toggle-jobs" data-toggle="dropdown" href="#">
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to "Edit Entry", edit_drilling_log_entry_path(entry), class: "dropdown-menu-link" %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to "Remove Entry", entry, method: :delete, remote: true,
                      data: {confirm: "Remove Entry?"}, class: "dropdown-menu-link tooltip-info",
                      "data-placement" => "bottom",
                      "data-title" => "Remove Entry" %>
        </li>
      </ul>
    </div>

    <p class="list-item-column list-item-column-short">
      <b class='blue-text'><%= entry.entry_at.strftime("%l:%M %p") %></b>
    </p>

    <p class="list-item-column list-item-column-short">
      <% minutes = (entry.entry_at - last_entry.entry_at) / 60 %>
      <%= (minutes / 60).round(2) %>
    </p>

    <p class="list-item-column2">
      <b><%= number_with_delimiter(entry.depth, :delimiter => ',') %></b>
      <span class="help-text push-right-small <%= entry.depth - last_entry.depth < 0 ? "warning-text" : "" %>"><%= entry.depth - last_entry.depth %></span>
    </p>

    <p class="list-item-column list-item-column3">
      <span class=""><b><%= DrillingLogEntry.activity_code_string(entry.activity_code) %></b></span>
    </p>

    <p class="list-item-column">
      <%= entry.comment %>
    </p>

    <div class="inline-block align-top push-up">
      <%= render "users/icon", user: entry.user %>
    </div>
  </div>
</div>