<div id="log" class="job-tray" data-tray="log">

  <div class='content'>
    <b>Active Well</b>

    <div class='inline-block push-right'>
      <span><div class='well-plan'></div> Well Plan</span>
      <span class='push-right-small'><div class='active-survey'></div> Active Survey</span>
    </div>

    <%= link_to new_survey_path(modal: true, document_id: @document.id),
                remote: true,
                class: "activity-user-link pull-right tooltip-info show-modal-button",
                "data-placement" => "bottom",
                "data-title" => "Update active well plan." do %>
        <i class="icon-signal"></i> Update Active Well Plan
    <% end %>
  </div>


  <% @active_well_plan = Survey.includes(:document => :job).where(:plan => true).where("jobs.id = ?", @document.job_id).first %>
  <% @survey = Survey.includes(:document => :job).where(:plan => false).where("jobs.id = ?", @document.job_id).first %>
  <% if !@active_well_plan.nil? %>
      <%= render 'surveys/survey_charts', well_plan: @active_well_plan, survey: @survey %>
  <% else %>
      <div id="survey_charts"><p class='help-text center'>No active well plan set...</p></div>
  <% end %>
  <br><br>
</div>

<div class="well content">
  <div class="form" data-form="new-job-log">

    <%= form_for DrillingLogEntry.new, remote: true do |f| %>


        <div class="pull-right">
          <%= f.select :bha_id, options_for_select(@bhas.collect { |bha| [bha.name + (!bha.description.blank? ? "  (" + bha.description + ")" : ""), bha.id] }, nil),
                       {prompt: "Select BHA..."},
                       class: "inline  custom-select tooltip-info",
                       "data-placement" => "right",
                       "data-title" => "Current Bottom Hole Assembly" %>
        </div>

        <div>
          <b>Add New Entry</b>
        </div>
        <br><br>
        <%= f.hidden_field :document_id, value: @document.id %>

        <div>
          <%= f.text_field :depth, placeholder: "Depth",
                           class: "txtfield small tooltip-info submit-enter",
                           id: "depth_log_id",
                           "data-placement" => "bottom",
                           "data-title" => "Depth of log entry" %>

          <%= f.select :activity_code, options_for_select(DrillingLogEntry.options, nil),
                       {prompt: "Select Activity..."},
                       id: "activity_code_select",
                       class: "inline custom-select  tooltip-info align-top",
                       "data-placement" => "right",
                       "data-title" => "Type of log entry" %>

          <%= f.text_field :comment, placeholder: "Comment/description of entry",
                           class: "txtfield tooltip-info submit-enter push-right-small",
                           id: "new_job_log_id",
                           "data-placement" => "bottom",
                           "data-title" => "Comment/description text of entry" %>
        </div>

        <div class="pull-left">
          <div class="inline-block push-down">
            <%= f.check_box :override_date, checked: false,
                            class: "regular-checkbox", id: "checkbox_override_date" %>
            <label for="checkbox_override_date"></label>

            <p class="checkbox-label">Override Date/Time</p>
          </div>

          <div class="inline-block date-fields push-right-small hidden">
            <input type="text" value="<%= Date.today.strftime("%m/%d/%Y") %>"
                   name="date"
                   id="entry_date"
                   class="job-field-value-editable input-small job-start-date">


            <div class="inline bootstrap-timepicker">
              <input id="entry_time" type="text" class="job-field-value-editable input-small timepicker">
              <span class="add-on"><i class="icon-time"></i></span>
            </div>
          </div>

        </div>


        <div class="pull-right">

          <div class='inline-block survey-entry hidden'>
            <%= f.submit "Add Survey",
                         class: "bluebtn btnsmall light-blue inline-block tooltip-info",
                         "data-placement" => "bottom",
                         "data-title" => "Add new survey point" %>
            <br>
          </div>

          <%= f.submit "Add Entry",
                       class: "bluebtn btnsmall inline tooltip-info form-loading-on-click",
                       "data-form" => "new-job-log",
                       "data-placement" => "bottom",
                       "data-title" => "Add new log entry" %>
        </div>

    <% end %>

  </div>

  <div class="form-loading hidden" data-form="new-job-log">
    <%= render 'layouts/inline_loading', title: "Creating entry..." %>
    <br><br>
  </div>

  <br><br>

  <hr>

  <%= link_to "#",
              class: "activity-user-link tooltip-info",
              "data-form" => "new-job-log",
              "data-placement" => "bottom",
              "data-title" => "Update Drilling Parameters/Mud/Bit Records" do %>
      <i class="icon-chevron-down"></i> Update Drilling Parameters/Mud/Bit Records
  <% end %>

  <div>
    <b>Mechanical</b><br><br>
  </div>

</div>


<div class="content">
  <div class="">
    <p class="help-text list-item-column list-item-column-short">
      Date/Time
    </p>

    <p class="help-text list-item-column list-item-column-short">
      Hours
    </p>

    <p class="help-text list-item-column2">
      Depth
    </p>

    <p class="help-text list-item-column list-item-column3">
      Activity
    </p>

    <p class="help-text list-item-column">
      Comment/Description
    </p>

    <p class="help-text pull-right push-down-small">
      User
    </p>
    <br><br>
  </div>

  <div class="" id="list">
    <% if @drilling_log_entries.any? %>
        <% last_time = @drilling_log_entries.first.entry_at %>
        <% last_entry = @drilling_log_entries.first %>
        <h3 class='orange-text'><%= last_time.strftime("%A %m/%d/%Y") %></h3><br><br>
        <% @drilling_log_entries.each do |entry| %>
            <% if entry.entry_at.day != last_time.day || entry.entry_at.month != last_time.month %>
                <% last_time = entry.entry_at %>
                <br><br>

                <h3 class='push-right-small orange-text'><%= last_time.strftime("%A %m/%d/%Y") %></h3><br><br>
            <% end %>
            <%= render 'drilling_log_entries/drilling_log_entry', entry: entry, last_entry: last_entry %>
            <% last_entry = entry %>
        <% end %>
    <% end %>
  </div>

  <% if @drilling_log_entries.empty? %>
      <p class="center help-text no-job-log-entries"><br>No log entries...</p>
  <% end %>

</div>
</div>

