<div id="company_failures">
  <div class="chart-block tooltip-info align-top"
       data-title="'Job Success Rate' shows the percentage of jobs that are successful.">
    <div class="chart-title">Job Failure-Free Rate</div>
    <div class="donut-chart-div">
      <div id="failure_rate" class="donut-chart "></div>
      <div class="donut-inner-circle <%= @job_success_rate > 70 ? "" : "inner-circle-red" %>"></div>
      <div class="donut-text <%= @job_success_rate > 70 ? "" : "chart-text-red" %>"><%= @job_success_rate %></div>
      <div class="percentage-circle <%= @job_success_rate > 70 ? "" : "chart-text-red" %>">%</div>
    </div>
  </div>

  <div class="chart-problem align-top">
    <% if @failures_count > 0 %>
        <div class="chart-title">Top Failures</div>
        <p class="help-text inline-block align-top">(<%= @failures_count %>)</p>
        <br>

        <% @failures_list.each do |failure_group| %>
            <% failure = Failure.find_by_id(failure_group[0]) %>
            <%= render 'failures/master_failure_link', failure: failure, failure_count: failure_group[1], max_count: [@failures_list.first[1].to_f, 50].max %>
        <% end %>
    <% end %>

  </div>
</div>

<script>
    $.jqplot('failure_rate', [
        [
            ['a', <%= @job_success_rate %>],
            ['b', 100 - <%= @job_success_rate %>]
        ]
    ], {
        animate: true,
        background: "#FFFFFF",
        seriesColors: [ "<%= @job_success_rate > 70 ? "#458fd2" : "#e4472e" %>", "#FFFFFF"],
        seriesDefaults: {
            textColor: " #00ff0000",
            shadow: false,
            renderer: $.jqplot.DonutRenderer,
            rendererOptions: {
                padding: 0,
                innerDiameter: 95,
                sliceMargin: 0,
                startAngle: -90,
                showDataLabels: true,
                dataLabels: 'value'
            }
        }
    });

</script>