<div id="overview_jobs" data-loaded='true' class=''>
  <div class=''>
    <% jobs = current_user.role.no_assigned_jobs? ? current_user.company.jobs.reorder('') : current_user.jobs %>
    <% jobs = jobs.where("jobs.status >= 1 AND jobs.status < 50") %>
    <% jobs.each do |job| %>
        <% drilling_log = DrillingLog.where(:job_id => job.id).first %>
        <div class='overview-job'>
          <div class='name blue-text'><%= job.field.name %> | <%= job.well.name %></div>
          <div class='rig'>
            <%= image_tag "rig_extrasmall.png", class: "" %>
            <div class='inline-block align-top push-down-small'><%= job.well.rig.present? ? job.well.rig.name : "-"  %></div>
          </div>

          <div class='push-down-small'>
            <% if job.status >= Job::ON_JOB %>
                <div class="progress progress-success job-progress-bar-full">
                  <div class="bar" style="width: <%= job.status_percentage %>%">
                    <% if job.closed %>
                        <span class="pull-left push-right-small">Complete</span>
                    <% end %></div>
                </div>
            <% else %>
                <div class="progress progress-info job-progress-bar-full">
                  <div class="bar" style="width: <%= job.status_percentage %>%"></div>
                </div>
            <% end %>
          </div>

          <% if drilling_log.present? %>
            <div class='stat'>
              <p>ft/min</p>
              <h1><%= drilling_log.rop.present? ? drilling_log.rop.round(1) : "-" %></h1>
            </div>
              <div class='stat'>
                <p>failure/ft</p>
                <h1><%= 0.0 %></h1>
              </div>
          <% end %>

        </div>
    <% end %>
  </div>


</div>