<div id="overview_jobs" data-loaded='true' class=''>
  <div class=''>
    <% jobs = current_user.jobs_list %>
    <% jobs = jobs.where("jobs.status = ?", Job::ON_JOB) %>
    <% jobs_array = jobs.to_a %>
    <% jobs_array = jobs_array.uniq { |j| "#{j.well.rig.present? ? j.well.rig.name : j.well.name}" }.sort_by { |j| "#{j.well.rig.present? ? j.well.rig.name : j.well.name}" }  %>
    <% @jobs = [] %>
    <% jobs_array.each do |job| %>
        <%= render 'overview/job_circle', job: job %>
    <% end %>

    <script>

        <% @jobs.each do |a| %>
        var plot3 = $.jqplot('rig_chart_<%= a[0] %>', [
            [
                <% if a[1].to_i == 0 || a[2].to_i == 0 %>
                ['a', 100],
                ['b', 0]
                <% else %>
                ['a', <%= a[1].to_i %>],
                ['b', <%= a[2].to_i - a[1].to_i %>]
                <% end %>
            ]
        ], {
            animate: true,
            animateReplot: true,
            background: "#FFFFFF",
            seriesColors: [ "<%= a[3] %>", "#FFFFFF"],
            seriesDefaults: {
                textColor: " #00ff0000",
                shadow: false,
                renderer: $.jqplot.DonutRenderer,
                rendererOptions: {
                    animation: {
                        show: true,
                        speed: 2500
                    },
                    padding: 0,
                    innerDiameter: 95,
                    sliceMargin: 0,
                    startAngle: -90,
                    showDataLabels: true,
                    dataLabels: 'value'
                }
            }
        });
        <% end %>


    </script>
  </div>


</div>