<div id="overview_jobs" data-loaded='true' class=''>
  <div class=''>
    <% jobs = current_user.role.no_assigned_jobs? ? current_user.company.jobs.reorder('') : current_user.jobs %>
    <% jobs = jobs.where("jobs.status = ?", Job::ON_JOB) %>
    <% jobs.each do |job| %>
        <% drilling_log = DrillingLog.includes(job: :well).where("wells.id = ?", job.well_id).first %>
        <%= link_to job, class: "empty-link" do %>
            <div class='overview-job'>
              <div class='name'><%= job.field.name %> | <%= job.well.name %></div>
              <div class='rig'>
                <div class='inline-block align-top'><%= job.well.rig.present? ? job.well.rig.name : "-" %></div>
              </div>

              <% if drilling_log.present? %>

                  <div class=''>
                    <div class='stat'>
                      <p>ft/hr</p>

                      <h1><%= drilling_log.rop.present? ? drilling_log.rop.round(1) : "-" %></h1>
                    </div>
                    <div class='stat'>
                      <p class='<%= job.issues.count > 0 ? 'warning-text' : '' %>'>failures</p>

                      <h1 class='<%= job.issues.count > 0 ? 'warning-text' : '' %>'><%= job.issues.count %></h1>
                    </div>
                  </div>
                  <div>
                    <div class='stat'>
                      <p>feet</p>

                      <h1><%= drilling_log.rop.present? ? number_with_delimiter(drilling_log.total_drilled.round(0).to_i, :delimiter => ',') : "-" %></h1>
                    </div>
                    <div class='stat'>
                      <p>drill hours</p>

                      <h1><%= drilling_log.drilling_time.present? ? drilling_log.drilling_time.round(1) : "-" %></h1>
                    </div>
                  </div>
                  <div class='activity'>
                    <% last_entry = drilling_log.drilling_log_entries.last %>
                    <% if last_entry.present? %>
                        <%= DrillingLogEntry.activity_code_string(last_entry.activity_code) %>
                    <% end %>
                  </div>
              <% end %>

            </div>
        <% end %>
    <% end %>
  </div>


</div>