<%= render 'shared/error_messages', object: f.object %>

<%= f.hidden_field :template, value: @part.template %>

<% if @part.template? %>
    <div class="alert alert-info">

      <h3 class="blue-text">Material Number</h3>
      <br>

      <%= f.text_field :material_number, placeholder: "Material Number", class: "txtfield tooltip-info",
                       "data-placement" => "bottom",
                       "data-title" => "Material Number" %>
    </div>
<% end %>




<% if @part.template? %>

    <%= f.hidden_field :district_id, id: "warehouse_id", value: @district.id %>

    <div class="part-name-div well <%= @part.new_record? ? "hidden" : "" %>">

      <div>
        <b class="field-title">Asset Name / Description</b>
        <br>
        <br>
        <% if @part.template? %>
            <%= f.text_field :name, placeholder: "Name", class: "txtfield part-name-field tooltip-info",
                             "data-placement" => "bottom",
                             "data-title" => "Asset Name" %>
        <% else %>
            <b><%= @part.name %></b>
        <% end %>

        <hr>

        <div class='inline-block' style="width: 160px;"><b class="">Manufacturer</b></div>
        <%= f.text_field :manufacturer, placeholder: "Manufacturer", class: "txtfield small tooltip-info",
                         "data-placement" => "bottom",
                         "data-title" => "Asset Manufacturer" %>

        <div class='inline-block push-right' style="width: 130px;"><b class="">Category</b></div>
        <%= f.text_field :category, placeholder: "Category for Grouping...", class: "txtfield small tooltip-info",
                         "data-placement" => "bottom",
                         "data-title" => "Asset Category" %>

        <br>
          <div class='inline-block' style="width: 160px;"><b class="">Max Usage Hours</b></div>
        <%= f.text_field :max_hours, placeholder: "Max Usage Hours", class: "txtfield small tooltip-info",
                         "data-placement" => "bottom",
                         "data-title" => "Max Usage Hours" %>
        <div class='inline-block push-right' style="width: 130px;"><b class="">Weight</b></div>
        <%= f.text_field :weight, placeholder: "Asset Weight", class: "txtfield small tooltip-info",
                         "data-placement" => "bottom",
                         "data-title" => "Weight" %>


      </div>

    </div>

    <div class='part-loading hidden'>
      <%= render 'layouts/inline_loading', title: "Finding existing asset..." %>
    </div>

<% else %>

    <div>
      <%= f.text_field :serial_number, placeholder: "Serial Number", class: "txtfield tooltip-info",
                       "data-placement" => "bottom",
                       "data-title" => "Serial Number" %>
      <%= f.label :serial_number, class: "inline help-text" %>
    </div>

    <div>
      <%= f.text_field :location, placeholder: "Location in warehouse", class: "txtfield tooltip-info",
                       "data-placement" => "bottom",
                       "data-title" => "Location in warehouse" %>
    </div>

    <hr>

    <div>
      <%= image_tag "district_extrasmall.png", class: "job-status-avatar" %>

      <%= f.hidden_field :district_id, id: "district_id", value: @part.master_part.district_id %>
      <b><%= @part.master_part.district.name %></b>

      <%= f.text_field :district_serial_number, placeholder: "District Serial Number", class: "inline txtfield tooltip-info",
                       "data-placement" => "bottom",
                       "data-title" => "District Serial Number" %>
    </div>
<% end %>





<script type="text/javascript">
    (function ($) {
        $(document).ready(function () {
            $('#district_name').data("autocomplete")._renderItem = function (ul, item) {
                return $("<li class='item_" + item.id + "'></li>").data("item.autocomplete", item).append(
                        "<a>" + (item.id > 0 ? "<div><img src='/assets/district_extrasmall.png' class='job-member-avatar pull-left'></div>" : "") + "<div class='job-user'><strong>" + item.value + " </strong>" + (item.id > 0 ? "<div><p class='job-user-title'>" + item.country + ", " + item.state + "  " + item.city + "</p><p class='job-user-district'>" + item.region + "</p></div>" : "") + "</div></a>").appendTo(ul)
            }
        });
    }(jQuery));
</script>
