<div>
  <div>
    <% if index < 7 %>
        <div class='part-number-container inline-block'>
          <%= image_tag 'tool.png' %>
        </div>
        <span style='font-size: 15px; color: #1d94d2;'>Maintenance</span>
        &nbsp;
    <% end %>


    <div class='pull-right'>
       <span style='font-size: 20px; color: #1d94d2; font-family: gothamlightregular;'>
            <%= redress.received_at.strftime("%m/%d/%Y") %>
        </span>

      <span class='help-text'>(<%= distance_of_time_in_words(redress.received_at, redress.finished_redress_at.present? ? redress.finished_redress_at : Time.zone.now) %>)</span>


      <div class='inline-block push-right-small'>
        <%= render 'users/icon', user: redress.received_by %>
      </div>
    </div>



  </div>


  <div class='content'>


    <b class='orange-text'>Notes</b>

    <div>
      <% if redress.notes.any? %>
          <div class=''>
            <% redress.notes.each do |note| %>
                <div>
                  <% names = note.user.present? ? note.user.name.split : [] %>

                  <div class='pull-right' style='font-weight: normal; font-family: gothambookregular; font-size: 12px;'>
                    <%= note.created_at.strftime("%m/%d/%Y %l:%M %p") %>
                  </div>


                  <div class="member-icon align-top" style='width: 22px; height: 22px;'
                       style="background: #<%= note.user.present? ? note.user.color : '' %>;">
                    <p style='font-size: 10px; margin-top: 3px;'>
                      <% if names.any? %>
                          <%= names.count > 1 ? names.first[0, 1] + names.last[0, 1] : names.first[0, 1] %>
                      <% else %>
                          -
                      <% end %>
                    </p>
                  </div>


                  <div class='inline-block align-top push-down-small'>
                    <%= note.text %>
                  </div>
                </div>
            <% end %>
          </div>
      <% else %>
          <p class='help-text'>No Notes...</p>
      <% end %>
    </div>

    <br>
    <b class='orange-text'>Documents</b>

    <div>
      <% documents = redress.documents %>
      <% if documents.any? %>
          <div class="content">
            <% documents.each do |d| %>
                <% if !d.blank? %>
                    <div>
                      <%= render 'documents/document_metadata', document: d %>
                    </div>
                <% end %>
            <% end %>
          </div>
      <% else %>
          <p class='help-text'>No Documents...</p>
      <% end %>
    </div>


  </div>
  <hr>
</div>