<div id="material_number_loader" class="form-loading hidden" data-form="new_part">
  <%= render 'layouts/inline_loading', title: "Changing material number..." %>
  <br>
  <br>
</div>

<div id="material_number_form" class="form" data-form="new_part">

  <b>Change material number</b><span class="help-text push-right-small">Warning, this will affect the material number of all sub assets!</span>

  <%= form_for @part, html: {  class: "" }, remote: true do |f| %>

      <div class="new-product-line">
        <%= f.text_field :material_number, placeholder: "Material Number", class: "txtfield small", autofocus: true %>

        <%= f.submit "Save", class: "btn btn-primary form-loading-on-click",
                     "data-form" => "new_part" %>
        <%= link_to "Cancel", "#", id: "cancel_material_number_part", class: "btn btn-default" %>

      </div>

  <% end %>
</div>

