<div class="part-status">
  <div class="form" data-form="update-part-status">
    <% if part.status == Part::AVAILABLE %>
        <span class="status-good"><%= part.status_string %></span>
    <% elsif part.status == Part::ON_JOB %>
        <span class=""><%= part.status_string %></span>
        <% if part.current_job.present? %>
        <span class="push-right-small">
                            (<%= render 'activities/job_description', job: part.current_job, inside_job: false %>)
              </span>
        <% end %>

        <br><br>

        <%= link_to "Receive asset", part_path(part, receive: true), method: :put,
                    remote: true,
                    class: "bluebtn green tooltip-info form-loading-on-click",
                    "data-form" => "update-part-status",
                    "data-placement" => "bottom",
                    "data-title" => "Receive asset" %>
    <% elsif part.status == Part::IN_REDRESS %>
        <span class="warning-text"><%= part.status_string %></span>
        <span>since <%= time_ago_in_words(part.updated_at) %> ago</span>

        <br><br>

        <% redress = PartRedress.where(:job_id => part.current_job.id).where(:part_id => part.id).first %>
        <%= form_for part, method: :put, remote: true do |f| %>

            <%= hidden_field_tag :cleaned, "true" %>

            <%= text_area :notes,
                          {},
                          name: "notes",
                          placeholder: "Notes/Comments about service or problems",
                          class: "txtfield job-description-text job-template-description tooltip-info",
                          "data-placement" => "bottom",
                          "data-title" => "Notes for redress" %>

            <div class="">
              <div class="content" id="documents_part_redress">
                <% redress.documents.each do |d| %>
                    <%= render 'documents/document', document: d, editable: false, can_upload: true %>
                <% end %>
              </div>

              <%= link_to "Add Document", new_document_path(modal: true, part_redress: redress.id),
                          remote: true,
                          class: "add-custom-document tooltip-info",
                          "data-placement" => "left",
                          "data-title" => "Add new document" %>
              <span class='help-text'>(quality check, repairs, etc)</span>
              <br><br>
            </div>

            <%= f.submit "Asset Finished Redress (Cleaned)",
                         class: "bluebtn green tooltip-info form-loading-on-click",
                         "data-form" => "update-part-status",
                         "data-placement" => "bottom",
                         "data-title" => "Receive cleaned/ready" %>
        <% end %>
    <% else %>
        <span class="warning-text"><%= part.status_string %></span>
    <% end %>
  </div>

  <div class="form-loading hidden" data-form="update-part-status">
    <%= render 'layouts/inline_loading', title: "Updating..." %>
  </div>
</div>