<div id="part_run_<%= job.id.to_s %>" class='part-run'>


  <% if index < 7 %>
      <div class='part-number-container inline-block'>
        <%= image_tag 'map_marker.png' %>
        <p><%= index + 1 %></p>
      </div>
      &nbsp;
  <% end %>

  <%= job.start_date.present? ? job.start_date.strftime("%m/%d/%Y") : job.created_at.strftime("%m/%d/%Y") %>

  <div class="pull-right">
    <% part_membership = @part.part_memberships.where(:job_id => job.id).first %>
    <% if part_membership.present? && part_membership.track_usage? %>
        <b><%= @part.part_memberships.where(:job_id => job.id).first.usage %> hours</b>
    <% end %>
  </div>

  <%= render 'jobs/job_progress_link', job: job %>


</div>