<div class="part-status">
  <div class="form" data-form="update-part-status">
    <% if part.status == Part::AVAILABLE %>
        <span class="status-good"><%= part.status_string %></span>
    <% elsif part.status == Part::ON_JOB %>
        <span class=""><%= part.status_string %></span>
        <% if part.current_job.present? %>
        <span class="push-right-small">
                            (<%= render 'activities/job_description', job: part.current_job, inside_job: false %>)
              </span>
        <% end %>

        <br><br>

        <%= link_to "Start Asset Maintenance", part_path(part, receive: true, part_page: true), method: :put,
                    remote: true,
                    class: "bluebtn green tooltip-info form-loading-on-click",
                    "data-form" => "update-part-status",
                    "data-placement" => "bottom",
                    "data-title" => "Start asset maintenance" %>

        <span class="push-right-small">
                        <div class="btn-group inline-block">
                          <a class="bluebtn gray" data-toggle="dropdown" href="#">
                            Well Transfer
                          </a>
                          <ul class="dropdown-menu">
                            <li>
                              <%= link_to "Well Not Known", part_path(@part, transfer: true, part_page: true),
                                          method: :put,
                                          remote: true,
                                          class: "dropdown-menu-link tooltip-info form-loading-on-click",
                                          "data-form" => "update-part-status",
                                          "data-placement" => "left",
                                          "data-title" => "The well to transfer to is not known." %>
                            </li>
                            <% jobs = current_user.jobs.where(:status => Job::ACTIVE) %>
                            <% if jobs.any? %>
                                <li class="divider"></li>
                                <% jobs.each do |j| %>
                                    <li>
                                      <% part_membership = PartMembership.where(:job_id => j.id).where(:part_id => @part.id).first %>
                                      <%= link_to j.field.name + " | " + j.well.name, part_path(@part, transfer: true, part_membership: part_membership, job: j, part_page: true),
                                                  method: :put,
                                                  remote: true,
                                                  class: "dropdown-menu-link tooltip-info form-loading-on-click",
                                                  "data-form" => "update-part-status",
                                                  "data-placement" => "left",
                                                  "data-title" => "Transfer to this well." %>
                                    </li>
                                <% end %>
                            <% end %>
                          </ul>
                        </div>
                    </span>
        <% if false %>
        <span class="push-right-small">
        <%= link_to "Well Transfer", part_path(part, transfer: true, part_page: true), method: :put,
                    remote: true,
                    class: "bluebtn gray tooltip-info form-loading-on-click",
                    "data-form" => "update-part-status",
                    "data-placement" => "bottom",
                    "data-title" => "Complete Asset usage to use on another job" %>
          </span>
        <% end %>

        <% if !part.current_job.approved_to_ship %>
            <span class='warning-text push-right-small push-down'><%= image_tag "error_red.png" %> Asset has not shipped to job, yet</span>
        <% end %>
    <% elsif part.status == Part::IN_REDRESS %>
        <span class="warning-text"><%= part.status_string %></span>
        <span>for <%= time_ago_in_words(part.updated_at) %></span>

        <% redress = PartRedress.where(:part_id => part.id).order("created_at ASC").last %>

        <br><br>

        <% if redress.notes.any? %>

            <% redress.notes.each do |note| %>
                <div>
                  <div>
                    <span class='pull-right help-text'><%= time_ago_in_words(note.created_at) %> ago</span>
                    <%= render 'users/icon', user: note.user %>

                    <div class='push-right-small'>
                      <%= note.text %>
                    </div>
                  </div>
                  <hr>
                </div>
            <% end %>
            <br>
        <% end %>

        <%= form_for part, method: :put, remote: true do |f| %>

            <%= hidden_field_tag :add_notes, "true" %>

            <%= text_area :notes,
                          {},
                          name: "notes",
                          placeholder: "Notes/Comments about service or problems",
                          class: "txtfield job-description-text full-width tooltip-info",
                          "data-placement" => "bottom",
                          "data-title" => "Notes for maintenance" %>

            <%= f.submit "Add Note",
                         class: "bluebtn btnsmall pull-right tooltip-info form-loading-on-click",
                         "data-form" => "update-part-status",
                         "data-placement" => "bottom",
                         "data-title" => "Add Note" %>

        <% end %>

        <% if part.status == Part::IN_REDRESS %>
            <div class="">
              <br>
              <div class="content" id="documents_part_redress">
                <% redress.documents.each do |d| %>
                    <%= render 'documents/document', document: d, editable: false, can_upload: true %>
                <% end %>
              </div>

              <%= link_to "Add Document", new_document_path(modal: true, part_redress: redress.id),
                          remote: true,
                          class: "add-custom-document tooltip-info show-modal-button",
                          "data-placement" => "left",
                          "data-title" => "Add new document" %>
              <span class='help-text'>(quality check, repairs, etc)</span>
              <br><br>
            </div>
        <% end %>

        <%= form_for part, method: :put, remote: true do |f| %>

            <%= hidden_field_tag :cleaned, "true" %>
            <%= f.submit "Asset Finished Maintenance (Cleaned)",
                         class: "bluebtn green tooltip-info form-loading-on-click",
                         "data-form" => "update-part-status",
                         "data-placement" => "bottom",
                         "data-title" => "Receive cleaned/ready" %>
        <% end %>
    <% else %>
        <span class="warning-text"><%= part.status_string %></span>
    <% end %>
  </div>

  <div class="form-loading hidden" data-form="update-part-status">
    <%= render 'layouts/inline_loading', title: "Updating..." %>
  </div>
</div>