<div class="part-status" data-id="<%= part.id %>">
  <div class="form" data-form="update-part-status">
    <% if part.status == Part::AVAILABLE %>
        <% if part.rental %>
            <span class="status-good"><%= "Returned to Supplier" %></span>
        <% else %>
            <div class='pull-right'>
              <div class='inline-block align-top push-down'><b>Warehouse</b></div>
              <%= select_tag "warehouse_id", options_for_select(part.district.warehouses.collect { |w| [w.name, w.id] }, part.warehouse_id),
                             prompt: "Select warehouse...",
                             class: "inline-block custom-select custom-select-ajax inline-block update-field push-right-small",
                             "data-id" => part.id,
                             "data-controller" => "parts",
                             "data-field" => "warehouse_id" %>
            </div>
            <span class="status-good"><%= part.status_string %></span>
        <% end %>
    <% elsif part.status == Part::ON_JOB %>
        <span class=""><h3 style='font-size: 15px;'>Asset <%= part.status_string %></h3></span>
        <br>

        <%= render 'parts/part_run', job: part.current_job, index: 0 %>
    <% elsif part.status == Part::SHIPPING %>
        <span class="warning-text"><b>Shipping</b></span>

        <% if part.current_shipment.present? %>
            <br>
            <%= render 'shipments/shipment', shipment: part.current_shipment, editable: false, show_assets: true, in_job: true %>
            <% if part.current_shipment.accepted_at.nil? && part.current_shipment.status == Shipment::IN_TRANSIT && (part.current_shipment.part_memberships.where("part_memberships.to_type != ?", Job.name).any?) %>
                <%= link_to "Receive Shipment", shipment_path(part.current_shipment, update_field: true, field: "receive_shipment", value: part.current_shipment.id),
                            remote: true, :method => :put,
                            class: "bluebtn btnsmall green push-down receive-shipment-button" %>
            <% end %>
        <% end %>


    <% elsif part.status == Part::IN_REDRESS %>
        <div class='pull-right'>
          <div class='inline-block align-top push-down'><b>Warehouse</b></div>
          <%= select_tag "warehouse_id", options_for_select(part.district.warehouses.collect { |w| [w.name, w.id] }, part.warehouse_id),
                         prompt: "Select warehouse...",
                         class: "inline-block custom-select custom-select-ajax inline-block update-field push-right-small",
                         "data-id" => part.id,
                         "data-controller" => "parts",
                         "data-field" => "warehouse_id" %>
        </div>
        <span class="warning-text"><%= part.status_string %></span>
        <span>for <%= time_ago_in_words(part.updated_at) %></span>

        <% redress = PartRedress.where(:part_id => part.id).order("created_at ASC").last %>

        <br><br><br>

        <% if redress.notes.any? %>

            <% redress.notes.each do |note| %>
                <div>
                  <div>
                    <span class='pull-right help-text'><%= time_ago_in_words(note.created_at) %> ago</span>
                    <%= render 'users/icon', user: note.user %>

                    <div class='push-right-small'>
                      <%= note.text %>
                    </div>
                  </div>
                  <hr>
                </div>
            <% end %>
            <br>
        <% end %>

        <%= form_for part, method: :put, remote: true do |f| %>

            <%= hidden_field_tag :add_notes, "true" %>

            <%= text_area :notes,
                          {},
                          name: "notes",
                          placeholder: "Notes/Comments about service or problems",
                          class: "txtfield job-description-text full-width tooltip-info",
                          "data-placement" => "bottom",
                          "data-title" => "Notes for maintenance" %>

            <%= f.submit "Add Note",
                         class: "bluebtn btnsmall pull-right tooltip-info form-loading-on-click",
                         "data-form" => "update-part-status",
                         "data-placement" => "bottom",
                         "data-title" => "Add Note" %>

        <% end %>

        <% if part.status == Part::IN_REDRESS %>
            <div class="">
              <br>

              <div class="content" id="documents_part_redress">
                <% redress.documents.each do |d| %>
                    <%= render 'documents/document', document: d, editable: false, can_upload: true %>
                <% end %>
              </div>

              <%= link_to "Add Document", new_document_path(modal: true, part_redress: redress.id),
                          remote: true,
                          class: "add-custom-document tooltip-info show-modal-button",
                          "data-placement" => "left",
                          "data-title" => "Add new document" %>
              <span class='help-text'>(quality check, repairs, etc)</span>
              <br><br>
            </div>
        <% end %>

        <%= form_for part, method: :put, remote: true do |f| %>

            <%= hidden_field_tag :cleaned, "true" %>
            <%= f.submit "Asset Finished Maintenance (Cleaned)",
                         class: "bluebtn green tooltip-info form-loading-on-click",
                         "data-form" => "update-part-status",
                         "data-placement" => "bottom",
                         "data-title" => "Receive cleaned/ready" %>
        <% end %>
    <% else %>
        <span class="warning-text"><%= part.status_string %></span>
    <% end %>

    <% if part.status == Part::AVAILABLE && !part.rental %>
        <div>
          <br><br>

          <%= link_to "Start Asset Maintenance", part_path(part, start_redress: true, part_page: true), method: :put,
                      remote: true,
                      class: "bluebtn green tooltip-info form-loading-on-click",
                      "data-form" => "update-part-status",
                      "data-placement" => "bottom",
                      "data-title" => "Start asset maintenance" %>
        </div>
    <% end %>
  </div>

  <div class="form-loading hidden" data-form="update-part-status">
    <%= render 'layouts/inline_loading', title: "Updating..." %>
    <br><br>
  </div>
</div>