<div id="part_run_<%= job.id.to_s %>" class='part-run'>
  <% redress = PartRedress.where(:job_id => job.id).where(:part_id => @part.id).first %>

  <% if job.job_template.present? %>

      <% if index < 7 %>
          <div class='part-number-container inline-block'>
            <%= image_tag 'map_marker.png' %>
            <p><%= index + 1 %></p>
          </div>
          &nbsp;
      <% end %>

      <%= job.start_date.present? ? job.start_date.strftime("%m/%d/%Y") : job.created_at.strftime("%m/%d/%Y") %>

      <div class="pull-right">
        <% part_membership = @part.part_memberships.where(:job_id => job.id).first %>
        <% if part_membership.present? && part_membership.track_usage? %>
            <b><%= @part.part_memberships.where(:job_id => job.id).first.usage %> hours</b>
        <% end %>
      </div>

      <%= render 'jobs/job_progress_link', job: job %>

      <% if redress.present? %>
          <div class="content alert">
            <span class='help-text'>Received - </span><%= redress.received_at.present? ? redress.received_at.strftime("%m/%d/%Y %l:%M %p") : '' %>
            <span class='pull-right'>
                              <% if redress.received_by.present? %>
                                <%= render 'activities/user', user: redress.received_by %>
                              <% else %>
                                <b><%= redress.received_by_name %></b>
                              <% end %>
                            </span>

            <hr>

            <% if redress.no_redress? %>
                <span class='help-text'>No Maintenance Performed</span>
                <br><br>
            <% else %>
                <span class='help-text'>Maintenance Finished - </span><%= redress.finished_redress_at.present? ? redress.finished_redress_at.strftime("%m/%d/%Y %l:%M %p") : '' %>
                <span class='pull-right'>
                              <% if redress.finished_redress_by.present? %>
                                <%= render 'activities/user', user: redress.finished_redress_by %>
                              <% else %>
                                <b><%= redress.finished_redress_by_name %></b>
                              <% end %>
                        </span>
                <br>
                <span class='help-text'>Duration - </span> <%= (redress.received_at.present? && redress.finished_redress_at.present?) ? distance_of_time_in_words(redress.received_at, redress.finished_redress_at) + "" : '' %>
                <% if redress.notes.any? %>
                    <br><br>
                    <span class='help-text'>Notes</span>
                    <br><br>
                    <% redress.notes.each do |note| %>
                        <div>
                          <div>
                            <span class='pull-right help-text'><%= note.created_at.strftime("%m/%d/%Y %l:%M %p") %></span>
                            <%= render 'users/icon', user: note.user %>
                          </div>
                          <div class='push-right'>
                            <%= note.text %>
                          </div>
                          <br><br>
                        </div>
                    <% end %>
                <% end %>

                <% documents = redress.documents %>
                <% if documents.any? %>
                    <hr>
                    <div class="content">
                      <% documents.each do |d| %>
                          <% if !d.blank? %>
                              <div>
                                <%= render 'documents/document_metadata', document: d %>
                              </div>
                          <% end %>
                      <% end %>
                    </div>
                <% end %>
            <% end %>

          </div>

      <% end %>
  <% end %>

  <% if false %>
      <div class="part-number-connect"></div>
  <% end %>
</div>