<div class="field">
  <%= link_to part, class: "job-link" do %>

      <% if part.current_job.present? %>
          <div class='part-number-container inline-block'>
            <%= image_tag 'map_marker.png' %>
            <p><%= index + 1 %></p>
          </div>
      <% else %>
          <div class='part-number-container inline-block'>
            <%= image_tag 'map_marker2.png' %>
            <p><%= index + 1 %></p>
          </div>
      <% end %>
      &nbsp;
      &nbsp;

      <h3 class="blue-text list-item-column">
        <%= part.serial_number %>
      </h3>

      <p class="list-item-text list-item-column list-item-column4">
        <%= part.district_serial_number.blank? ? '-' : part.district_serial_number %>
      </p>

      <p class="list-item-text list-item-column list-item-column-long">

        <% if part.status == Part::AVAILABLE %>
            <span class="help-text status-good"><%= part.status_string %></span>
        <% elsif part.status == Part::ON_JOB %>
            <span class=""><%= part.status_string %></span>
                  <span class="part-job-name tooltip-info"
                        data-placement="right"
                        data-html="true"
                        data-title="<%= render 'jobs/well_tooltip', job: part.current_job, show_summary_data: true %>">
                                 - <%= part.current_job.field.name %> | <%= part.current_job.well.name %>
                  </span>
        <% else %>
            <span class="warning-text"><%= part.status_string %></span>
        <% end %>

      </p>

      <p class="list-item-text list-item-column list-item-column-count">
        <span class="help-text"><%= part.jobs.count %></span>
      </p>

  <% end %>
</div>