<div class="page_header">
  <h1>Update Asset Type</h1>

  <div class="btn-group inline pull-right">
    <a class="custom-data-toggle-jobs" data-toggle="dropdown" href="#">
      Advanced Actions
    </a>
    <ul class="dropdown-menu">

      <li>
        <%= link_to "Delete Asset Type", @part, method: :delete,
                    data: {confirm: "Delete Asset Type?"},
                    class: "dropdown-menu-link tooltip-info",
                    "data-placement" => "left",
                    "data-title" => "Permanently asset type. Warning, this can't be undone." %>
      </li>


    </ul>
  </div>
</div>


<div class="form">
  <%= form_for @part do |f| %>

      <%= render "fields", f: f %>

      <div class="actions">
        <%= f.submit "Save asset type", class: "bluebtn pull-right tooltip-info form-loading-on-click",
                     "data-title" => "Save shipper"%>
      </div>
  <% end %>
</div>

<%= render "layouts/inline_loading", title: "Saving asset type, please wait..." %>
