<% provide(:title, 'Part: ' + (@part.master_part.present? ? @part.master_part.name : @part.name)) %>

<div class="page_header">
  <h1><%= @part.master_part.present? ? @part.master_part.name : @part.name %></h1>

  <h3 class="inline">&nbsp;Part</h3>

  <% if @part.template? %>
      <h2 class="paginated-count">Parts:
        <%= render 'layouts/paged_header', items: @parts %>
      </h2>


      <%= link_to "+ Add Part", new_part_path(master_part: @part.id), remote: true,
                  class: "bluebtn page_header_button tooltip-info",
                  id: "new_part_link",
                  "data-placement" => "bottom",
                  "data-title" => "Create new part under this material number" %>

  <% else %>
      <%= link_to "Master Part", @part.master_part,
                  class: "bluebtn gray page_header_button tooltip-info",
                  "data-placement" => "bottom",
                  "data-title" => "Show all parts of this material number on district" %>
  <% end %>

</div>

<div class="well">
  <div class="pull-right">
    <span class="help-text">Material Number:</span> <%= @part.material_number %>
  </div>

  <% if @part.template? %>
      <div class="chart-block">
        <div class="chart-title">Parts</div>
        <div class="donut-chart-div job-donut-chart-div">
          <div class="donut-text part-count"><%= @parts.count %></div>
          <div class="percentage "></div>
        </div>
      </div>

      <div class="chart-block">
        <div class="chart-title">On Hand</div>
        <div class="donut-chart-div job-donut-chart-div">
          <div class="donut-text part-on-hand"><%= @parts.where(:status => Part::AVAILABLE).count %></div>
          <div class="percentage "></div>
        </div>
      </div>

  <% else %>

      <div class="inline"><span class="help-text">District Serial Number: </span>

        <h3 class="blue-text inline"><%= @part.district_serial_number %></h3></div>
      <div class="inline push-right"><span class="help-text">Serial Number: </span><b><%= @part.serial_number %></b>
      </div>

      <hr>

      <% if @part.status == Part::AVAILABLE %>
          <span class="status-good"><%= @part.status_string %></span>
      <% else %>
          <span class=""><%= @part.status_string %></span>
          <% if @part.current_job.present? %>
              <span class="push-right-small">
                            (<%= render 'activities/job_description', job: @part.current_job, inside_job: false %>)
              </span>
          <% end %>
      <% end %>
  <% end %>
</div>

<% if @part.template? %>
    <div class="push-right-small">
      <p class="help-text list-item-column2">
        District Number
      </p>

      <p class="help-text list-item-column2">
        Serial Number
      </p>

      <p class="help-text list-item-column list-item-column-long">
        Status
      </p>

      <p class="help-text list-item-column list-item-column-count">
        Runs
      </p>
    </div>

    <div id="parts" class="list">
      <% @parts.each do |part| %>
          <div class="field">
            <%= link_to part, class: "job-link" do %>
                <%= render 'parts/sub_part', part: part %>
            <% end %>
          </div>
      <% end %>
    </div>

    <%= will_paginate @parts %>

<% else %>
    <h3>Run History <span class="help-text">(<%= @part.jobs.count %>)</span></h3>
    <% if @part.jobs.any? %>
        <br><br>
        <div>
          <% @part.jobs.each do |job| %>
              <%= render 'jobs/job_progress_link', job: job %>
          <% end %>
        </div>
    <% else %>
        <p class="center help-text"><br>This tool has not been run on any jobs...</p>
    <% end %>
<% end %>


