<% provide(:title, 'Asset: ' + sanitize(@part.master_part.present? ? @part.master_part.name : @part.name)) %>

<div class="">
  <div>
    <div class='pull-right'>
      <%= link_to @part.district.name, @part.district, class: "activity-user-link" %>
    </div>

    <b>Assets</b>

    <div class="filter-search-box">
      <% if @part.district.present? %>
          <%= text_field_tag "", "", data: {autocomplete_source: parts_path(district_id: @part.district_id)},
                             placeholder: "Search for asset...",
                             class: "txtfield search-query tooltip-info part-search",
                             id: "part_search",
                             "data-placement" => "left",
                             "data-title" => "Search in asset..." %>
      <% else %>
          <%= text_field_tag "", "", data: {autocomplete_source: parts_path},
                             placeholder: "Search for asset...",
                             class: "txtfield search-query tooltip-info part-search",
                             id: "part_search",
                             "data-placement" => "left",
                             "data-title" => "Search in assets..." %>
      <% end %>
    </div>
  </div>
  <hr>
</div>


<div class="page_header">
  <h1 id="part_name"><%= @part.master_part.present? ? @part.master_part.name : @part.name %></h1>

  <h3 class="inline">&nbsp;Asset</h3>

  <% if @part.template? %>
      <h2 class="paginated-count">Assets:
        <%= render 'layouts/paged_header', items: @parts %>
      </h2>

      <div class="btn-group inline pull-right push-right-small">
        <a class="custom-data-toggle-jobs" data-toggle="dropdown" href="#">
          Advanced Actions
        </a>
        <ul class="dropdown-menu">

          <li>
            <%= link_to "Rename Asset", "#",
                        id: "rename_part_link",
                        class: "dropdown-menu-link tooltip-info",
                        "data-placement" => "left",
                        "data-title" => "Rename asset." %>
          </li>
          <li class="divider"></li>
          <li>
            <%= link_to "Change Material Number", "#",
                        id: "change_material_number_part_link",
                        class: "dropdown-menu-link tooltip-info",
                        "data-placement" => "left",
                        "data-title" => "Change material number of asset and all sub assets." %>
          </li>
          <li class="divider"></li>
          <li>
            <% if @part.parts.count == 0 %>
                <%= link_to "Delete Asset", @part, method: :delete,
                            data: {confirm: "Delete Asset"},
                            class: "dropdown-menu-link tooltip-info",
                            "data-placement" => "left",
                            "data-title" => "Permanently delete asset." %>
            <% else %>
                <%= link_to "Delete Asset", "#",
                            id: "no_delete_asset",
                            class: "dropdown-menu-link tooltip-info",
                            "data-placement" => "left",
                            "data-title" => "Permanently delete asset." %>
            <% end %>
          </li>


        </ul>
      </div>

      <div id="rename_part_fields" class="hidden push-down">
        <hr>
        <%= render 'parts/rename_fields', sub_part: @part %>
      </div>

      <div id="material_number_part_fields" class="hidden push-down">
        <hr>
        <%= render 'parts/material_number_fields', sub_part: @part %>
      </div>

  <% else %>


      <div class="btn-group inline pull-right push-right-small">
        <a class="custom-data-toggle-jobs" data-toggle="dropdown" href="#">
          Advanced Actions
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to "Change Serial Number", "#",
                        id: "change_serial_number_part_link",
                        class: "dropdown-menu-link tooltip-info",
                        "data-placement" => "left",
                        "data-title" => "Change serial number of asset." %>
          </li>
          <li class="divider"></li>
          <li>
            <% if @part.status == Part::DECOMMISSIONED %>
                <%= link_to "Recommission Asset", part_path(@part, recommission: true),
                            method: :put,
                            class: "dropdown-menu-link tooltip-info",
                            "data-placement" => "left",
                            "data-title" => "Recommission asset from decommissioned state" %>
            <% else %>
                <%= link_to "Decommission Asset", part_path(@part, decommission: true),
                            method: :put,
                            class: "dropdown-menu-link tooltip-info",
                            "data-placement" => "left",
                            "data-title" => "Decommission asset from use for reason of broken, old, etc" %>
            <% end %>
          </li>
          <li class="divider"></li>
          <li>
            <%= link_to "Delete Asset", @part, method: :delete,
                        data: {confirm: "Delete Asset"},
                        class: "dropdown-menu-link tooltip-info",
                        "data-placement" => "left",
                        "data-title" => "Permanently delete asset." %>
          </li>

          <% if @part.warehouse.present? %>
              <% warehouses = current_user.role.limit_to_assigned_jobs? ? current_user.warehouses : @part.warehouse.district.warehouses %>
              <% if warehouses.count > 1 %>
                  <li class="divider"></li>
                  <li>
                    <div>
                      <b class='blue-text push-right-small'>Transfer To</b>
                    </div>
                  </li>
                  <% warehouses.each do |warehouse| %>
                      <% if warehouse != @part.warehouse %>
                          <li>
                            <%= link_to warehouse.name, part_path(@part, transfer_warehouse: true, warehouse: warehouse),
                                        method: :put,
                                        class: "dropdown-menu-link tooltip-info",
                                        "data-placement" => "left",
                                        "data-title" => "Transfer to warehouse." %>
                          </li>
                      <% end %>
                  <% end %>
              <% end %>
          <% end %>


        </ul>
      </div>

      <%= link_to "View Master Asset (" + @part.master_part.parts.count.to_s + ")", @part.master_part, class: "activity-user-link pull-right" %>


      <div id="serial_number_part_fields" class="hidden push-down">
        <hr>
        <%= render 'parts/serial_number_fields', sub_part: @part %>
      </div>

  <% end %>

</div>

<div class="well">
  <div class="pull-right">
    <span class="help-text">Material Number:</span> <span id="material_number"><%= @part.material_number %></span>
    <% if @part.template? %>
        <br><br>
        <%= link_to "+ Add Asset", "#",
                    class: "bluebtn page_header_button tooltip-info",
                    id: "new_part_link",
                    "data-placement" => "bottom",
                    "data-title" => "Create new asset under this material number" %>
    <% end %>
  </div>

  <% if @part.template? %>
      <div class="chart-block">
        <div class="chart-title">Assets</div>
        <div class="donut-chart-div job-donut-chart-div">
          <div class="donut-text part-count"><%= @parts.count %></div>
          <div class="percentage "></div>
        </div>
      </div>

      <div class="chart-block">
        <div class="chart-title">On Hand</div>
        <div class="donut-chart-div job-donut-chart-div">
          <div class="donut-text part-on-hand"><%= @parts.where(:status => Part::AVAILABLE).count %></div>
          <div class="percentage "></div>
        </div>
      </div>

      <div class="chart-block">
        <div class="chart-title">Avg Redress</div>
        <div class="donut-chart-div job-donut-chart-div">
          <div class="donut-text "><%= PartRedress.includes(:job).includes(:part).where("parts.material_number = ?", @part.material_number).where("jobs.district_id = ?", @part.district.id).average("part_redresses.finished_redress_at - part_redresses.received_at").to_f.round(1) %></div>
          <div class="percentage ">days</div>
        </div>
      </div>

  <% else %>

      <div class="inline"><span class="help-text">Serial Number: </span>

        <h3 class="blue-text inline" id="serial_number"><%= @part.serial_number %></h3>
      </div>

      <div class="inline push-right"><span class="help-text">District Serial Number: </span>
        <b><%= @part.district_serial_number.blank? ? '-' : @part.district_serial_number %></b>
      </div>


      <hr>


      <div class="chart-block">
        <div class="chart-title">Jobs</div>
        <div class="donut-chart-div job-donut-chart-div">
          <div class="donut-text part-count"><%= @part.jobs.count %></div>
          <div class="percentage ">runs</div>
        </div>
      </div>

      <div class="chart-block">
        <div class="chart-title">Usage</div>
        <div class="donut-chart-div job-donut-chart-div">
          <div class="donut-text part-on-hand"><%= @part.below_rotary.present? ? @part.below_rotary.round(1) : "0.0" %></div>
          <div class="percentage ">hours</div>
        </div>
      </div>

      <div class="chart-block">
        <div class="chart-title">Maximum Usage</div>
        <div class="donut-chart-div job-donut-chart-div">
          <div class="donut-text part-on-hand">-</div>
          <div class="percentage ">hours</div>
        </div>
      </div>

      <div class="chart-block">
        <div class="chart-title">Avg Redress</div>
        <div class="donut-chart-div job-donut-chart-div">
          <div class="donut-text "><%= PartRedress.includes(:job).includes(:part).where("parts.serial_number = ?", @part.serial_number).average("part_redresses.finished_redress_at - part_redresses.received_at").to_f.round(1) %></div>
          <div class="percentage ">days</div>
        </div>
      </div>


      <hr>

      <%= render 'parts/part_status', part: @part %>
  <% end %>
</div>

<% if @part.template? %>

    <div id="new_part_fields" class="alert alert-info hidden push-down">
      <%= render 'parts/sub_part_fields', sub_part: @part %>
    </div>



    <ul class="nav nav-pills alert alert-nav">
      <li class="active">
        <a href="#" class="remote-tray-toggle custom-data-toggle"
           data-id="<%= @part.id %>"
           data-tray-controller="parts"
           data-tray="grid">Grid</a>
      </li>

      <li class="">
        <a href="#" class="remote-tray-toggle custom-data-toggle"
           data-id="<%= @part.id %>"
           data-tray-controller="parts"
           data-tray="list">List</a>
      </li>
    </ul>

    <div class="remote-tray" data-tray="grid">
      <div class="remote-loading">
        <%= render 'layouts/inline_loading', title: "Please wait, loading assets..." %>
      </div>
    </div>

    <div class="remote-tray custom-data-closed" data-tray="list">
      <div class="remote-loading">
        <%= render 'layouts/inline_loading', title: "Please wait, loading assets..." %>
      </div>
    </div>


    <script type='text/javascript'>
        if (document.location.hash == '') {
            tray = $(".remote-tray[data-tray='grid']");
            tray.find('.content').hide();
            tray.find('.remote-loading').removeClass('hidden');
            tray.find('.loading').removeClass('hidden');
            setTimeout(function () {
                $.ajax({
                    url: "/parts/<%= @part.id %>?section=grid",
                    type: "GET",
                    dataType: "script"
                });
            }, 1);
        }
    </script>


<% else %>

    <ul class="nav nav-pills alert alert-nav">

      <li class="active">
        <a href="#" class="job-tray-toggle custom-data-toggle tooltip-info"
           data-tray="full_history"
           data-placement="bottom" data-title="Full Run and Maintenance History">Full History
        </a>
      </li>

      <li class="">
        <a href="#" id="custom_data_toggle" class="job-tray-toggle custom-data-toggle tooltip-info"
           data-tray="maintenance"
           data-placement="bottom" data-title="Maintenance Records">Maintenance Records</a>
      </li>

      <li class="push-right-small">
        <a href="#" id="job_tools_toggle" class="job-tray-toggle custom-data-toggle tooltip-info"
           data-tray="failures"
           data-placement="bottom" data-title="Failures">Failures</a>
      </li>

    </ul>


    <%= render 'parts/tray_full_history', part: @part %>
    <%= render 'parts/tray_maintenance', part: @part %>
    <%= render 'parts/tray_failures', part: @part %>

<% end %>


<div id="modal_popup" class="modal-popup-background">
  <div class="modal-popup modal-popup-fixed">
    <%= link_to "close", "#", class: "delete-button modal-popup-close", id: "close_modal" %>
    <div class="modal-content">
    </div>
    <%= render "layouts/inline_loading", title: "Loading..." %>
  </div>
</div>


<div id="modal_popup2" class="modal-popup-background">
  <div class="modal-popup">
    <%= link_to "close", "#", class: "delete-button modal-popup-close close-modal" %>
    <div class="modal-content">
      <%= image_tag "error_red.png" %> <h3 class="inline push-right-small">Can't Delete</h3>
      <hr>
      Can't delete a master asset with sub assets. First, remove all sub assets if this is the intended action.
    </div>
  </div>
</div>

<script type="text/javascript">
    (function ($) {
        $(document).ready(function () {
            $('.part-search').data("autocomplete")._renderItem = function (ul, item) {
                return $("<li class='item_" + item.id + "'></li>").data("item.autocomplete", item).append(
                        "<a><div>" + (item.id > 0 ? "<img src='/assets/tool.png' class='job-member-avatar pull-left'>" : "") + "</div><div><div class='pull-right help-text list-item-column-short'>" + item.warehouse + "</div><div class='job-user'><strong>" + item.value + " </strong>" + (item.id > 0 ? "<p class='job-user-district pull-right'><span class='help-text'>Material # </span>" + item.material_number + "</p>" : "") + (item.id > 0 ? "<div>" + (item.serial_number != null ? ("<p class='job-user-title'><span class='help-text'>Serial # </span><b class='orange-text'>" + item.serial_number + "</b>" + (item.district_serial_number != '' ? " / <span class='help-text'>District # </span><b class='orange-text'>" + item.district_serial_number + "</b>" : "") + "</p>") : "<p class='job-user-title'><b class='blue-text'>Master Part</b></p>") + "</div>" : "") + "</div></div></a>").appendTo(ul)
            }
        });
    }(jQuery));
</script>



