<% provide(:title, 'Asset: ' + (@part.master_part.present? ? @part.master_part.name : @part.name)) %>

<div class="">
  <div>
    <div class='pull-right'>
      <%= link_to @part.warehouse.name, @part.warehouse, class: "activity-user-link" %>
    </div>

    <b>Assets</b>

    <div class="filter-search-box">
      <% if @part.warehouse.district.present? %>
          <%= text_field_tag "", "", data: {autocomplete_source: parts_path(district_id: @part.warehouse.district_id)},
                             placeholder: "Search for asset...",
                             class: "txtfield search-query tooltip-info part-search",
                             id: "part_search",
                             "data-placement" => "left",
                             "data-title" => "Search in asset..." %>
      <% else %>
          <%= text_field_tag "", "", data: {autocomplete_source: parts_path},
                             placeholder: "Search for asset...",
                             class: "txtfield search-query tooltip-info part-search",
                             id: "part_search",
                             "data-placement" => "left",
                             "data-title" => "Search in assets..." %>
      <% end %>
    </div>
  </div>
  <hr>
</div>


<div class="page_header">
  <h1 id="part_name"><%= @part.master_part.present? ? @part.master_part.name : @part.name %></h1>

  <h3 class="inline">&nbsp;Asset</h3>

  <% if @part.template? %>
      <h2 class="paginated-count">Assets:
        <%= render 'layouts/paged_header', items: @parts %>
      </h2>

      <div class="btn-group inline pull-right push-right-small">
        <a class="custom-data-toggle-jobs" data-toggle="dropdown" href="#">
          Advanced Actions
        </a>
        <ul class="dropdown-menu">

          <li>
            <%= link_to "Rename Asset", "#",
                        id: "rename_part_link",
                        class: "dropdown-menu-link tooltip-info",
                        "data-placement" => "left",
                        "data-title" => "Rename asset." %>
          </li>
          <li class="divider"></li>
          <li>
            <%= link_to "Change Material Number", "#",
                        id: "change_material_number_part_link",
                        class: "dropdown-menu-link tooltip-info",
                        "data-placement" => "left",
                        "data-title" => "Change material number of asset and all sub assets." %>
          </li>
          <li class="divider"></li>
          <li>
            <% if @part.parts.count == 0 %>
                <%= link_to "Delete Asset", @part, method: :delete,
                            data: {confirm: "Delete Asset"},
                            class: "dropdown-menu-link tooltip-info",
                            "data-placement" => "left",
                            "data-title" => "Permanently delete asset." %>
            <% else %>
                <%= link_to "Delete Asset", "#",
                            id: "no_delete_asset",
                            class: "dropdown-menu-link tooltip-info",
                            "data-placement" => "left",
                            "data-title" => "Permanently delete asset." %>
            <% end %>
          </li>


        </ul>
      </div>

      <div id="rename_part_fields" class="hidden push-down">
        <hr>
        <%= render 'parts/rename_fields', sub_part: @part %>
      </div>

      <div id="material_number_part_fields" class="hidden push-down">
        <hr>
        <%= render 'parts/material_number_fields', sub_part: @part %>
      </div>

  <% else %>


      <div class="btn-group inline pull-right push-right-small">
        <a class="custom-data-toggle-jobs" data-toggle="dropdown" href="#">
          Advanced Actions
        </a>
        <ul class="dropdown-menu">

          <li>
            <% if @part.status == Part::DECOMMISSIONED %>
                <%= link_to "Recommission Asset", part_path(@part, recommission: true),
                            method: :put,
                            class: "dropdown-menu-link tooltip-info",
                            "data-placement" => "left",
                            "data-title" => "Recommission asset from decommissioned state" %>
            <% else %>
                <%= link_to "Decommission Asset", part_path(@part, decommission: true),
                            method: :put,
                            class: "dropdown-menu-link tooltip-info",
                            "data-placement" => "left",
                            "data-title" => "Decommission asset from use for reason of broken, old, etc" %>
            <% end %>
          </li>
          <li class="divider"></li>
          <li>
            <%= link_to "Delete Asset", @part, method: :delete,
                        data: {confirm: "Delete Asset"},
                        class: "dropdown-menu-link tooltip-info",
                        "data-placement" => "left",
                        "data-title" => "Permanently delete asset." %>
          </li>

          <% warehouses = current_user.role.limit_to_assigned_jobs? ? current_user.warehouses : @part.warehouse.district.warehouses %>
          <% if warehouses.count > 1 %>
              <li class="divider"></li>
              <li>
                <div>
                  <b class='blue-text push-right-small'>Transfer To</b>
                </div>
              </li>
              <% warehouses.each do |warehouse| %>
                  <% if warehouse != @part.warehouse %>
                      <li>
                        <%= link_to warehouse.name, part_path(@part, transfer_warehouse: true, warehouse: warehouse),
                                    method: :put,
                                    class: "dropdown-menu-link tooltip-info",
                                    "data-placement" => "left",
                                    "data-title" => "Transfer to warehouse." %>
                      </li>
                  <% end %>
              <% end %>
          <% end %>


        </ul>
      </div>

      <%= link_to "View Master Asset (" + @part.master_part.parts.count.to_s + ")", @part.master_part, class: "activity-user-link pull-right" %>


  <% end %>

</div>

<div class="well">
  <div class="pull-right">
    <span class="help-text">Material Number:</span> <span id="material_number"><%= @part.material_number %></span>
    <% if @part.template? %>
        <br><br>
        <%= link_to "+ Add Asset", "#",
                    class: "bluebtn page_header_button tooltip-info",
                    id: "new_part_link",
                    "data-placement" => "bottom",
                    "data-title" => "Create new asset under this material number" %>
    <% end %>
  </div>

  <% if @part.template? %>
      <div class="chart-block">
        <div class="chart-title">Assets</div>
        <div class="donut-chart-div job-donut-chart-div">
          <div class="donut-text part-count"><%= @parts.count %></div>
          <div class="percentage "></div>
        </div>
      </div>

      <div class="chart-block">
        <div class="chart-title">On Hand</div>
        <div class="donut-chart-div job-donut-chart-div">
          <div class="donut-text part-on-hand"><%= @parts.where(:status => Part::AVAILABLE).count %></div>
          <div class="percentage "></div>
        </div>
      </div>

      <div class="chart-block">
        <div class="chart-title">Avg Redress</div>
        <div class="donut-chart-div job-donut-chart-div">
          <div class="donut-text "><%= PartRedress.includes(:job).includes(:part).where("parts.material_number = ?", @part.material_number).where("jobs.district_id = ?", @part.warehouse.district.id).average("part_redresses.finished_redress_at - part_redresses.received_at").to_f.round(1) %></div>
          <div class="percentage ">days</div>
        </div>
      </div>

  <% else %>

      <div class="inline"><span class="help-text">Serial Number: </span>

        <h3 class="blue-text inline"><%= @part.serial_number %></h3>
      </div>

      <div class="inline push-right"><span class="help-text">District Serial Number: </span>
        <b><%= @part.district_serial_number.blank? ? '-' : @part.district_serial_number %></b>
      </div>


      <hr>


      <div class="chart-block">
        <div class="chart-title">Jobs</div>
        <div class="donut-chart-div job-donut-chart-div">
          <div class="donut-text part-count"><%= @part.jobs.count %></div>
          <div class="percentage ">runs</div>
        </div>
      </div>

      <div class="chart-block">
        <div class="chart-title">Usage</div>
        <div class="donut-chart-div job-donut-chart-div">
          <div class="donut-text part-on-hand"><%= @part.part_memberships.sum(:usage) %></div>
          <div class="percentage ">hours</div>
        </div>
      </div>

      <div class="chart-block">
        <div class="chart-title">Avg Redress</div>
        <div class="donut-chart-div job-donut-chart-div">
          <div class="donut-text "><%= PartRedress.includes(:job).includes(:part).where("parts.serial_number = ?", @part.serial_number).average("part_redresses.finished_redress_at - part_redresses.received_at").to_f.round(1) %></div>
          <div class="percentage ">days</div>
        </div>
      </div>


      <hr>

      <%= render 'parts/part_status', part: @part %>
  <% end %>
</div>

<% if @part.template? %>

    <div id="new_part_fields" class="alert alert-info hidden push-down">
      <%= render 'parts/sub_part_fields', sub_part: @part %>
    </div>

    <div class="map-container">
      <div id='map' class='dark' style='width:100%;height:300px;'></div>
      <div class="corner tlcorner"></div>
      <div class="corner trcorner"></div>
      <div class="corner brcorner"></div>
      <div class="corner blcorner"></div>
    </div>

    <br><br>

    <div class="push-right-small">
      <p class="help-text list-item-column list-item-column-count">

      </p>

      <p class="help-text list-item-column">
        Serial Number
      </p>

      <p class="help-text list-item-column list-item-column3">
        District Number
      </p>

      <p class="help-text list-item-column list-item-column-long">
        Status
      </p>

      <p class="help-text list-item-column list-item-column-count">
        Runs
      </p>
    </div>

    <div id="parts" class="list">
      <% @parts.each_with_index do |part, index| %>
          <%= render 'parts/sub_part', part: part, index: index %>
      <% end %>
    </div>

    <%= will_paginate @parts, :params => {show_decommissioned: @showing_decommissioned} %>

    <% if !@showing_decommissioned %>
        <div class="pull-right">
          <br>
          <br>
          <%= link_to "Include decommissioned assets", part_path(@part, show_decommissioned: true), class: "activity-user-link" %>
        </div>
    <% end %>

<% else %>


    <h3>Run History <span class="help-text">(<%= @part.jobs.count %>)</span></h3>
    <br>

    <div class="map-container">
      <div id='map' class='dark' style='width:100%;height:300px;'></div>
      <div class="corner tlcorner"></div>
      <div class="corner trcorner"></div>
      <div class="corner brcorner"></div>
      <div class="corner blcorner"></div>
    </div>

    <% if @part.jobs.any? %>
        <br><br>
        <div>
          <% @part.jobs.each_with_index do |job, index| %>
              <%= render 'parts/part_run', job: job, index: index %>
              <br>
          <% end %>
        </div>
    <% else %>
        <p class="center help-text"><br>This tool has not been run on any jobs...</p>
    <% end %>
<% end %>


<div id="modal_popup" class="modal-popup-background">
  <div class="modal-popup modal-popup-fixed">
    <%= link_to "close", "#", class: "delete-button modal-popup-close", id: "close_modal" %>
    <div class="modal-content">
    </div>
    <%= render "layouts/inline_loading", title: "Loading..." %>
  </div>
</div>


<div id="modal_popup2" class="modal-popup-background">
  <div class="modal-popup">
    <%= link_to "close", "#", class: "delete-button modal-popup-close close-modal" %>
    <div class="modal-content">
      <%= image_tag "error_red.png" %> <h3 class="inline push-right-small">Can't Delete</h3>
      <hr>
      Can't delete a master asset with sub assets. First, remove all sub assets if this is the intended action.
    </div>
  </div>
</div>

<script type="text/javascript">
    (function ($) {
        $(document).ready(function () {
            $('.part-search').data("autocomplete")._renderItem = function (ul, item) {
                return $("<li class='item_" + item.id + "'></li>").data("item.autocomplete", item).append(
                        "<a><div>" + (item.id > 0 ? "<img src='/assets/tool.png' class='job-member-avatar pull-left'>" : "") + "</div><div><div class='pull-right help-text list-item-column-short'>" + item.warehouse + "</div><div class='job-user'><strong>" + item.value + " </strong>" + (item.id > 0 ? "<p class='job-user-district pull-right'><span class='help-text'>Material # </span>" + item.material_number + "</p>" : "") + (item.id > 0 ? "<div>" + (item.serial_number != null ? ("<p class='job-user-title'><span class='help-text'>Serial # </span><b class='orange-text'>" + item.serial_number + "</b>" + (item.district_serial_number != '' ? " / <span class='help-text'>District # </span><b class='orange-text'>" + item.district_serial_number + "</b>" : "") + "</p>") : "<p class='job-user-title'><b class='blue-text'>Master Part</b></p>") + "</div>" : "") + "</div></div></a>").appendTo(ul)
            }
        });
    }(jQuery));
</script>


<script type='text/javascript'>
    var map = L.mapbox.map('map', 'elephant.map-vum3on5g');
    map.scrollWheelZoom.disable();

    var geoJson = [];

    <% coordinates_for_zoom = [] %>
    <% coordinates_for_lines = [] %>

    <% if !@part.template? %>
    <% @part.jobs.each_with_index do |job, index| %>
    <% if index < 7 && !job.well.location.blank? %>
    <% x = job.well.x_location %>
    <% y = job.well.y_location  %>
    <% coordinates_for_lines << [x, y] %>
    <% coordinates_for_zoom << [y, x] %>
    geoJson.push({
        "type": "Feature",
        "geometry": {
            "type": "Point",
            "coordinates": [<%= x %>, <%= y %>]
        },
        "properties": {
            title: '<%= job.field.name + ' | ' + job.well.name %>',
            'marker-size': 'medium',
            'marker-color': '#0058a8',
            'marker-symbol': '<%= (index + 1).to_s %>',
            url: '/jobs/' + <%= job.id %>
            //'marker-symbol': '1'
        }
    });
    <% end %>
    <% end %>
    <% else %>
    <% @parts.each_with_index do |part, index| %>
    <% if part.current_job.present? && !part.current_job.well.location.blank? %>
    <% x = part.current_job.well.x_location %>
    <% y = part.current_job.well.y_location  %>
    <% coordinates_for_lines << [x, y] %>
    <% coordinates_for_zoom << [y, x] %>
    geoJson.push({
        "type": "Feature",
        "geometry": {
            "type": "Point",
            "coordinates": [<%= x %>, <%= y %>]
        },
        "properties": {
            title: '<%= part.serial_number %>',
            'marker-size': 'medium',
            'marker-color': '#0058a8',
            'marker-symbol': '<%= (index + 1).to_s %>',
            url: '/parts/' + <%= part.id %>
            //'marker-symbol': '1'
        }
    });
    <% end %>
    <% end %>
    <% end %>

    map.markerLayer.setGeoJSON(geoJson);

    map.markerLayer.on('click', function (e) {
        map.panTo(e.layer.getLatLng());
    });
    map.markerLayer.on('click', function (e) {
        e.layer.unbindPopup();
        window.location = e.layer.feature.properties.url;
    });

    var bounds = [];
    <% coordinates_for_zoom.each do |c| %>
    bounds.push([<%= c[0] %>, <%= c[1] %>]);
    <% end %>
    map.fitBounds(bounds);
    zoom = Math.round(map.getZoom());
    if (zoom > 8) {
        map.setZoom(8);
    }
    else {
        map.setZoom(zoom - 1);
    }

    <% if !@part.template? %>
    lines = {
        type: 'Feature',
        geometry: {
            type: 'LineString',
            coordinates: <%= raw coordinates_for_lines.to_json %>
        },
        properties: { }
    };

    L.geoJson(lines, {
        style: {
            "color": "#FFFFFF"
            //"weight": 5,
            //"opacity": 0.65
        }
    }).addTo(map);
    <% end %>

    map.markerLayer.on('mouseover', function (e) {
        e.layer.openPopup();
    });
    map.markerLayer.on('mouseout', function (e) {
        e.layer.closePopup();
    });
</script>



