<% provide(:title, 'Asset: ' + sanitize(@part.master_part.present? ? @part.master_part.name : @part.name)) %>

<div style='height: 146px;'>
<div class="map-container"
     style='position:absolute; left: 0; top: 54px; width:100%; height:182px; background: #7c7c7c;'>

  <% if !@part.template %>
      <div id='map' class='dark'></div>
  <% end %>
</div>

<div style='position: absolute; width: 100%; left: 0; right: 0; top: 186px; height: 40px; background-color:rgba(0, 0, 0, 0.4); padding-top: 10px;'>

  <div class='pull-right align-top' style='margin-top: -5px;'>

    <% if current_user.role.global_read? %>
        <div class="pull-right">
          <%= link_to @district.present? ? @district.name : '', @district, class: "activity-user-link white-text" %>
        </div>
    <% end %>

    <% if false %>
        <div class='inline-block'>
          <div class="filter-search-box">
            <% if @district.present? %>
                <%= text_field_tag "", "", data: {autocomplete_source: parts_path(district_id: @district.id)},
                                   placeholder: "Search for asset...",
                                   class: "txtfield search-query small tooltip-info part-search",
                                   style: "background: rgba(255, 255, 255, 1.0); width: 120px;",
                                   id: "part_search",
                                   "data-placement" => "left",
                                   "data-title" => "Search in asset..." %>
            <% else %>
                <%= text_field_tag "", "", data: {autocomplete_source: parts_path},
                                   placeholder: "Search for asset...",
                                   class: "txtfield search-query small tooltip-info part-search",
                                   style: "background: rgba(255, 255, 255, 1.0); width: 120px;",
                                   id: "part_search",
                                   "data-placement" => "left",
                                   "data-title" => "Search in assets..." %>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>

  <h2 class="align-top job-title inline white-text" style="margin-left: 10px;">
    <% if @part.master_part.present? %>
        <%= @part.master_part.name %>
        <div class='inline-block align-top'><b style='font-size: 14px;'><%= @part.master_part.manufacturer %></b>
        </div>
        - <%= @part.serial_number %>
    <% else %>
        <%= @part.name %>
        <div class='inline-block align-top'><b style='font-size: 14px;'><%= @part.manufacturer %></b></div>
        <% if !@part.serial_number.blank? %>
            - <%= @part.serial_number %>
        <% end %>
    <% end %>

    <% if @part.rental %>
        <div class='align-top inline-block push-right-small'>
          <div class='inline-block'>
            <span class="label" style="background: #11bddc; padding: 4px; padding-left: 10px; padding-right: 10px; font-size: 13px;">RENTAL
              <% if @part.supplier.present? %>
                - <%= @part.supplier.name %>
              <% end %>
            </span>
          </div>
        </div>
    <% end %>
    <% if @part.master_part.present? && @part.master_part.container %>
        <div class='align-top inline-block push-right-small push-up-small'>
          <div class='inline-block'>
            <span class="label" style="background: #be8bea; padding: 4px; padding-left: 10px; padding-right: 10px; font-size: 13px;">CONTAINER
            </span>
          </div>
        </div>
    <% end %>
  </h2>

  <% if @part.template? %>

      <div class="btn-group inline pull-right push-down-small" style='margin-right: 30px;'>
        <a class="custom-data-toggle-jobs white-text" data-toggle="dropdown" href="#">
          Advanced Actions
        </a>
        <ul class="dropdown-menu">

          <% if current_user.role.add_remove_inventory? %>
              <% if @part.template? %>
                  <li>
                    <%= link_to "Edit Asset Type", edit_part_path(@part),
                                class: "dropdown-menu-link tooltip-info",
                                "data-placement" => "left",
                                "data-title" => "Edit asset type" %>
                  </li>
                  <li class="divider"></li>
              <% end %>
          <% end %>
          <% if @part.template? %>
              <li>
                <%= link_to "Export as Excel", part_path(part: @part, format: "xlsx"),
                            target: "_blank",
                            class: "dropdown-menu-link tooltip-info submit-form",
                            "data-placement" => "left",
                            "data-title" => "Export data as Microsoft Excel file." %>
              </li>
          <% end %>
          <% if current_user.role.add_remove_inventory? %>
              <li class="divider"></li>
              <li>
                <% if @part.parts.count == 0 %>
                    <%= link_to "Delete Asset", @part, method: :delete,
                                data: {confirm: "Delete Asset"},
                                class: "dropdown-menu-link tooltip-info",
                                "data-placement" => "left",
                                "data-title" => "Permanently delete asset." %>
                <% else %>
                    <%= link_to "Delete Asset", "#",
                                id: "no_delete_asset",
                                class: "dropdown-menu-link tooltip-info",
                                "data-placement" => "left",
                                "data-title" => "Permanently delete asset." %>
                <% end %>
              </li>
          <% end %>


        </ul>
      </div>

      <div id="rename_part_fields" class="hidden push-down">
        <hr>
        <%= render 'parts/rename_fields', sub_part: @part %>
      </div>

      <div id="material_number_part_fields" class="hidden push-down">
        <hr>
        <%= render 'parts/material_number_fields', sub_part: @part %>
      </div>

  <% else %>


      <% if !@part.rental %>
          <div class="btn-group inline pull-right push-down-small" style='margin-right: 30px;'>
            <a class="custom-data-toggle-jobs white-text" data-toggle="dropdown" href="#">
              Advanced Actions
            </a>
            <ul class="dropdown-menu">
              <% if current_user.role.add_remove_inventory? %>
                  <li>
                    <%= link_to "Change Serial Number", "#",
                                id: "change_serial_number_part_link",
                                class: "dropdown-menu-link tooltip-info",
                                "data-placement" => "left",
                                "data-title" => "Change serial number of asset." %>
                  </li>
                  <li class="divider"></li>
              <% end %>
              <% if current_user.role.add_remove_inventory? %>
                  <li>
                    <% if @part.status == Part::DECOMMISSIONED %>
                        <%= link_to "Recommission Asset", part_path(@part, recommission: true),
                                    method: :put,
                                    class: "dropdown-menu-link tooltip-info",
                                    "data-placement" => "left",
                                    "data-title" => "Recommission asset from decommissioned state" %>
                    <% else %>
                        <%= link_to "Decommission Asset", part_path(@part, decommission: true),
                                    method: :put,
                                    class: "dropdown-menu-link tooltip-info",
                                    "data-placement" => "left",
                                    "data-title" => "Decommission asset from use for reason of broken, old, etc" %>
                    <% end %>
                  </li>
              <% end %>
              <% if current_user.role.add_remove_inventory? %>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Delete Asset", @part, method: :delete,
                                data: {confirm: "Delete Asset"},
                                class: "dropdown-menu-link tooltip-info",
                                "data-placement" => "left",
                                "data-title" => "Permanently delete asset." %>
                  </li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <% if !@part.rental %>
          <%= link_to "Open Master Asset (" + @part.master_part.parts.count.to_s + ")", @part.master_part,
                      class: "activity-user-link orange-text pull-right push-down-small",
                      style: "margin-right: 20px;" %>
      <% end %>


      <div id="serial_number_part_fields" class="hidden push-down">
        <hr>
        <%= render 'parts/serial_number_fields', sub_part: @part %>
      </div>

  <% end %>
</div>
</div>


<div class="">
  <div>
    <% if false %>
        <div class='pull-right'>
          <%= link_to @part.district.name, @part.district, class: "activity-user-link" %>
        </div>
    <% end %>
  </div>
</div>


<% if @part.template? %>


    <div style='height: 50px;'>
      <div style='position: absolute; left: 0; width: 100%; height: 52px;'>
        <ul class="nav nav-pills alert alert-nav" style='border-radius: 0px; border-width: 0px;'>
          <li class="active">
            <a href="#" class="remote-tray-toggle custom-data-toggle"
               data-id="<%= @part.id %>"
               data-tray-controller="parts"
               data-tray="grid">Grid</a>
          </li>

          <li class="">
            <a href="#" class="remote-tray-toggle custom-data-toggle"
               data-id="<%= @part.id %>"
               data-tray-controller="parts"
               data-tray="list">List</a>
          </li>
        </ul>
      </div>
    </div>

<% else %>

    <div style='height: 50px;'>
      <div style='position: absolute; left: 0; width: 100%; height: 52px;'>
        <ul class="nav nav-pills alert alert-nav" style='border-radius: 0px; border-width: 0px;'>

          <li class="active">
            <a href="#" class="remote-tray-toggle custom-data-toggle tooltip-info"
               data-tray="overview"
               data-id="<%= @part.id %>"
               data-tray-controller="parts"
               data-placement="bottom" data-title="Overview">Overview
            </a>
          </li>

          <li class="">
            <a href="#full_history" class="remote-tray-toggle custom-data-toggle"
               data-id="<%= @part.id %>"
               data-tray-controller="parts"
               data-tray="full_history">Full History</a>
          </li>

          <li class="">
            <a href="#maintenance" class="remote-tray-toggle custom-data-toggle"
               data-id="<%= @part.id %>"
               data-tray-controller="parts"
               data-tray="maintenance">Maintenance Records</a>
          </li>

          <li class="">
            <a href="#asset_failures" class="remote-tray-toggle custom-data-toggle"
               data-id="<%= @part.id %>"
               data-tray-controller="parts"
               data-tray="asset_failures">Failures</a>
          </li>

          <li class="">
            <a href="#asset_activity" class="remote-tray-toggle custom-data-toggle"
               data-id="<%= @part.id %>"
               data-tray-controller="parts"
               data-tray="asset_activity">Activity</a>
          </li>

        </ul>
      </div>
    </div>

<% end %>


<% if @part.template? %>
    <div class="well" style='margin-top: 30px;'>
      <div class="pull-right">
        <span class="help-text">Material Number:</span> <span id="material_number"><%= @part.material_number %></span>
        <% if @part.template? && current_user.role.add_remove_inventory? %>
            <br><br>
            <%= link_to "+ Add Asset", "#",
                        class: "bluebtn page_header_button tooltip-info",
                        id: "new_part_link",
                        "data-placement" => "bottom",
                        "data-title" => "Create new asset under this material number" %>
        <% end %>
      </div>


      <div class="chart-block">
        <div class="chart-title">Assets</div>
        <div class="donut-chart-div job-donut-chart-div">
          <div class="donut-text part-count"><%= @parts.count %></div>
          <div class="percentage "></div>
        </div>
      </div>

      <div class="chart-block">
        <div class="chart-title">On Hand</div>
        <div class="donut-chart-div job-donut-chart-div">
          <div class="donut-text part-on-hand"><%= @parts.where(:status => Part::AVAILABLE).count %></div>
          <div class="percentage "></div>
        </div>
      </div>

      <div class="chart-block">
        <div class="chart-title">Avg Redress</div>
        <div class="donut-chart-div job-donut-chart-div">
          <div class="donut-text "><%= PartRedress.includes(:job).includes(:part).where("parts.material_number = ?", @part.material_number).where("jobs.district_id = ?", @part.district.id).average("part_redresses.finished_redress_at - part_redresses.received_at").to_f.round(1) %></div>
          <div class="percentage ">days</div>
        </div>
      </div>

    </div>
<% end %>

<% if @part.template? %>

    <div id="new_part_fields" class="alert alert-info hidden push-down">
      <%= render 'parts/sub_part_fields', sub_part: @part %>
    </div>

    <div class="remote-tray" data-tray="grid">
      <div class="remote-loading">
        <%= render 'layouts/inline_loading', title: "Please wait, loading assets..." %>
      </div>
    </div>

    <div class="remote-tray custom-data-closed" data-tray="list">
      <div class="remote-loading">
        <%= render 'layouts/inline_loading', title: "Please wait, loading assets..." %>
      </div>
    </div>


    <script type='text/javascript'>
        if (document.location.hash == '') {
            tray = $(".remote-tray[data-tray='grid']");
            tray.find('.content').hide();
            tray.find('.remote-loading').removeClass('hidden');
            tray.find('.loading').removeClass('hidden');
            setTimeout(function () {
                $.ajax({
                    url: "/parts/<%= @part.id %>?section=grid",
                    type: "GET",
                    dataType: "script"
                });
            }, 1);
        }
    </script>


<% else %>

    <div class='remote-tray' data-tray="overview">
      <div class='tray-content content-loaded' style='margin-top: 30px;'>

        <div class="">
          <div class="pull-right">
            <span class="help-text">Material Number:</span>
            <span id="material_number"><%= @part.material_number %></span>
          </div>

          <div class="inline"><span class="help-text">Serial Number: </span>

            <h3 class="blue-text inline" id="serial_number"><%= @part.serial_number %></h3>
          </div>

          <div class="inline push-right"><span class="help-text">District Serial Number: </span>
            <b><%= @part.district_serial_number.blank? ? '-' : @part.district_serial_number %></b>
          </div>


          <hr>


          <div class="chart-block">
            <div class="chart-title">Jobs</div>
            <div class="donut-chart-div job-donut-chart-div">
              <div class="donut-text part-count"><%= @part.jobs.count %></div>
              <div class="percentage ">runs</div>
            </div>
          </div>

          <div class="chart-block">
            <div class="chart-title">Usage</div>
            <div class="donut-chart-div job-donut-chart-div">
              <div class="donut-text part-on-hand"><%= @part.below_rotary.present? ? @part.below_rotary.round(1) : "0.0" %></div>
              <div class="percentage ">hours</div>
            </div>
          </div>

          <% if !@part.rental %>
              <div class="chart-block">
                <div class="chart-title">Maximum Usage</div>
                <div class="donut-chart-div job-donut-chart-div">
                  <div class="donut-text part-on-hand">-</div>
                  <div class="percentage ">hours</div>
                </div>
              </div>

              <div class="chart-block">
                <div class="chart-title">Avg Redress</div>
                <div class="donut-chart-div job-donut-chart-div">
                  <div class="donut-text "><%= PartRedress.includes(:job).includes(:part).where("parts.serial_number = ?", @part.serial_number).average("part_redresses.finished_redress_at - part_redresses.received_at").to_f.round(1) %></div>
                  <div class="percentage ">days</div>
                </div>
              </div>
          <% end %>

          <hr>
          <%= render 'parts/part_status', part: @part %>
        </div>

        <% if @part.master_part.present? && @part.master_part.container %>
            <%= render 'parts/container', part: @part %>
        <% end %>

      </div>
    </div>

    <div class="remote-tray custom-data-closed" data-tray="full_history">
      <div class="remote-loading">
        <br><br>
        <%= render 'layouts/inline_loading', title: "Please wait, loading full history..." %>
      </div>
    </div>

    <div class="remote-tray custom-data-closed" data-tray="maintenance">
      <div class="remote-loading">
        <br><br>
        <%= render 'layouts/inline_loading', title: "Please wait, loading maintenance records..." %>
      </div>
    </div>

    <div class="remote-tray custom-data-closed" data-tray="asset_failures">
      <div class="remote-loading">
        <br><br>
        <%= render 'layouts/inline_loading', title: "Please wait, loading failures..." %>
      </div>
    </div>

    <div class="remote-tray custom-data-closed" data-tray="asset_activity">
      <div class="remote-loading">
        <br><br>
        <%= render 'layouts/inline_loading', title: "Please wait, loading full activity..." %>
      </div>
    </div>

<% end %>


<div id="modal_popup" class="modal-popup-background">
  <div class="modal-popup modal-popup-fixed">
    <%= link_to "close", "#", class: "delete-button modal-popup-close", id: "close_modal" %>
    <div class="modal-content">
    </div>
    <%= render "layouts/inline_loading", title: "Loading..." %>
  </div>
</div>


<div id="modal_popup2" class="modal-popup-background">
  <div class="modal-popup">
    <%= link_to "close", "#", class: "delete-button modal-popup-close close-modal" %>
    <div class="modal-content">
      <%= image_tag "error_red.png" %> <h3 class="inline push-right-small">Can't Delete</h3>
      <hr>
      Can't delete a master asset with sub assets. First, remove all sub assets if this is the intended action.
    </div>
  </div>
</div>

<script type="text/javascript">
    (function ($) {
        $(document).ready(function () {
            $('.part-search').data("autocomplete")._renderItem = function (ul, item) {
                return $("<li class='item_" + item.id + "'></li>").data("item.autocomplete", item).append(
                        "<a><div>" + (item.id > 0 ? "<img src='/assets/tool.png' class='job-member-avatar pull-left'>" : "") + "</div><div><div class='job-user'><strong>" + item.value + " </strong>" + (item.id > 0 ? "<p class='job-user-district pull-right help-text'>" + item.material_number + "</p>" : "") + (item.id > 0 ? "<div>" + (item.serial_number != null ? ("<p class='job-user-title'><span class='help-text'>Serial # </span><b class='orange-text'>" + item.serial_number + "</b>" + (item.district_serial_number != '' ? " / <span class='help-text'>District # </span><b class='orange-text'>" + item.district_serial_number + "</b>" : "") + "</p>") : "<p class='job-user-title'><b class='blue-text'>Master Part</b></p>") + "</div>" : "") + "</div><div style='margin: 0px;" + (item.id == -1 ? '' : "margin-left: 31px; margin-top: -5px;") + "'>" + item.status + "</div></div></a>").appendTo(ul)
            }
        });
    }(jQuery));
</script>

<script type='text/javascript'>
    (function ($) {
        $(document).ready(function () {
            var oldHide = $.fn.popover.Constructor.prototype.hide;

            $.fn.popover.Constructor.prototype.hide = function () {
                if (this.options.trigger === "hover" && this.tip().is(":hover")) {
                    var that = this;
                    // try again after what would have been the delay
                    setTimeout(function () {
                        return that.hide.call(that, arguments);
                    }, that.options.delay.hide);
                    return;
                }
                oldHide.call(this, arguments);
            };

            $('.part-membership').find('.popover').popover({  delay: { show: 500, hide: 200 } });
        });
    }(jQuery));
</script>


<script type='text/javascript'>
    var map = L.mapbox.map('map', 'elephant.map-vum3on5g');
    map.attributionControl = false;
    map.scrollWheelZoom.disable();

    var geoJson = [];

    <% coordinates_for_zoom = [] %>
    <% coordinates_for_lines = [] %>

    <% part = @part %>
    <% part.jobs.order("created_at DESC").each_with_index do |job, index| %>
    <% if index < 7 && !job.well.location.blank? %>
    <% x = job.well.x_location %>
    <% y = job.well.y_location  %>
    <% coordinates_for_lines << [x, y] %>
    <% coordinates_for_zoom << [y, x] %>
    geoJson.push({
        "type": "Feature",
        "geometry": {
            "type": "Point",
            "coordinates": [<%= x %>, <%= y %>]
        },
        "properties": {
            title: '<%= job.field.name + ' | ' + job.well.name %>',
            'marker-size': 'medium',
            'marker-color': '#0058a8',
            'marker-symbol': '<%= (index + 1).to_s %>',
            url: '/jobs/' + <%= job.id %>
            //'marker-symbol': '1'
        }
    });
    <% end %>
    <% end %>

    map.markerLayer.setGeoJSON(geoJson);

    map.markerLayer.on('click', function (e) {
        map.panTo(e.layer.getLatLng());
    });
    map.markerLayer.on('click', function (e) {
        e.layer.unbindPopup();
        window.location = e.layer.feature.properties.url;
    });

    var bounds = [];
    <% coordinates_for_zoom.each do |c| %>
    bounds.push([<%= c[0] %>, <%= c[1] %>]);
    <% end %>
    map.fitBounds(bounds);
    zoom = Math.round(map.getZoom());
    map.setZoom(zoom - 1);
    <% if coordinates_for_zoom.count == 1 %>
    if (zoom > 8) {
        map.setZoom(8);
    }
    <% end %>

    lines = {
        type: 'Feature',
        geometry: {
            type: 'LineString',
            coordinates: <%= raw coordinates_for_lines.to_json %>
        },
        properties: { }
    };

    L.geoJson(lines, {
        style: {
            "color": "#FFFFFF"
            //"weight": 5,
            //"opacity": 0.65
        }
    }).addTo(map);

    map.markerLayer.on('mouseover', function (e) {
        e.layer.openPopup();
    });
    map.markerLayer.on('mouseout', function (e) {
        e.layer.closePopup();
    });
</script>



