<% part = Part.where("parts.warehouse_id IN (select id from warehouses where district_id = :district_id) AND parts.material_number = :material_number AND parts.template is TRUE", district_id: job.district_id, material_number: part_membership.material_number.to_s).limit(1).first %>

<div id="part_membership_<%= part_membership.id %>" class="parent-part-membership">

  <% if part_membership.part.present? %>
      <div class="document-status pull-left">
        <%= image_tag "document_complete.png", class: "tooltip-info",
                      "data-placement" => "bottom",
                      "data-title" => "Complete" %>
      </div>
  <% end %>

  <% if job.status == Job::ACTIVE %>
      <div class="form inline add-part-match <%= part_membership.part.present? ? 'hidden' : '' %>" data-form="part_membership">
        <%= form_for(PartMembership.new, :html => {class: "inline"}, remote: true) do |f| %>
            <%= f.hidden_field :template, value: false %>
            <%= f.hidden_field :material_number, value: part_membership.material_number %>
            <%= f.hidden_field :job_id, value: job.id %>
            <%= f.hidden_field :part_id, class: "part-id" %>
            <%= f.hidden_field :primary_tool_id, value: part_membership.primary_tool.id %>
            <div class="filter-search-box part-search-box pull-right">
              <b>Add Asset</b>
              <%= text_field_tag "", "", data: {autocomplete_source: parts_path(material_number: part_membership.material_number, district_id: job.district_id, template: false)},
                                 placeholder: "Search for asset...",
                                 class: "txtfield small search-query tooltip-info part-match push-right-small",
                                 "data-placement" => "left",
                                 "data-title" => "Search in assets..." %>

              <span class="help-text">or</span>
              <a class="custom-data-toggle-jobs show-all-parts-material-number blue-text push-right-small" data-part-fill="<%= (part.present? ? part.name : '') + ' ' + part_membership.material_number %>" href="#">
                Show All Available
              </a>
            </div>
        <% end %>
      </div>
  <% end %>
  <div class="inline form-loading hidden" data-form="part_membership">
    <%= render 'layouts/inline_loading', title: "Adding asset..." %>
  </div>


  <div class="inline part-match-link part-field pull-right <%= part_membership.part.present? ? '' : 'hidden' %>">
    <% if part_membership.part.present? %>
        <% if !part_membership.part.district_serial_number.blank? %>
            <%= link_to part_membership.part, target: "_blank", class: "activity-user-link align-top push-down-small" do %>
                <span class="help-text">Serial #</span>
                <%= part_membership.part.serial_number %>

                <span class="help-text">District #</span>
                <%= part_membership.part.district_serial_number %>
            <% end %>
        <% else %>
            <%= link_to part_membership.part, target: "_blank", class: "activity-user-link align-top push-down-small" do %>
                <span class="help-text">Serial #</span>

                <h3 class="blue-text inline"><%= part_membership.part.serial_number %></h3>
            <% end %>
        <% end %>
    <% end %>
    <% if job.status == Job::ACTIVE %>
        <%= link_to "remove", part_membership, method: :delete, remote: true,
                    data: {confirm: "Remove Asset from job?"}, class: "delete-button tooltip-info",
                    "data-placement" => "bottom",
                    "data-title" => "Remove asset from job" %>
    <% end %>
  </div>
  <% if job.status != Job::ACTIVE && !part_membership.part.present? %>
      <span class='help-text pull-right warning-text'>No Asset configured...</span>
  <% end %>


  <div>
    <p class="help-text inline">Asset</p>
    <% if part.present? %>
        <b class="push-right-small"><%= part.name %></b>
    <% else %>
        <p class="inline warning-text">**No parts in district, add to inventory</p>
    <% end %>
    <br>

    <p class="help-text inline">Material Number</p>
    <span class="push-right-small">
      <% if part.present? %>
        <%= link_to part_membership.material_number, part, target: "_blank", class: "activity-user-link" %>
      <% else %>
          <%= part_membership.material_number %>
      <% end %>
    </span>
  </div>


  <% if part_membership.part.present? && part_membership.track_usage %>
      <div class="">
        <br>
        Usage Hours

        <%= text_field_tag "", part_membership.usage.present? ? part_membership.usage.to_s : "0.0",
                           placeholder: "Usage hours...",
                           class: "txtfield small push-right-small usage-hours",
                           "data-placement" => "bottom",
                           "data-title" => "Usage Hours..." %>

        <%= link_to "Update", "#", class: "bluebtn btnsmall gray update-usage-hours" %>


        <div class='usage-hours-updated hidden status-good push-right-small'>
          Updated
        </div>
      </div>
  <% end %>

  <% if part_membership.part.present? && job.approved_to_ship %>
      <div class="inline-part-receive" id="inline_part_<%= part_membership.part.id %>">
        <% if part_membership.part.status == Part::ON_JOB && part_membership.part.current_job.present? && part_membership.part.current_job.id == job.id %>
            <div class="form" data-form="receive-part-form-<%= part_membership.part.id %>">
              <br>

              <% if part_membership.part.present? %>
                  <%= link_to "Begin Redress", part_path(part_membership.part, receive: true),
                              method: :put,
                              remote: true,
                              class: "bluebtn green tooltip-info form-loading-on-click",
                              "data-form" => "receive-part-form-" + part_membership.part.id.to_s,
                              "data-placement" => "bottom",
                              "data-title" => "Receive asset" %>

                  <span class="push-right-small">
                  <%= link_to "Well Transfer", part_path(part_membership.part, transfer: true),
                              method: :put,
                              remote: true,
                              class: "bluebtn gray tooltip-info form-loading-on-click",
                              "data-form" => "receive-part-form-" + part_membership.part.id.to_s,
                              "data-placement" => "bottom",
                              "data-title" => "Free asset for use on another job" %>
                    </span>
              <% end %>
            </div>

            <div class="form-loading hidden" data-form="receive-part-form-<%= part_membership.part.id %>">
              <%= render 'layouts/inline_loading', title: "Receiving..." %>
            </div>
        <% else %>
            <%= render 'parts/received', part_redress: PartRedress.where(:job_id => job.id).where(:part_id => part_membership.part.id).limit(1).first %>
        <% end %>
      </div>
  <% end %>


</div>
