<% part = Part.where("parts.district_id = :district_id AND parts.material_number = :material_number AND parts.template is TRUE", district_id: job.district_id, material_number: part_membership.material_number.to_s).limit(1).first %>
<div id="part_membership_<%= part_membership.id %>" class="">

  <% if job.status == Job::ACTIVE %>
      <div class="form inline add-part-match <%= part_membership.part.present? ? 'hidden' : '' %>" data-form="part_membership">
        <%= form_for(PartMembership.new, :html => {class: "inline"}, remote: true) do |f| %>
            <%= f.hidden_field :template, value: false %>
            <%= f.hidden_field :material_number, value: part_membership.material_number %>
            <%= f.hidden_field :job_id, value: job.id %>
            <%= f.hidden_field :part_id, class: "part-id" %>
            <div class="filter-search-box pull-right">
              <%= text_field_tag "", "", data: {autocomplete_source: parts_path(material_number: part_membership.material_number, template: false)},
                                 placeholder: "Search for asset by district, serial, or material number...",
                                 class: "txtfield search-query tooltip-info part-match",
                                 "data-placement" => "left",
                                 "data-title" => "Search in assets..." %>

              <a class="custom-data-toggle-jobs show-all-parts-material-number" data-part-fill="<%= (part.present? ? part.name : '') + ' ' + part_membership.material_number %>" href="#">
                All
              </a>
            </div>
        <% end %>
      </div>
  <% end %>
  <div class="inline form-loading hidden" data-form="part_membership">
    <%= render 'layouts/inline_loading', title: "Adding asset..." %>
  </div>


  <div class="inline part-match-link part-field pull-right <%= part_membership.part.present? ? '' : 'hidden' %>">
    <% if part_membership.part.present? %>
        <%= link_to 'Serial #:' + part_membership.part.serial_number + ' / District #: ' + part_membership.part.district_serial_number, part_membership.part, class: "activity-user-link" %>
    <% end %>
    <% if job.status == Job::ACTIVE %>
        <%= link_to "remove", part_membership, method: :delete, remote: true,
                    data: {confirm: "Remove Asset from job?"}, class: "delete-button tooltip-info",
                    "data-placement" => "bottom",
                    "data-title" => "Remove asset from job" %>
    <% end %>
  </div>
  <% if job.status != Job::ACTIVE && !part_membership.part.present? %>
      <span class='help-text pull-right warning-text'>No Asset configured...</span>
  <% end %>


  <div>
    <p class="help-text inline">Asset</p>
    <% if part.present? %>
        <b class="push-right-small"><%= part.name %></b>
    <% else %>
        <p class="inline warning-text">**No parts in district, add to inventory</p>
    <% end %>
    <br>

    <p class="help-text inline">Material Number</p>
    <span class="push-right-small"><%= part_membership.material_number %></span>
  </div>


  <% if part_membership.part.present? && job.approved_to_ship %>
      <div class="inline-part-receive" id="inline_part_<%= part_membership.part.id %>">
        <div class="form" data-form="receive-part-form">
          <br>

          <% if part_membership.part.present? %>
              <%= link_to "Receive Asset", part_path(part_membership.part, receive: true),
                          method: :put,
                          remote: true,
                          class: "bluebtn green tooltip-info form-loading-on-click",
                          "data-form" => "receive-part-form",
                          "data-placement" => "bottom",
                          "data-title" => "Receive asset" %>
          <% end %>
        </div>

        <div class="form-loading hidden" data-form="receive-part-form">
          <%= render 'layouts/inline_loading', title: "Receiving..." %>
        </div>
      </div>
  <% end %>
</div>
