<div>
  <% if part_membership.part_type == PartMembership::RENTAL %>
      <b class='warning-text'>RENTAL</b>
  <% end %>
  <% if part_membership.part_type == PartMembership::ACCESSORY %>
      <b class=''>DUMB IRON</b>
  <% end %>

  <% if !part_membership.serial_number.blank? %>
      <p><span class='inline-block list-item-column-short'>Serial #</span><b><%= part_membership.serial_number %></b></p>
  <% end %>
  <% if !part_membership.material_number.blank? %>
      <p><span class='inline-block list-item-column-short'>Material #</span><b><%= part_membership.material_number %></b></p>
  <% end %>

  <p><span class='inline-block list-item-column-short'>ID</span><b><%= part_membership.inner_diameter.present? ? part_membership.inner_diameter : '-' %></b></p>
  <p><span class='inline-block list-item-column-short'>OD</span><b><%= part_membership.outer_diameter.present? ? part_membership.outer_diameter : '-' %></b></p>
  <p><span class='inline-block list-item-column-short'>Length</span><b><%= part_membership.length.present? ? part_membership.length : '-' %></b></p>

  <div class='push-down-small'>
    <% if part_membership.part.present? %>
        <a href='/parts/<%= part_membership.part_id %>' class='inline-block activity-user-link align-top'>View Asset
          Details</a>
        <% if part_membership.job.present? && !part_membership.job.closed %>|<% end %>
    <% end %>
    <% if part_membership.job.present? && !part_membership.job.closed %>
        <a href='/part_memberships/<%= part_membership.id %>'
           data-method='delete'
           data-remote='true'
           data-confirm='Remove <%= part_membership.name %> from Job?'
           rel='nofollow'
           class='activity-user-link tooltip-info align-top'
           data-placement='bottom'
           data-title='Remove from Job'>Remove</a>
    <% end %>

    <a href='#' class='btn btn-danger'>Ship To Shop</a>
  </div>
</div>