<div>
  <% if part_membership.part_type == PartMembership::RENTAL %>
      <b class='warning-text'>RENTAL</b>
  <% end %>
  <% if part_membership.part_type == PartMembership::ACCESSORY %>
      <b class=''>DUMB IRON</b>
  <% end %>

  <% if !part_membership.serial_number.blank? %>
      <p>Serial # <%= part_membership.serial_number %></p>
  <% end %>
  <% if !part_membership.material_number.blank? %>
      <p>Material # <%= part_membership.material_number %></p>
  <% end %>

  <div class='push-down-small'>
    <% if part_membership.part.present? %>
        <a href='/parts/<%= part_membership.part_id %>' class='inline-block activity-user-link align-top'>View Asset Details</a>
        |
    <% end %>
    <a href='/part_memberships/<%= part_membership.id %>'
       data-method='delete'
       data-remote='true'
       data-confirm='Remove <%= part_membership.name %> from Job?'
       rel='nofollow'
       class='activity-user-link tooltip-info align-top'
       data-placement='bottom'
       data-title='Remove from Job'>Remove</a>

  </div>
</div>