<div>
  <% if part_membership.part_type == PartMembership::RENTAL %>
      <b class='blue-text'>RENTAL
        <% if part_membership.part.present? && part_membership.part.supplier.present? %>
            - <%= part_membership.part.supplier.name %>
        <% end %>
      </b>
  <% end %>
  <% if part_membership.part_type == PartMembership::SALEABLE %>
      <b class='blue-text'>SALEABLE</b>
  <% end %>
  <% if part_membership.part_type == PartMembership::INVENTORY %>
      <b class='blue-text'>INVENTORY</b>
  <% end %>

  <p style='font-size: 11px; font-family: gothambookregular;'>
    <% if part_membership.part.present? && !part_membership.part.manufacturer.blank? %>
        <span class='inline-block help-text'>Manufacturer</span>&nbsp;&nbsp;<b><%= part_membership.part.manufacturer %></b>
        <br>
    <% end %>
    <% if !part_membership.serial_number.blank? %>
        <span class='inline-block help-text'>Serial</span>&nbsp;&nbsp;<b class='blue-text' style='font-family: gothamboldregular; font-size: 12px;'><%= part_membership.serial_number %></b>
    <% end %>
    <% if !part_membership.material_number.blank? %>
        <span class='inline-block help-text push-right-small'>Material</span>&nbsp;&nbsp;<b><%= part_membership.material_number %></b>
    <% end %>
  </p>

  <p style='font-size: 11px; font-family: gothambookregular;'>
    <span class='inline-block help-text'>ID</span>&nbsp;&nbsp;<b><%= part_membership.inner_diameter.present? ? part_membership.inner_diameter : '-' %></b>
    <span class='inline-block help-text push-right-small'>OD</span>&nbsp;&nbsp;<b><%= part_membership.outer_diameter.present? ? part_membership.outer_diameter : '-' %></b>
    <span class='inline-block help-text push-right-small'>Length</span>&nbsp;&nbsp;<b><%= part_membership.length.present? ? part_membership.length : '-' %></b>
  </p>

  <% if (part_membership.part_type == PartMembership::INVENTORY || part_membership.part_type == PartMembership::RENTAL) && part_membership.part.present? %>
      <div>
        <b class='' style='font-size: 11px;'><%= part_membership.part.status_string %></b>
      </div>
  <% end %>

  <div class='push-down-small'>
    <% if part_membership.present? %>
        <a href='/part_memberships/<%= part_membership.id %>/edit' data-remote='true' class='inline-block activity-user-link align-top show-modal-button2' style='font-size: 12px; font-family: gothammediumregular; color: gray;'>Change
          Attributes</a>
        <% if (part_membership.shipment.present? || (part_membership.job.present? && !part_membership.job.closed)) && allow_remove %>
            |
        <% end %>
    <% end %>
    <% if (part_membership.shipment.present? || (part_membership.job.present? && !part_membership.job.closed)) && allow_remove %>
        <% if part_membership.shipment.present? %>
            <a href='/part_memberships/<%= part_membership.id %>'
               data-method='delete'
               data-remote='true'
               data-confirm='Remove <%= part_membership.name %> from Shipment?'
               rel='nofollow'
               class='activity-user-link tooltip-info align-top'
               style='font-size: 12px; font-family: gothammediumregular; color: gray;'
               data-placement='bottom'
               data-title='Remove from Shipment'>Remove</a>
        <% else %>
            <a href='/part_memberships/<%= part_membership.id %>'
               data-method='delete'
               data-remote='true'
               data-confirm='Remove <%= part_membership.name %> from Job? This will cause it to be removed from any BHA it currently resides on.'
               rel='nofollow'
               class='activity-user-link tooltip-info align-top'
               style='font-size: 12px; font-family: gothammediumregular; color: gray;'
               data-placement='bottom'
               data-title='Remove from Job'>Remove</a>
        <% end %>
    <% end %>

  </div>

</div>