<% if job.job_template.present? %>
    <table width="100%" style="margin-top: 10px;" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="100%">
          <span class="job-title4"><%= job.field.name %></span>
          <span class="job-title-divider2">|</span>
          <span class="job-title4"><%= job.well.name %></span>
        </td>
      </tr>
      <tr>
        <td width="100%">
          <table width="100%" style="margin-left: 10px;">
            <tr>
              <td width="140">
                <span>Rig</span>
                <b><%= job.well.rig.present? ? job.well.rig.name : "-" %></b>
              </td>
              <td width="140">
                <span>Job #</span>
                <b><%= job.job_number %></b>
              </td>
              <td width="140">
                <b class='orange-text'><%= job.client.present? ? job.client.name : "" %></b>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <% if false %>
        <div class='push-down'>
          <%= link_to "https://www.elephant-cloud.com/jobs/" + job.id.to_s, class: "job-status job-link" do %>
              <div class='inline-block list-item-column-long'>
                <h2 class="job-title4 inline"><%= job.field.name %></h2>

                <p class="job-title-divider2">|</p>

                <h2 class="job-title4 inline"><%= job.well.name %></h2>
              </div>
              <div>
                <div class='inline-block list-item-column4'>
                  <span>Rig</span>
                  <b><%= job.well.rig.present? ? job.well.rig.name : "-" %></b>
                </div>
                <div class='inline-block list-item-column4'>
                  <span>Job #</span>
                  <b><%= job.job_number %></b>
                </div>
                <div class='inline-block list-item-column4'>
                  <b class='orange-text'><%= job.client.present? ? job.client.name : "" %></b>
                </div>
              </div>
          <% end %>
        </div>
    <% end %>
    <% if job.status == Job::ON_JOB %>
        <table width="100%" style="margin-left: 10px;" border="0" cellpadding="0" cellspacing="0">
          <% note_activity_report = NoteActivityReport.where(:job_id => job.id).order("created_at DESC").first %>
          <% notes = JobNote.where(:job_id => job.id).where("created_at > ?", 1.day.ago).where("job_notes.note_type != ?", JobNote::ASSET_REQUEST).order("created_at ASC") %>
          <% notes_string = notes.collect(&:text).join(', ') %>
          <% assets = JobNote.where(:job_id => job.id).where("created_at > ?", 1.day.ago).where("job_notes.note_type = ?", JobNote::ASSET_REQUEST).order("created_at ASC") %>
          <% assets_string = assets.collect(&:text).join(', ') %>
          <tr>
            <td width="200">
              <span class='help-text'>Today</span>

              <p><%= note_activity_report.present? ? note_activity_report.present : "-" %></p>
            </td>
            <td width="200">
              <span class='help-text'>Past Day</span>

              <p><%= note_activity_report.present? ? note_activity_report.past : "-" %></p>
            </td>
            <td width="200">
              <span class='help-text'>Next Day</span>

              <p><%= note_activity_report.present? ? note_activity_report.future : "-" %></p>
            </td>
          </tr>
          <tr>
            <td width="200">
              <span class='help-text'>Asset Requests</span>

              <p><%= assets_string.present? ? assets_string : "-" %></p>
            </td>
            <td width="200">
              <span class='help-text'>Notes</span>

              <p><%= notes_string.present? ? notes_string : "-" %></p>
            </td>
            <td width="200">

            </td>
          </tr>
        </table>

        <% job_memberships = job.job_memberships.includes(user: :district).order("job_role_id ASC").to_a %>
        <% if job_memberships.any? %>
            <table width="100%" style="margin-left: 10px;" border="0" cellpadding="0" cellspacing="0">
              <% job_memberships_array = job_memberships.to_a %>
              <% real_index = -1 %>
              <% job_memberships_array.each_with_index do |jm, index| %>
                  <% if real_index < job_memberships_array.length %>
                      <tr height="35">
                        <% real_index = real_index + 1 %>
                        <%= render 'user_mailer/job_report_user', real_index: real_index, job_memberships_array: job_memberships_array %>

                        <% real_index = real_index + 1 %>
                        <%= render 'user_mailer/job_report_user', real_index: real_index, job_memberships_array: job_memberships_array %>

                        <% real_index = real_index + 1 %>
                        <%= render 'user_mailer/job_report_user', real_index: real_index, job_memberships_array: job_memberships_array %>

                      </tr>
                  <% end %>
              <% end %>
            </table>
        <% end %>
        </table>
    <% end %>
    <hr>
<% end %>