<html>
<link rel="stylesheet" type="text/css" href="/application.css"/>
<body class="email-body">

<h1>Daily Recap</h1>
<p class="center">An activity summary of your jobs</p>
<p class="center">Recap for <b><%= 1.days.ago.to_date.strftime("%m/%d/%Y") %></b></p>
<hr>



<div id="activities" class="list">
  <% @activities.each do |activity| %>

      <div class="history">

        <%= link_to activity.job.absolute_url, class: "job-email-link" do %>
            <%= render 'jobs/job_data_email', job: activity.job  %>
        <% end %>

        <% activity.job.recent_activity(Time.now).each do |a| %>
            <%= render 'activities/job_activity_email', activity: a, inside_job: false %>
        <% end %>

        <hr class="search-constraint-line">

      </div>

  <% end %>
</div>

<hr>

<p>You can change this in your <%= link_to edit_setting_url(@user), class: "activity-user-link" do %>settings
  <% end %> if you don't want to receive this email.</p>
<br>

<% if Rails.env.production? %>
    <hr>
    <div class="center"><%= image_tag "blue_logo_small.png" %></div>
    <br>
<% end %>

</body>
</html>