<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" type="text/css" href="/application.css"/>
<body class="email-body">

<h1>Welcome</h1>
<p><b><%=  @user.company.name %></b> added you to Elephant!</p>
<% if Rails.env.production? %>
    <%= image_tag "blue_logo.png" %>
<% end %>
<p><%= link_to "www.go-elephant.com", "www.go-elephant.com", class: "activity-user-link" %></p>
<br>
<p>Elephant will help make your job easier in many ways as you will soon come to find out. For starters, remember that it will be the first and primary spot to find documents and communication for every job.</p>
<br>

<p>Login using your email: <%= @user.email %></p>
<p>...and this temporary password: <span class="user-password"><%= @password %></span>
<br>
Once you login you will be prompted to create a new password.
</p>
<p><%= link_to "Login Now", "www.go-elephant.com", class: "activity-user-link" %></p>

</body>
</html>