<html>
<link rel="stylesheet" type="text/css" href="/application.css"/>
<body class="email-body" style="width:850px;">

<h1>Timesheet</h1>

<p class="center">
  <b class='orange-text'><%= @start_date.strftime("%A %B %d") %>
    - <%= (@start_date + 14.days).strftime("%A %B %d") %></b>
</p>
<hr>

<% start_date = @start_date %>
<% job_times = @user.job_times.where("job_times.time_for > :start_date AND job_times.time_for < :end_date", start_date: start_date, end_date: start_date + 14.days).to_a %>
<% total_hours = 0.0 %>
<% 14.times do |i| %>
    <% found = job_times.select { |jt| jt.time_for.strftime("%d-%m-%Y") == (start_date + (i).days).strftime("%d-%m-%Y") && jt.status == JobTime::WORKED } %>
    <% if found.any? %>
        <% hours = found.map(&:hours).reduce(:+) %>
        <% total_hours += hours %>
    <% end %>
<% end %>

<p>
<h1 class='inline'><%= total_hours == total_hours.to_i ? total_hours.to_i : total_hours %></h1>&nbsp;&nbsp;<b class=''><%= @user.company.work_day_type == Company::HOURLY_WORK_DAY ? "Hours" : "Days" %> worked this period.</b>
<br><br>
</p>

<p>Please review and correct your timesheet with <b>24 hours</b> of this email.</p>

<p>
  <%= link_to "Review Now", "www.elephant-cloud.com/job_times", class: "bluebtn" %>
</p>


<% if Rails.env.production? %>
    <br>

    <div class="center"><%= image_tag "blue_logo_small.png" %></div>
    <br>
<% end %>

</body>
</html>