<div class="page_header">
  <h1><%= @well.name %></h1>

  <h3 class="inline">&nbsp;Well</h3>

  <h2 class="inline push-right-small"><%= @well.jobs.count.to_s %> jobs</h2>

  <%= link_to "+ " + I18n.t("jobs.index.new"), new_job_path(:well => @well.id), class: "bluebtn pull-right tooltip-info push-right-small",
              "data-placement" => "bottom",
              "data-title" => "Create new job on this well" %>

</div>

<div class="well">

  <div class="pull-right">
    <%= select_tag "Divisions", options_for_select(@divisions),
                   class: "custom-select tooltip-info",
                   "data-placement" => "bottom",
                   "data-title" => "Filter list by division",
                   prompt: "Filter by division..." %>

    <br><br>

    <%= link_to "More Well Details", "#",
                id: "expand_well_details",
                class: "activity-user-link tooltip-info pull-right" %>
  </div>


  <div>
    <div>
      <p class="inline"><b>Field:&nbsp;</b></p>
      <%= link_to @well.field.name, @well.field, class: "activity-user-link inline" %>

      <div class="inline push-right">
        <%= image_tag "district_extrasmall.png", class: "job-status-avatar push-right-small" %>
        <%= link_to @well.field.district.name, @well.field.district, class: "activity-user-link inline" %>

        <% if @well.jobs.any? %>
            <div class="inline push-right">
              <%= image_tag "user_avatar_client_extrasmall.png", class: "job-status-avatar push-right-small" %>
              <%= link_to @well.jobs.first.client.name, @well.jobs.first.client, class: "activity-user-link inline" %>
            </div>
        <% end %>
      </div>
    </div>
    <br>
    <br><br>
  </div>

  <div class="well-details hidden">
    <hr>

    <%= link_to "Edit Well", edit_well_path(@well),
                class: "activity-user-link tooltip-info pull-right" %>

    <% if @well.offshore? %>
        <div>
          <p class="job-field-value"><b>Offshore</b></p>
        </div>
    <% end %>
    <div>
      <p class="job-field-title tooltip-info"
         data-placement="bottom"
         data-title="Rig Name">Rig Name</p>

      <p class="job-field-value"><%= @well.rig_name.present? ? @well.rig_name : "-" %></p>
    </div>

    <% if @well.offshore? %>
        <div>
          <p class="job-field-title tooltip-info"
             data-placement="bottom"
             data-title="Water Depth">Water Depth</p>

          <div class="job-field-div">
            <p class="job-field-value2 unit-tooltip"
               data-placement="bottom"
               data-title="<%= @well.water_depth.present? ? @well.dynamic_field("water_depth").get_user_conversion(@current_user, false, true, true) : "No value set" %>">
              <%= @well.water_depth.present? ? @well.dynamic_field("water_depth").get_user_conversion(@current_user, false, true) : "-" %>
            </p>
          </div>
        </div>
    <% end %>

    <div>
      <p class="job-field-title tooltip-info"
         data-placement="bottom"
         data-title="Measured Depth">Measured Depth</p>

      <div class="job-field-div">
        <p class="job-field-value2 unit-tooltip"
           data-placement="bottom"
           data-title="<%= @well.measured_depth.present? ? @well.dynamic_field("measured_depth").get_user_conversion(@current_user, false, true, true) : "No value set" %>">
          <%= @well.measured_depth.present? ? @well.dynamic_field("measured_depth").get_user_conversion(@current_user, false, true) : "-" %>
        </p>
      </div>

      <div class="inline">
        <p class="job-field-title tooltip-info"
           data-placement="bottom"
           data-title="True Vertical Depth">True Vertical Depth</p>

        <div class="job-field-div">
          <p class="job-field-value2 unit-tooltip"
             data-placement="bottom"
             data-title="<%= @well.true_vertical_depth.present? ? @well.dynamic_field("true_vertical_depth").get_user_conversion(@current_user, false, true, true) : "No value set" %>">
            <%= @well.true_vertical_depth.present? ? @well.dynamic_field("true_vertical_depth").get_user_conversion(@current_user, false, true) : "-" %>
          </p>
        </div>
      </div>
    </div>


    <div>
      <p class="job-field-title tooltip-info"
         data-placement="bottom"
         data-title="Bottom Hole Temperature">Bottom Hole Temperature</p>

      <div class="job-field-div">
        <p class="job-field-value2 unit-tooltip"
           data-placement="bottom"
           data-title="<%= @well.bottom_hole_temperature.present? ? @well.dynamic_field("bottom_hole_temperature").get_user_conversion(@current_user, false, true, true) : "No value set" %>">
          <%= @well.bottom_hole_temperature.present? ? @well.dynamic_field("bottom_hole_temperature").get_user_conversion(@current_user, false, true) : "-" %>
        </p>
      </div>

      <div class="inline">
        <p class="job-field-title tooltip-info"
           data-placement="bottom"
           data-title="Bottom Hole Formation Pressure">Bottom Hole Formation Pressure</p>

        <div class="job-field-div">
          <p class="job-field-value2 unit-tooltip"
             data-placement="bottom"
             data-title="<%= @well.bottom_hole_formation_pressure.present? ? @well.dynamic_field("bottom_hole_formation_pressure").get_user_conversion(@current_user, false, true, true) : "No value set" %>">
            <%= @well.bottom_hole_formation_pressure.present? ? @well.dynamic_field("bottom_hole_formation_pressure").get_user_conversion(@current_user, false, true) : "-" %>
          </p>
        </div>
      </div>
    </div>

    <div>
      <p class="job-field-title tooltip-info"
         data-placement="bottom"
         data-title="Frac Pressure">Frac Pressure</p>

      <div class="job-field-div">
        <p class="job-field-value2 unit-tooltip"
           data-placement="bottom"
           data-title="<%= @well.frac_pressure.present? ? @well.dynamic_field("frac_pressure").get_user_conversion(@current_user, false, true, true) : "No value set" %>">
          <%= @well.frac_pressure.present? ? @well.dynamic_field("frac_pressure").get_user_conversion(@current_user, false, true) : "-" %>
        </p>
      </div>
    </div>

    <div>
      <p class="job-field-title tooltip-info"
         data-placement="bottom"
         data-title="Max Deviation">Max Deviation</p>

      <div class="job-field-div">
        <p class="job-field-value2 unit-tooltip"
           data-placement="bottom"
           data-title="<%= @well.max_deviation.present? ? @well.max_deviation.to_s + " degrees" : "No value set" %>">
          <%= @well.max_deviation.present? ? @well.max_deviation.to_s + " degrees" : "-" %>
        </p>
      </div>


      <div class="inline">
        <p class="job-field-title tooltip-info"
           data-placement="bottom"
           data-title="Bottom Deviation">Bottom Deviation</p>

        <div class="job-field-div">
          <p class="job-field-value2 unit-tooltip"
             data-placement="bottom"
             data-title="<%= @well.bottom_deviation.present? ? @well.bottom_deviation.to_s + " degrees" : "No value set" %>">
            <%= @well.bottom_deviation.present? ? @well.bottom_deviation.to_s + " degrees" : "-" %>
          </p>
        </div>
      </div>
    </div>


  </div>


</div>


<div id="jobs">
  <% @well.jobs.includes(dynamic_fields: :dynamic_field_template).includes(:field, :well, :job_processes, :documents, :district, :client, :job_template => {:primary_tools => :tool}).includes(job_template: {product_line: {segment: :division}}).each do |job| %>
      <% if job.job_template.present? %>
          <%= link_to job, class: "job-status job-link tooltip-info",
                      "data-placement" => "left",
                      "data-title" => "Click to open job" do %>
              <%= render 'jobs/job_progress', job: job, show_summary_data: true, job_name: true %>
          <% end %>
      <% end %>
  <% end %>
</div>