<div class="search-field <%= index > 0 ? "hidden" : "" %>" id="search_constraint_<%= index.to_s %>">

  <div>
    <p class="help-text">First, select the type of data you want to search, either well data or job data.</p>

    <p class="field-title">Search Type</p>

    <%= select_tag "data_type", options_for_select([["Well Data", 1], ["Job Data", 2], ["Customer Name", 3], ["District Name", 4]]),
                   prompt: "Select what to search...",
                   class: "search-constraint-data-type",
                   name: "query[constraints][" + index.to_s + "][data_type]" %>


    <div class="search-job-type hidden push-right">

      <br>

      <%= select_tag "Divisions", options_for_select(@divisions.collect { |p| [p.name, p.id] }, @division),
                     class: "tooltip-info",
                     "data-placement" => "bottom",
                     "data-title" => "Division",
                     prompt: "Select a Division...", id: "job_division_id" %>

      <%= select_tag "Segments", options_for_select(@segments.collect { |p| [p.name, p.id] }, @segment),
                     class: "tooltip-info",
                     "data-placement" => "bottom",
                     "data-title" => "Segment",
                     prompt: "Select a Segment...", id: "job_segment_id" %>

      <%= select_tag "Product Lines", options_for_select(@product_lines.collect { |p| [p.name, p.id] }, @product_line),
                     class: "tooltip-info",
                     "data-placement" => "bottom",
                     "data-title" => "Product Line",
                     prompt: "Select a Product Line...", id: "job_product_line_id" %>

      <%= select_tag "Job Type", options_for_select(@job_templates.collect { |p| [p.name, p.id] }),
                     class: "tooltip-info search-constraint-job-template-select",
                     "data-placement" => "bottom",
                     "data-title" => "Job Type",
                     prompt: "Select a Job Type...", id: "job_job_template_id",
                     name: "query[constraints][" + index.to_s + "][job_template]" %>


    </div>

    <%= text_field_tag "", "", name: "query[constraints][" + index.to_s + "][client_id]", id: "client_id", class: "hidden" %>

    <%= text_field_tag "", "", data: {autocomplete_source: clients_path},
                       placeholder: "Type a customer name...",
                       id: "client_name_" + index.to_s, class: "txtfield small push-right tooltip-info client-name hidden",
                       "data-placement" => "bottom",
                       "data-title" => "Customer Name" %>

    <%= text_field_tag "", "", name: "query[constraints][" + index.to_s + "][district_id]", id: "district_id", class: "hidden" %>

    <%= text_field_tag "", "", data: {autocomplete_source: districts_path},
                       placeholder: "Type a district name...",
                       id: "district_name_" + index.to_s, class: "txtfield small push-right tooltip-info district-name hidden",
                       "data-placement" => "bottom",
                       "data-title" => "District Name" %>

  </div>

  <hr>

  <div class="search-constraint-second hidden">
    <p class="help-text">Now specify which field you will be searching for and the comparison type</p>

    <div class="loading hidden">
      <br>
      <span class="ajax-loading search-loading"><b>Loading, please wait</b></span>
    </div>

    <p class="field-title">Condition</p>
    <%= select_tag "job", options_for_select(@well_data.collect { |p| [Well.human_attribute_name(p), p] }),
                   prompt: "Select field name...",
                   class: "search-constraint-field-select tooltip-info",
                   "data-placement" => "bottom",
                   "data-title" => "Name of field",
                   name: "query[constraints][" + index.to_s + "][field]" %>


    <%= select_tag "operator", options_for_select([["equals", 1], ["similar to", 6], ["less than <=", 2], ["greater than >=", 3], ["true", 4], ["false", 5]]),
                   name: "query[constraints][" + index.to_s + "][operator]",
                   class: "tooltip-info",
                   "data-placement" => "bottom",
                   "data-title" => "Value comparison method, either by equality, greater than, less than, or the same, etc..." %>
    <input name="query[constraints][<%= index.to_s %>][value]" type="text" value="11.0" class="txtfield small tooltip-info"
           data-placement="bottom"
           data-title="Value to use for comparison"/>

    <%= select_tag "Units",
                   options_for_select(@dynamic_field.get_unit_options(@dynamic_field.value_type), @dynamic_field.value_type),
                   name: "query[constraints][" + index.to_s + "][units]",
                   class: "search-units unit-tooltip", "data-placement" => "bottom",
                   "data-html" => false, "data-title" => "Units, click to change" %>

    <hr class="search-constraint-line">

  </div>

</div>



