
<% if @show_fields %>

    $("#<%= @div_name %>").find('.search-constraint-second').show();
    $("#<%= @div_name %>").find("div[id=constraint-value-units]").show();

    <% if !@job_template.nil? %>

        $("#<%= @div_name %>").find('.loading').addClass('hidden');

        var $select = $("#<%= @div_name %>").find('.search-constraint-field-select');
        $select.find('option:gt(0)').remove();

        <% @job_template.dynamic_fields.each do |df| %>
            $select.append($("<option></option>")
                    .attr("value", '<%= df.id %>')
                    .text('<%= df.name %>'));
        <% end %>

        $("#<%= @div_name %>").find(".search-constraint-field-select").prop('selectedIndex', '0');

    <% else %>
        var $select = $("#<%= @div_name %>").find('.search-constraint-field-select');
        $select.find('option:gt(0)').remove();

        <% if !@tools.nil? %>
            $("#<%= @div_name %>").find('.loading').addClass('hidden');
            $("#<%= @div_name %>").find("div[id=constraint-value-units]").hide();

            <% @tools.each do |p| %>
            $select.append($("<option></option>")
                    .attr("value", '<%= p.id %>')
                    .text('<%= p.name %>'));
            <% end %>
        <% elsif !@failures.nil? %>
            $("#<%= @div_name %>").find('.loading').addClass('hidden');
            $("#<%= @div_name %>").find("div[id=constraint-value-units]").hide();

            <% @failures.each do |p| %>
                $select.append($("<option></option>")
                    .attr("value", '<%= p.id %>')
                    .text('<%= p.text %>'));
            <% end %>
        <% else %>
            <% @well_data.each do |p| %>
            $select.append($("<option></option>")
            .attr("value", '<%= p %>')
            .text('<%= Well.human_attribute_name(p) %>'));
            <% end %>
        <% end %>

        $("#<%= @div_name %>").find(".search-constraint-field-select").prop('selectedIndex', '0');

    <% end %>


<% else %>

    $("#<%= @div_name %>").find('.search-constraint-second').hide();
    $("#<%= @div_name %>").find('.search-job-type').show();

    <% if !@product_lines.nil? %>

        var $pl = $("#<%= @div_name %>").find('.search-constraint-product-line');
        $pl.css("display", "inline");
        var $select = $pl.find('select');
        $select.find('option:gt(0)').remove();

        <% @product_lines.each do |pl| %>
            $select.append($("<option></option>")
                    .attr("value", '<%= pl.id %>')
                    .text('<%= pl.name %>'));
        <% end %>

        $("#<%= @div_name %>").find(".search-constraint-job-template-select").prop('selectedIndex', '0');

    <% end %>
    <% if !@job_templates.nil? %>

        var $pl = $("#<%= @div_name %>").find('.search-constraint-job-template');
        $pl.css("display", "inline");
        var $select = $pl.find('select');
        $select.find('option:gt(0)').remove();

        <% @job_templates.each do |jt| %>
            $select.append($("<option></option>")
                    .attr("value", '<%= jt.id %>')
                    .text('<%= jt.name %>'));
        <% end %>

    <% end %>

    <% if @hide_job_type %>
        $("#<%= @div_name %>").find('.search-constraint-job-template-select').hide();
        $("#<%= @div_name %>").find("select[id=job_product_line_id]").prop('selectedIndex', '0');
    <% else %>
        $("#<%= @div_name %>").find('.search-constraint-job-template-select').show();
    <% end %>

<% end %>