<% provide(:title, 'Advanced Search') %>

<div class="page_header">
  <%= form_tag("/search.xlsx", :method => 'post', action: "create", :multipart => true) do %>
      <h1>Advanced Search</h1>

      <h2><%= @jobs.count() %></h2>

      <!--<%= link_to "New Search", new_search_path, class: "bluebtn page_header_button tooltip-info",
                      "data-placement" => "bottom",
                      "data-title" => "Create new advanced search" %> -->

      <%= hidden_field_tag "query", value: @params_query %>
      <div class="btn-group inline pull-right">
        <a class="custom-data-toggle-jobs" data-toggle="dropdown" href="#">
          Export Results
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to "Export as Excel", "#",
                        class: "dropdown-menu-link tooltip-info submit-form",
                        "data-placement" => "left",
                        "data-title" => "Export results as Microsoft Excel file." %>
          </li>
        </ul>
      </div>
  <% end %>


</div>


<div class="alert alert-info">
  <% @query.constraints.each do |constraint| %>
      <div>
        <b>
          <% case constraint.data_type
                 when 1 %><span class="label label-success search-count">Well Data</span>
              - <%= Well.human_attribute_name(constraint.field) %>
              <% case constraint.operator.to_i
                     when 1 %> =
              <% when 2 %> <=
              <% when 3 %> >=
              <% end %>
              <%= constraint.value + " " + DynamicField.new.get_value_type_unit(constraint.units) %>
          <% when 2 %><span class="label label-warning search-count">Job Data</span>
              - <%= DynamicField.find_by_id(constraint.field).name %>
              <% case constraint.operator.to_i
                     when 1 %> =
              <% when 2 %> <=
              <% when 3 %> >=
              <% end %>
              <%= constraint.value %>
          <% when 3 %><span class="label label-inverse search-count">Customer</span>
              - <%= Client.find_by_id(constraint.client_id).name %>
          <% when 4 %><span class="label label-inverse search-count">District</span>
              - <%= District.find_by_id(constraint.district_id).name %>
          <% when 5 %><span class="label label-important search-count">Tool</span>
              - <%= Tool.find_by_id(constraint.field).name %>
          <% when 6 %><span class="label label-info search-count">Failure</span>
              - <%= Failure.find_by_id(constraint.field).text %>
          <% end %>
        </b>
      </div>
  <% end %>
</div>


<div id="jobs" class="list">
  <% @jobs.each do |job| %>
      <%= link_to job, class: "job-link" do %>
          <%= render 'jobs/job_data', job: job, in_form: false, form_editable: false, new_line_job_type: false %>
      <% end %>
  <% end %>
</div>

<%= will_paginate @jobs %>