<% provide(:title, 'Search for ' + @term) %>

<div class="page_header">
  <h1>Search for '<%= @term %>'</h1>

  <h2><%= @jobs.total_count + @users.count  %></h2>

</div>

<% if @districts.count > 0 %>
    <div id="districts_list">
      <% @districts.each do |district| %>
          <div>
            <%= link_to district, class: "job-link" do %>
                <%= render 'districts/district_line', district: district %>
            <% end %>
          </div>
      <% end %>
    </div>
    <hr>
<% end %>

<% if @users.count > 0 %>
    <div id="users_list">
      <% @users.each do |user| %>
          <div>
            <%= link_to user, class: "job-link" do %>
                <%= render 'users/user_line', user: user %>
            <% end %>
          </div>
      <% end %>
    </div>
    <hr>
<% end %>

<div id="jobs" class="list">
  <% @jobs.each do |job| %>
      <%= link_to job, class: "job-link" do %>
          <%= render 'jobs/job_data', job: job, form_editable: false, in_form: false, new_line_job_type: false %>
      <% end %>
  <% end %>
</div>

<%= will_paginate @jobs %>
