<% provide(:title, 'Search for ' + @term) %>

<div class="page_header">
  <h1>Search for '<%= @term %>'</h1>

  <% if !@jobs.nil? && @jobs.count > 0 %>
      <div class="btn-group inline pull-right">
        <a class="custom-data-toggle-jobs" data-toggle="dropdown" href="#">
          Export Jobs
        </a>
        <ul class="dropdown-menu">

          <li>
            <%= link_to "Export as Excel", request.url + "&format=xlsx",
                        class: "dropdown-menu-link tooltip-info",
                        "data-placement" => "left",
                        "data-title" => "Export results as Microsoft Excel file." %>
          </li>


        </ul>
      </div>
  <% end %>

  <div class="">
    <% if !@jobs.nil? && @jobs.any? %>
        <span class="label label-info search-count"><%= pluralize(@jobs.count, "Job") %></span>
    <% end %>
    <% if !@assets.nil? && @assets.any? %>
        <span class="label label-info search-count"><%= pluralize(@assets.count, "Asset") %></span>
    <% end %>
    <% if !@districts.nil? && @districts.any? %>
        <span class="label label-info search-count"><%= pluralize(@districts.count, "District") %></span>
    <% end %>
    <% if !@users.nil? && @users.any? %>
        <span class="label label-info search-count"><%= pluralize(@users.count, "Person") %></span>
    <% end %>
    <% if !@fields.nil? && @fields.any? %>
        <span class="label label-info search-count"><%= pluralize(@fields.count, "Field") %></span>
    <% end %>
    <% if !@wells.nil? && @wells.any? %>
        <span class="label label-info search-count"><%= pluralize(@wells.count, "Well") %></span>
    <% end %>
    <% if !@rigs.nil? && @rigs.any? %>
        <span class="label label-info search-count"><%= pluralize(@rigs.count, "Rig") %></span>
    <% end %>
  </div>

</div>

<% if !@districts.nil? && @districts.any? %>
    <div id="districts_list">
      <% @districts.each do |district| %>
          <div>
            <%= link_to district, class: "job-link" do %>
                <%= render 'districts/district_line', district: district %>
            <% end %>
          </div>
      <% end %>
    </div>
    <hr>
<% end %>

<% if !@users.nil? && @users.any? %>
    <div id="users_list">
      <% @users.each do |user| %>
          <div>
            <%= link_to user, class: "job-link" do %>
                <%= render 'users/user_line', user: user %>
            <% end %>
          </div>
      <% end %>
    </div>
    <hr>
<% end %>

<% if !@assets.nil? && @assets.any? %>
    <div id="assets_list">
      <div>Assets</div>
      <br>
      <% @assets.each do |asset| %>
          <% if asset.template? %>
              <%= render 'parts/sub_part2', part: asset, index: 0, show_warehouse: true, condensed: true, show_name: true %>
          <% else %>
              <%= render 'parts/part', part: asset %>
          <% end %>
      <% end %>
    </div>
    <hr>
<% end %>

<% if !@rigs.nil? && @rigs.any? %>
    <div id="rigs_list">
      <div>Rigs</div>
      <br>
      <% @rigs.each do |rig| %>
          <%= render rig %>
      <% end %>
    </div>
    <hr>
<% end %>

<% if !@fields.nil? && @fields.any? %>
    <div id="fields_list">
      <% @fields.each do |field| %>
          <div>
            <%= link_to field, class: "job-link" do %>
                <%= render 'fields/field_line', field: field %>
            <% end %>
          </div>
      <% end %>
    </div>
    <hr>
<% end %>

<% if !@wells.nil? && @wells.any? %>
    <div id="fields_list">
      <% @wells.each do |well| %>
          <div>
            <%= link_to well, class: "job-link" do %>
                <%= render 'wells/well_line', well: well %>
            <% end %>
          </div>
      <% end %>
    </div>
    <hr>
<% end %>

<div id="jobs" class="list">
  <% !@jobs.nil? && @jobs.each do |job| %>
      <% if job.job_template.present? %>
          <%= render 'jobs/job_progress_link', job: job %>
      <% end %>
  <% end %>
</div>

<%= will_paginate @jobs %>
