<% provide(:title, 'Search for ' + @term) %>

<div class="page_header">
  <h1>Search for '<%= @term %>'</h1>

  <div class="inline push-right-small">
    <% if !@jobs.nil? && @jobs.any? %>
        <span class="label label-info search-count"><%= pluralize(@jobs.count, "Job") %></span>
    <% end %>
    <% if !@districts.nil? && @districts.any? %>
        <span class="label label-info search-count"><%= pluralize(@districts.count, "District") %></span>
    <% end %>
    <% if !@users.nil? && @users.any? %>
        <span class="label label-info search-count"><%= pluralize(@users.count, "Person") %></span>
    <% end %>
    <% if !@fields.nil? && @fields.any? %>
        <span class="label label-info search-count"><%= pluralize(@fields.count, "Field") %></span>
    <% end %>
    <% if !@wells.nil? && @wells.any? %>
        <span class="label label-info search-count"><%= pluralize(@wells.count, "Well") %></span>
    <% end %>
  </div>


  <% if !@jobs.nil? && @jobs.any? %>
      <div class="btn-group inline pull-right">
        <a class="custom-data-toggle-jobs" data-toggle="dropdown" href="#">
          Export Results
        </a>
        <ul class="dropdown-menu">

          <li>
            <%= link_to "Export as Excel", request.url + "&format=xlsx",
                        class: "dropdown-menu-link tooltip-info",
                        "data-placement" => "left",
                        "data-title" => "Export results as Microsoft Excel file." %>
          </li>


        </ul>
      </div>
  <% end %>

</div>

<% if !@districts.nil? && @districts.any? %>
    <div id="districts_list">
      <% @districts.each do |district| %>
          <div>
            <%= link_to district, class: "job-link" do %>
                <%= render 'districts/district_line', district: district %>
            <% end %>
          </div>
      <% end %>
    </div>
    <hr>
<% end %>

<% if !@users.nil? && @users.any? %>
    <div id="users_list">
      <% @users.each do |user| %>
          <div>
            <%= link_to user, class: "job-link" do %>
                <%= render 'users/user_line', user: user %>
            <% end %>
          </div>
      <% end %>
    </div>
    <hr>
<% end %>

<% if !@fields.nil? && @fields.any? %>
    <div id="fields_list">
      <% @fields.each do |field| %>
          <div>
            <%= link_to field, class: "job-link" do %>
                <%= render 'fields/field_line', field: field %>
            <% end %>
          </div>
      <% end %>
    </div>
    <hr>
<% end %>

<% if !@wells.nil? && @wells.any? %>
    <div id="fields_list">
      <% @wells.each do |well| %>
          <div>
            <%= link_to well, class: "job-link" do %>
                <%= render 'wells/well_line', well: well %>
            <% end %>
          </div>
      <% end %>
    </div>
    <hr>
<% end %>

<div id="jobs" class="list">
  <% !@jobs.nil? && @jobs.each do |job| %>
      <% if job.job_template.present? %>
          <%= link_to job, class: "job-link" do %>
              <%= render 'jobs/job_data', job: job, form_editable: false, in_form: false, new_line_job_type: false %>
          <% end %>
      <% end %>
  <% end %>
</div>

<%= will_paginate @jobs %>
