<div class="page_header">
  <h1>Advanced Search</h1>

</div>

<%= form_tag(search_index_path, :method => 'post', action: "create", :multipart => true) do %>

    <div id="search_criteria">
      <%= render 'search/search_constraint', index: 0 %>
      <%= render 'search/search_constraint', index: 1 %>
      <%= render 'search/search_constraint', index: 2 %>
      <%= render 'search/search_constraint', index: 3 %>
      <%= render 'search/search_constraint', index: 4 %>
      <%= render 'search/search_constraint', index: 5 %>
      <%= render 'search/search_constraint', index: 6 %>
    </div>

    <%= link_to "+ Add another criteria", "#", id: "new_criteria",
                class: "add-search-field tooltip-info",
                "data-placement" => "bottom",
                "data-title" => "Add another criteria search in addition to existing ones" %>

    <%= submit_tag "Search", class: "bluebtn pull-right tooltip-info",
                   "data-title" => "Run the search" %>
<% end %>



<script type="text/javascript">
    (function ($) {
        $(document).ready(function () {

            for (var i = 0; i < 5; i++) {

                $('#district_name_' + i).data("autocomplete")._renderItem = function (ul, item) {
                    return $("<li class='item_" + item.id + "'></li>").data("item.autocomplete", item).append(
                            "<a>" + (item.id > 0 ? "<div><img src='/assets/district_extrasmall.png' class='job-member-avatar pull-left'></div>" : "") + "<div class='job-user'><strong>" + item.value + " </strong>" + (item.id > 0 ? "<div><p class='job-user-title'>" + item.country + ", " + item.state + "  " + item.city + "</p><p class='job-user-district'>" + item.region + "</p></div>" : "") + "</div></a>").appendTo(ul)
                }


                $('#client_name_' + i).data("autocomplete")._renderItem = function (ul, item) {
                    return $("<li class='item_" + item.id + "'></li>").data("item.autocomplete", item).append(
                            "<a>" + (item.id > 0 ? "<div><img src='/assets/user_avatar_client_extrasmall.png' class='job-member-avatar pull-left'></div>" : "") + "<div class='job-user'><strong>" + item.value + " </strong>" + (item.id > 0 ? "<div><p>" item.country + "</p></div>" : "") + "</div></a>").appendTo(ul)
                }
            }
        });
    }(jQuery));
</script>