<div class="page_header">
  <h1>Share</h1>

  <p class="share-document-name inline">"<%= @document.name %>"</p>
</div>

<div class="alert">
  When sharing with an outside organization, please proceed cautiously to make sure the email address is
  correct.
</div>


<div class="">
  <div class="sharing-form">
    <%= form_for DocumentShare.new, remote: true do |f| %>
        <%= f.hidden_field :document, value: @document.id %>
        <b>Email Address of person to share with</b>
        <br><br>
        <%= f.text_field :email, class: "txtfield" %>
        <%= f.submit "Share", class: "bluebtn btnsmall sharing-loading-on-click" %>
    <% end %>
  </div>
  <div class="sharing-loading center hidden">
    <br>
    <br>
    <span class="ajax-loading search-loading push-right"><b>Sharing document, please wait...</b></span>
    <br>
    <br>
  </div>
</div>

<hr>

<div>
  Existing Shares
  <% if !@document.document_shares.empty? %>
      - <b><%= @document.document_shares.count %></b>
  <% end %>
  <div id="document_shares_list">
    <br>
    <% @document.document_shares.each do |document_share| %>
        <%= render 'document_shares/document_share', document_share: document_share %>
    <% end %>

  </div>
  <% if @document.document_shares.empty? %>
      <p class="no-shares-text">0 - No shares yet</p>
  <% end %>
</div>


<hr>

<div class="actions">
  <%= link_to "Done", "#", class: "bluebtn gray pull-right", id: "close_modal" %>
</div>