<% if current_user.role.limit_to_assigned_jobs? %>
        <a href="<%= edit_issue_path(issue).to_s %>"
           class="job-status job-link tooltip-info show-modal-button"
           data-remote="true"
           data-placement="left"
           data-title="Click to open failure">
<% else %>
    <a href="/issues/<%= issue.id %>"
        class="job-status job-link tooltip-info"
                target="_blank"
                data-placement="left"
                data-title="Click to open failure">
<% end %>

    <div>

      <% if issue.job.status != Job::COMPLETE %>
          <span class="pull-right"><%= time_ago_in_words(issue.failure_at) %> ago</span>
      <% else %>
          <span class="pull-right"><%= issue.failure_at.strftime("%a %m/%d/%Y") %></span>
      <% end %>

      <div>
        <% if issue.status == Issue::OPEN %>
            <span class="label label-success">OPEN</span>
        <% elsif issue.status == Issue::CLOSED %>
            <span class="label label-important">CLOSED</span>
        <% end %>
      </div>

      <% if issue.failure.present? %>
          <div class=''>
            <%= issue.failure.failure_master_template.text %>
          </div>
      <% else %>
          <div class='warning-text'>Unknown Failure</div>
      <% end %>


    </div>

    <% if !show_job && issue.job_notes.any? %>
        <div class='push-down-small'>
          <i class="icon-comment"></i>

          <div class='inline-block push-right-small'><%= issue.job_notes.first.text %></div>
        </div>
    <% end %>

    <br>
    <%= render 'issues/part', issue: issue, no_link: true %>

    <% if !current_user.role.limit_to_assigned_jobs? && issue.responsible_by.present? %>
        <div class='push-down'>
          <%= render 'users/user_icon', user: issue.responsible_by, use_link: false, use_name: true %>
          <p class='inline-block help-text'> - Responsible Personnel</p>
          <br><br>
        </div>
    <% end %>

    <% if show_job %>
        <%= render 'jobs/job_progress', job: issue.job, show_summary_data: true, job_name: false %>
    <% else %>
        <% drilling_log = issue.job.drilling_log %>
        <% if drilling_log.present? %>
            <% surrounding = drilling_log.get_surrounding_entries(issue.failure_at, 2.hours) %>
            <% if drilling_log.present? && surrounding[1].any? && surrounding[1].first.present? %>
                <% bha = surrounding[1].first.bha %>

                <% if bha.present? %>
                    <b class='blue-text'>BHA</b> <%= bha.name %> <%= bha.description.present? ? " - #{bha.description}" : '' %>
                    <br>
                <% end %>
                <% if !surrounding[1].first.run_number.blank? %>
                    <b class='blue-text'>Run</b>&nbsp;&nbsp;<%= surrounding[1].first.run_number %>
                <% end %>
            <% end %>
        <% end %>
    <% end %>
    </a>