<%= link_to issue, class: "job-status job-link tooltip-info",
            target: "_blank",
            "data-placement" => "left",
            "data-title" => "Click to open failure" do %>

    <div>

      <% if issue.job.status != Job::COMPLETE %>
          <span class="pull-right"><%= time_ago_in_words(issue.failure_at) %> ago</span>
      <% else %>
          <span class="pull-right"><%= issue.failure_at.strftime("%a %m/%d/%Y") %></span>
      <% end %>

      <div>
        <% if issue.status == Issue::OPEN %>
            <span class="label label-success">OPEN</span>
        <% elsif issue.status == Issue::CLOSED %>
            <span class="label label-important">CLOSED</span>
        <% end %>
      </div>

      <% if issue.failure.present? %>
          <div class=''>
            <%= issue.failure.failure_master_template.text %>
          </div>
      <% else %>
      <div class='warning-text'>Unknown Failure</div>
      <% end %>


    </div>

    <br>
    <%= render 'issues/part', issue: issue, no_link: true %>

    <% if !current_user.role.limit_to_assigned_jobs? && issue.responsible_by.present? %>
        <div class='push-down'>
          <%= render 'users/user_icon', user: issue.responsible_by, use_link: false, use_name: true %>
          <p class='inline-block help-text'> - Responsible Personnel</p>
          <br><br>
        </div>
    <% end %>

    <% if show_job %>
        <%= render 'jobs/job_progress', job: issue.job, show_summary_data: true, job_name: false %>

    <% end %>
<% end %>