<% provide(:title, "Incidents") %>


<div style='height: 14px;'>
  <div class="map-container"
       style='position:absolute; left: 0; top: 54px; width:100%; height:82px;  background: #7c7c7c;'>
    <div id='map' class='dark'></div>
  </div>

  <div style='position: absolute; width: 100%; left: 0; right: 0; top: 54px; height: 40px; background: #11edf0; padding-top: 10px;'>
    <h2 class="job-title inline white-text" style="margin-left: 10px;">Incidents</h2>
  </div>
</div>


<div style='height: 52px;'>
  <div style='position: absolute; left: 0; width: 100%; height: 52px;'>
    <ul class="nav nav-pills alert alert-nav" style='border-radius: 0px; border-width: 0px;'>
      <li class="active">
        <a href="#" class="remote-tray-toggle custom-data-toggle tooltip-info"
           data-tray="overview"
           data-tray-controller="issues"
           data-placement="bottom" data-title="Overview">Overview
        </a>
      </li>
      <li class="">
        <a href="#" class="remote-tray-toggle custom-data-toggle tooltip-info"
           data-tray="open_issues"
           data-tray-controller="issues"
           data-placement="bottom" data-title="Open Incidents">Open Incidents</a>
      </li>
      <li class="">
        <a href="#" class="remote-tray-toggle custom-data-toggle tooltip-info"
           data-tray="all_issues"
           data-tray-controller="issues"
           data-placement="bottom" data-title="All Incidents">All Incidents</a>
      </li>
      <li class="push-right-small">
        <a href="#" class="remote-tray-toggle custom-data-toggle tooltip-info"
           data-tray="failure_types"
           data-tray-controller="issues"
           data-placement="bottom" data-title="Failures Types">Failure Types</a>
      </li>
      <% if false %>
          <li class="push-right-small">
            <a href="#" class="remote-tray-toggle custom-data-toggle tooltip-info"
               data-tray="explore"
               data-tray-controller="issues"
               data-placement="bottom" data-title="Failures Types">Explore</a>
          </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="remote-tray" data-tray="overview">
  <div class="remote-loading">
    <%= render 'layouts/inline_loading', title: "Please wait, loading overview..." %>
  </div>
</div>

<div class="remote-tray custom-data-closed" data-tray="open_issues">
  <div class="remote-loading">
    <%= render 'layouts/inline_loading', title: "Please wait, loading open issues..." %>
  </div>
</div>

<div class="remote-tray custom-data-closed" data-tray="all_issues">
  <div class="remote-loading">
    <%= render 'layouts/inline_loading', title: "Please wait, loading all issues..." %>
  </div>
</div>

<div class="remote-tray custom-data-closed" data-tray="failure_types">
  <div class="remote-loading">
    <%= render 'layouts/inline_loading', title: "Please wait, loading failure types..." %>
  </div>
</div>

<div class="remote-tray custom-data-closed" data-tray="explore">
  <div class="remote-loading">
    <%= render 'layouts/inline_loading', title: "Please wait, loading explore..." %>
  </div>
</div>


<script type='text/javascript'>
    if (document.location.hash == '') {
        tray = $(".remote-tray[data-tray='overview']");
        tray.find('.content').hide();
        tray.find('.remote-loading').removeClass('hidden');
        tray.find('.loading').removeClass('hidden');
        setTimeout(function () {
            $.ajax({
                url: "/issues?section=overview",
                type: "GET",
                dataType: "script"
            });
        }, 1);
    }
</script>
