<% provide(:title, "Issues") %>

<div class="page_header">
  <h1>Issues</h1>
</div>

<div>
  <% @issues.each do |issue| %>

      <%= link_to issue, class: "job-status job-link tooltip-info",
                  "data-placement" => "left",
                  "data-title" => "Click to open job" do %>

          <div>

            <span class="pull-right"><%= time_ago_in_words(issue.created_at) %> ago</span>

            <div>
              <% if issue.status == Issue::OPEN %>
                  <span class="label label-success">OPEN</span>
              <% elsif issue.status == Issue::CLOSED %>
                  <span class="label label-important">CLOSED</span>
              <% end %>
            </div>

            <% if issue.failure.present? %>
                <div>
                  <%= issue.failure.failure_master_template.text %>
                </div>
            <% end %>


          </div>

          <%= render 'jobs/job_progress', job: issue.job, show_summary_data: true, job_name: false %>

      <% end %>
  <% end %>
</div>

<%= will_paginate @issues %>