<% provide(:title, "Issue") %>

<div class="page_header">
  <h1>Issue</h1>
  <span class="push-right-small">Status <span class="label label-success"><%= @issue.status_string %></span></span>
  <span class="push-right">Opened <p class="inline push-right-small"><%= @issue.created_at.strftime("%a %m/%d/%Y %l:%M %p") %></p></span>

  <%= link_to "CLOSE CASE", "#", class: "bluebtn red pull-right" %>
</div>

<div>
  <%= render 'jobs/job_progress_link', job: @issue.job, show_summary_data: false, job_name: false %>
</div>

<div class="content">
  <div class="field">
    <%= form_for(JobNote.new, :html => {class: "", id: "new_note_form"}, remote: true) do |f| %>
        <div class="new-product-line well">
          <div class="form" data-form="new-note-form">
            <%= f.hidden_field :job_id, value: @issue.job.id %>
            <%= f.hidden_field :assign_to_id, id: "new_note_name_id" %>

            <b>Add new note</b>

            <%= f.text_area :text, placeholder: I18n.t("jobs.show.new_note_prompt"),
                            class: "txtfield job-notes-text tooltip-info", autofocus: false,
                            id: "new_note_id",
                            "data-placement" => "bottom",
                            "data-title" => "Note/Action text" %>

            <%= f.submit "Add note", class: "bluebtn btnsmall inline pull-right tooltip-info form-loading-on-click",
                         "data-form" => "new-note-form",
                         "data-placement" => "bottom",
                         "data-title" => "Add new note/action" %>


            <br><br>
          </div>

          <div class="form-loading hidden" data-form="new-note-form">
            <%= render 'layouts/inline_loading', title: "Creating note..." %>
            <br><br>
          </div>

        </div>
    <% end %>
  </div>
</div>
<div id="job_notes" class="content">
  <% @issue.job.job_notes.includes(comments: :user).each do |job_note| %>
      <%= render 'job_notes/job_note', job_note: job_note %>
  <% end %>
</div>
