<% provide(:title, "Issue") %>

<div class="page_header">

  <div class="btn-group inline pull-right push-down">
    <a class="custom-data-toggle-jobs" data-toggle="dropdown" href="#">
      Advanced Actions
    </a>
    <ul class="dropdown-menu">
      <% if @issue.failure_id.present? %>
          <li>
            <%= link_to "Edit Failure", "#",
                        id: "edit_failure",
                        class: "dropdown-menu-link tooltip-info",
                        "data-placement" => "left",
                        "data-title" => "Edit Failure Type, Asset, and Personnel" %>
          </li>
          <li class="divider"></li>
      <% end %>
      <li>
        <%= link_to "Edit Time", edit_issue_path(issue: @issue), remote: true,
                    class: "dropdown-menu-link tooltip-info show-modal-button",
                    "data-placement" => "left",
                    "data-title" => "Edit Incident Date/Time" %>
      </li>
      <li class="divider"></li>
      <li>
        <%= link_to "Delete Incident", @issue, method: :delete,
                    data: {confirm: "Permanently Delete Incident?"},
                    class: "dropdown-menu-link tooltip-info",
                    "data-placement" => "left",
                    "data-title" => "Permanently delete incident." %>
      </li>
    </ul>
  </div>

  <h1>Incident</h1>
  <span class="push-right-small">
    Status
    <span class="label label-success status-open <%= @issue.status == Issue::OPEN ? "" : "hidden" %>">OPEN</span>
    <span class="label label-important status-closed <%= @issue.status == Issue::CLOSED ? "" : "hidden" %>">CLOSED</span>
  </span>
  <span class="push-right"><h3 class="inline push-right-small" id="incident_failure_date"><%= @issue.failure_at.strftime("%a %m/%d/%Y") %></h3><h1 class="inline push-right-small" id="incident_failure_time"><%= @issue.failure_at.strftime("%l:%M %p") %></h1></span>
</div>



<% limit_access = current_user.role.limit_to_assigned_jobs? %>

<div class='well'>

  <div class='inline-block pull-right'>

    <% if !limit_access %>
        <div class="">
          <%= check_box_tag "accountable", "", @issue.accountable,
                            class: "regular-checkbox issue-update-field",
                            id: "accountable",
                            "data-id" => @issue.id,
                            "data-field" => "accountable" %>
          <label for="accountable"></label>

          <p class="checkbox-label">Accountable</p>
        </div>
    <% end %>

    <% if false %>
        <%= render 'issues/part', issue: @issue, no_link: false %>
    <% end %>
  </div>

  <% if !limit_access %>
      <div>

        <% found_pm = @issue.job.part_memberships.where("part_memberships.part_id = ?", @issue.part_id).first %>

        <div id="edit_failure_fields" class="<%= @issue.failure_id.present? ? "hidden" : "" %>">
          <%= select_tag "failure_id", options_for_select(@issue.job.job_template.failures.collect { |f| [f.failure_master_template.text, f.id] }, @issue.failure_id),
                         prompt: "Select a Failure...",
                         class: "inline-block custom-select-long custom-select custom-select-ajax issue-update-field",
                         "data-id" => @issue.id,
                         "data-field" => "failure_id" %>

          <div class=''>


            <% options = @issue.job.part_memberships.collect { |p| [p.name + (p.serial_number.blank? ? '' : ' (' + p.serial_number + ')'), p.id] } %>
            <% options << ["No Responsible Asset", 0] %>
            <%= select_tag "part_membership_id", options_for_select(options, found_pm.present? ? found_pm.id : nil),
                           prompt: "(Optional) Select asset...",
                           class: "inline-block custom-select custom-select-ajax inline-block issue-update-field align-top",
                           "data-id" => @issue.id,
                           "data-field" => "part_membership_id" %>

            <%= select_tag "responsible_by_id", options_for_select(@issue.job.job_memberships.select { |jm| jm.user.present? && (jm.job_role_id == JobMembership::FIELD || jm.job_role_id == JobMembership::SHOP) }.collect { |jm| [jm.user.name, jm.user_id] }, @issue.responsible_by_id),
                           prompt: "(Optional) Responsible personnel...",
                           class: "inline-block custom-select custom-select-ajax inline-block issue-update-field align-top",
                           "data-id" => @issue.id,
                           "data-field" => "responsible_by_id" %>

          </div>
        </div>

        <div id="show_failure_values" class="<%= @issue.failure_id.present? ? "" : "hidden" %>">

          <% if @issue.failure_id.present? %>
              <h3><%= @issue.failure.failure_master_template.text %></h3>

              <br>
              <% if found_pm.present? && found_pm.part.present? %>
                  <div class='inline-block'>
                    <%= render 'part_memberships/part_membership', part_membership: found_pm, allow_remove: false %>
                  </div>
              <% end %>

              <% if  @issue.responsible_by_id.present? %>
                  <div class='inline-block push-right'>
                    <%= render 'users/icon', user: @issue.responsible_by %><%= render 'activities/user', user: @issue.responsible_by %>
                  </div>
              <% end %>
          <% end %>
        </div>
      </div>
  <% end %>

  <div>
    <div class="content" id="documents_issue">
      <% @issue.documents.each do |document| %>
          <%= render 'documents/document', document: document, editable: false, can_upload: true %>
      <% end %>
    </div>
    <%= link_to "Add Document", new_document_path(modal: true, issue: @issue.id),
                remote: true,
                class: "add-custom-document tooltip-info show-modal-button",
                "data-placement" => "left",
                "data-title" => "Add new document" %>
    <span class='help-text'>(failure report, etc)</span>
  </div>
  <hr>

  <% if @issue.status == Issue::OPEN && !limit_access %>
      <div>
        <div class="push-right-small">
          <%= link_to "CLOSE Incident Case", "#", "data-id" => @issue.id, class: "bluebtn green close-case-link" %>
          <span class="hidden ajax-loading issue-closing-loading"><b>Closing...</b></span>
        </div>
      </div>
  <% end %>

</div>


<div>
  <%= render 'jobs/job_progress_link', job: @issue.job, show_summary_data: false, job_name: false %>
  <br>
</div>


<div>
  <ul class="nav nav-pills alert alert-nav">
    <li class="active">
      <a href="#" class="remote-tray-toggle custom-data-toggle tooltip-info"
         data-tray="notes"
         data-id="<%= @issue.id %>"
         data-tray-controller="issues"
         data-placement="bottom" data-title="Description/Notes">Description/Notes
      </a>
    </li>

    <li class="">
      <a href="#" class="remote-tray-toggle custom-data-toggle tooltip-info"
         data-tray="conditions"
         data-id="<%= @issue.id %>"
         data-tray-controller="issues"
         data-placement="bottom" data-title="Past Occurrences">Running Conditions</a>
    </li>

    <li class="">
      <a href="#" class="remote-tray-toggle custom-data-toggle tooltip-info"
         data-tray="bha"
         data-id="<%= @issue.id %>"
         data-tray-controller="issues"
         data-placement="bottom" data-title="Current BHA">Current BHA</a>
    </li>

    <li class="">
      <a href="#" class="remote-tray-toggle custom-data-toggle tooltip-info"
         data-tray="past_occurrences"
         data-id="<%= @issue.id %>"
         data-tray-controller="issues"
         data-placement="bottom" data-title="Past Occurrences">Past Occurrences</a>
    </li>
  </ul>
</div>


<div class="remote-tray" data-tray="notes">
  <div class="remote-loading">
    <%= render 'layouts/inline_loading', title: "Please wait, loading notes..." %>
  </div>
</div>

<div class="remote-tray custom-data-closed" data-tray="conditions">
  <div class="remote-loading">
    <%= render 'layouts/inline_loading', title: "Please wait, loading running conditions..." %>
  </div>
</div>

<div class="remote-tray custom-data-closed" data-tray="bha">
  <div class="remote-loading">
    <%= render 'layouts/inline_loading', title: "Please wait, loading current BHA..." %>
  </div>
</div>

<div class="remote-tray custom-data-closed" data-tray="past_occurrences">
  <div class="remote-loading">
    <%= render 'layouts/inline_loading', title: "Please wait, loading past occurences..." %>
  </div>
</div>


<div id="modal_popup" class="modal-popup-background">
  <div class="modal-popup modal-popup-fixed">
    <%= link_to "close", "#", class: "delete-button modal-popup-close", id: "close_modal" %>
    <div class="modal-content">
    </div>
    <%= render "layouts/inline_loading", title: "Loading..." %>
  </div>
</div>

<script type='text/javascript'>
    if (document.location.hash == '') {
        tray = $(".remote-tray[data-tray='notes']");
        tray.find('.content').hide();
        tray.find('.remote-loading').removeClass('hidden');
        tray.find('.loading').removeClass('hidden');
        setTimeout(function () {
            $.ajax({
                url: "/issues/<%= @issue.id %>?section=notes",
                type: "GET",
                dataType: "script"
            });
        }, 1);
    }

    $('#edit_failure').click(function () {
        $(this).hide();
        $('#edit_failure_fields').removeClass('hidden');
        $('#show_failure_values').addClass('hidden');
    });
</script>
