<% provide(:title, "Issue") %>

<div class="page_header">
  <h1>Incident</h1>
  <span class="push-right-small">
    Status
    <span class="label label-success status-open <%= @issue.status == Issue::OPEN ? "" : "hidden" %>">OPEN</span>
    <span class="label label-important status-closed <%= @issue.status == Issue::CLOSED ? "" : "hidden" %>">CLOSED</span>
  </span>
  <span class="push-right"><p class="inline push-right-small"><%= @issue.failure_at.strftime("%a %m/%d/%Y %l:%M %p") %></p></span>
</div>




<div class='well'>

  <div class='inline-block pull-right'>

    <div class="">
      <%= check_box_tag "accountable", "", @issue.accountable,
                        class: "regular-checkbox issue-update-field",
                        id: "accountable",
                        "data-id" => @issue.id,
                        "data-field" => "accountable" %>
      <label for="accountable"></label>

      <p class="checkbox-label">Accountable</p>
    </div>

    <% if false %>
        <%= render 'issues/part', issue: @issue, no_link: false %>
    <% end %>
  </div>

  <div>

    <%= select_tag "failure_id", options_for_select(@issue.job.job_template.failures.collect { |f| [f.failure_master_template.text, f.id] }, @issue.failure_id),
                   prompt: "Select a Failure...",
                   class: "inline-block custom-select-long custom-select custom-select-ajax issue-update-field",
                   "data-id" => @issue.id,
                   "data-field" => "failure_id" %>

    <div class=''>

      <% found_pm = @issue.job.part_memberships.where("part_memberships.part_id = ?", @issue.part_id).first %>
      <% options = @issue.job.part_memberships.collect { |p| [p.name + (p.serial_number.blank? ? '' : ' (' + p.serial_number + ')'), p.id] } %>
      <% options << ["No Responsible Asset", 0] %>
      <%= select_tag "part_membership_id", options_for_select(options, found_pm.present? ? found_pm.id : nil),
                     prompt: "(Optional) Select asset...",
                     class: "inline-block custom-select custom-select-ajax inline-block issue-update-field",
                     "data-id" => @issue.id,
                     "data-field" => "part_membership_id" %>

      <%= select_tag "responsible_by_id", options_for_select(@issue.job.job_memberships.select { |jm| jm.user.present? && (jm.job_role_id == JobMembership::FIELD || jm.job_role_id == JobMembership::SHOP) }.collect { |jm| [jm.user.name, jm.user_id] }, @issue.responsible_by_id),
                     prompt: "(Optional) Responsible personnel...",
                     class: "inline-block custom-select custom-select-ajax inline-block issue-update-field",
                     "data-id" => @issue.id,
                     "data-field" => "responsible_by_id" %>
    </div>
  </div>

  <% if !current_user.role.limit_to_assigned_jobs? && @issue.responsible_by.present? %>
      <div class='push-down'>
        <%= render 'users/icon', user: @issue.responsible_by %><%= render 'activities/user', user: @issue.responsible_by %>
        <p class='inline-block help-text'> - Responsible Personnel</p>
      </div>
  <% end %>

  <div>
    <div class="content">
      <% @issue.documents.each do |document| %>
          <%= render 'documents/document', document: document, editable: false, can_upload: true %>
      <% end %>
    </div>
  </div>

  <% if @issue.status == Issue::OPEN %>
      <div>
        <div class="push-right-small">
          <%= link_to "CLOSE Issue Case", "#", "data-id" => @issue.id, class: "bluebtn green close-case-link" %>
          <span class="hidden ajax-loading issue-closing-loading"><b>Closing...</b></span>
        </div>
      </div>
  <% end %>

</div>


<div>
  <%= render 'jobs/job_progress_link', job: @issue.job, show_summary_data: false, job_name: false %>
  <br>
</div>

<div>
  <ul class="nav nav-pills alert alert-nav">
    <li class="active">
      <a href="#" class="job-tray-toggle custom-data-toggle tooltip-info"
         data-tray="notes"
         data-placement="bottom" data-title="Description/Notes">Description/Notes
      </a>
    </li>

    <li class="">
      <a href="#" class="job-tray-toggle custom-data-toggle tooltip-info"
         data-tray="conditions"
         data-placement="bottom" data-title="Past Occurrences">Running Conditions</a>
    </li>

    <li class="">
      <a href="#" class="job-tray-toggle custom-data-toggle tooltip-info"
         data-tray="past_occurrences"
         data-placement="bottom" data-title="Past Occurrences">Past Occurrences</a>
    </li>
  </ul>
</div>


<div class='job-tray' data-tray="notes">
  <div class="content">

    <div class='page_header'>
      <h2>Description/Notes</h2>
    </div>

    <div class="field">
      <%= form_for(JobNote.new, :html => {class: "", id: "new_note_form"}, remote: true) do |f| %>
          <div class="new-product-line">
            <div class="form" data-form="new-note-form">
              <%= f.hidden_field :issue_id, value: @issue.id %>

              <p><b>Add new note</b></p>

              <%= f.text_area :text, placeholder: I18n.t("jobs.show.new_note_prompt"),
                              class: "txtfield job-notes-text tooltip-info", autofocus: false,
                              id: "new_note_id",
                              "data-placement" => "bottom",
                              "data-title" => "Note/Action text" %>

              <%= f.submit "Add note", class: "bluebtn btnsmall inline pull-right tooltip-info form-loading-on-click",
                           "data-form" => "new-note-form",
                           "data-placement" => "bottom",
                           "data-title" => "Add new note/action" %>


              <br><br>
            </div>

            <div class="form-loading hidden" data-form="new-note-form">
              <%= render 'layouts/inline_loading', title: "Creating note..." %>
              <br><br>
            </div>

          </div>
      <% end %>
    </div>
  </div>
  <div id="job_notes" class="content">
    <% @issue.job_notes.includes(comments: :user).each do |job_note| %>
        <%= render 'job_notes/job_note', job_note: job_note %>
    <% end %>
  </div>
</div>

<div class='job-tray custom-data-closed' data-tray="past_occurrences">
  <div class='content'>
    <div class='page_header'>
      <h2 class="inline">Past Occurrences</h2>
    </div>

    <% if @issue.failure.present? %>
        <%= render 'issues/history', failure: @issue.failure %>
    <% else %>
        <p class='help-text'>Failure type must be set to view past occurences...</p>
    <% end %>
  </div>
</div>

<div class='job-tray custom-data-closed' data-tray="conditions">
  <div class='content'>
    <div class='page_header'>
      <h2 class="inline">Running Conditions</h2>
    </div>

    <% drilling_log = @issue.job.drilling_log %>
    <% if drilling_log.present? %>
        <% surrounding = drilling_log.get_surrounding_entries(@issue.failure_at, 2.hours) %>
        <% if surrounding[0].any? %>

            <h3 class='blue-text'>Activities</h3>
            <br>
            <% surrounding[1].each do |entry| %>
                <% if !entry.nil? %>
                    <%= render 'drilling_log_entries/drilling_log_entry', entry: entry, editable: false %>
                <% end %>
            <% end %>
            <br>

            <% well_plan = @issue.job.well_plan %>
            <% survey = @issue.job.survey %>
            <% survey_points = survey.present? && well_plan.present? ? survey.calculated_points(well_plan.vertical_section_azimuth) : nil %>
            <div>
              <h3 class='inline-block blue-text'>Parameters</h3><b class='help-text push-right-small'>4 hour window</b>
            </div>
            <br>
            <%= render 'drilling_logs/range_details', entries: surrounding[0], survey_points: survey_points %>
        <% else %>
            <p class='help-text'>No running conditions are available...</p>
        <% end %>
    <% else %>
        <p class='help-text'>No running conditions are available...</p>
    <% end %>

  </div>
</div>