<% provide(:title, "Issue") %>

<div class="page_header">
  <h1>Issue</h1>
  <span class="push-right-small">
    Status
    <span class="label label-success status-open <%= @issue.status == Issue::OPEN ? "" : "hidden" %>">OPEN</span>
    <span class="label label-important status-closed <%= @issue.status == Issue::CLOSED ? "" : "hidden" %>">CLOSED</span>
  </span>
  <span class="push-right"><p class="inline push-right-small"><%= @issue.failure_at.strftime("%a %m/%d/%Y %l:%M %p") %></p></span>

  <div class="pull-right">
    <% if @issue.status == Issue::OPEN %>
        <%= link_to "CLOSE Issue", "#", "data-id" => @issue.id, class: "bluebtn green close-case-link" %>
        <span class="hidden ajax-loading issue-closing-loading"><b>Closing...</b></span>
    <% end %>
  </div>
</div>

<div class='inline-block pull-right'>
  <%= render 'issues/part', issue: @issue, no_link: false %>
</div>

<div>
  <div><%= @issue.failure.failure_master_template.product_line.name %>
    / <%= @issue.job.job_template.name %></div>
  <div><h3 class="warning-text"><%= @issue.failure.failure_master_template.text %></h3></div>
</div>

<div>
  <br>
  <%= render 'jobs/job_progress_link', job: @issue.job, show_summary_data: false, job_name: false %>
</div>

<div>
  <div class="content">
    <% @issue.documents.each do |document| %>
        <%= render 'documents/document', document: document, editable: false, can_upload: true %>
    <% end %>
  </div>
</div>

<div class="content">
  <div class="field">
    <%= form_for(JobNote.new, :html => {class: "", id: "new_note_form"}, remote: true) do |f| %>
        <div class="new-product-line well">
          <div class="form" data-form="new-note-form">
            <%= f.hidden_field :issue_id, value: @issue.id %>

            <b>Add new note</b>

            <%= f.text_area :text, placeholder: I18n.t("jobs.show.new_note_prompt"),
                            class: "txtfield job-notes-text tooltip-info", autofocus: false,
                            id: "new_note_id",
                            "data-placement" => "bottom",
                            "data-title" => "Note/Action text" %>

            <%= f.submit "Add note", class: "bluebtn btnsmall inline pull-right tooltip-info form-loading-on-click",
                         "data-form" => "new-note-form",
                         "data-placement" => "bottom",
                         "data-title" => "Add new note/action" %>


            <br><br>
          </div>

          <div class="form-loading hidden" data-form="new-note-form">
            <%= render 'layouts/inline_loading', title: "Creating note..." %>
            <br><br>
          </div>

        </div>
    <% end %>
  </div>
</div>
<div id="job_notes" class="content">
  <% @issue.job_notes.includes(comments: :user).each do |job_note| %>
      <%= render 'job_notes/job_note', job_note: job_note %>
  <% end %>
</div>

<br><br>
<%= render 'issues/history', failure: @issue.failure.failure_master_template %>