<% provide(:title, 'History') %>

<div class="page_header">
  <h1>History</h1>

  <h2>
    <% if @activities.count > 0 %>
        <% if params[:page].present? %>
            <%= ((Integer(params[:page]) - 1) * 10) + 1 %> - <%= [((Integer(params[:page]) - 1) * 10) + 10, @activities.count].min %> of <%= @activities.count.to_s %>
        <% else %>
            1 - 10 of <%= @activities.count.to_s %>
        <% end %>
    <% end %>
  </h2>
</div>


<div id="activities" class="list">
  <% @activities.each do |activity| %>
      <%= render 'activities/job_activity', activity: activity, inside_job: false %>
  <% end %>
</div>

<%= will_paginate @activities %>
