<div>
  <div class='pull-right' style='margin-top: -30px;'>
    <%= link_to new_conversation_path,
                class: "btn btn-default white-text",
                style: "background: #23d0f5; border-radius: 100px; padding: 5px; width: 20px; border-width: 0px;" do %>
        <i class="icon-plus icon-white"></i>
    <% end %>
  </div>


  <div id="messages_full_window">
    <div style="float: left; margin-top: 20px; width: 50px;">
      <%= render "conversations/conversation_list", conversations: conversations %>
    </div>

    <% conversation = conversations.first %>
    <% if conversation.present? %>
        <%= render 'conversations/conversation_full2', conversation: conversation %>
    <% end %>
  </div>

  <div id="new_message" class='hidden'>
    <div class="form" data-form="new_message">
      <%= form_for Conversation.new, remote: true do |f| %>


          <div class="new-message-div">
            <br><br>
            <div class=" tooltip-info"
                 data-placement="left"
                 style="max-width: 360px !important; z-index: 1000000000000;"
                 data-title="Type names of people to add to message. Multiple recipients can be added.">
              <b class="inline white-text">Recipients</b>
              <% @recipients = [] %>
              <%= f.text_field :message_recipients,
                               class: "txtfield inline",
                               autofocus: true, id: "message_recipients_tokens",
                               "data-pre" => @recipients.map(&:attributes).to_json %>
            </div>

            <br>


            <%= f.text_area :message_text, class: "new-message-body tooltip-info",
                            style: "width: 360px;",
                            placeholder: "Message text...",
                            "data-placement" => "left",
                            "data-title" => "Message text" %>

            <div class="content actions" style="margin-right: 40px;">
              <%= f.submit "Send Message", class: "bluebtn pull-right tooltip-info form-loading-on-click align-top",
                           "data-title" => "Send message to recipients",
                           "data-form" => "new_message" %>

              <%= link_to "Cancel", :back, class: "activity-user-link white-text pull-right  push-left-small tooltip-info align-top",
                          "data-title" => "Cancel new message and go back" %>
            </div>
          </div>

      <% end %>
    </div>

    <div class="form-loading center hidden" data-form="new_message">
      <span class="ajax-loading search-loading"><b>Sending message...</b></span>
    </div>

  </div>
</div>