<% provide(:title, I18n.t("conversations.messages.title")) %>


<div class="page_header">
  <h1><%= t "conversations.messages.title" %></h1>

  <h2><%= @conversations.count() %></h2>

  <%= link_to "+ " + I18n.t("conversations.messages.new"), new_conversation_path, class: "bluebtn page_header_button" %>
</div>


<% if @conversations.empty? %>

    <div class="no-alerts">
      <p class="center"><%= t "conversations.messages.no_conversations" %></p>
    </div>

<% else %>
    <div class="messages-container">

      <%= render 'conversations/conversation_full', conversation: @conversations.first %>

      <ol id="conversations_list" class="conversations-list">
        <%= render @conversations %>
      </ol>

    </div>

<% end %>
