<h1 class="page-title"><%= t ".title" %></h1>

<br>

<%= form_for @conversation do |f| %>


    <div class="new-message-div">
      <div class="field">
        <h3 class="inline">Recipients</h3>
        <%= f.text_field :message_recipients, class: "txtfield inline",
                autofocus: true, id: "message_recipients_tokens",
                "data-pre" => @recipients.map(&:attributes).to_json %>
      </div>


      <%= f.text_area :message_text, class: "new-message-body",
                    placeholder: "Message text...",
                    value: @conversation.message_text %>

      <div class="content actions">
        <%= f.submit "Send Message", class: "bluebtn pull-right" %>
      </div>
    </div>

<% end %>
