<%= render 'shared/error_messages', object: f.object %>

<div class="header">
  <h2>Job Type</h2>
</div>

<div class="content">
  <div class="">

    <p class="help-text">Select the job type beginning with division, segment and product line...</p><br>

    <%= select_tag "Divisions", options_for_select(@divisions.collect { |p| [p.name, p.id] }),
                   prompt: "Select a Division...", id: "job_division_id" %>

    <%= select_tag "Segments", options_for_select(@segments.collect { |p| [p.name, p.id] }),
                   prompt: "Select a Segment...", id: "job_segment_id" %>

    <%= select_tag "Product Lines", options_for_select(@product_lines.collect { |p| [p.name, p.id] }),
                   prompt: "Select a Product Line...", id: "job_product_line_id" %>

    <%= f.select :job_template_id, @job_templates.collect { |p| [p.name, p.id] },
                 prompt: "Select a Job Type..." %>

    <div id="job_description" class="content">

    </div>

  </div>
</div>

<div class="header">
  <h2>Required Information</h2>
</div>

<div class="content">


  <div class="field stripe">
    <%= f.label :client_id, class: "field-title" %>
    <%= f.select :client_id, @clients.collect { |p| [p.name, p.id] },
                 prompt: "Selected a Client..." %>
  </div>

  <div class="field stripe">
    <%= f.label :district_id, class: "field-title" %>
    <%= f.select :district_id, @districts.collect { |p| [p.name, p.id] },
                 value: current_user.district.id %>
  </div>

  <div class="field stripe">
    <%= f.label :field_id, class: "field-title" %>
    <%= f.select :field_id, @fields.collect { |p| [p.name, p.id] },
                 prompt: "Select a Field" %>
    <%= link_to "New", new_field_path, remote: true, class: "add-button", id: "new_field_link" %>
  </div>

  <div class="field stripe">
    <%= f.label :well_id, class: "field-title" %>
    <%= f.select :well_id, @wells.collect { |p| [p.name, p.id] },
                 prompt: "Select a Well"%>
    <%= link_to "New", new_well_path, remote: true, class: "add-button", id: "new_well_link" %>
  </div>

</div>