<%= render 'shared/error_messages', object: f.object %>


<div class="content">
  <div class="">


    <p class="">
      <strong class="job-division-segment-div">Division</strong>
      <strong class="job-division-segment-div push-right-small">Segment</strong>
      <strong class="job-division-segment-div push-right-small">Product Line</strong>
    </p>

    <%= select_tag "Divisions", options_for_select(@divisions.collect { |p| [p.name, p.id] }, @division.present? ? @division.id : nil),
                   class: "tooltip-info",
                   "data-placement" => "bottom",
                   "data-title" => "Division",
                   prompt: "Select a Division...", id: "job_division_id" %>

    <%= select_tag "Segments", options_for_select(@segments.collect { |p| [p.name, p.id] }, @segment.present? ? @segment.id : nil),
                   class: "tooltip-info push-right-small",
                   "data-placement" => "bottom",
                   "data-title" => "Segment",
                   prompt: "Select a Segment...", id: "job_segment_id" %>

    <%= select_tag "Product Lines", options_for_select(@product_lines.collect { |p| [p.name, p.id] }, @product_line.present? ? @product_line.id : nil),
                   class: "tooltip-info push-right-small",
                   "data-placement" => "bottom",
                   "data-title" => "Product Line",
                   prompt: "Select a Product Line...", id: "job_product_line_id" %>

    <%= f.select :job_template_id, options_for_select(@job_templates.collect { |p| [p.name, p.id] }),
                 {selected: !@job.job_template.nil? ? @job.job_template.id : nil, prompt: "Select a Job Type..."},
                 class: "tooltip-info hidden",
                 "data-placement" => "bottom",
                 "data-title" => "Job Type Name" %>

    <hr>



    <div id="job_templates_list" class="">
      <% if @job_templates.present? and @job_templates.any? %>
          <%= render 'job_templates/job_templates_list', job_templates: @job_templates, job_template: @job.job_template %>
      <% else %>
          <b class="warning-text">No Job types on this product line (please contact IT support)</b>
      <% end %>
    </div>

    <div class="loading hidden">
      <br>
      <br>
      <span class="ajax-loading search-loading push-right"><b>Loading, please wait</b></span>
      <br>
      <br>
    </div>

    <hr>

  </div>
</div>

<div class="job-creating-part2 <%= @job.errors.any? ? "" : "hidden" %>">
  <div class='alert'>
    <b>Now select customer, district, field, and well</b>
  </div>

  <div class="well well-large ">

    <div class="">

      <%= f.hidden_field :client_id, id: "client_id" %>
      <%= image_tag "user_avatar_client_extrasmall.png", class: "job-status-avatar" %>
      <%= text_field_tag "", "", data: {autocomplete_source: clients_path},
                         placeholder: "Type a customer name...",
                         value: !@job.client.nil? ? @job.client.name : nil,
                         id: "client_name", class: "txtfield small tooltip-info",
                         "data-placement" => "bottom",
                         "data-title" => "Customer Name, select from drop down based on search results" %>

      <div class="inline">

        <%= f.hidden_field :district_id, id: "district_id" %>
        <%= image_tag "district_extrasmall.png", class: "job-status-avatar push-right-small" %>
        <%= text_field_tag "", "", data: {autocomplete_source: districts_path},
                           value: !@job.district.nil? ? @job.district.name : nil,
                           placeholder: "Type a district name...",
                           id: "district_name", class: "txtfield small tooltip-info",
                           "data-placement" => "bottom",
                           "data-title" => "District Name, select from drop down based on search results" %>
      </div>
    </div>

    <hr>


    <div class="field">
      <%= f.label :field_id, class: "field-title" %>
      <%= f.select :field_id, options_for_select(@fields.collect { |p| [p.name, p.id] }),
                   {selected: !@job.field.nil? ? @job.field.id : nil, prompt: "Select a Field..."},
                   class: "tooltip-info",
                   "data-placement" => "bottom",
                   "data-title" => "Field Name" %>
      <%= link_to "New", new_field_path, remote: true, class: "add-button tooltip-info", id: "new_field_link",
                  "data-placement" => "bottom",
                  "data-title" => "Create new field" %>

      <div class="">
        <%= f.label :well_id, class: "field-title" %>
        <%= f.select :well_id, options_for_select(@wells.collect { |p| [p.name, p.id] }),
                     {selected: !@job.field.nil? ? @job.field.id : nil, prompt: "Select a Well..."},
                     class: "tooltip-info",
                     "data-placement" => "bottom",
                     "data-title" => "Well Name" %>
        <%= link_to "New", new_well_path, remote: true, class: "add-button tooltip-info", id: "new_well_link",
                    "data-placement" => "bottom",
                    "data-title" => "Create new well" %>
      </div>
    </div>


  </div>
</div>


<script type="text/javascript">
    (function ($) {
        $(document).ready(function () {
            $('#district_name').data("autocomplete")._renderItem = function (ul, item) {
                return $("<li class='item_" + item.id + "'></li>").data("item.autocomplete", item).append(
                        "<a><div><img src='/assets/district_extrasmall.png' class='job-member-avatar pull-left'></div><div><div class='job-user'><strong>" + item.value + " </strong><div><p class='job-user-title'>" + item.country + ", " + item.state + "  " + item.city + "</p><p class='job-user-district'>" + item.region + "</p></div></div></div></a>").appendTo(ul)
            }

            $('#client_name').data("autocomplete")._renderItem = function (ul, item) {
                return $("<li class='item_" + item.id + "'></li>").data("item.autocomplete", item).append(
                        "<a><div><img src='/assets/user_avatar_client_extrasmall.png' class='job-member-avatar pull-left'></div><div><div class='job-user'><strong>" + item.value + " </strong></div><div><p>United States</p></div></div></a>").appendTo(ul)
            }
        });
    }(jQuery));
</script>
