<div>
  <% if show_stats && !current_user.role.limit_to_assigned_jobs? %>
      <div class="well">
        <%= render 'jobs/index_parts/jobs_count', jobs: @jobs %>
      </div>
  <% end %>


  <%= render 'jobs/index_list' %>


  <% if show_map %>
      <script type='text/javascript'>
          var map = L.mapbox.map('map', 'elephant.map-vum3on5g');
          map.markerLayer.setGeoJSON([]);
          map.attributionControl = false;
          map.scrollWheelZoom.disable();

          $('.mapbox-info-toggle').remove();

          var geoJson = [];

          <% coordinates_for_zoom = [] %>
          <% @jobs.each do |job| %>
          <% if !job.well.location.blank? %>
          <% x = job.well.x_location %>
          <% y = job.well.y_location  %>
          <% coordinates_for_zoom << [y, x] %>
          geoJson.push({
              "type": "Feature",
              "geometry": {
                  "type": "Point",
                  "coordinates": [<%= x %>, <%= y %>]
              },
              "properties": {
                  title: '<%= job.field.name + ' | ' + job.well.name %>',
                  'marker-size': 'medium',
                  'marker-color': '<%= job.status_color %>',
                  url: '/jobs/' + <%= job.id %>
                  //'marker-symbol': '1'
              }
          });
          <% end %>
          <% end %>


          map.markerLayer.setGeoJSON(geoJson);

          map.markerLayer.on('click', function (e) {
              map.panTo(e.layer.getLatLng());
          });
          map.markerLayer.on('click', function (e) {
              e.layer.unbindPopup();
              window.location = e.layer.feature.properties.url;
          });

          var bounds = [];
          <% if coordinates_for_zoom.any? %>
          <% coordinates_for_zoom.each do |c| %>
          bounds.push([<%= c[0] %>, <%= c[1] %>]);
          <% end %>
          map.fitBounds(bounds);
          <% end %>
          zoom = Math.round(map.getZoom());
          if (zoom > 8) {
              map.setZoom(8);
          }


          map.markerLayer.on('mouseover', function (e) {
              e.layer.openPopup();
          });
          map.markerLayer.on('mouseout', function (e) {
              e.layer.closePopup();
          });

          $('.mapbox-info-toggle').remove();

      </script>
  <% end %>
</div>