<div id="job_overview">
  <% drilling_log_document = Document.where("documents.job_id = ?", @job.id).where("documents.document_type = ?", Document::DRILLING_LOG).first %>
  <% if !drilling_log_document.nil? %>
      <% @drilling_log = DrillingLog.includes(job: :well).where("wells.id = ?", @job.well_id).first %>

      <%= render 'drilling_logs/overview', drilling_log: @drilling_log, drilling_log_entries: @drilling_log.present? ? @drilling_log.drilling_log_entries : [] %>

      <br>

      <div class=''>
        <div class='inline-block push-right-small blue-text'>
          Drilling &nbsp; &#10095;&#10095;
        </div>
        <div class='inline-block push-right-small'>
          <%= link_to "Overview", drilling_logs_path(document: drilling_log_document.id, :anchor => "drilling-overview"), class: "btn btn-info white-text" %>
          <%= link_to "ROP", drilling_logs_path(document: drilling_log_document.id, :anchor => "drilling-rop"), class: "btn btn-default" %>
          <%= link_to "Runs", drilling_logs_path(document: drilling_log_document.id, :anchor => "drilling-runs"), class: "btn btn-default" %>
          <%= link_to "BHAs", drilling_logs_path(document: drilling_log_document.id, :anchor => "drilling-bha"), class: "btn btn-default" %>
          <%= link_to "Log", drilling_logs_path(document: drilling_log_document.id, :anchor => "log"), class: "btn btn-default" %>
          <%= link_to "Survey", drilling_logs_path(document: drilling_log_document.id, :anchor => "survey"), class: "btn btn-default" %>
          <%= link_to "Reports", drilling_logs_path(document: drilling_log_document.id, :anchor => "drilling-reports"), class: "btn btn-default" %>
        </div>
      </div>

      <hr>

<% end %>



  <div class="">

    <div id="failure_warnings">
    </div>


    <% if current_user.role.global_read? || @job.is_coordinator_or_creator?(current_user) %>
        <%= link_to job_path(@job, section: "rating"), remote: true, class: "empty-link" do %>
            <div class="chart-block tooltip-info"
                 data-title="Job Rating is a score from 1-5 of the job performance">
              <div class="chart-title">Rating</div>
              <div class="donut-chart-div job-donut-chart-div rating-count-div">
                <%= render 'failures/rating', rating: job.rating %>
              </div>
            </div>
        <% end %>
    <% end %>


    <div class="chart-block">
      <div class="chart-title">Failures
      </div>
      <div class="donut-chart-div job-donut-chart-div">
        <div class="donut-text chart-text-red failure-count"><%= job.issues.count %></div>
        <div class="percentage ">
          <%= link_to "New", failures_path(:job_id => @job.id, :rate => "false"), remote: true,
                      class: "add-job-member add-failure tooltip-info show-modal-button",
                      id: "add_failure",
                      "data-placement" => "bottom",
                      "data-title" => "Add failure to job" %>
        </div>
      </div>
    </div>


    <% if false %>
        <div class="failures-list">
          <%= render 'jobs/job_failure_list', job: @job %>
        </div>
    <% end %>


  </div>
</div>
