<div class="page_header">
  <h1>Tools/Assets</h1>

  <div class="pull-right">
    <div class="btn-group inline-block">
      <a class="custom-data-toggle-jobs" data-toggle="dropdown" href="#">
        Advanced Actions
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to "Export as Excel", primary_tools_path(job: job.id, format: "xlsx"),
                      target: "_blank",
                      class: "dropdown-menu-link tooltip-info submit-form",
                      "data-placement" => "left",
                      "data-title" => "Export data as Microsoft Excel file." %>
        </li>
      </ul>
    </div>

  </div>
</div>

<% if !job.closed %>
    <%= render 'part_memberships/new' %>
<% end %>

<div id="asset_list" class='content'>
  <% @job.part_memberships.order('name ASC').each do |pm| %>
      <%= render 'part_memberships/part_membership', part_membership: pm, allow_remove: true %>
  <% end %>
</div>

<% if !@job.part_memberships.any? %>
    <div id="no_assets" class='push-down center'>
      <br><br>
      <span class='help-text'>No assets added...</span>
    </div>
<% end %>


<div class='push-down content'>
  <br><br>
  <% if !job.closed %>
      <a id="show_shop_notes" href='#' class='activity-user-link <%= job.inventory_notes.blank? ? '' : 'hidden' %>'>Add
        Inventory/Shop Notes</a>
  <% end %>
  <div id="shop_notes" class='<%= job.inventory_notes.blank? ? 'hidden' : '' %>'>
    <p class="inline help-text">Notes</p>
    <%= text_field_tag "", "", value: job.inventory_notes,
                       placeholder: "Inventory/Shop Notes...",
                       disabled: job.closed ? true : false,
                       class: "job-update-field txtfield full-width-well2 push-right-small primary-tool-comments",
                       "data-id" => job.id,
                       "data-field" => "inventory_notes" %>
  </div>
</div>

<% if job.status == Job::ON_JOB || job.status == Job::POST_JOB %>
    <hr>

    <div class='push-right-small'>

      <div class="btn-group inline-block">
        <a class="btn btn-default tooltip-info  align-top" data-toggle="dropdown" href="#" data-placement="top" data-title="Transfer assets to another well.">
          Transfer All To..
        </a>
        <ul class="dropdown-menu">
          <% jobs = current_user.jobs.where("jobs.status >= 1 AND jobs.status < 50") %>
          <% if jobs.any? %>
              <% jobs.each do |j| %>
                  <% if j != job %>
                      <li>
                        <%= link_to (j.well.rig.present? ? j.well.rig.name : '-') + ' | ' + j.field.name + ' | ' + j.well.name,
                                    job_path(job, update_field: true, field: "transfer_assets", value: j.id),
                                    remote: true, :method => :put,
                                    class: "dropdown-menu-link tooltip-info form-loading-on-click",
                                    "data-form" => "update-part-status",
                                    "data-placement" => "right",
                                    "data-title" => "Transfer to: " + (j.field.name + ' | ' + j.well.name) %>
                      </li>
                  <% end %>
              <% end %>
          <% end %>
        </ul>
      </div>

      &nbsp;

      <div class='btn-group inline-block'>
        <a class='btn btn-danger white-text tooltip-info  align-top' data-toggle='dropdown' href='#' data-placement='top' data-title=' Ship All To Warehouse'>
          Ship All To Shop
        </a>
        <ul class='dropdown-menu'>
          <% warehouses = @job.district.warehouses %>
          <% if warehouses.any? %>
              <% warehouses.each do |w| %>
                  <li>
                    <a href='/jobs/<%= @job.id %>?update_field=true&field=ship_all_assets&value=<%= w.id %>' data-remote='true' data-method='put' data-id='<%= @job.id %>' class='dropdown-menu-link part-working'><%= w.name %></a>
                  </li>
              <% end %>
          <% else %>
              <li>
                <a href='/jobs/<%= @job.id %>?update_field=true&field=ship_all_assets&value=0' data-remote='true' data-method='put' data-id='<%= @job.id %>' class='dropdown-menu-link part-working'>Ship All</a>
              </li>
          <% end %>
        </ul>
      </div>


      <div class='inline-block pull-right'>
        <div class="inline-block  <%= job.inventory_confirmed? ? "hidden" : "" %>">
          <p class='inline-block help-text'><b>After job completion, confirm assets arrived at new job or shop.</b></p>
          <br>
          <%= link_to "Confirm Assets", job_path(job, update_field: true, field: "confirm_assets", value: true),
                      remote: true, :method => :put,
                      id: "confirm-assets",
                      class: "btn btn-success pull-right white-text" %>
        </div>
        <div class="inline-block <%= !job.inventory_confirmed? ? "hidden" : "" %>">
          <p class='inline-block status-good'><b>Assets Confirmed</b></p>
          <% if !job.closed %>
              <%= link_to "undo", job_path(job, update_field: true, field: "confirm_assets", value: false),
                          remote: true, :method => :put,
                          id: "confirm-assets-undo",
                          class: "activity-user-link push-right-small update-section" %>
          <% end %>
        </div>
      </div>
      <br><br>
    </div>
<% end %>


<% bha_document = Document.where("documents.job_id = ?", job.id).where(:document_type => Document::BOTTOM_HOLE_ASSEMBLY).last %>
<% if !bha_document.nil? %>
    <div class='content'>
      <% bhas = Bha.joins(document: {job: :well}).where("bhas.master_bha_id IS NULL").where("wells.id = ?", job.well_id).order("bhas.name ASC") %>
      <% drilling_log_document = Document.where("documents.job_id = ?", job.id).where("documents.document_type = ?", Document::DRILLING_LOG).first %>

      <hr>

      <div class=''>
        <h1 class="donut-text inline"><%= bhas.count %></h1>

        <div class='inline-block push-down push-right-small'>
          <h3 class="inline-block">BHAs</h3>
        </div>

        <div class='pull-right'>
          <%= link_to "View All BHAs", drilling_logs_path(document: drilling_log_document.id, :anchor => "drilling-bha"), class: "bluebtn gray" %>

          <div class='inline-block push-right-small'>
            <%= link_to "+ Add New BHA", new_bha_path(document: bha_document.id), class: "bluebtn" %>
          </div>
        </div>
      </div>

    </div>
<% end %>
