<div class="">


  <div class="chart-block tooltip-info"
       data-title="Job Rating is a score from 1-5 of the job performance">
    <div class="chart-title">Rating</div>
    <div class="donut-chart-div job-donut-chart-div">
      <% if !job.rating.nil? %>
          <div id="rating" class="donut-chart "></div>
          <div class="donut-inner-circle <%= job.rating >= 3 ? "" : "inner-circle-red" %>"></div>
          <div class="donut-text <%= job.rating >= 3 ? "" : "chart-text-red" %>"><%= job.rating %></div>
          <div class="percentage <%= job.rating >= 3 ? "" : "chart-text-red" %>">of 5</div>
      <% else %>
          <div class="donut-text">-</div>
          <div class="percentage "></div>
      <% end %>
    </div>
  </div>


  <div class="chart-block">
    <div class="chart-title">Failures</div>
    <div class="donut-chart-div job-donut-chart-div">
      <div class="donut-text chart-text-red failure-count"><%= job.failures.count.to_s %></div>
      <div class="percentage "></div>
    </div>
  </div>

  <div class="chart-block chart-block-extended">
    <div class="">
      <%= link_to "Add/Remove Job Failures", failures_path(:job_id => @job.id, :rate => "false"), remote: true,
                  class: "add-job-member add-failure tooltip-info",
                  id: "add_failure",
                  "data-placement" => "bottom",
                  "data-title" => "Add failure to job type" %>
      <br>
      <br>
    </div>
    <div class="failures-list">
      <%= render 'jobs/job_failure_list', job: @job %>
    </div>
  </div>
</div>


<script>
    $(document).ready(function () {

        <% if !job.rating.nil? %>
        plot3 = $.jqplot('rating', [
            [
                ['a', <%= job.rating %>],
                ['b', 5 - <%= job.rating %>]
            ]
        ], {
            animate:true,
            background:"#FFFFFF",
            seriesColors:[ "<%= job.rating >= 3 ? "#458fd2" : "#e4472e" %>", "#FFFFFF"],
            seriesDefaults:{
                textColor:" #00ff0000",
                shadow:false,
                renderer:$.jqplot.DonutRenderer,
                rendererOptions:{
                    padding:0,
                    innerDiameter:95,
                    sliceMargin:0,
                    startAngle:-90,
                    showDataLabels:true,
                    dataLabels:'value'
                }
            }
        });
        <% end %>
    });
</script>