<% if job.job_template.present? %>
    <div class="field">

      <% if in_form %>

          <div class="btn-group inline pull-right">
            <a class="custom-data-toggle-jobs" data-toggle="dropdown" href="#">
              Advanced Actions
            </a>
            <ul class="dropdown-menu">

              <li>
                <%= link_to "Create New Job (Rig Skid)", new_job_path(job: @job.id),
                            remote: true,
                            class: "dropdown-menu-link tooltip-info show-modal-button",
                            "data-placement" => "left",
                            "data-title" => "This will allow you to create a new job and transfer all assets, information, and people." %>
              </li>


              <% if job.status == Job::COMPLETE %>
                  <li>
                    <%= link_to "Reopen Job", job,
                                class: "dropdown-menu-link tooltip-info",
                                "data-placement" => "left",
                                "data-title" => "This will reopen the job for edit." %>

                    <!--<li class="divider"></li>-->
                  </li>
              <% end %>


              <% if job.is_coordinator_or_creator?(current_user) || current_user.role.district_edit? %>

                  <li class="divider"></li>


                  <li>
                    <%= link_to "Delete Job", job, method: :delete,
                                class: "btn btn-danger white-text tooltip-info",
                                style: "margin-left: 10px; ",
                                data: {confirm: "Delete Job? Permanently delete job. All data and documents will be lost. This can't be undone."},
                                "data-placement" => "left",
                                "data-title" => "Permanently delete job. All data and documents will be lost. This can't be undone." %>
                  </li>
              <% end %>


            </ul>
          </div>
      <% end %>


      <% if in_form %>
          <%= link_to job.field.name, job.field, class: "job-title inline job-type-description-target",
                      "data-placement" => "bottom",
                      "data-html" => true,
                      "data-title" => "<div>Field <b>" + job.field.name + "</b></div>" %>
      <% else %>
          <h2 class="job-title inline"><%= job.field.name %></h2>
      <% end %>
      <p class="job-well-field-title">Field</p>


      <p class="job-title-divider">|</p>

      <div class="inline-block">
        <% if in_form %>
            <%= link_to job.well.name, job.well, class: "job-title inline job-type-description-target",
                        "data-placement" => "bottom",
                        "data-html" => true,
                        "data-title" => "<div>Well <b>" + job.well.name + "</b>, Click to view all jobs</div>" %>
        <% else %>
            <h2 class="job-title inline"><%= job.well.name %></h2>
        <% end %>
        <p class="job-well-field-title">Well</p>

        <% if in_form %>
            <% jobs_count = job.well.jobs.count %>
            <% if jobs_count > 1 && !current_user.role.limit_to_assigned_jobs? %>

                <div class="btn-group inline-block push-right-small">
                  <a class="custom-data-toggle-jobs" data-toggle="dropdown" href="#">
                    <%= jobs_count %>&nbsp;
                  </a>
                  <ul class="dropdown-menu">

                    <% job.well.jobs.each_with_index do |j, index| %>
                        <li>
                          <%= link_to j.job_template.name, j,
                                      class: "dropdown-menu-link tooltip-info",
                                      "data-placement" => "right",
                                      "data-html" => "true",
                                      "data-title" => render('jobs/well_tooltip', job: j, show_summary_data: false) %>
                        </li>
                        <% if index < jobs_count - 1 %>
                            <li class="divider"></li>
                        <% end %>
                    <% end %>
                  </ul>
                </div>
            <% end %>
        <% end %>
      </div>

      <% if !in_form %>

          <% memberships = job.job_memberships.select { |p| p.job_role_id != 6 }.count %>
          <div class="pull-right push-right-small">
            <%= image_tag "user_avatar_extrasmall.png", class: "job-status-avatar" %>
            <% if memberships > 0 %>
                <p class="inline"><%= memberships %></p>
            <% else %>
                <p class="inline warning-text"><b><%= memberships %></b></p>
            <% end %>
          </div>

          <% if job.failures_count > 0 %>
              <div class="pull-right push-left">
                <%= image_tag "error_red.png", class: "job-status-warning" %>
                <div class="job-failure-item"><%= job.failures_count %></div>
              </div>
          <% end %>
      <% end %>

    </div>


    <% if in_form %>
        <div class="map-container" style='width:100%;height:80px;'>
          <div id='map' class='dark'></div>
          <div class="corner tlcorner"></div>
          <div class="corner trcorner"></div>
          <div class="corner brcorner"></div>
          <div class="corner blcorner"></div>

          <div class='expand-map-box'>
            <%= link_to "#" do %>
                <span class='expand-text'>expand</span> <i class="icon-resize-vertical icon-white"></i>&nbsp;
            <% end %>
          </div>
        </div>
        <div class='map-views hidden'>
          <%= link_to "#", class: "activity-user-link map-area-view" do %>
              Area View
          <% end %>
          |
          <%= link_to "#", class: "activity-user-link map-site-view" do %>
              Site View
          <% end %>
        </div>
        <br>
    <% end %>


    <div class="<%= in_form ? 'well' : '' %>">

      <% if in_form %>
          <div id="job-progress-status">
            <%= render 'jobs/job_progress_status', job: job %>
          </div>
      <% end %>

      <div class="district-client-div">

        <%= image_tag "district_extrasmall.png", class: "job-status-avatar" %>

        <% if job.district.present? %>
            <% if in_form %>
                <%= link_to job.district.name, job.district,
                            class: "job-field-value-link tooltip-info",
                            "data-placement" => "bottom",
                            "data-title" => "View all jobs in " + job.district.name + " district" %>
            <% else %>
                <b class="inline"><%= job.district.name %></b>
            <% end %>
        <% end %>



        <%= image_tag "user_avatar_client_extrasmall.png", class: "job-status-avatar push-right" %>

        <% if in_form %>
            <%= link_to job.client.name, job.client,
                        class: "job-field-value-link tooltip-info",
                        "data-placement" => "bottom",
                        "data-title" => "View all jobs for " + job.client.name %>
        <% else %>
            <b class="inline"><%= job.client.name %></b>
        <% end %>


        <%= image_tag "division_extrasmall.png", class: "job-status-avatar push-right" %>

        <% if in_form %>
            <%= link_to job.job_template.product_line.segment.division.name, job.job_template.product_line.segment.division,
                        class: "job-field-value-link tooltip-info",
                        "data-placement" => "bottom",
                        "data-title" => "View all jobs in " + job.job_template.product_line.segment.division.name + " division" %>
        <% else %>
            <b class="inline"><%= job.job_template.product_line.segment.division.name %></b>
        <% end %>

        |

        <% if in_form %>
            <%= link_to job.job_template.product_line.segment.name, job.job_template.product_line.segment,
                        class: "job-field-value-link tooltip-info",
                        "data-placement" => "bottom",
                        "data-title" => "View all jobs in " + job.job_template.product_line.segment.name + " segment" %>
        <% else %>
            <b class="inline"><%= job.job_template.product_line.segment.name %></b>
        <% end %>
      </div>


    </div>

    <div class="content">
      <div class="">

        <% if in_form && @job.well.present? && !@job.well.location.blank? %>
            <%= link_to "http://maps.google.com/?q=" + @job.well.location.to_s,
                        class: "activity-user-link pull-right",
                        "data-placement" => "bottom",
                        "data-title" => "Click to open map of well location. Lat/long: " + @job.well.location.to_s,
                        target: "_blank" do %>
                <%= image_tag "map_icon.png", class: "job-status-avatar" %>
                Map on Google
            <% end %>
        <% end %>

        <% if in_form %>
            <%= link_to job.job_template.product_line.name, job.job_template.product_line, class: "job-title3 inline job-type-description-target",
                        "data-placement" => "bottom",
                        "data-html" => true,
                        "data-title" => "<div>Product Line <b>" + job.job_template.product_line.name + "</b></div>" %>
        <% else %>
            <h2 class="job-title3 inline"><%= job.job_template.product_line.name %></h2>
        <% end %>


        <p class="inline "> - </p>

        <% if in_form %>
            <%= link_to job.job_template.name, job.job_template, class: "job-title3 inline job-type-description-target",
                        "data-placement" => "bottom",
                        "data-html" => true,
                        "data-title" => "<div>Job System <b>" + job.job_template.name + "</b>, Click to view all jobs</div>" %>
        <% else %>
            <h2 class="job-title3 inline"><%= job.job_template.name %></h2>
        <% end %>

        <% if false %>
            <% if !in_form && job.job_template.primary_tools.where(:template => true).any? %>
                <div class="inline pull-right">
                  <% job.job_template.primary_tools.where(:template => true).each do |primary_tool| %>
                      <span class="label"><%= primary_tool.tool.name %></span>
                  <% end %>
                </div>
            <% end %>
        <% end %>
        <br>
        <br>

      </div>


      <div>
        <p class="job-field-title-div help-text"><%= t ".status" %></p>

        <div class="inline-block job-field-value push-down-small">
          <% if job.status == Job::COMPLETE %>
              <span class="label label-success" style="padding: 4px; padding-left: 10px; padding-right: 10px;">Complete</span>
          <% elsif job.status == Job::ON_JOB %>
              <span class="label label-warning" style="padding: 4px; padding-left: 10px; padding-right: 10px;">In Progress</span>
          <% elsif job.status == Job::PRE_JOB %>
              <span class="label label-info" style="padding: 4px; padding-left: 10px; padding-right: 10px;">Pre-Job</span>
          <% elsif job.status == Job::POST_JOB %>
              <span class="label label-success current-job-status"><%= job.status_string %></span>
          <% else %>
              <p class="current-job-status"><b><%= job.status_string %></b></p>
          <% end %>


        </div>


        <div class='inline-block align-top'>
          <p class="job-field-title-div help-text">Rig</p>

          <div class="job-field-value push-down-small">
            <% if in_form && job.well.rig.present? %>
                <%= link_to job.well.rig.name, job.well.rig, class: "activity-user-link inline-block" %>
            <% elsif in_form %>
                <div class="inline-block align-top">
                  <%= hidden_field_tag "rig_id", "" %>
                  <%= text_field_tag "", "", data: {autocomplete_source: rigs_path},
                                     placeholder: "Type rig name...",
                                     :autocomplete => 'off',
                                     "data-id" => job.well.id.to_s,
                                     id: "rig_name2", class: "txtfield small tooltip-info align-top",
                                     "data-placement" => "top",
                                     "data-title" => "Rig Name, select from drop down based on search results" %>


                </div>

                <script type='text/javascript'>
                    var focusevent, last_selected_item, rig_focused;

                    last_selected_item = null;

                    focusevent = function(event, ui) {
                        var selected_item;
                        if (last_selected_item !== null) {
                            $('.item_' + last_selected_item.id).removeClass('ui-state-hover');
                        }
                        selected_item = $('.item_' + ui.item.id);
                        selected_item.addClass('ui-state-hover');
                        return last_selected_item = ui.item;
                    };

                    $('#rig_name2').autocomplete({
                        source: $('#rig_name2').data('autocomplete-source'),
                        focus: focusevent,
                        select: function(event, ui) {
                            if (ui.item.id > 0) {
                                $("#rig_name2").val(ui.item.label);
                                $.ajax('/wells/' + $("#rig_name2").attr("data-id") + '?update_field=true&field=rig_id&value=' + ui.item.id, {
                                    type: 'put',
                                    dataType: 'script'
                                });
                                return $("#rig_id2").val(ui.item.id);
                            }
                        }
                    });

                    $('#rig_name2').data("autocomplete")._renderItem = function (ul, item) {
                        return $("<li class='item_" + item.id + "'></li>").data("item.autocomplete", item).append(
                                "<a><div>" + (item.id > 0 ? "<img src='/assets/rig_extrasmall.png' class='job-member-avatar pull-left'>" : "") + "</div><div><div class='job-user'><strong>" + item.value + " </strong></div><div><p>Rig</p></div></div></a>").appendTo(ul)
                    }


                </script>
            <% else %>
                <p class="inline-block">-</p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="">
        <p class="job-field-title-div help-text"><%= t ".start_date" %></p>

        <% if form_editable %>
            <div class="job-field-div">
              <input type="text" value="<%= job.start_date.present? ? job.start_date.strftime("%m/%d/%Y") : "-" %>"
                     id="job_start_date_<%= job.id.to_s %>"
                     class="job-field-value-editable job-start-date">
            </div>
        <% else %>
            <p class="job-field-value"><%= job.start_date.present? ? job.start_date.strftime("%m/%d/%Y") : "-" %></p>
        <% end %>


        <div class="inline">
          <% if false %>
              <% if job.status == Job::COMPLETE && !job.close_date.nil? %>
                  <p class="job-field-title-div help-text">Close Date</p>

                  <p class="job-field-value blue-text"><b><%= job.close_date.strftime("%m/%d/%Y") %></b></p>
              <% else %>
                  <p class="job-field-title-div help-text"><%= t ".created_date" %></p>

                  <p class="job-field-value"><%= job.created_at.strftime("%m/%d/%Y") %></p>
              <% end %>
          <% end %>

          <p class="job-field-title-div help-text">Job #</p>

          <p class="job-field-value"><b><%= job.job_number %></b></p>

        </div>

        <% if job.status == Job::COMPLETE && !job.close_date.nil? %>
            <div class="inline">
              <p class="job-field-title-div help-text">Close Date</p>

              <p class="job-field-value blue-text"><b><%= job.close_date.strftime("%m/%d/%Y") %></b></p>
            </div>
        <% end %>
      </div>


    </div>
<% end %>

