<div class="field">
  <% if in_form %>
      <%= link_to job.field.name, job.field, class: "job-title inline job-type-description-target",
                  "data-placement" => "bottom",
                  "data-html" => true,
                  "data-title" => "<div>" + I18n.t("jobs.job_data.field_name") + ": <b>" + job.field.name + "</b></div>" %>
  <% else %>
      <h2 class="job-title inline"><%= job.field.name %></h2>
  <% end %>
  <p class="job-well-field-title">Field</p>


  <p class="job-title-divider">|</p>

  <% if in_form %>
      <%= link_to job.well.name, edit_well_path(job.well), class: "job-title inline job-type-description-target",
                  "data-placement" => "bottom",
                  "data-html" => true,
                  "data-title" => "<div>" + I18n.t("jobs.job_data.well_name") + ": <b>" + job.well.name + "</b>, Click to edit data</div>" %>
  <% else %>
      <h2 class="job-title inline"><%= job.well.name %></h2>
  <% end %>
  <p class="job-well-field-title">Well</p>

  <% if in_form %>

      <% if job.other_jobs.count > 0 %>
          <div class="btn-group inline pull-right">
            <a class="custom-data-toggle-jobs" data-toggle="dropdown" href="#">
              <%= t ".other_jobs" %> (<b><%= job.other_jobs.count.to_s %></b>)
            </a>
            <ul class="dropdown-menu">
              <% job.other_jobs.each do |other_job| %>
                  <li><%= link_to other_job.job_template.name, other_job, class: "dropdown-menu-link" %></li>
                  <% if job.other_jobs.last != other_job %>
                      <li class="divider"></li>
                  <% end %>
              <% end %>
            </ul>
          </div>
      <% end %>
  <% end %>

</div>

<div class="">
  <p class="job-field-title"><%= t ".status" %></p>

  <% if job.approved_to_close %>
      <p class="job-field-value"><%= t ".status_complete" %></p>
  <% elsif job.approved_to_ship and job.sent_post_job_ready_email %>
      <h3 class="job-field-value status-good"><%= t ".status_post_job" %></h3>
  <% elsif job.approved_to_ship %>
      <h3 class="job-field-value status-good"><%= t ".status_in_field" %></h3>
  <% else %>
      <h3 class="job-field-value status-good"><%= t ".status_pre_job" %></h3>
  <% end %>
</div>

<div class="">
  <p class="job-field-title"><%= t ".division" %></p>

  <% if in_form %>
      <%= link_to job.job_template.product_line.segment.division.name, job.job_template.product_line.segment.division, class: "job-field-value job-field-value-link" %>
  <% else %>
      <p class="job-field-value"><%= job.job_template.product_line.segment.division.name %></p>
  <% end %>

  <p class="job-field-title"><%= t ".segment" %></p>

  <% if in_form %>
      <%= link_to job.job_template.product_line.segment.name, job.job_template.product_line.segment, class: "job-field-value job-field-value-link" %>
  <% else %>
      <p class="job-field-value"><%= job.job_template.product_line.segment.name %></p>
  <% end %>
</div>

<div class="">
  <p class="job-field-title"><%= t ".product_line" %></p>

  <% if in_form %>
      <h3 class="inline">
        <%= link_to job.job_template.product_line.name, job.job_template.product_line, class: "job-field-value job-field-value-link job-type-description-target",
                    "data-placement" => "bottom",
                    "data-html" => true,
                    "data-title" => "<div><b>" + job.job_template.product_line.name + "</b></div>" %>
      </h3>
  <% else %>
      <h3 class="job-field-value job-field-value-bold"><%= job.job_template.product_line.name %></h3>
  <% end %>

  <% if new_line_job_type %>
      <br>
  <% end %>
  <p class="job-field-title"><%= t ".job_type" %></p>

  <% if in_form %>
      <h3 class="inline">
        <%= link_to job.job_template.name, job.job_template, class: "job-field-value job-field-value-link job-type-description-target",
                    "data-placement" => "bottom",
                    "data-html" => true,
                    "data-title" => "<div><b>" + job.job_template.name + "</b><br>" + job.job_template.description + "</div>" %>
      </h3>
  <% else %>
      <% if new_line_job_type %>
          <h3 class="job-field-value-long job-field-value-bold"><%= job.job_template.name %></h3>
      <% else %>
          <h3 class="job-field-value job-field-value-bold"><%= job.job_template.name %></h3>
      <% end %>
  <% end %>
</div>


<div class="">
  <% job.dynamic_fields.select { |field| !field.dynamic_field_template.nil? and field.dynamic_field_template.priority? }.each do |dynamic_field| %>
      <% if !dynamic_field.dynamic_field_template.nil? %>
          <p class="job-field-title"><%= dynamic_field.dynamic_field_template.name %></p>

          <% if form_editable %>
              <div class="job-field-div">
                <input id="dynamic_field_<%= dynamic_field.id %>" type="text" class="job-field-value-editable custom-data-input"
                       value="<%= dynamic_field.value.present? ? dynamic_field.value : "-" %>">

                <% if dynamic_field.value_type != 1 %>
                    <%= select_tag "Units",
                                   options_for_select(dynamic_field.unit_options, dynamic_field.value_type),
                                   id: "dynamic_field_unit_" + dynamic_field.id.to_s,
                                   class: "unitsSelect unit-tooltip", "data-placement" => "bottom",
                                   "data-html" => false, "data-title" => "Units, click to change" %>
                <% end %>
              </div>
          <% else %>
              <div class="job-field-div">
                <p class="job-field-value2"><%= dynamic_field.value %></p>
                <% if dynamic_field.value_type != 1 %>
                    <p class="job-field-units unit-tooltip" data-placement="bottom" data-title="<%= dynamic_field.value_type_unit_full %>">
                      <%= dynamic_field.value_type_unit %>
                    </p>
                <% end %>
              </div>
          <% end %>
      <% end %>
  <% end %>
</div>

<div class="">
  <p class="job-field-title"><%= t ".district" %></p>

  <% if in_form %>
      <%= link_to job.district.name, job.district, class: "job-field-value job-field-value-link" %>
  <% else %>
      <p class="job-field-value"><%= job.district.name %></p>
  <% end %>

  <p class="job-field-title"><%= t ".created_date" %></p>

  <p class="job-field-value"><%= job.created_at.strftime("%m/%d/%Y") %></p>
</div>

<div class="">
  <p class="job-field-title"><%= t ".client_name" %></p>

  <% if in_form %>
      <%= link_to job.client.name, job.client, class: "job-field-value job-field-value-link" %>
  <% else %>
      <p class="job-field-value"><%= job.client.name %></p>
  <% end %>

  <p class="job-field-title"><%= t ".start_date" %></p>

  <p class="job-field-value">12/10/12</p>
</div>

<% if !form_editable %>

<% end %>

