<div class="page_header">
  <h1>Tools/Assets</h1>

  <div class="pull-right">

    <% if false %>
        <% options = [] %>
        <% options << ["All Tools", 0] %>
        <% job.job_template.primary_tools.where(:template => true).each do |p| %>
            <% options << [p.tool.name, p.tool.id] %>
        <% end %>
        <%= select_tag "Filter", options_for_select(options),
                       class: "inline-block custom-select custom-select-ajax tooltip-info push-left-small primary-tool-select",
                       "data-placement" => "bottom",
                       "data-title" => "Filter list by tool",
                       prompt: "Filter by tool..." %>

    <% end %>

    <div class="btn-group inline-block">
      <a class="custom-data-toggle-jobs" data-toggle="dropdown" href="#">
        Advanced Actions
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to "Export as Excel", primary_tools_path(job: job.id, format: "xlsx"),
                      target: "_blank",
                      class: "dropdown-menu-link tooltip-info submit-form",
                      "data-placement" => "left",
                      "data-title" => "Export data as Microsoft Excel file." %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to "Add New Tool", "#",
                      id: "add_new_tool",
                      class: "dropdown-menu-link tooltip-info",
                      "data-placement" => "left",
                      "data-title" => "Add New Tool to List" %>
        </li>
      </ul>
    </div>

  </div>
</div>

<div class='well content hidden' id="add_new_tool_form">
  <div class='form'>
    <% options = [] %>
    <% job.job_template.primary_tools.where(:template => true).each do |p| %>
        <% options << [p.tool.name, p.tool.id] %>
    <% end %>
    <%= select_tag "Tools", options_for_select(options),
                   class: "inline-block custom-select custom-select-long custom-select-ajax tooltip-info push-left-small ",
                   "data-placement" => "bottom",
                   "data-title" => "Add new tool",
                   prompt: "Add new tool" %>

    <%= link_to "Add", "#", class: "bluebtn btnsmall" %>
  </div>

</div>

<div>
  <% last_tool = nil %>
  <% tools = job.job_template.primary_tools.where(:template => false).where(:job_id => @job.id).includes(:tool).order("tools.name ASC, primary_tools.created_at ASC") %>
  <% tools_array = tools.to_a %>
  <% tools.each_with_index do |primary_tool, index| %>
      <% if last_tool.nil? || last_tool.tool != primary_tool.tool %>
          <% if last_tool != nil %>
              </div>
          <% end %>
          <div class="tools-root">
            <%= link_to "#", class: "primary-tools-expand" do %>
                <div>
                  <p class="pull-right">
                  <span class="primary-tool-expand-text">
                    expand &nbsp;
                  </span>
                    <i class="icon-resize-vertical"></i>
                  </p>

                  <h3>
                    <span class='inline push-up blue-text member-icon'><p class='tool-count'><%= tools_array.count { |t| t.tool_id == primary_tool.tool_id } %></p></span>
                    &nbsp;&nbsp;<%= primary_tool.tool.name %>
                  </h3>

                </div>
            <% end %>
          </div>
          <div class="all-tool-details hidden">
            <% last_tool = primary_tool %>
      <% end %>
      <%= render 'tools/primary/job_primary_tool', primary_tool: primary_tool, index: index, job: job %>
  <% end %>
  <% if last_tool != nil %>
      </div>
  <% end %>
  </div>

  <br><br>
  <%= render 'jobs/job_secondary_tools', job: job, job_editable: @job_editable %>
