<div id="job_overview">
  <% drilling_log_document = Document.where("documents.job_id = ?", @job.id).where("documents.document_type = ?", Document::DRILLING_LOG).first %>
  <% if !drilling_log_document.nil? %>
      <% @drilling_log = DrillingLog.includes(job: :well).where("wells.id = ?", @job.well_id).first %>

      <%= render 'drilling_logs/overview', drilling_log: @drilling_log %>

      <br>

      <div class=''>
        <div class='inline-block push-right-small blue-text'>
          Drilling &nbsp; &#10095;&#10095;
        </div>
        <div class='inline-block push-right-small'>
          <%= link_to "Overview", drilling_logs_path(document: drilling_log_document.id, :anchor => "drilling-overview"), target: "_blank", class: "btn btn-info white-text" %>
          <%= link_to "ROP", drilling_logs_path(document: drilling_log_document.id, :anchor => "drilling-rop"), target: "_blank", class: "btn btn-default" %>
          <%= link_to "Runs", drilling_logs_path(document: drilling_log_document.id, :anchor => "drilling-runs"), target: "_blank", class: "btn btn-default" %>
          <%= link_to "BHAs", drilling_logs_path(document: drilling_log_document.id, :anchor => "drilling-bhas"), target: "_blank", class: "btn btn-default" %>
          <%= link_to "Log", drilling_logs_path(document: drilling_log_document.id, :anchor => "log"), target: "_blank", class: "btn btn-default" %>
          <%= link_to "Reports", drilling_logs_path(document: drilling_log_document.id, :anchor => "drilling-reports"), target: "_blank", class: "btn btn-default" %>
        </div>
      </div>
  <% end %>

  <% if Document.where(:job_id => @job.id).where(:document_type => Document::SURVEY).count() > 0 %>

      <% well_plan = Survey.includes(document: {job: :well}).where("wells.id = ?", @job.well.id).where(:plan => true).first %>
      <% survey = Survey.includes(document: {job: :well}).where("wells.id = ?", @job.well.id).where(:plan => false).first %>

      <% if @job.status == Job::ON_JOB && @drilling_log.present? %>
          <div class='content'>

            <div>
              <% last_entry = @drilling_log.drilling_log_entries.last %>
              <% if last_entry.present? %>
                  <div class='inline-block push-right-small'>
                    <b class='blue-text'><%= last_entry.entry_at.strftime("%l:%M %p") %></b>
                    <b class='push-right'><%= DrillingLogEntry.activity_code_string(last_entry.activity_code) %></b>

                    <div class='inline-block push-right'><%= last_entry.comment %></div>
                  </div>
              <% end %>

            </div>

            <% calculated_points_survey = survey.present? ? survey.calculated_points(well_plan.vertical_section_azimuth) : [] %>

            <% if calculated_points_survey.any? %>
                <% point = calculated_points_survey.last %>
                <div class='tooltip-info push-down-small'
                     data-title="<%= render 'surveys/hover', point: point %>"
                     data-html="true"
                     data-placement="right">

                  <div class='inline-block push-right-small'>
                    <b class='blue-text'><%= point.created_at.strftime("%l:%M %p") %></b>

                    <div class='inline-block push-right'>
                      <p class='inline'>M Depth &nbsp;</p>
                      <b class=''><%= number_with_delimiter(point.measured_depth.round(2), :delimiter => ',') %></b>
                    </div>
                    <div class='inline-block push-right'>
                      <p class='inline'>TVD &nbsp;</p>
                      <b class=''><%= number_with_delimiter(point.true_vertical_depth.round(2), :delimiter => ',') %></b>
                    </div>
                    <div class='inline-block push-right'>
                      <p class='inline'>DLS &nbsp;</p>
                      <span class='label label-info'><%= point.dog_leg_severity.round(2) %></span></div>
                  </div>

                  <% if false %>
                      <%= link_to "Open survey", survey, target: "_blank", class: "pull-right activity-user-link push-left" %>
                  <% end %>
                </div>
            <% end %>

          </div>

      <% end %>


      <% if false %>
          <%= render 'surveys/survey_charts', well_plan: well_plan, survey: survey, height: 350 %>
      <% end %>

      <hr>


  <% end %>


  <div class="">

    <div id="failure_warnings">
    </div>


    <% if current_user.role.global_read? || @job.is_coordinator_or_creator?(current_user) %>
        <%= link_to job_path(@job, section: "rating"), remote: true, class: "empty-link" do %>
            <div class="chart-block tooltip-info"
                 data-title="Job Rating is a score from 1-5 of the job performance">
              <div class="chart-title">Rating</div>
              <div class="donut-chart-div job-donut-chart-div rating-count-div">
                <%= render 'failures/rating', rating: job.rating %>
              </div>
            </div>
        <% end %>
    <% end %>


    <div class="chart-block">
      <div class="chart-title">Failures
      </div>
      <div class="donut-chart-div job-donut-chart-div">
        <div class="donut-text chart-text-red failure-count"><%= job.issues.count %></div>
        <div class="percentage ">
          <%= link_to "New", failures_path(:job_id => @job.id, :rate => "false"), remote: true,
                      class: "add-job-member add-failure tooltip-info show-modal-button",
                      id: "add_failure",
                      "data-placement" => "bottom",
                      "data-title" => "Add failure to job" %>
        </div>
      </div>
    </div>


    <% if false %>
        <div class="failures-list">
          <%= render 'jobs/job_failure_list', job: @job %>
        </div>
    <% end %>


  </div>
</div>
