<%= render 'jobs/drilling_overview' %>

<hr>

<div>
  <span class="label label-warning">LIVE RIG</span>

  <%= link_to "Show live drilling dashboard", "#", class: "pull-right activity-user-link push-left" %>
  <br><br>
</div>
<% well_plan = Survey.includes(:document => :job).where("jobs.id = ?", @job.id).where(:plan => true).first %>
<% survey = Survey.includes(:document => :job).where("jobs.id = ?", @job.id).where(:plan => false).first %>
<%= render 'surveys/survey_charts', well_plan: well_plan, survey: survey, height: 350 %>


<hr>

<div class="">

  <div id="failure_warnings">
  </div>


  <% if !current_user.role.limit_to_assigned_jobs? || current_user == @job.get_role(JobMembership::CREATOR) || current_user == @job.get_role(JobMembership::MANAGER) || current_user == @job.get_role(JobMembership::COORDINATOR) %>
      <div class="chart-block tooltip-info"
           data-title="Job Rating is a score from 1-5 of the job performance">
        <div class="chart-title">Rating</div>
        <div class="donut-chart-div job-donut-chart-div rating-count-div">
          <%= render 'failures/rating', rating: job.rating %>
        </div>
      </div>
  <% end %>


  <div class="chart-block">
    <div class="chart-title">Failures</div>
    <div class="donut-chart-div job-donut-chart-div">
      <div class="donut-text chart-text-red failure-count"><%= job.failures_count %></div>
      <div class="percentage "></div>
    </div>
  </div>


  <div class="chart-block chart-block-extended">
    <div class="">
      <%= link_to "Add/Remove Job Failures", failures_path(:job_id => @job.id, :rate => "false"), remote: true,
                  class: "add-job-member add-failure tooltip-info show-modal-button",
                  id: "add_failure",
                  "data-placement" => "bottom",
                  "data-title" => "Add failure to job type" %>
      <br>
      <br>
    </div>
    <div class="failures-list">
      <%= render 'jobs/job_failure_list', job: @job %>
    </div>
  </div>


</div>

