<div id="job_overview">

  <div class="">

    <div id="failure_warnings">
    </div>


    <% if current_user.role.global_read? || @job.is_coordinator_or_creator?(current_user) %>
        <%= link_to job_path(@job, section: "rating"), remote: true, class: "empty-link" do %>
            <div class="chart-block tooltip-info"
                 data-title="Job Rating is a score from 1-5 of the job performance">
              <div class="chart-title">Rating</div>
              <div class="donut-chart-div job-donut-chart-div rating-count-div">
                <%= render 'failures/rating', rating: job.rating %>
              </div>
            </div>
        <% end %>
    <% end %>


    <div class="chart-block">
      <div class="chart-title">Failures
      </div>
      <div class="donut-chart-div job-donut-chart-div">
        <div class="donut-text chart-text-red failure-count"><%= job.issues.count %></div>
        <div class="percentage ">
          <%= link_to "New", failures_path(:job_id => @job.id, :rate => "false"), remote: true,
                      class: "add-job-member add-failure tooltip-info show-modal-button",
                      id: "add_failure",
                      "data-placement" => "bottom",
                      "data-title" => "Add failure to job" %>
        </div>
      </div>
    </div>

    <div class="chart-block tooltip-info align-top pull-right"
         data-title="Total Job Cost">
      <div class="chart-title">Total Cost</div>
      <div class="donut-chart-div job-donut-chart-div">
        <div class="donut-text chart-text" id='total_job_cost'><%= number_to_currency(job.total_cost, :unit => "$") %></div>
      </div>
    </div>


    <% if false %>
        <div class="failures-list">
          <%= render 'jobs/job_failure_list', job: @job %>
        </div>
    <% end %>


    <hr>
  </div>


  <% drilling_log_document = Document.where("documents.job_id = ?", @job.id).where("documents.document_type = ?", Document::DRILLING_LOG).first %>
  <% if !drilling_log_document.nil? %>
      <% @drilling_log = DrillingLog.includes(job: :well).where("wells.id = ?", @job.well_id).first %>



      <%= render 'drilling_logs/overview', drilling_log: @drilling_log, drilling_log_entries: @drilling_log.present? ? @drilling_log.drilling_log_entries : [], show_drilled: false %>

      <% if false %>
          <% @jobs = [] %>
          <div id="job_circle" style=''>
            <%= render 'overview/job_circle', job: @job %>
          </div>
      <% end %>

      <br>

      <% if false %>
          <div class=''>
            <div class='inline-block push-right-small blue-text'>
              Drilling &nbsp; <i class="icon-chevron-right"></i>
            </div>
            <div class='inline-block push-right-small'>
              <%= link_to "Overview", drilling_logs_path(document: drilling_log_document.id, :anchor => "drilling-overview"), class: "btn btn-info white-text" %>
              <%= link_to "ROP", drilling_logs_path(document: drilling_log_document.id, :anchor => "drilling-rop"), class: "btn btn-default" %>
              <%= link_to "Runs", drilling_logs_path(document: drilling_log_document.id, :anchor => "drilling-runs"), class: "btn btn-default" %>
              <%= link_to "BHAs", drilling_logs_path(document: drilling_log_document.id, :anchor => "drilling-bha"), class: "btn btn-default" %>
              <%= link_to "Drilling Activity", drilling_logs_path(document: drilling_log_document.id, :anchor => "log"), class: "btn btn-default" %>
              <%= link_to "Survey", drilling_logs_path(document: drilling_log_document.id, :anchor => "survey"), class: "btn btn-default" %>
              <% if false %>
                  <%= link_to "Reports", drilling_logs_path(document: drilling_log_document.id, :anchor => "drilling-reports"), class: "btn btn-default" %>
              <% end %>
            </div>
          </div>
      <% end %>

      <script>

          <% if false %>
          $('#job_circle_div').append($('#job_circle'));

          <% @jobs.each do |a| %>
          var plot3 = $.jqplot('rig_chart_<%= a[0] %>', [
              [
                  <% if a[1].to_i == 0 || a[2].to_i == 0 %>
                  ['a', 100],
                  ['b', 0]
                          <% else %>
                          ['a', <%= a[1].to_i %>],
                  ['b', <%= a[2].to_i - a[1].to_i %>]
                  <% end %>
              ]
          ], {
              animate: true,
              animateReplot: true,
              background: "#FFFFFF",
              seriesColors: [ "<%= a[3] %>", "#FFFFFF"],
              seriesDefaults: {
                  textColor: " #00ff0000",
                  shadow: false,
                  renderer: $.jqplot.DonutRenderer,
                  rendererOptions: {
                      animation: {
                          show: true,
                          speed: 2500
                      },
                      padding: 0,
                      innerDiameter: 95,
                      sliceMargin: 0,
                      startAngle: -90,
                      showDataLabels: true,
                      dataLabels: 'value'
                  }
              }
          });
          <% end %>
          <% end %>



      </script>


  <% end %>
</div>

<script type="text/javascript">
    (function ($) {
        $(document).ready(function () {
            $('#district_name').data("autocomplete")._renderItem = function (ul, item) {
                return $("<li class='item_" + item.id + "'></li>").data("item.autocomplete", item).append(
                        "<a><div>" + (item.id > 0 ? "<img src='/assets/district_extrasmall.png' class='job-member-avatar pull-left'>" : "") + "</div><div><div class='job-user'><strong>" + item.value + " </strong>" + (item.id > 0 ? "<div><p class='job-user-title'>" + item.country + ", " + item.state + "  " + item.city + "</p><p class='job-user-district'>" + item.region + "</p></div>" : "") + "</div></div></a>").appendTo(ul)
            }
        });
    }(jQuery));
</script>

