<div class="page_header">
  <h1>Tools/Assets</h1>

  <div class="pull-right">
    <div class="btn-group inline-block">
      <a class="custom-data-toggle-jobs" data-toggle="dropdown" href="#">
        Advanced Actions
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to "Export as Excel", primary_tools_path(job: job.id, format: "xlsx"),
                      target: "_blank",
                      class: "dropdown-menu-link tooltip-info submit-form",
                      "data-placement" => "left",
                      "data-title" => "Export data as Microsoft Excel file." %>
        </li>
      </ul>
    </div>

  </div>
</div>

<% if !job.closed %>
    <%= render 'part_memberships/new', shipment: nil %>
<% end %>

<div id="asset_list" class='content'>

  <% @job.part_memberships.order('name ASC').each do |pm| %>
      <%= render 'part_memberships/part_membership', part_membership: pm, allow_remove: true %>
  <% end %>

  <% job.inbound_shipments.each do |shipment| %>
      <% if shipment.accepted_at.nil? && shipment.status == Shipment::IN_TRANSIT %>
          <% shipment.part_memberships.order('name ASC').each do |pm| %>
              <div class='inline-block align-top' style="opacity: 0.35;">
                <%= render 'part_memberships/part_membership', part_membership: pm, allow_remove: false %>
              </div>
          <% end %>
      <% end %>
  <% end %>

</div>

<% if !@job.part_memberships.any? %>
    <div id="no_assets" class='push-down center'>
      <br><br>
      <span class='help-text'>No assets added...</span>
    </div>
<% end %>


<div class='push-down content'>
  <br><br>
  <% if !job.closed %>
      <a id="show_shop_notes" href='#' class='activity-user-link <%= job.inventory_notes.blank? ? '' : 'hidden' %>'>Add
        Inventory/Shop Notes</a>
  <% end %>
  <div id="shop_notes" class='<%= job.inventory_notes.blank? ? 'hidden' : '' %>'>
    <p class="inline help-text">Notes</p>
    <%= text_field_tag "", "", value: job.inventory_notes,
                       placeholder: "Inventory/Shop Notes...",
                       disabled: job.closed ? true : false,
                       class: "job-update-field txtfield full-width-well2 push-right-small primary-tool-comments",
                       "data-id" => job.id,
                       "data-field" => "inventory_notes" %>
  </div>
</div>

<div>
  <h3 class='orange-text'>Inbound
    Shipments <%= job.inbound_shipments.any? ? "(#{job.inbound_shipments.count})" : "" %></h3>
</div>
<% if job.inbound_shipments.any? %>
    <% job.inbound_shipments.each do |shipment| %>
        <%= render 'shipments/shipment', shipment: shipment, editable: false %>
        <% if shipment.accepted_at.nil? && shipment.status == Shipment::IN_TRANSIT %>
            <%= link_to "Receive Shipment", job_path(job, update_field: true, field: "receive_shipment", value: shipment.id),
                        remote: true, :method => :put,
                        class: "bluebtn btnsmall green push-down receive-shipment-button" %>
        <% end %>
        <hr>
    <% end %>
<% else %>
    <p class='help-text push-down'>No inbound shipments...</p>
<% end %>

<div>
  <div class='pull-right'>
    <%= link_to "New Shipment", shipments_path(district: @job.district, job: @job),
                remote: true, method: :post,
                class: "bluebtn btnsmall align-top push-up show-modal-button" %>
  </div>

  <h3 class='orange-text'>Outbound
    Shipments <%= job.outbound_shipments.any? ? "(#{job.outbound_shipments.count})" : "" %></h3>
</div>
<div id="shipments_list" style="<%= job.outbound_shipments.any? ? "margin-top: 20px;" : "" %>">
  <% if job.outbound_shipments.any? %>
      <% job.outbound_shipments.each do |shipment| %>
          <%= render 'shipments/shipment', shipment: shipment, editable: true %>
      <% end %>
  <% else %>
      <p id="no_outbound_shipments" class='help-text push-down'>No outbound shipments...</p>
  <% end %>
</div>


<% if false %>

    <% bha_document = Document.where("documents.job_id = ?", job.id).where(:document_type => Document::BOTTOM_HOLE_ASSEMBLY).last %>
    <% if !bha_document.nil? %>
        <div class='content'>
          <% bhas = Bha.joins(document: {job: :well}).where("bhas.master_bha_id IS NULL").where("wells.id = ?", job.well_id).order("bhas.name ASC") %>
          <% drilling_log_document = Document.where("documents.job_id = ?", job.id).where("documents.document_type = ?", Document::DRILLING_LOG).first %>

          <hr>

          <div class=''>
            <h1 class="donut-text inline"><%= bhas.count %></h1>

            <div class='inline-block push-down push-right-small'>
              <h3 class="inline-block">BHAs</h3>
            </div>

            <div class='pull-right'>
              <%= link_to "View All BHAs", drilling_logs_path(document: drilling_log_document.id, :anchor => "drilling-bha"), class: "bluebtn gray" %>

              <div class='inline-block push-right-small'>
                <%= link_to "+ Add New BHA", new_bha_path(document: bha_document.id), class: "bluebtn" %>
              </div>
            </div>
          </div>

        </div>
    <% end %>

<% end %>