<div id="job_overview">
  <% if Document.where(:job_id => @job.id).where(:document_type => Document::DRILLING_LOG).count() > 0 %>
      <% @drilling_log = DrillingLog.where(:job_id => @job.id).first %>
      <%= render 'drilling_logs/overview', drilling_log: @drilling_log %>
      <hr>
  <% end %>

  <% if Document.where(:job_id => @job.id).where(:document_type => Document::SURVEY).count() > 0 %>
      <% if @job.status == Job::ON_JOB && @drilling_log.present? %>
          <div>
            <span class="label label-warning">LIVE RIG</span>

            <% last_entry = @drilling_log.drilling_log_entries.last %>
            <% if last_entry.present? %>
                <div class='inline-block push-right-small'>
                  <b class='blue-text'><%= last_entry.entry_at.strftime("%l:%M %p") %></b>
                  <b class='push-right-small'><%= DrillingLogEntry.activity_code_string(last_entry.activity_code) %></b>
                  <span><%= last_entry.comment %></span>
                </div>
            <% end %>

            <%= link_to "Show live drilling dashboard", "/drilling_logs/#{@drilling_log.id}#drilling-overview", target: "_blank", class: "pull-right activity-user-link push-left" %>
            <br><br>
          </div>
      <% end %>


      <% well_plan = Survey.includes(document: {job: :well}).where("wells.id = ?", @job.well.id).where(:plan => true).order("surveys.updated_at ASC").first %>
      <% survey = Survey.includes(document: {job: :well}).where("wells.id = ?", @job.well.id).where(:plan => false).order("surveys.updated_at ASC").first %>
      <%= render 'surveys/survey_charts', well_plan: well_plan, survey: survey, height: 350 %>

      <hr>
  <% end %>


  <div class="">

    <div id="failure_warnings">
    </div>


    <% if current_user.role.global_read? || @job.is_coordinator_or_creator?(current_user) %>
        <%= link_to job_path(@job, section: "rating"), remote: true, class: "empty-link" do %>
            <div class="chart-block tooltip-info"
                 data-title="Job Rating is a score from 1-5 of the job performance">
              <div class="chart-title">Rating</div>
              <div class="donut-chart-div job-donut-chart-div rating-count-div">
                <%= render 'failures/rating', rating: job.rating %>
              </div>
            </div>
        <% end %>
    <% end %>


    <div class="chart-block">
      <div class="chart-title">Failures</div>
      <div class="donut-chart-div job-donut-chart-div">
        <div class="donut-text chart-text-red failure-count"><%= job.failures_count %></div>
        <div class="percentage "></div>
      </div>
    </div>


    <div class="chart-block chart-block-extended">
      <div class="">
        <%= link_to "Add/Remove Job Failures", failures_path(:job_id => @job.id, :rate => "false"), remote: true,
                    class: "add-job-member add-failure tooltip-info show-modal-button",
                    id: "add_failure",
                    "data-placement" => "bottom",
                    "data-title" => "Add failure to job type" %>
        <br>
        <br>
      </div>
      <div class="failures-list">
        <%= render 'jobs/job_failure_list', job: @job %>
      </div>
    </div>


  </div>
</div>
