<div class="field">
  <h3 class="job-title inline"><%= job.field.name %></h3>
  | <h3 class="job-title inline"><%= job.well.name %></h3>
</div>

<div class="">
  <p class="job-field-title">Status</p>

  <h3 class="job-field-value">Pre-Job</h3>
</div>

<div class="">
  <p class="job-field-title">Type</p>

  <div class="job-field-value">
    <h3 class="inline"><%= job.job_template.product_line.name %></h3>
    | <h3 class="inline"><%= job.job_template.name %></h3>
  </div>
</div>

<div class="">
  <p class="job-field-title">Location</p>

  <p class="job-field-value"><%= job.district.name %></p>

  <div class="inline push-right">
    <p class="job-field-title">Start Date</p>

    <p class="job-field-value">12/7/12</p>
  </div>
</div>

<div class="">
  <p class="job-field-title">Client name</p>

  <p class="job-field-value"><%= job.client.name %></p>

  <div class="inline push-right">
    <p class="job-field-title">End Date</p>

    <p class="job-field-value">12/10/12</p>
  </div>
</div>

<div class="">
  <p class="job-field-title">District Manager</p>

  <p class="job-field-value"><%= !job.district_manager ? job.district_manager.name : '-' %></p>

  <div class="inline push-right">
    <p class="job-field-title">Sales Engineer</p>

    <p class="job-field-value"><%= !job.sales_engineer ? job.sales_engineer.name : '-' %></p>
  </div>
</div>