<div class="remote-tray" data-tray="documents_data">

  <div class="remote-loading hidden">
    <br><br>
    <%= render 'layouts/inline_loading', title: "Please wait, loading Info/Docs..." %>
  </div>

  <div class=' tray-content content-loaded'>

    <div class="section-header" style="margin-top: 15px;">
      <h1>Job Info</h1>
    </div>

      <%= render 'wells/inline_well_fields', well: job.well %>

      <div class=''>
        <% job_number = DynamicField.new(name: "Job Number", value_type: DynamicField::STRING) %>
        <% job_number.value = job.job_number %>
        <% job_number.job = job %>
        <%= render 'jobs/job_custom_data_field', df: job_number, job_editable: job.status != Job::COMPLETE %>
        <% api_number = DynamicField.new(name: "API Number", value_type: DynamicField::STRING) %>
        <% api_number.value = job.api_number %>
        <% api_number.job = job %>
        <%= render 'jobs/job_custom_data_field', df: api_number, job_editable: job.status != Job::COMPLETE %>
      </div>

    <br>

    <div class="section-header" style="margin-top: 15px;">
      <h1>Docs &amp; Files</h1>

      <div id="multiuploader" class="inline-block align-top push-right-small" style="height: 34px;">
        <%= s3_uploader_form post: "/documents/", as: "document[url]", class: "inline" do %>
            <div class="upload-button-div inline-block">
              <%= file_field_tag :file, multiple: true,
                                 "data-job" => job.id.to_s,
                                 class: "file-input inline-block",
                                 id: "multifileupload",
                                 style: "width: 142px; height: 34px;" %>
              <%= link_to "#", class: "btn btn btn-primary white-text" do %>
                  <i class="icon-upload icon-white"></i>
                  <span>Upload File(s)</span>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>

    <div class="" id="documents">
      <% job.documents_only.order("documents.name ASC").each do |d| %>
          <%= render 'documents/document', document: d, in_job: true %>
      <% end %>
    </div>

    <br>

    <% if false %>
        <div class="push-right-small">
          <%= link_to I18n.t("jobs.show.add_custom_document"), new_document_path(modal: true, job_id: @job.id),
                      remote: true,
                      class: "add-custom-document tooltip-info show-modal-button",
                      "data-placement" => "left",
                      "data-title" => "Add new custom document not part of original job documents" %>
          <span class='help-text'>(client request, pricing, etc)</span>
        </div>
    <% end %>

  </div>
</div>