<div class="job-tray custom-data-closed" data-tray="primary_tools">
  <div class="page_header">
    <h1>Primary Tools</h1>
  </div>

  <div>
    <% job.job_template.primary_tools.includes(:tool).each_with_index do |primary_tool, index| %>
        <fieldset class="field" id="primary_tool_<%= primary_tool.id %>">
          <div>
            <%= image_tag "tool.png" %>
            <div class="secondary-tool-name push-right-small">
              <h3><%= primary_tool.tool.name %></h3>
            </div>
            <br>
            <div>
              <p><%= primary_tool.tool.description %></p>
            </div>
          </div>
          <div class="content">
            <% primary_tool.documents.each do |d| %>
                <%= render 'documents/document', document: d, editable: false, can_upload: @job_editable %>
            <% end %>
          </div>
        </fieldset>
    <% end %>
  </div>
</div>