<div class="field">
  <% if form_editable %>
      <%= link_to job.field.name, job.field, class: "job-title inline" %>
  <% else %>
      <h2 class="job-title inline"><%= job.field.name %></h2>
  <% end %>


  <p class="job-title-divider">|</p>

  <% if form_editable %>
      <%= link_to job.well.name, edit_well_path(job.well), class: "job-title inline" %>
  <% else %>
      <h2 class="job-title inline"><%= job.well.name %></h2>
  <% end %>

  <% if form_editable %>


      <div class="btn-group inline pull-right">
        <a class="custom-data-toggle-jobs" data-toggle="dropdown" href="#">
          2 Other Jobs on Well
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "Cement", "#" %></li>
          <li class="divider"></li>
          <li><%= link_to "Completion", "#" %></li>
        </ul>
      </div>
  <% end %>

</div>

<div class="">
  <p class="job-field-title">Status</p>

  <% if job.approved_to_close %>
      <p class="job-field-value">Complete</p>
  <% elsif job.approved_to_ship and job.sent_post_job_ready_email %>
      <p class="job-field-value status-good">Post-Job</p>
  <% elsif job.approved_to_ship %>
      <p class="job-field-value status-good">In Progress in field</p>
  <% else %>
      <p class="job-field-value status-good">Pre-Job</p>
  <% end %>
</div>

<div class="">
  <p class="job-field-title">Type</p>

  <div class="job-field-value">
    <h3 class="inline"><%= job.job_template.product_line.name %></h3>
    | <h3 class="inline"><%= job.job_template.name %></h3>
  </div>
</div>

<div class="">
  <% job.dynamic_fields.select { |field| field.dynamic_field_template.priority? }.each do |dynamic_field| %>
      <p class="job-field-title"><%= dynamic_field.dynamic_field_template.name %></p>

      <% if form_editable %>
          <input id="dynamic_field_<%= dynamic_field.id %>" type="text" class="job-field-value-editable custom-data-input"
                 value="<%= dynamic_field.value.present? ? dynamic_field.value : "-" %>">
      <% else %>
          <p class="job-field-value"><%= dynamic_field.value %></p>
      <% end %>
  <% end %>
</div>

<div class="">
  <p class="job-field-title">District</p>

  <% if form_editable %>
      <%= link_to job.district.name, job.district, class: "job-field-value job-field-value-link" %>
  <% else %>
      <p class="job-field-value"><%= job.district.name %></p>
  <% end %>

  <p class="job-field-title">Start Date</p>

  <p class="job-field-value">12/7/12</p>
</div>

<div class="">
  <p class="job-field-title">Client name</p>

  <% if form_editable %>
      <%= link_to job.client.name, job.client, class: "job-field-value job-field-value-link" %>
  <% else %>
      <p class="job-field-value"><%= job.client.name %></p>
  <% end %>

  <p class="job-field-title">End Date</p>

  <p class="job-field-value">12/10/12</p>
</div>

<% if !form_editable %>

<% end %>

