<div class="job-tray <%= (params["new"].present? && params["new"] == "true") ? "" : "custom-data-closed" %>" data-tray="custom_data">

  <div class="page_header">
    <h1>Job Data</h1>

    <div class="btn-group inline pull-right">
      <a class="custom-data-toggle-jobs" data-toggle="dropdown" href="#">
        Export
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to "Export as Excel", dynamic_fields_path(job: job.id, format: "xlsx"),
                      target: "_blank",
                      class: "dropdown-menu-link tooltip-info submit-form",
                      "data-placement" => "left",
                      "data-title" => "Export data as Microsoft Excel file." %>
        </li>
      </ul>
    </div>
  </div>

  <div>
    <b><%= job.job_template.name %></b>
    <br>

    <% if !job.job_template.description.empty? %>
        <p class="job-description-custom-data-div">
          <%= job.job_template.description %>
        </p>
        <a href="#" class="expand-job-description">expand</a>
    <% end %>
    <hr>
  </div>

  <div class="content">
    <%= link_to "View/Edit Well Data - " + job.well.name, edit_well_path(job.well),
                class: "activity-user-link" %>
    <p class="inline help-text"> (Depth, Frac, Bottom Hole, etc.)</p>
  </div>

  <hr>

  <div class="content">
    <b>Required Data</b>
    <br><br>
    <% job.dynamic_fields_required.each do |df| %>
        <%= render 'jobs/job_custom_data_field', df: df, job_editable: job_editable %>
    <% end %>

    <% if job.dynamic_fields_optional.count > 0 %>
        <br>
        <hr>
        <b>Optional Data</b>
        <br><br>
        <% job.dynamic_fields_optional.each do |df| %>
            <%= render 'jobs/job_custom_data_field', df: df, job_editable: job_editable %>
        <% end %>
    <% end %>
  </div>



</div>