<div class="tooltip-info"
     data-placement="right"
     data-html="true"
     data-title="<%= render 'jobs/well_tooltip', job: job, show_summary_data: show_summary_data %>">

  <div class="job-status-name">
    <% if job_name %>
        <div class="push-down job-status-name">
          <h2 class="job-title job-title4 inline"><%= job.job_template.name %></h2>
        </div>
    <% else %>
        <div class="push-down job-status-name">
          <h2 class="job-title job-title4 inline"><%= job.field.name %></h2>

          <p class="job-title-divider2">|</p>

          <h2 class="job-title job-title4 inline"><%= job.well.name %></h2>
        </div>
    <% end %>
  </div>

  <div class="push-down-small  <%= job_name ? "inline" : "job-progress-data-item" %>">
    <%= image_tag "user_avatar_extrasmall.png", class: "" %>
    <p class='inline-block align-top push-down'><%= job.job_memberships_count %></p>
  </div>

  <% if !job_name %>
      <div class="job-progress-data-item push-down">
        <% if job.failures_count > 0 %>
            <div class="job-failure-item"><%= job.failures_count %></div>
        <% end %>
      </div>
  <% end %>


  <div class="pull-right">

    <% if job.closed && !show_summary_data %>
        <span class="label label-success">Complete</span>
    <% elsif job.status >= Job::ON_JOB %>
        <div class="progress progress-success job-progress-bar">
          <div class="bar" style="width:100%">
            <% if job.closed %>
                <span class="pull-left push-right-small push-down-small">Complete</span>
            <% end %></div>
        </div>
    <% else %>
        <div class="progress progress-info job-progress-bar">
          <div class="bar" style="width: <%= job.status_percentage %>%"></div>
        </div>
    <% end %>
  </div>


</div>

