<% if job.job_template.present? %>


    <div class='' style='margin-top: 0px;'>

      <% if false %>
          <div class="<%= in_form ? 'well' : '' %>">

            <% if false %>
                <div id="job-progress-status">
                  <%= render 'jobs/job_progress_status', job: job %>
                </div>
            <% end %>

            <div class="district-client-div">

              <%= image_tag "district_extrasmall.png", class: "job-status-avatar" %>

              <% if job.district.present? %>
                  <% if in_form %>
                      <%= link_to job.district.name, job.district,
                                  class: "job-field-value-link tooltip-info",
                                  "data-placement" => "bottom",
                                  "data-title" => "View all jobs in " + job.district.name + " district" %>
                  <% else %>
                      <b class="inline"><%= job.district.name %></b>
                  <% end %>
              <% end %>



              <%= image_tag "user_avatar_client_extrasmall.png", class: "job-status-avatar push-right" %>

              <% if in_form %>
                  <%= link_to job.client.name, job.client,
                              class: "job-field-value-link tooltip-info",
                              "data-placement" => "bottom",
                              "data-title" => "View all jobs for " + job.client.name %>
              <% else %>
                  <b class="inline"><%= job.client.name %></b>
              <% end %>


              <%= image_tag "division_extrasmall.png", class: "job-status-avatar push-right" %>

              <% if in_form %>
                  <%= link_to job.job_template.product_line.segment.division.name, job.job_template.product_line.segment.division,
                              class: "job-field-value-link tooltip-info",
                              "data-placement" => "bottom",
                              "data-title" => "View all jobs in " + job.job_template.product_line.segment.division.name + " division" %>
              <% else %>
                  <b class="inline"><%= job.job_template.product_line.segment.division.name %></b>
              <% end %>

              |

              <% if in_form %>
                  <%= link_to job.job_template.product_line.segment.name, job.job_template.product_line.segment,
                              class: "job-field-value-link tooltip-info",
                              "data-placement" => "bottom",
                              "data-title" => "View all jobs in " + job.job_template.product_line.segment.name + " segment" %>
              <% else %>
                  <b class="inline"><%= job.job_template.product_line.segment.name %></b>
              <% end %>
            </div>

          </div>
      <% end %>

      <div id="job_circle_div" class='pull-left' style="margin-top: 0px; margin-right: 20px;">

      </div>




    </div>
<% end %>

