  <div class="page-header-small">
    <h1>Accessories</h1>
  </div>

  <div>
    <div id="secondary_tools_list">
      <% job.secondary_tools.includes(:tool).order("created_at ASC").each do |secondary_tool| %>
          <%= render 'tools/secondary/secondary_tool', tool: secondary_tool, is_editable: job_editable %>
      <% end %>
    </div>

    <% if job.secondary_tools.count == 0 %>
        <div class="no-alerts no-secondary-tools content">
        <p class="">No secondary tools</p>
        </div>
    <% end %>

    <% if job_editable %>
        <hr>

        <%= form_for(SecondaryTool.new, :html => {:class => "inline"}, remote: true) do |f| %>
            <%= f.hidden_field :job_id, value: job.id %>

            <%= f.select :tool_id, options_for_select(job.job_template.product_line.segment.division.secondary_tools.collect { |p| [p.name, p.id] }),
                         {prompt: "Select a Tool..."},
                         class: "tooltip-info custom-select custom-select-ajax custom-select-long",
                         "data-placement" => "bottom",
                         "data-title" => "Select from an existing secondary tool on this division" %>

            <%= f.submit I18n.t("global.add"), class: "bluebtn btnsmall" %>
        <% end %>
    <% end %>
  </div>
