<div class="remote-tray custom-data-closed" data-tray="activity">

  <div class="remote-loading hidden">
    <br><br>
    <%= render 'layouts/inline_loading', title: "Please wait, loading Activity..." %>
  </div>

  <div class='tray-content content-loaded'>

    <div class='' style='height: 48px;'>
      <div class="" style="position: absolute; background: #e7e7e7;left: 0; width: 100%; height: 40px;">
        <div style='margin-left: 20px; margin-top: 8px;'>
          <div class='' style='margin-top: -2px;'>
            <ul class="nav nav-tabs child-tray-nav">
              <li class='active'>
                <%= link_to "Live", "#",
                            "data-id" => @job.id,
                            "data-tray-controller" => "jobs",
                            "data-tray" => "live",
                            "data-tray-parent" => "activity",
                            class: "blue-text job-tab job-sub-tab remote-tray-toggle" %>
              </li>
              <li class='push-right-small'>
                <%= link_to "Summary", "#",
                            "data-id" => @job.id,
                            "data-tray-controller" => "jobs",
                            "data-tray" => "summary",
                            "data-tray-parent" => "activity",
                            class: "blue-text job-tab job-sub-tab remote-tray-toggle" %>
              </li>
              <li class='push-right-small'>
                <%= link_to "Runs", "#",
                            "data-id" => @job.id,
                            "data-tray-controller" => "jobs",
                            "data-tray" => "runs",
                            "data-tray-parent" => "activity",
                            class: "blue-text job-tab job-sub-tab remote-tray-toggle" %>
              </li>
              <li class='push-right-small'>
                <%= link_to "Surveys", "#",
                            "data-id" => @job.id,
                            "data-tray-controller" => "jobs",
                            "data-tray" => "surveys",
                            "data-tray-parent" => "activity",
                            class: "blue-text job-tab job-sub-tab remote-tray-toggle" %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>


    <div class="remote-tray" data-tray="live">
      <div class="remote-loading" style="margin-top: 30px;">
        <%= render 'layouts/inline_loading', title: "Please wait, loading live activity..." %>
      </div>
    </div>

    <div class="remote-tray" data-tray="summary">
      <div class="remote-loading" style="margin-top: 30px;">
        <%= render 'layouts/inline_loading', title: "Please wait, loading summary..." %>
      </div>
    </div>

    <div class="remote-tray" data-tray="runs">
      <div class="remote-loading" style="margin-top: 30px;">
        <%= render 'layouts/inline_loading', title: "Please wait, loading runs..." %>
      </div>
    </div>

    <div class="remote-tray" data-tray="surveys">
      <div class="remote-loading" style="margin-top: 30px;">
        <%= render 'layouts/inline_loading', title: "Please wait, loading surveys..." %>
      </div>
    </div>


  </div>
</div>

