<% job = @job %>
<div>
  <div>
    <div class='pull-right'>
      <a id="close_cost" class='delete-button-small time-close-button'>x</a>
    </div>
    <h3 class='orange-text'>Costs</h3>
  </div>

  <br>

  <%= render 'job_costs/new' %>
  <hr>


  <% parts = @job.part_memberships.where("part_memberships.price IS NOT NULL AND part_memberships.price > 0") %>

  <% if @job.job_costs.empty? && parts.empty? %>
      <p class="center help-text no-entries"><br>No charges...</p>
  <% end %>


  <div class="" id="list">
    <% if @job.job_costs.any? %>
        <% @job.job_costs.each_with_index do |job_cost, index| %>
            <%= render 'job_costs/job_cost', job_cost: job_cost, index: index %>
        <% end %>
    <% end %>
  </div>

  <div>
    <% days = @job.drilling_log.below_rotary.present? && @job.drilling_log.above_rotary.present? ? ((@job.drilling_log.above_rotary + @job.drilling_log.below_rotary) / 24).ceil : 0 %>

    <% if @job.job_costs.any? && parts.any? %>
        <hr>
    <% end %>

    <% parts.each_with_index do |pm, index| %>
        <% quantity = 1.0 %>
        <% if pm.charge_type == JobCost::DAY %>
            <% quantity = days %>
        <% elsif pm.charge_type == JobCost::HOUR && pm.part.present? %>
            <% quantity = pm.part.below_rotary.ceil %>
        <% end %>
        <%= render 'job_costs/tool_cost', part_membership: pm, index: index, quantity: quantity %>

    <% end %>
  </div>

  <hr>

  <div>
    <%= link_to "Export As Excel", job_costs_path(job: @job, format: "xlsx"), class: "activity-user-link pull-left", target: "_blank" %>
  </div>

  <%= render 'job_costs/totals', job: job %>

  <br>

</div>