<div class="remote-tray" data-tray="well_info">

  <div class='tray-content content-loaded'>

    <div class='' style='height: 48px;'>
      <div class="" style="position: absolute; background: #e7e7e7;left: 0; width: 100%; height: 40px;">
        <div style='margin-left: 20px; margin-top: 8px;'>
          <div class='' style='margin-top: -2px;'>
            <ul class="nav nav-tabs child-tray-nav">
              <li class='active'>
                <%= link_to "Overview", "#",
                            "data-id" => @job.id,
                            "data-tray-controller" => "jobs",
                            "data-tray" => "overview",
                            "data-tray-parent" => "well_info",
                            class: "blue-text job-tab job-sub-tab remote-tray-toggle" %>
              </li>
              <li class='push-right-small'>
                <%= link_to "Info", "#",
                            "data-id" => @job.id,
                            "data-tray-controller" => "jobs",
                            "data-tray" => "info",
                            "data-tray-parent" => "well_info",
                            class: "blue-text job-tab job-sub-tab remote-tray-toggle" %>
              </li>
              <li class='push-right-small'>
                <%= link_to "Documents", "#",
                            "data-id" => @job.id,
                            "data-tray-controller" => "jobs",
                            "data-tray" => "documents",
                            "data-tray-parent" => "well_info",
                            class: "blue-text job-tab job-sub-tab remote-tray-toggle" %>
              </li>
              <li class='push-right-small'>
                <%= link_to "Costs", "#",
                            "data-id" => @job.id,
                            "data-tray-controller" => "jobs",
                            "data-tray" => "costs",
                            "data-tray-parent" => "well_info",
                            class: "blue-text job-tab job-sub-tab remote-tray-toggle" %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>


    <div class="remote-tray" data-tray="overview">
      <div class="remote-loading" style="margin-top: 30px;">
        <%= render 'layouts/inline_loading', title: "Please wait, loading overview..." %>
      </div>
    </div>

    <div class="remote-tray custom-data-closed" data-tray="info">
      <div class="remote-loading" style="margin-top: 30px;">
        <%= render 'layouts/inline_loading', title: "Please wait, loading info..." %>
      </div>
    </div>

    <div class="remote-tray custom-data-closed" data-tray="documents">
      <div class="remote-loading" style="margin-top: 30px;">
        <%= render 'layouts/inline_loading', title: "Please wait, loading documents..." %>
      </div>
    </div>

    <div class="remote-tray custom-data-closed" data-tray="costs">
      <div class="remote-loading" style="margin-top: 30px;">
        <%= render 'layouts/inline_loading', title: "Please wait, loading costs..." %>
      </div>
    </div>


  </div>
</div>

