<div class="remote-tray" data-tray="overview">

  <div class="remote-loading hidden">
    <br><br>
    <%= render 'layouts/inline_loading', title: "Please wait, loading overview..." %>
  </div>

  <div class=' tray-content content-loaded'>



    <div class="section-header" style="margin-top: 15px;">
      <h1>Overview</h1>


      <div class='pull-right'>

        <% status_css = "label-success" %>
        <% if job.status == Job::ON_JOB %>
            <% status_css = "label-warning" %>
        <% elsif job.status == Job::PRE_JOB %>
            <% status_css = "label-info" %>
        <% end %>

        <div class="label <%= status_css %>" style="padding: 6px; padding-left: 10px; padding-right: 10px;">
          <span><%= job.status_string %></span>

          <div class='inline-block'>
            <div class="btn-group inline-block align-top" style="text-align: left;">
              <a class="custom-data-toggle-jobs" data-toggle="dropdown" href="#">
                &nbsp;
              </a>
              <ul class="dropdown-menu">
                <% if job.status != Job::PRE_JOB %>
                    <li>
                      <%= link_to job_path(job, update_field: true, field: "begin_pre_job", value: true), :method => :put,
                                  class: "inline-block dropdown-menu-link tooltip-info", "data-placement" => "left",
                                  "data-title" => "Change job status" do %>
                          <div style='display:inline-block; width: 10px; height: 10px; background: #3a87ad; margin-right: 10px;'></div>
                          <span style="font-family: gothambookregular;">Pre Job</span>
                      <% end %>
                    </li>
                <% end %>
                <% if job.status != Job::ON_JOB %>
                    <li>
                      <%= link_to job_path(job, update_field: true, field: "begin_on_job", value: true), :method => :put,
                                  class: "dropdown-menu-link tooltip-info", "data-placement" => "left",
                                  "data-title" => "Change job status" do %>
                          <div style='display:inline-block; width: 10px; height: 10px; background: #f89406; margin-right: 10px;'></div>
                          <span style="font-family: gothambookregular;">In Progress</span>
                      <% end %>
                    </li>
                <% end %>
                <% if job.status != Job::POST_JOB %>
                    <li>
                      <%= link_to job_path(job, update_field: true, field: "begin_post_job", value: true), :method => :put,
                                  class: "dropdown-menu-link tooltip-info", "data-placement" => "left",
                                  "data-title" => "Change job status" do %>
                          <div style='display:inline-block; width: 10px; height: 10px; background: #468847; margin-right: 10px;'></div>
                          <span style="font-family: gothambookregular;">Post Job</span>
                      <% end %>
                    </li>
                <% end %>
                <% if job.status != Job::COMPLETE %>
                    <li>
                      <%= link_to job_path(job, update_field: true, field: "close_job", value: true), :method => :put,
                                  class: "dropdown-menu-link tooltip-info", "data-placement" => "left",
                                  "data-title" => "Change job status" do %>
                          <div style='display:inline-block; width: 10px; height: 10px; background: #468847; margin-right: 10px;'></div>
                          <span style="font-family: gothambookregular;">Complete</span>
                      <% end %>
                    </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>


      </div>
    </div>


    <%= render 'jobs/duplicate_warning', job: @job %>


    <% if false %>
        <%= render 'job_data', job: @job, form_editable: @job_editable, in_form: true, new_line_job_type: false %>
    <% end %>



    <div class='pull-right' style='margin-top: 5px;'>
      <div class="chart-title" style='width: auto; margin-right: 15px;' style='height: auto;'>Cost</div>

      <div class='inline-block align-top' id='total_job_cost'
           style='font-family: gothamboldregular; color: #14a3e5; font-size: 36px;'>
        <%= number_to_currency(job.total_cost, :unit => "$") %>
      </div>
    </div>

    <%= render 'jobs/job_members', job: @job, job_editable: @job_editable %>

    <div class="full-costs hidden">
      <br>

      <div class='well'>
        <div id="full_cost" data-job="<%= job.id %>" data-loaded="false">
          <div class='center'>
            <span class="ajax-loading search-loading"><b>Loading costs...</b>&nbsp;&nbsp;&nbsp;&nbsp;</span>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="">

      <div id="failure_warnings">
      </div>



      <% if false %>
          <% if current_user.role.global_read? || @job.is_coordinator_or_creator?(current_user) %>
              <%= link_to job_path(@job, section: "rating"), remote: true, class: "empty-link" do %>
                  <div class="chart-block tooltip-info"
                       data-title="Job Rating is a score from 1-5 of the job performance">
                    <div class="chart-title">Rating</div>
                    <div class="donut-chart-div job-donut-chart-div rating-count-div">
                      <%= render 'failures/rating', rating: job.rating %>
                    </div>
                  </div>
              <% end %>
          <% end %>
      <% end %>




      <% @drilling_log = @job.drilling_log %>

      <% if @drilling_log.present? %>

          <% if @job.well_plan.present? %>
              <div id="td_chart" style="width: 100%; height: 49px; background-color: #FFFFFF;"></div>

              <br>
          <% end %>

          <%= render 'drilling_logs/overview_content', drilling_log: @drilling_log %>
      <% end %>

    </div>
  </div>

</div>

<script type="text/javascript">
    AmCharts.makeChart("td_chart",
            {
                "type": "serial",
                "pathToImages": "http://cdn.amcharts.com/lib/3/images/",
                "categoryField": "category",
                "rotate": true,
                "autoMarginOffset": 0,
                "columnWidth": 1,
                "marginBottom": 0,
                "marginLeft": 0,
                "marginRight": 30,
                "marginTop": 0,
                "plotAreaBorderColor": "#FFFFFF",
                "startDuration": 0,
                "theme": "default",
                "categoryAxis": {
                    "gridPosition": "start",
                    "axisColor": "#FFFFFF",
                    "labelFrequency": 20,
                    "parseDates": false
                },
                "trendLines": [],
                "graphs": [
                    {
                        "balloonText": "Total Drilled <b>[[depth]]</b> ft",
                        "fillAlphas": 1,
                        "fillColors": "#2E7EB7",
                        "lineColor": "#FFFFFF",
                        "type": "column",
                        "valueField": "depth"
                    },
                    {
                        "balloonText": "TD <b>[[td]]</b> ft",
                        "fillAlphas": 1,
                        "fillColors": "#114B74",
                        "lineColor": "#FFFFFF",
                        "type": "column",
                        "valueField": "to_td"
                    }
                ],
                "guides": [],
                "valueAxes": [
                    {
                        "axisTitleOffset": 0,
                        "id": "ValueAxis-1",
                        "maximum": <%= @drilling_log.td_depth.to_i %>,
                        "minimum": 0,
                        "position": "bottom",
                        "precision": 0,
                        "stackType": "regular",
                        "synchronizationMultiplier": 0,
                        "autoGridCount": false,
                        "axisColor": "#CDCDCD",
                        "gridAlpha": 0,
                        "gridColor": "#FFFFFF",
                        "gridCount": 10,
                        "gridThickness": 0,
                        "minHorizontalGap": 0,
                        "minorGridAlpha": 0,
                        "minVerticalGap": 0,
                        "tickLength": 0,
                        "title": "",
                        "labelFrequency": 2
                    }
                ],
                "allLabels": [],
                "balloon": {},
                "titles": [],
                "dataProvider": [
                    {
                        "category": "",
                        "depth": <%= @drilling_log.max_depth.to_i %>,
                        "td": <%= @drilling_log.td_depth.to_i %>,
                        "to_td": <%= @drilling_log.td_depth.to_i - @drilling_log.max_depth.to_i %>
                    }
                ]
            }
    );
</script>

