<% provide(:title, I18n.t("jobs.index.title")) %>

<div class="page_header">

  <h1><%= t ".title" %></h1>

  <h2>
    <% if @is_paged %>
        <% if @jobs_inactive.count > 0 %>
            <% if params[:page].present? %>
                <%= ((Integer(params[:page]) - 1) * 5) + 1 %>
                - <%= [((Integer(params[:page]) - 1) * 5) + 5, @jobs_inactive.count].min %>
                of <%= @jobs_inactive.count.to_s %>
            <% else %>
                1 - <%= [5, @jobs_inactive.count].min %> of <%= @jobs_inactive.count.to_s %>
            <% end %>
        <% end %>
    <% elsif @jobs.count > 0 %>
        <% if params[:page].present? %>
            <%= ((Integer(params[:page]) - 1) * 10) + 1 %>
            - <%= [((Integer(params[:page]) - 1) * 10) + 10, @jobs.count].min %> of <%= @jobs.count.to_s %>
        <% else %>
            1 - <%= [10, @jobs.count].min %> of <%= @jobs.count.to_s %>
        <% end %>
    <% end %>
  </h2>

  <%= link_to "+ " + I18n.t("jobs.index.new"), new_job_path, class: "bluebtn pull-right tooltip-info",
              "data-placement" => "bottom",
              "data-title" => "Create new job" %>

</div>

<% if @jobs.empty? %>

    <div class="no-alerts">
      <p class="center"><%= t ".no_jobs" %></p>
    </div>

<% else %>

    <% if !@is_paged %>

        <div id="jobs" class="list">
          <%= render @jobs %>
        </div>
    <% end %>

<% end %>



<% if @jobs_inactive.any? %>

    <% if !@is_paged %>
        <div class="page_header <%= (!@is_paged || params["page"].to_i == 1) ? "old-alerts-div" : "" %>">
          <h1><%= t ".inactive_jobs" %></h1>

          <h2>
            <% if @jobs_inactive.count > 0 %>
                <% if params[:page].present? %>
                    <%= ((Integer(params[:page]) - 1) * 5) + 1 %>
                    - <%= [((Integer(params[:page]) - 1) * 5) + 5, @jobs_inactive.count].min %>
                    of <%= @jobs_inactive.count.to_s %>
                <% else %>
                    1 - <%= [5, @jobs_inactive.count].min %> of <%= @jobs_inactive.count.to_s %>
                <% end %>
            <% end %>
          </h2>

        </div>
    <% end %>


    <div id="jobs_inactive" class="list">
      <%= render @jobs_inactive %>
    </div>

    <%= will_paginate @jobs_inactive %>

<% end %>