<% provide(:title, I18n.t("jobs.index.title")) %>



<div style='height: 40px;'>
  <div style='position: absolute; left: 0; width: 100%; height: 52px; top: 54px;'>
    <ul class="nav nav-pills alert alert-nav alert-nav-shrink parent-tray-nav" style='border-radius: 0px; border-width: 0px;'>

      <li class="active">
        <a href="#status" class="remote-tray-toggle custom-data-toggle"
           data-tray-controller="jobs"
           data-tray="status">Live Status</a>
      </li>

      <li>
        <a href="#wells" class="remote-tray-toggle custom-data-toggle"
           data-tray-controller="jobs"
           data-tray="wells">Wells</a>
      </li>


      <li class="">
        <a href="#rigs" class="remote-tray-toggle custom-data-toggle "
           data-tray-controller="jobs"
           data-tray="rigs">Rigs</a>
      </li>

      <li class="">
        <a href="#programs" class="remote-tray-toggle custom-data-toggle "
           data-tray-controller="jobs"
           data-tray="programs">Programs</a>
      </li>

      <li class="">
        <a href="#map" class="remote-tray-toggle custom-data-toggle "
           data-tray-controller="jobs"
           data-tray="map">Map</a>
      </li>

    </ul>
  </div>
</div>

<div class="">

  <div class="remote-tray" data-tray="status">
    <div class="remote-loading" style="margin-top: 30px;">
      <%= render 'layouts/inline_loading', title: "Please wait, loading live status..." %>
    </div>
  </div>

  <div class="remote-tray" data-tray="wells">
    <div class="remote-loading" style="margin-top: 30px;">
      <%= render 'layouts/inline_loading', title: "Please wait, loading wells..." %>
    </div>
  </div>

  <div class="remote-tray" data-tray="rigs">
    <div class="remote-loading" style="margin-top: 30px;">
      <%= render 'layouts/inline_loading', title: "Please wait, loading rigs..." %>
    </div>
  </div>

  <div class="remote-tray" data-tray="programs">
    <div class="remote-loading" style="margin-top: 30px;">
      <%= render 'layouts/inline_loading', title: "Please wait, loading programs..." %>
    </div>
  </div>

  <div class="remote-tray" data-tray="map">
    <div class="remote-loading" style="margin-top: 30px;">
      <%= render 'layouts/inline_loading', title: "Please wait, loading map..." %>
    </div>
  </div>

</div>



<script type="text/javascript">
    (function ($) {
        $(document).ready(function () {

            if (document.location.hash == '') {
                tray = $(".remote-tray[data-tray='status']");
                tray.find('.content').hide();
                tray.find('.remote-loading').removeClass('hidden');
                tray.find('.loading').removeClass('hidden');
                setTimeout(function () {
                    $.ajax({
                        url: "/jobs?section=status",
                        type: "GET",
                        dataType: "script"
                    });
                }, 1);
            }

        });
    }(jQuery));
</script>



