<% provide(:title, I18n.t("jobs.index.title")) %>

<div class="page_header">

  <h1><%= t ".title" %></h1>

  <h2>
    <% if @is_paged %>
        <%= ((Integer(params[:page]) - 1) * 20) + 1 %>
        - <%= [((Integer(params[:page]) - 1) * 20) + 20, @jobs.count].min %> of <%= @jobs.count.to_s %>
    <% else %>
        1 - <%= @jobs.count %> of <%= @jobs.count %>
    <% end %>
  </h2>

  <%= link_to "+ " + I18n.t("jobs.index.new"), new_job_path, class: "bluebtn pull-right tooltip-info",
              "data-placement" => "bottom",
              "data-title" => "Create new job" %>

</div>

<% if !@is_paged %>
    <% if current_user.role.no_assigned_jobs? %>
        <div class="well">
          <%= render 'jobs/index_parts/jobs_count', jobs: current_user.company.jobs %>
        </div>
        <br>

        <% if false %>
            <div class="">
              <%= render 'jobs/index_parts/divisions' %>
            </div>
        <% end %>
    <% else %>
        <div class="well">
          <%= render 'jobs/index_parts/jobs_count', jobs: @jobs %>
        </div>
        <br>
    <% end %>
<% end %>

<div class="map-container">
  <div id='map' class='dark' style='width:100%;height:300px;'></div>
  <div class="corner tlcorner"></div>
  <div class="corner trcorner"></div>
  <div class="corner brcorner"></div>
  <div class="corner blcorner"></div>
</div>
<br><br>


<div id="jobs" class="list">
  <% @jobs.each do |job| %>
      <%= render 'jobs/job_progress_link', job: job %>
  <% end %>
</div>

<% if @is_paged %>
    <%= will_paginate %>
<% else %>
    <br><br><br>
    <% if @jobs.empty? %>
        <% if !current_user.role.no_assigned_jobs? %>
            <div class="no-alerts">
              <p class="center"><%= t ".no_jobs" %></p>
            </div>
        <% end %>
    <% else %>
        <div class="alert">
          <%= link_to "View all jobs active and closed (" + @jobs.count.to_s + ")", jobs_path(:page => "1"), class: "activity-user-link" %>
        </div>
    <% end %>
<% end %>


<script type='text/javascript'>
    var map = L.mapbox.map('map', 'elephant.map-vum3on5g');
    map.scrollWheelZoom.disable();

    var geoJson = [];

    <% coordinates_for_zoom = [] %>
    <% @jobs.each do |job| %>
    <% if !job.well.location.blank? %>
    <% x = job.well.x_location %>
    <% y = job.well.y_location  %>
    <% coordinates_for_zoom << [y, x] %>
    geoJson.push({
        "type": "Feature",
        "geometry": {
            "type": "Point",
            "coordinates": [<%= x %>, <%= y %>]
        },
        "properties": {
            title: '<%= job.field.name + ' | ' + job.well.name %>',
            'marker-size': 'medium',
            'marker-color': '<%= job.approved_to_ship ? '428a1b' : '#0058a8' %>',
            url: '/jobs/' + <%= job.id %>
            //'marker-symbol': '1'
        }
    });
    <% end %>
    <% end %>


    map.markerLayer.setGeoJSON(geoJson);

    map.markerLayer.on('click', function (e) {
        map.panTo(e.layer.getLatLng());
    });
    map.markerLayer.on('click', function (e) {
        e.layer.unbindPopup();
        window.location = e.layer.feature.properties.url;
    });

    var bounds = [];
    <% coordinates_for_zoom.each do |c| %>
    bounds.push([<%= c[0] %>, <%= c[1] %>]);
    <% end %>
    map.fitBounds(bounds);
    zoom = Math.round(map.getZoom());
    if (zoom > 8) {
        map.setZoom(8);
    }


    map.markerLayer.on('mouseover', function (e) {
        e.layer.openPopup();
    });
    map.markerLayer.on('mouseout', function (e) {
        e.layer.closePopup();
    });
</script>

