<% provide(:title, I18n.t("jobs.index.title")) %>

<div class="page_header">

  <h1><%= t ".title" %></h1>

  <h2>
    <% if @is_paged %>
        <%= ((Integer(params[:page]) - 1) * 20) + 1 %>
        - <%= [((Integer(params[:page]) - 1) * 20) + 20, @jobs.count].min %> of <%= @jobs.count.to_s %>
    <% else %>
        1 - <%= @jobs.count %> of <%= @jobs.count.to_s %>
    <% end %>
  </h2>

  <%= link_to "+ " + I18n.t("jobs.index.new"), new_job_path, class: "bluebtn pull-right tooltip-info",
              "data-placement" => "bottom",
              "data-title" => "Create new job" %>

</div>

<% if !@is_paged %>
    <div class="well">
      <div class="chart-block">
        <div class="chart-title">Active Jobs</div>
        <div class="donut-chart-div job-donut-chart-div">
              <div class="donut-text"><%= current_user.active_jobs.count %></div>
              <div class="percentage "></div>
        </div>
      </div>

      <div class="chart-block">
        <div class="chart-title">Closed in Last 5 Days</div>
        <div class="donut-chart-div job-donut-chart-div">
          <div class="donut-text"><%= @jobs.count - current_user.active_jobs.count %></div>
          <div class="percentage "></div>
        </div>
      </div>

      <div class="chart-block">
        <div class="chart-title">Failures</div>
        <div class="donut-chart-div job-donut-chart-div">
          <div class="donut-text chart-text-red failure-count"><%= @failures_count %></div>
          <div class="percentage "></div>
        </div>
      </div>
    </div>
    <br>
<% end %>

<div id="jobs" class="list">
  <%= render @jobs %>
</div>

<% if @is_paged %>
    <%= will_paginate %>
<% else %>
    <br>
    <div class="alert">
      <%= link_to "View all jobs active and closed (" + current_user.jobs.count.to_s + ")", jobs_path(:page => "1"), class: "activity-user-link" %>
    </div>
    <% if @jobs.empty? %>
        <div class="no-alerts">
          <p class="center"><%= t ".no_jobs" %></p>
        </div>
    <% end %>
<% end %>



