<% provide(:title, I18n.t("jobs.index.title")) %>

<div class="page_header">
  <h1><%= t ".title" %></h1>

  <h2>
    <% if @jobs.count > 0 %>
        <% if params[:page].present? %>
            <%= ((Integer(params[:page]) - 1) * 10) + 1 %>
            - <%= [((Integer(params[:page]) - 1) * 10) + 10, @jobs.count].min %> of <%= @jobs.count.to_s %>
        <% else %>
            1 - <%= [10, @jobs.count].min %> of <%= @jobs.count.to_s %>
        <% end %>
    <% end %>
  </h2>

  <% if signed_in? %>
      <%= link_to "+ " + I18n.t("jobs.index.new"), new_job_path, class: "bluebtn page_header_button" %>
  <% end %>

</div>

<% if @jobs.empty? %>

    <div class="no-alerts">
      <p class="center"><%= t ".no_jobs" %></p>
    </div>

<% else %>


    <div id="jobs" class="list">
      <%= render @jobs %>
    </div>

<% end %>



<% if @jobs_inactive.any? %>

    <div class="page_header old-alerts-div">
      <h1><%= t ".inactive_jobs" %></h1>

      <h2>
        <% if @jobs_inactive.count > 0 %>
            <% if params[:page].present? %>
                <%= ((Integer(params[:page]) - 1) * 5) + 1 %>
                - <%= [((Integer(params[:page]) - 1) * 5) + 5, @jobs_inactive.count].min %>
                of <%= @jobs_inactive.count.to_s %>
            <% else %>
                1 - <%= [5, @jobs_inactive.count].min %> of <%= @jobs_inactive.count.to_s %>
            <% end %>
        <% end %>
      </h2>

    </div>


    <div id="jobs_inactive" class="list">
      <%= render @jobs_inactive %>
    </div>

    <%= will_paginate @jobs_inactive %>

<% end %>