<% provide(:title, "New Job") %>

<div class="page_header">
  <h1>New Job</h1>
</div>


<div class="form">
  <%= form_for(@job) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Create Job", class: "bluebtn pull-right tooltip-info form-loading-on-click",
                   "data-title" => "Create new job. You edit/add more job information on next page." %>

      <%= link_to "Cancel", :back, class: "bluebtn pull-right btnheight gray push-left-small tooltip-info",
                  "data-title" => "Cancel new job and go back" %>
  <% end %>
</div>

<%= render "layouts/inline_loading", title: "Creating job, please wait" %>


<div id="modal_popup" class="modal-popup-background">
  <div class="modal-popup">
    <%= link_to "close", "#", class: "delete-button modal-popup-close", id: "close_modal" %>

    <div class="modal-content">

    </div>

  </div>
</div>