<% provide(:title, "New Job") %>

<div class="section-header" style="margin-top: 10px;">
  <h1>New Job</h1>
</div>


<div class="form" data-form="new-job-form">
  <%= form_for(@job) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Create Job", class: "btn btn-success pull-right tooltip-info form-loading-on-click",
                   "data-form" => "new-job-form",
                   "data-title" => "Create new job. You edit/add more job information on next page." %>

      <%= link_to "Cancel", :back, class: "btn btn-default pull-right push-left-small tooltip-info",
                  "data-title" => "Cancel new job and go back" %>
  <% end %>
</div>

<div class="form-loading hidden" data-form="new-job-form">
  <%= render "layouts/inline_loading", title: "Creating job, please wait" %>
</div>


<div id="modal_popup" class="modal-popup-background">
  <div class="modal-popup modal-popup-fixed">
    <%= link_to "close", "#", class: "delete-button modal-popup-close", id: "close_modal" %>
    <div class="modal-content">
    </div>
    <%= render "layouts/inline_loading", title: "Loading..." %>
  </div>
</div>