<% provide(:title, "Job | " + @job.field.name + " | " + @job.well.name) %>

<%= render 'jobs/job_header', job: @job, form_editable: @job_editable, in_form: true, new_line_job_type: false %>

<div style='height: 52px;'>
  <div style='position: absolute; left: 0; width: 100%; height: 52px;'>
    <ul class="nav nav-pills alert alert-nav alert-nav-shrink" style='border-radius: 0px; border-width: 0px;'>


      <li class="active">
        <a href="#overview" class="remote-tray-toggle custom-data-toggle tooltip-info"
           data-id="<%= @job.id %>"
           data-tray-controller="jobs"
           data-tray="overview"
           data-placement="bottom" data-title="Job Overview">Overview
        </a>
      </li>

      <li class="">
        <a href="#info" class="remote-tray-toggle custom-data-toggle tooltip-info"
           data-id="<%= @job.id %>"
           data-tray-controller="jobs"
           data-tray="info"
           data-placement="bottom" data-title="Information & Documents">Info/Docs
        </a>
      </li>

      <% if false %>
      <li class="">
        <a href="#info" class="remote-tray-toggle custom-data-toggle tooltip-info"
           data-id="<%= @job.id %>"
           data-tray-controller="jobs"
           data-tray="info"
           data-placement="bottom" data-title="Custom job data and values"><%= "Job Info" %>
        </a>
      </li>
          <% end %>

      <li class="">
        <a href="#assets" class="remote-tray-toggle custom-data-toggle tooltip-info"
           data-id="<%= @job.id %>"
           data-tray-controller="jobs"
           data-tray="assets"
           data-placement="bottom" data-title="Tools/Assets & BHAs">BHAs/Assets
        </a>
      </li>

      <li class="">
        <a href="#failures" class="remote-tray-toggle custom-data-toggle tooltip-info"
           data-id="<%= @job.id %>"
           data-tray-controller="jobs"
           data-tray="failures"
           data-placement="bottom" data-title="Job Failures">Failures
        </a>
      </li>

      <% if false %>
      <li class="">
        <a href="#notes" class="remote-tray-toggle custom-data-toggle tooltip-info"
           data-id="<%= @job.id %>"
           data-tray-controller="jobs"
           data-tray="notes"
           data-placement="bottom" data-title="Daily Status, Requests, Notes, and Tasks for this job">Daily
        </a>
      </li>
          <% end %>




      <% if false %>
      <li class="">
        <a href="#time" class="remote-tray-toggle custom-data-toggle tooltip-info"
           data-id="<%= @job.id %>"
           data-tray-controller="jobs"
           data-tray="time"
           data-placement="bottom" data-title="Time/Scheduling">Timesheet</a>
      </li>
          <% end %>

      <li class="">
        <a href="#runs" class="remote-tray-toggle custom-data-toggle tooltip-info"
           data-id="<%= @job.id %>"
           data-tray-controller="jobs"
           data-tray="runs"
           data-placement="bottom" data-title="Runs">Runs</a>
      </li>

      <li class="">
        <a href="#drilling_activity" class="remote-tray-toggle custom-data-toggle tooltip-info"
           data-id="<%= @job.id %>"
           data-tray-controller="jobs"
           data-tray="drilling_activity"
           data-placement="bottom" data-title="Drilling Activity">Activity</a>
      </li>

      <li class="">
        <a href="#surveys" class="remote-tray-toggle custom-data-toggle tooltip-info"
           data-id="<%= @job.id %>"
           data-tray-controller="jobs"
           data-tray="surveys"
           data-placement="bottom" data-title="Surveys">Surveys</a>
      </li>

      <li class="">
        <a href="#logs" class="remote-tray-toggle custom-data-toggle tooltip-info"
           data-id="<%= @job.id %>"
           data-tray-controller="jobs"
           data-tray="logs"
           data-placement="bottom" data-title="Gamma Logs, etc">Logs</a>
      </li>

      <li class="">
        <a href="#reports" class="remote-tray-toggle custom-data-toggle tooltip-info"
           data-id="<%= @job.id %>"
           data-tray-controller="jobs"
           data-tray="reports"
           data-placement="bottom" data-title="Reports, Daily, & Time">Reporting</a>
      </li>

      <li class="">
        <a href="#history" class="remote-tray-toggle custom-data-toggle tooltip-info"
           style='padding: 10px;'
           data-id="<%= @job.id %>"
           data-tray-controller="jobs"
           data-tray="history"
           data-placement="bottom" data-title="Job History"><i class="icon-time"></i></a>
      </li>





    </ul>
  </div>
</div>


<% if false %>

<div class='' style='height: 40px;'>

  <div class="" style="position: absolute; background: #e7e7e7; top: 0px; left: 0; width: 100%; height: 40px;">




    <div style='margin-left: 20px; margin-top: 8px;'>
      <% jobs = @job.well.jobs.where(:shared => true) %>
      <% if jobs.count > 1 %>
          <div class='' style='margin-top: -2px;'>
            <ul class="nav nav-tabs">
              <div class='pull-right align-top push-down-small' style='margin-right: 30px;'>
                <div class='inline-block' style='margin-right: 4px; background: #b5b5b5; border-radius: 100px; width: 20px; height: 20px; color: #ffffff; text-align: center;'><%= jobs.count.to_s %></div>
                <b>Jobs</b>
              </div>
              <% jobs.each_with_index do |j| %>
                  <li class='<%= @job == j ? "active" : "" %>'>
                    <%= link_to j, class: "blue-text job-tab" do %>
                        <b><%= j.job_template.name %></b>
                    <% end %>
              <% end %>
            </ul>
          </div>
      <% else %>
          <%= link_to @job.job_template.product_line.name, @job.job_template.product_line, class: "job-title3 inline job-type-description-target empty-link",
                      "data-placement" => "bottom",
                      "data-html" => true,
                      "data-title" => "<div>Product Line <b>" + @job.job_template.product_line.name + "</b></div>" %>

          <p class="inline "> - </p>

          <%= link_to @job.job_template.name, @job.job_template, class: "job-title3 inline job-type-description-target empty-link",
                      "data-placement" => "bottom",
                      "data-html" => true,
                      "data-title" => "<div>Job System <b>" + @job.job_template.name + "</b>, Click to view all jobs</div>" %>
      <% end %>
    </div>

  </div>
</div>

    <% end %>


<div id="job_<%= @job.id %>" class="job-main-div">
  <div class="">

    <div class="remote-tray" data-tray="overview">
      <div class="remote-loading" style="margin-top: 30px;">
        <%= render 'layouts/inline_loading', title: "Please wait, loading overview..." %>
      </div>
    </div>

    <div class="remote-tray" data-tray="info">
      <div class="remote-loading" style="margin-top: 30px;">
        <%= render 'layouts/inline_loading', title: "Please wait, loading Info/Docs..." %>
      </div>
    </div>

    <div class="remote-tray" data-tray="assets">
      <div class="remote-loading" style="margin-top: 30px;">
        <%= render 'layouts/inline_loading', title: "Please wait, loading Assets/BHAs..." %>
      </div>
    </div>

    <div class="remote-tray" data-tray="failures">
      <div class="remote-loading" style="margin-top: 30px;">
        <%= render 'layouts/inline_loading', title: "Please wait, loading failures..." %>
      </div>
    </div>

    <div class="remote-tray" data-tray="reports">
      <div class="remote-loading" style="margin-top: 30px;">
        <%= render 'layouts/inline_loading', title: "Please wait, loading reports..." %>
      </div>
    </div>

    <div class="remote-tray" data-tray="runs">
      <div class="remote-loading" style="margin-top: 30px;">
        <%= render 'layouts/inline_loading', title: "Please wait, loading runs..." %>
      </div>
    </div>

    <div class="remote-tray" data-tray="drilling_activity">
      <div class="remote-loading" style="margin-top: 30px;">
        <%= render 'layouts/inline_loading', title: "Please wait, loading drilling activity..." %>
      </div>
    </div>

    <div class="remote-tray" data-tray="surveys">
      <div class="remote-loading" style="margin-top: 30px;">
        <%= render 'layouts/inline_loading', title: "Please wait, loading surveys..." %>
      </div>
    </div>

    <div class="remote-tray" data-tray="logs">
      <div class="remote-loading" style="margin-top: 30px;">
        <%= render 'layouts/inline_loading', title: "Please wait, loading logs..." %>
      </div>
    </div>

    <div class="remote-tray" data-tray="history">
      <div class="remote-loading" style="margin-top: 30px;">
        <%= render 'layouts/inline_loading', title: "Please wait, loading history..." %>
      </div>
    </div>


  </div>
</div>



<div id="modal_popup" class="modal-popup-background">
  <div class="modal-popup modal-popup-fixed">
    <%= link_to "close", "#", class: "delete-button modal-popup-close", id: "close_modal" %>
    <div class="modal-content">
    </div>
    <%= render "layouts/inline_loading", title: "Loading..." %>
  </div>
</div>

<div id="modal_popup2" class="modal-popup-background">
  <div class="modal-popup modal-popup-fixed">
    <%= link_to "close", "#", class: "delete-button modal-popup-close", id: "close_modal2" %>
    <div class="modal-content">
    </div>
    <%= render "layouts/inline_loading", title: "Loading..." %>
  </div>
</div>



<script type="text/javascript">
    (function ($) {
        $(document).ready(function () {

            $('.job-tab').click(function() {
                $(this).attr("href", $(this).attr("href") + window.location.hash);
            });

            // Needed in view because otherwise it conflicts with jquery menu. No idea?
            if ($('#new_member_name').length > 0) {
                $('#new_member_name').data("autocomplete")._renderItem = function (ul, item) {
                    return $("<li class='item_" + item.id + "'></li>").data("item.autocomplete", item).append(
                            "<a>" + (item.id > 0 ? "<img src='/assets/user_avatar_extrasmall.png' class='job-member-avatar pull-left'>" : "") + "<div class='job-user'><strong>" + item.value + " </strong>" + (item.id > 0 ? "<div><p class='job-user-title'>" + item.position_title + "</p><p class='job-user-district'>" + item.district + "</p></div>" : "") + "</div></a>").appendTo(ul)
                }
            }
            if ($('#new_note_name').length > 0) {
                $('#new_note_name').data("autocomplete")._renderItem = function (ul, item) {
                    return $("<li class='item_" + item.id + "'></li>").data("item.autocomplete", item).append(
                            "<a>" + (item.id > 0 ? "<img src='/assets/user_avatar_extrasmall.png' class='job-member-avatar pull-left'>" : "") + "<div class='job-user'><strong>" + item.value + " </strong>" + (item.id > 0 ? "<div><p class='job-user-title'>" + item.position_title + "</p><p class='job-user-district'>" + item.district + "</p></div>" : "") + "</div></a>").appendTo(ul)
                }
            }

            if (document.location.hash == '') {
                tray = $(".remote-tray[data-tray='overview']");
                tray.find('.content').hide();
                tray.find('.remote-loading').removeClass('hidden');
                tray.find('.loading').removeClass('hidden');
                setTimeout(function () {
                    $.ajax({
                        url: "/jobs/<%= @job.id %>?section=overview",
                        type: "GET",
                        dataType: "script"
                    });
                }, 1);
            }

        });
    }(jQuery));
</script>


<script type="text/javascript">
    (function ($) {
        $(document).ready(function () {
            $('.part-match').each(function (index, element) {
                $(element).data("autocomplete")._renderItem = function (ul, item) {
                    return $("<li class='item_" + item.id + "'></li>").data("item.autocomplete", item).append(
                            "<a><div>" + (item.id > 0 ? "<img src='/assets/tool.png' class='job-member-avatar pull-left'>" : "") + "</div><div><div class='job-user'><strong>" + item.value + " </strong>" + (item.id > 0 ? "<div>" + (item.serial_number != null ? ("<p class='job-user-title'><span class='help-text'>Serial # </span><b class='blue-text'>" + item.serial_number + "</b><span class='help-text'>District # </span><b class='blue-text'>" + item.district_serial_number + "</b></p>") : "<p class='job-user-title'><b class='blue-text'>Master Part</b></p>") + "</div>" : "") + "</div></div></a>").appendTo(ul)
                }
            });
        });
    }(jQuery));
</script>


<script type='text/javascript'>

    var oldHide = $.fn.popover.Constructor.prototype.hide;

    $.fn.popover.Constructor.prototype.hide = function () {
        if (this.options.trigger === "hover" && this.tip().is(":hover")) {
            var that = this;
            // try again after what would have been the delay
            setTimeout(function () {
                return that.hide.call(that, arguments);
            }, that.options.delay.hide);
            return;
        }
        oldHide.call(this, arguments);
    };

    var map = L.mapbox.map('map', 'elephant.map-vum3on5g');
    map.attributionControl = false;
    map.scrollWheelZoom.disable();

    var geoJson = [];
    geoJson.push({
        "type": "Feature",
        "geometry": {
            "type": "Point",
            "coordinates": [<%= @job.well.x_location %>, <%= @job.well.y_location %>]
        },
        "properties": {
            title: '<%= @job.well.field.name + ' | ' + @job.well.name %>',
            'marker-size': 'medium',
            'marker-color': '#0058a8'
            //'marker-symbol': '1'
        }
    });

    map.markerLayer.setGeoJSON(geoJson);

    map.markerLayer.on('click', function (e) {
        ///map.panTo(e.layer.getLatLng());
    });

    var bounds = [];
    bounds.push([<%= @job.well.y_location %>, <%= @job.well.x_location %>]);
    map.fitBounds(bounds);
    map.setZoom(6);
    //zoom = Math.round(map.getZoom());
    //if (zoom > 8) {
    //    map.setZoom(8);
    //}


    map.markerLayer.on('mouseover', function (e) {
        //e.layer.openPopup();
    });
    map.markerLayer.on('mouseout', function (e) {
        //e.layer.closePopup();
    });

    $('.expand-map-box').live("click", function () {
        if ($('.expand-text').text() == 'expand') {
            $('.expand-text').text('collapse');
            $('.map-container').css('height', '500px');
            $('.map-views').removeClass('hidden');
        }
        else {
            $('.expand-text').text('expand');
            $('.map-container').css('height', '80px');
            $('.map-views').addClass('hidden');
        }
        map._onResize();
        return false;
    });

    $('.map-area-view').live("click", function () {
        layer = L.mapbox.tileLayer('elephant.map-vum3on5g');
        layer.addTo(map);
        map.setZoom(6);
        map._onResize();
        return false;
    });

    $('.map-site-view').live("click", function () {
        layer = L.mapbox.tileLayer('elephant.map-6f5p6pfx');
        layer.addTo(map);
        map.setZoom(13);
        map.fitBounds(bounds);
        map._onResize();
        return false;
    });

    $('.mapbox-info-toggle').remove();


</script>


<br><br><br>
<br><br><br>



