<div class="content">
  <%= render 'job_data', job: @job, form_editable: true %>
</div>

<div class="content">
  <div class="">
    <a href="#" id="custom_data_toggle" class="custom-data-toggle">More Job Details</a>

    <div class="custom-data-closed" id="custom_data">
      <% @job.dynamic_fields.each do |df| %>
          <% if !df.dynamic_field_template.priority? %>
              <p class="job-field-title"><%= df.dynamic_field_template.name %></p>
              <input id="dynamic_field_<%= df.id %>" type="text" class="job-field-value-editable custom-data-input"
                     value="<%= df.value.present? ? df.value : "-" %>">
          <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="header">
  <h2>Documents</h2>
</div>

<h3 class="document-section-header">Pre-Job</h3>
<div class="content" id="documents">
  <% @job.documents.select {|item| item.category == "Pre-Job" }.each do |d| %>
      <%= render 'documents/document', document: d %>
  <% end %>
</div>

<h3 class="document-section-header">Pre-Job</h3>
<div class="content" id="documents2">
  <% @job.documents.select {|item| item.category == "Post-Job" }.each do |d| %>
      <%= render 'documents/document', document: d %>
  <% end %>
</div>


<div class="header">
  <h2>Notes/Comments</h2>
</div>


<div class="header">
  <h2>Activity</h2>
</div>
