<div class="content">
  <%= render 'job_data', job: @job, form_editable: true %>
</div>

<div class="content">
  <p class="job-field-title pull-left">Project Members</p>

  <div class="job-members-div pull-left">
    <ul class="job-members-list" id="job_members_list">
      <% @job.job_memberships.each do |jm| %>
          <%= render 'jobs/member', job_membership: jm %>
      <% end %>
    </ul>

    <%= form_for(@job_member, :html => {:class => "inline ", id: "new_member_form"}, remote: true) do |f| %>
        <%= f.hidden_field :job_id, id: "new_member_job_id", value: @job.id %>
        <%= f.hidden_field :user_id, id: "new_member_id" %>
        <%= text_field_tag "", "", data: {autocomplete_source: users_path},
                           placeholder: "Type a name...",
                           id: "new_member_name", class: "job-field-value-editable custom-data-input" %>
    <% end %>
  </div>
</div>


<div class="content">
  <div class="">
    <a href="#" id="custom_data_toggle" class="custom-data-toggle">More Job Details</a>

    <div class="custom-data-closed" id="custom_data">
      <% @job.dynamic_fields.each do |df| %>
          <% if !df.dynamic_field_template.priority? %>
              <p class="job-field-title"><%= df.dynamic_field_template.name %></p>
              <input id="dynamic_field_<%= df.id %>" type="text" class="job-field-value-editable custom-data-input"
                     value="<%= df.value.present? ? df.value : "-" %>">
          <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="header">
  <h2>Documents</h2>
</div>

<% if @pre_job_documents.all? { |d| d.url.present? } %>
    <h3 class="document-section-header status-good">Pre-Job</h3>
<% else %>
    <h3 class="document-section-header">Pre-Job</h3>
<% end %>
<div class="content" id="documents">
  <% @pre_job_documents.each do |d| %>
      <%= render 'documents/document', document: d, editable: false %>
  <% end %>
</div>

<% if @post_job_documents.all? { |d| d.url.present? } %>
    <h3 class="document-section-header status-good">Post-Job</h3>
<% else %>
    <h3 class="document-section-header">Post-Job</h3>
<% end %>
<div class="content" id="documents2">
  <% @post_job_documents.each do |d| %>
      <%= render 'documents/document', document: d, editable: false %>
  <% end %>
</div>


<div class="header">
  <h2>Notes/Comments</h2>
</div>
<div class="content">
  <%= form_for @job_note, remote: true, class: "" do |f| %>
      <div class="new-product-line">
        <%= f.hidden_field :job_id, value: @job.id %>
        <%= f.text_area :text, placeholder: "Type note here...", class: "txtfield job-notes-text", autofocus: false,
                        id: "new_note_id" %>
        <%= f.select :note_type, options_for_select([["Note", 1], ["Warning", 2], ["Problem", 3]]) %>
        <%= f.submit "Add", class: "bluebtn btnsmall" %>
      </div>
  <% end %>
</div>
<div id="job_notes" class="content">
  <% @job.job_notes.each do |job_note| %>
      <%= render 'job_notes/job_note', job_note: job_note %>
  <% end %>
</div>



<div class="header">
  <h2>Activity</h2>
</div>
<div id="job_activities" class="list">

</div>

<script type="text/javascript">
    (function ($) {
        $(document).ready(function () {
            $.ajax({
                type:"get",
                url:"/activities?job_id=<%= @job.id %>",
                dataType:'script'
            });
        });
    }(jQuery));
</script>



