<% if params[:section] == "primary_tools" %>
    $('#primary_tools_loading').after('<%= j render 'jobs/job_assets', job: @job %>');
    $('#primary_tools_loading').remove();

    var focusevent, last_selected_item, part_focused,
            _this = this;

    last_selected_item = null;

    focusevent = function(event, ui) {
        var selected_item;
        if (last_selected_item !== null) {
            $('.item_' + last_selected_item.id).removeClass('ui-state-hover');
        }
        selected_item = $('.item_' + ui.item.id);
        selected_item.addClass('ui-state-hover');
        return last_selected_item = ui.item;
    };

    $('.part-search').each(function(index, element) {
        return $(element).autocomplete({
            source: $(element).data('autocomplete-source'),
            focus: focusevent,
            select: function(event, ui) {
                if (ui.item.id > 0) {
                    $('#part_membership_part_id').val(ui.item.id);
                    setTimeout(function() {
                        $('#part_search').val(ui.item.label + ' (Serial #' + ui.item.serial_number + ')');
                    }, 1);
                }
            }
        });
    });

    part_focused = false;

    $('.part-search').focusin(function() {
        part_focused = true;
        $(this).removeClass('ui-autocomplete-bad');
        $(this).addClass('ui-autocomplete-typing');
        return $(this).val('').trigger('keydown');
    });

    $('.part-search').focusout(function() {
        if (part_focused) {
            $(this).addClass('ui-autocomplete-bad');
            if ($(this).val() === '') {
                return $(this).removeClass('ui-autocomplete-typing');
            }
        }
    });


    $('.part-search').data("autocomplete")._renderItem = function (ul, item) {
        return $("<li class='item_" + item.id + "'></li>").data("item.autocomplete", item).append(
                "<a><div>" + (item.id > 0 ? "<img src='/assets/tool.png' class='job-member-avatar pull-left'>" : "") + "</div><div><div class='pull-right help-text list-item-column-short'>" + item.warehouse + "</div><div class='job-user'><strong>" + item.value + " </strong>" + (item.id > 0 ? "<p class='job-user-district pull-right'><span class='help-text'>Material # </span>" + item.material_number + "</p>" : "") + (item.id > 0 ? "<div>" + (item.serial_number != null ? ("<p class='job-user-title'><span class='help-text'>Serial # </span><b class='orange-text'>" + item.serial_number + "</b>" + (item.district_serial_number != '' ? " / <span class='help-text'>District # </span><b class='orange-text'>" + item.district_serial_number + "</b>" : "") + "</p>") : "<p class='job-user-title'><b class='blue-text'>Master Part</b></p>") + "</div>" : "") + "</div></div></a>").appendTo(ul)
    }

    $('.popover').popover({  delay: { show: 100, hide: 100 } });


    var oldHide = $.fn.popover.Constructor.prototype.hide;

    $.fn.popover.Constructor.prototype.hide = function() {
        if (this.options.trigger === "hover" && this.tip().is(":hover")) {
            var that = this;
            // try again after what would have been the delay
            setTimeout(function() {
                return that.hide.call(that, arguments);
            }, that.options.delay.hide);
            return;
        }
        oldHide.call(this, arguments);
    };



<% elsif params[:section] == "documents" %>
    $('#documents_loading').after('<%= j render 'jobs/job_documents', job: @job %>');
    $('#documents_loading').remove();

<% elsif params[:section] == "notes" %>
    $('#notes_loading').after('<%= j render 'jobs/job_notes', job: @job, job_editable: @job_editable %>');
    $('#notes_loading').remove();
<% elsif params[:section] == "overview" %>
    $('#job_overview').replaceWith('<%= j render 'jobs/job_overview', job: @job %>');

    <% if @job.status == Job::ON_JOB %>
    setTimeout(function() {
        $.ajax('/jobs/' + <%= @job.id %> + "?section=overview", {
            type: 'get',
            dataType: 'script'
        });
    }, 60000);
    <% end %>
<% end %>

if (!window.matchMedia || !window.matchMedia("(max-device-width: 1024px)").matches) {
    $('.tooltip-info').tooltip();
}

$('.custom-select-ajax').customSelect();