<% provide(:title, "Job | " + @job.field.name + " | " + @job.well.name) %>

<%= render 'jobs/duplicate_warning', job: @job %>
<%= render 'jobs/job_process', job: @job %>

<div class="">
  <%= render 'job_data', job: @job, form_editable: @job_editable, in_form: true, new_line_job_type: false %>
</div>

<%= render 'jobs/job_members', job: @job, job_editable: @job_editable %>

<hr>

<div id="job_overview">
  <div class='center'>
    <span class="ajax-loading search-loading"><b>Loading overview...</b></span>
  </div>
</div>

<br>
<br>

<div id="job_<%= @job.id %>" class="job-main-div">
  <div class="">
    <br>
    <ul class="nav nav-pills alert alert-nav">

      <li class="<%= (params["new"].present? && params["new"] == "true") ? "" : "active" %>">
        <a href="#documents_data" class="job-tray-toggle custom-data-toggle tooltip-info"
           data-tray="documents_data"
           data-placement="bottom" data-title="Custom job data and values">Documents
        </a>
      </li>

      <li class="<%= (params["new"].present? && params["new"] == "true") ? "active" : "" %>">
        <a href="#custom_data" id="custom_data_toggle" class="job-tray-toggle custom-data-toggle tooltip-info"
           data-tray="custom_data"
           data-placement="bottom" data-title="Custom job data and values"><%= "Job Info" %>
        </a>
      </li>

      <li class="">
        <a href="#tools_assets" id="job_tools_toggle" class="job-tray-toggle custom-data-toggle tooltip-info"
           data-tray="tools_assets"
           data-placement="bottom" data-title="List of tools used on this job">Tools/Assets
        </a>
      </li>

      <li class="">
        <a href="#job_failures" id="job_tools_toggle" class="job-tray-toggle custom-data-toggle tooltip-info"
           data-tray="job_failures"
           data-placement="bottom" data-title="List of job failures">Failures
        </a>
      </li>

      <li class="">
        <a href="#notes" class="job-tray-toggle custom-data-toggle tooltip-info"
           data-tray="notes"
           data-placement="bottom" data-title="Daily Status, Requests, Notes, and Tasks for this job">Daily Notes
        </a>
      </li>

      <li class="">
        <a href="#activity" class="job-tray-toggle custom-data-toggle tooltip-info"
           data-tray="activity"
           data-placement="bottom" data-title="All Job Activity">Activity</a>
      </li>

      <li class="">
        <a href="#time" class="job-tray-toggle custom-data-toggle tooltip-info"
           data-tray="time"
           data-placement="bottom" data-title="Time/Scheduling">Time Sheet</a>
      </li>


    </ul>

    <%= render 'jobs/job_custom_data', job: @job, job_editable: @job_editable %>

    <div class="job-tray custom-data-closed" data-tray="tools_assets">
      <div id="assets_loading">
        <div class="remote-loading">
          <br><br>

          <div class="loading center">
            <br><br>
            <span class="ajax-loading search-loading"><b>Loading Assets...</b></span>
            <br>
          </div>
        </div>
      </div>
    </div>

    <div class="job-tray <%= (params["new"].present? && params["new"] == "true") ? "custom-data-closed" : "" %>" data-tray="documents_data">
      <div id="documents_loading">
        <div class="remote-loading">
          <br><br>

          <div class="loading center">
            <br><br>
            <span class="ajax-loading search-loading"><b>Loading Documents/Logs...</b></span>
            <br>
          </div>
        </div>
      </div>
    </div>

    <div class="job-tray custom-data-closed" data-tray="notes">
      <div id="notes_loading">
        <div class="remote-loading">
          <br><br>

          <div class="loading center">
            <br><br>
            <span class="ajax-loading search-loading"><b>Loading Reports/Notes...</b></span>
            <br>
          </div>
        </div>
      </div>
    </div>

    <div class="job-tray custom-data-closed" data-tray="job_failures">
      <div id="failures_loading">
        <div class="remote-loading">
          <br><br>

          <div class="loading center">
            <br><br>
            <span class="ajax-loading search-loading"><b>Loading Failures...</b></span>
            <br>
          </div>
        </div>
      </div>
    </div>

    <div class="job-tray custom-data-closed" data-tray="activity">
      <%= render 'activities/paginated_activity', activities: @activities, inside_job: true %>
    </div>

    <%= render 'jobs/job_time', job: @job %>
  </div>
</div>



<div id="modal_popup" class="modal-popup-background">
  <div class="modal-popup modal-popup-fixed">
    <%= link_to "close", "#", class: "delete-button modal-popup-close", id: "close_modal" %>
    <div class="modal-content">
    </div>
    <%= render "layouts/inline_loading", title: "Loading..." %>
  </div>
</div>

<div id="modal_popup2" class="modal-popup-background">
  <div class="modal-popup modal-popup-fixed">
    <%= link_to "close", "#", class: "delete-button modal-popup-close", id: "close_modal2" %>
    <div class="modal-content">
    </div>
    <%= render "layouts/inline_loading", title: "Loading..." %>
  </div>
</div>



<script type="text/javascript">
    (function ($) {
        $(document).ready(function () {

            // Needed in view because otherwise it conflicts with jquery menu. No idea?
            if ($('#new_member_name').length > 0) {
                $('#new_member_name').data("autocomplete")._renderItem = function (ul, item) {
                    return $("<li class='item_" + item.id + "'></li>").data("item.autocomplete", item).append(
                            "<a>" + (item.id > 0 ? "<img src='/assets/user_avatar_extrasmall.png' class='job-member-avatar pull-left'>" : "") + "<div class='job-user'><strong>" + item.value + " </strong>" + (item.id > 0 ? "<div><p class='job-user-title'>" + item.position_title + "</p><p class='job-user-district'>" + item.district + "</p></div>" : "") + "</div></a>").appendTo(ul)
                }
            }
            if ($('#new_note_name').length > 0) {
                $('#new_note_name').data("autocomplete")._renderItem = function (ul, item) {
                    return $("<li class='item_" + item.id + "'></li>").data("item.autocomplete", item).append(
                            "<a>" + (item.id > 0 ? "<img src='/assets/user_avatar_extrasmall.png' class='job-member-avatar pull-left'>" : "") + "<div class='job-user'><strong>" + item.value + " </strong>" + (item.id > 0 ? "<div><p class='job-user-title'>" + item.position_title + "</p><p class='job-user-district'>" + item.district + "</p></div>" : "") + "</div></a>").appendTo(ul)
                }
            }

            setTimeout(function(){

                $.ajax({
                    url: "/jobs/" + <%= @job.id.to_s %> +"?section=overview",
                    type: "GET",
                    dataType: "script"
                });


                if (document.location.hash == '') {
                    tray = $(".job-tray[data-tray='documents_data']");
                    tray.find('.content').hide();
                    tray.find('.remote-loading').removeClass('hidden');
                    tray.find('.loading').removeClass('hidden');
                    setTimeout(function () {
                        $.ajax({
                            url: "/jobs/<%= @job.id %>?section=documents_data",
                            type: "GET",
                            dataType: "script"
                        });
                    }, 1);
                }

                <% if false %>

                $.ajax({
                    url: "/jobs/" + <%= @job.id.to_s %> +"?section=documents",
                    type: "GET",
                    dataType: "script"
                });

                $.ajax({
                    url: "/jobs/" + <%= @job.id.to_s %> +"?section=tools_assets",
                    type: "GET",
                    dataType: "script"
                });

                $.ajax({
                    url: "/jobs/" + <%= @job.id.to_s %> +"?section=notes",
                    type: "GET",
                    dataType: "script"
                });

                $.ajax({
                    url: "/job_times?job=" + <%= @job.id.to_s %>,
                    type: "GET",
                    dataType: "script"
                });

                $.ajax({
                    url: "/jobs/" + <%= @job.id.to_s %> +"?section=failures",
                    type: "GET",
                    dataType: "script"
                });
                <% end %>

            }, 1);

        });
    }(jQuery));
</script>


<script type="text/javascript">
    (function ($) {
        $(document).ready(function () {
            $('.part-match').each(function (index, element) {
                $(element).data("autocomplete")._renderItem = function (ul, item) {
                    return $("<li class='item_" + item.id + "'></li>").data("item.autocomplete", item).append(
                            "<a><div>" + (item.id > 0 ? "<img src='/assets/tool.png' class='job-member-avatar pull-left'>" : "") + "</div><div><div class='job-user'><strong>" + item.value + " </strong>" + (item.id > 0 ? "<div>" + (item.serial_number != null ? ("<p class='job-user-title'><span class='help-text'>Serial # </span><b class='blue-text'>" + item.serial_number + "</b><span class='help-text'>District # </span><b class='blue-text'>" + item.district_serial_number + "</b></p>") : "<p class='job-user-title'><b class='blue-text'>Master Part</b></p>") + "</div>" : "") + "</div></div></a>").appendTo(ul)
                }
            });
        });
    }(jQuery));
</script>


<script type='text/javascript'>

    var oldHide = $.fn.popover.Constructor.prototype.hide;

    $.fn.popover.Constructor.prototype.hide = function() {
        if (this.options.trigger === "hover" && this.tip().is(":hover")) {
            var that = this;
            // try again after what would have been the delay
            setTimeout(function() {
                return that.hide.call(that, arguments);
            }, that.options.delay.hide);
            return;
        }
        oldHide.call(this, arguments);
    };

    var map = L.mapbox.map('map', 'elephant.map-vum3on5g');
    map.attributionControl = false;
    map.scrollWheelZoom.disable();

    var geoJson = [];
    geoJson.push({
        "type": "Feature",
        "geometry": {
            "type": "Point",
            "coordinates": [<%= @job.well.x_location %>, <%= @job.well.y_location %>]
        },
        "properties": {
            title: '<%= @job.well.field.name + ' | ' + @job.well.name %>',
            'marker-size': 'medium',
            'marker-color': '#0058a8'
            //'marker-symbol': '1'
        }
    });

    map.markerLayer.setGeoJSON(geoJson);

    map.markerLayer.on('click', function (e) {
        ///map.panTo(e.layer.getLatLng());
    });

    var bounds = [];
    bounds.push([<%= @job.well.y_location %>, <%= @job.well.x_location %>]);
    map.fitBounds(bounds);
    map.setZoom(6);
    //zoom = Math.round(map.getZoom());
    //if (zoom > 8) {
    //    map.setZoom(8);
    //}


    map.markerLayer.on('mouseover', function (e) {
        //e.layer.openPopup();
    });
    map.markerLayer.on('mouseout', function (e) {
        //e.layer.closePopup();
    });

    $('.expand-map-box').live("click", function () {
        if ($('.expand-text').text() == 'expand') {
            $('.expand-text').text('collapse');
            $('.map-container').css('height', '500px');
            $('.map-views').removeClass('hidden');
        }
        else {
            $('.expand-text').text('expand');
            $('.map-container').css('height', '80px');
            $('.map-views').addClass('hidden');
        }
        map._onResize();
        return false;
    });

    $('.map-area-view').live("click", function () {
        layer = L.mapbox.tileLayer('elephant.map-vum3on5g');
        layer.addTo(map);
        map.setZoom(6);
        map._onResize();
        return false;
    });

    $('.map-site-view').live("click", function () {
        layer = L.mapbox.tileLayer('elephant.map-6f5p6pfx');
        layer.addTo(map);
        map.setZoom(13);
        map.fitBounds(bounds);
        map._onResize();
        return false;
    });
</script>



