<%= render 'jobs/duplicate_warning', job: @job %>
<%= render 'jobs/job_process', job: @job %>

<div class="">
  <%= render 'job_data', job: @job, form_editable: @job_editable, in_form: true, new_line_job_type: false %>
</div>


<%= render 'jobs/job_members', job: @job, job_editable: @job_editable %>

<hr>
<%= render 'jobs/job_overview', job: @job %>

<br>
<br>

<div id="job_<%= @job.id %>" class="job-main-div">
  <div class="">
    <br>
    <ul class="nav nav-pills alert alert-info">

      <li class="<%= (params["new"].present? && params["new"] == "true") ? "" : "active" %>">
        <a href="#" class="job-tray-toggle custom-data-toggle tooltip-info"
           data-tray="documents_data"
           data-placement="bottom" data-title="Custom job data and values">Documents
          <%= "(" + @job.documents.select { |d| d.category != Document::POST_JOB_REPORT && d.category != Document::POST_JOB_REPORT_PART }.count.to_s + ")" %></a>
      </li>

      <li class="<%= (params["new"].present? && params["new"] == "true") ? "active" : "" %>">
        <a href="#" id="custom_data_toggle" class="job-tray-toggle custom-data-toggle tooltip-info"
           data-tray="custom_data"
           data-placement="bottom" data-title="Custom job data and values"><%= "Job Data" %>
          <%= "(" + @job.dynamic_fields.select { |df| (!df.dynamic_field_template.nil? and !df.dynamic_field_template.priority?) or (df.dynamic_field_template.nil? and !df.priority?) }.count.to_s + ")" %></a>
      </li>

      <li class="push-right-small">
        <a href="#" id="job_tools_toggle" class="job-tray-toggle custom-data-toggle tooltip-info"
           data-tray="primary_tools"
           data-placement="bottom" data-title="List of tools used on this job">Primary Tools
          <%= "(" + @job.job_template.primary_tools.count.to_s + ")" %></a>
      </li>

      <li class="push-right-small">
        <a href="#" id="job_secondary_tools_toggle" class="job-tray-toggle custom-data-toggle tooltip-info"
           data-tray="secondary_tools"
           data-placement="bottom" data-title="List of secondary tools used on this job">Secondary Tools
          <span class="secondary-tool-count"><%= "(" + @job.secondary_tools.count.to_s + ")" %></span></a>
      </li>

      <li class="push-right-small">
        <a href="#" class="job-tray-toggle custom-data-toggle tooltip-info"
           data-tray="notes"
           data-placement="bottom" data-title="Notes and Tasks for this job">Notes
          <span class="job-notes-count"><%= "(" + @job.job_notes.count.to_s + ")" %></span></a>
      </li>

      <li class="push-right-small">
        <a href="#" class="job-tray-toggle custom-data-toggle tooltip-info"
           data-tray="activity"
           data-placement="bottom" data-title="All Job Activity">Activity</a>
      </li>


    </ul>

    <%= render 'jobs/job_custom_data', job: @job, job_editable: @job_editable %>
    <div class="job-tray custom-data-closed" data-tray="primary_tools">
      <div id="primary_tools_loading">
        <div class="remote-loading">
          <br>
          <br>

          <div class="loading center">
            <br>
            <br>
            <span class="ajax-loading search-loading"><b>Loading Primary Tools...</b></span>
            <br>
          </div>
        </div>
      </div>
    </div>
    <%= render 'jobs/job_secondary_tools', job: @job, job_editable: @job_editable %>
    <%= render 'jobs/job_documents', job: @job %>
    <%= render 'jobs/job_notes', job: @job, job_editable: @job_editable %>
    <div class="job-tray custom-data-closed" data-tray="activity">
      <%= render 'activities/paginated_activity', activities: @activities, inside_job: true %>
    </div>

  </div>
</div>






<div id="modal_popup" class="modal-popup-background">
  <div class="modal-popup">
    <%= link_to "close", "#", class: "delete-button modal-popup-close", id: "close_modal" %>
    <div class="modal-content">
    </div>
    <div class="loading hidden">
      <br>
      <span class="ajax-loading search-loading push-right"><b>Loading, please wait</b></span>
    </div>
  </div>
</div>

<script type="text/javascript">
    (function ($) {
        $(document).ready(function () {
            // Needed in view because otherwise it conflicts with jquery menu. No idea?
            $('#new_member_name').data("autocomplete")._renderItem = function (ul, item) {
                return $("<li class='item_" + item.id + "'></li>").data("item.autocomplete", item).append(
                        "<a>" + (item.id > 0 ? "<img src='/assets/user_avatar_extrasmall.png' class='job-member-avatar pull-left'>" : "") + "<div class='job-user'><strong>" + item.value + " </strong>" + (item.id > 0 ? "<div><p class='job-user-title'>" + item.position_title + "</p><p class='job-user-district'>" + item.district + "</p></div>" : "") + "</div></a>").appendTo(ul)
            }
            $('#new_note_name').data("autocomplete")._renderItem = function (ul, item) {
                return $("<li class='item_" + item.id + "'></li>").data("item.autocomplete", item).append(
                        "<a>" + (item.id > 0 ? "<img src='/assets/user_avatar_extrasmall.png' class='job-member-avatar pull-left'>" : "") + "<div class='job-user'><strong>" + item.value + " </strong>" + (item.id > 0 ? "<div><p class='job-user-title'>" + item.position_title + "</p><p class='job-user-district'>" + item.district + "</p></div>" : "") + "</div></a>").appendTo(ul)
            }

            $.ajax({
                url: "/job_process/" + <%= @job.id.to_s %>,
                type: "GET",
                dataType: "script"
            });

            <% if @job.status == Job::ACTIVE %>
            $.ajax({
                url: "/failures/" + <%= @job.id.to_s %>,
                type: "GET",
                dataType: "script"
            });
            <% end %>

            $.ajax({
                url: "/jobs/" + <%= @job.id.to_s %> +"?section=primary_tools",
                type: "GET",
                dataType: "script"
            });
        });
    }(jQuery));
</script>


<script type="text/javascript">
    (function ($) {
        $(document).ready(function () {
            $('.part-match').each(function (index, element) {
                $(element).data("autocomplete")._renderItem = function (ul, item) {
                    return $("<li class='item_" + item.id + "'></li>").data("item.autocomplete", item).append(
                            "<a><div>" + (item.id > 0 ? "<img src='/assets/tool.png' class='job-member-avatar pull-left'>" : "") + "</div><div><div class='job-user'><strong>" + item.value + " </strong>" + (item.id > 0 ? "<div>" + (item.district_serial_number != null ? ("<p class='job-user-title'><span class='help-text'>District # </span><b class='blue-text'>" + item.district_serial_number + "</b></p>") : "<p class='job-user-title'><b class='blue-text'>Master Part</b></p>") + "<p class='job-user-district'><span class='help-text'>Material # </span>" + item.material_number + "</p></div>" : "") + "</div></div></a>").appendTo(ul)
                }
            });
        });
    }(jQuery));
</script>



