<% provide(:title, 'Insight') %>

<div class="page_header">
  <h1>Insight</h1>
</div>

<br>
<h3>New Failures</h3>
<br>

<div id="failures" class="list">
  <% @failures.each do |failure| %>
      <% if failure.job.present? %>
          <% job = failure.job %>
          <%= link_to failure.job, class: "job-link tooltip-info",
                      "data-html" => true,
                      "data-placement" => "right",
                      "data-title" => "<div class='well-tooltip'>" +
                              (job.close_date.present? ? "" : "<p class='alert alert-info'><b class='blue-text'>" + job.status_string + "</b></p><br>") +
                              "<img src='" + image_path('district_extrasmall.png') + "' class='job-status-avatar'><b>" + (job.district.present? ? job.district.name : "") + "</b><br>" +
                              "<br><b class='blue-text'>" + job.client.name + "</b>" +
                              "<br><b>" + (job.start_date.present? ? job.start_date.strftime("%m/%d/%Y") : job.created_at.strftime("%m/%d/%Y")) + "</b><br><br>" +
                              "<h3>" + job.job_template.product_line.name + " / " + job.job_template.name + "</h3>" +
                              "<hr><h3>" + job.dynamic_fields.select { |df| !df.template? && df.priority? }.map { |df| df.name + ": " + (df.value.present? ? df.value : "-") }.join("<br>") + "</h3>" +
                              "</div>" do %>
              <div class="">
                <span><b><%= failure.job.job_template.name %></b></span>
                <div class="job-failure-item">- <%= failure.failure_master_template.text %></div>
                <div class="inline push-right-small"><%= !failure.reference.blank? ? "(" + failure.reference + ")" : "" %></div>
              </div>
                <p><%= time_ago_in_words(failure.created_at) %> ago</p>

          <% end %>
      <% end %>
  <% end %>
</div>