<div class="pull-right">
  <a class="activity-user-link division-jobs-toggle" href="#">Show/hide All Divisions</a>
</div>
<h3>Divisions</h3>

<hr>
<div class="content">
  <% all_active_jobs = current_user.company.active_jobs.count %>
  <% current_user.company.divisions.each do |division| %>
      <% active_jobs = division.active_jobs.count %>
      <div class="<%= (active_jobs== 0 ? "hidden division-job-item" : "") %>">
        <%= link_to division, class: "job-link" do %>
            <div class="chart-problem">
              <div class="job-bar-name"><%= division.name %>
                <p class="inline">&nbsp;<%= active_jobs %></p>
              </div>

              <% if active_jobs > 0 %>
                  <div class="job-bar">
                    <div style="width: <%= (active_jobs.to_f / all_active_jobs.to_f) * 100 %>%"></div>
                  </div>
              <% end %>
            </div>
        <% end %>
      </div>
  <% end %>
</div>
