<div class="pull-right">
  <a class="activity-user-link division-jobs-toggle" href="#">Show/hide All Segments</a>
</div>
<h3>Segments</h3>
<hr>
<div class="content">
  <% division.segments.each do |segment| %>
      <div class="<%= (segment.active_jobs.count == 0 ? "hidden division-job-item" : "") %>">
        <%= link_to segment, class: "job-link" do %>
            <div class="chart-problem">
              <div class="job-bar-name"><%= segment.name %>
                <p class="inline">&nbsp;<%= segment.active_jobs.count %></p>
              </div>

              <% if segment.active_jobs.count > 0 %>
                  <div class="job-bar">
                    <div style="width: <%= (segment.active_jobs.count.to_f / division.active_jobs.count.to_f) * 100 %>%"></div>
                  </div>
              <% end %>
            </div>
        <% end %>
      </div>
  <% end %>
</div>
