<%= render 'shared/error_messages', object: f.object %>

<div class="">

  <div>
    <div class="">
      <div class='job-field-title inline-block' style="font-family: gothammediumregular; font-size: 14px;">Name</div>
      <%= f.text_field :name, placeholder: "Full Name", class: "txtfield tooltip-info",
                       "data-placement" => "bottom",
                       "data-title" => "Full Name" %>
    </div>
    <div class="">
      <div class='job-field-title inline-block' style="font-family: gothammediumregular; font-size: 14px;">Email</div>
      <% if @user.new_record? %>
          <%= f.text_field :email, placeholder: "Email Address", class: "txtfield tooltip-info",
                           "data-placement" => "bottom",
                           "data-title" => "Email Address" %>
      <% else %>
          <p class="inline-block blue-text" style='height: 35px; padding-top: 10px;'><b class=''><%= @user.email %></b></p>
      <% end %>
    </div>
    <div>
      <div class='job-field-title inline-block' style="font-family: gothammediumregular; font-size: 14px;">Phone #</div>
      <%= f.text_field :phone_number, placeholder: "Phone Number", class: "txtfield small tooltip-info",
                       "data-placement" => "bottom",
                       "data-title" => "Phone Number" %>
    </div>


    <div class="hidden">
      <%= image_tag "district_extrasmall.png", class: "job-status-avatar" %>

      <%= f.hidden_field :district_id, id: "district_id", value: @districts.first.id %>
      <%= text_field_tag "", "", data: {autocomplete_source: districts_path},
                         value: @user.district.present? ? @user.district.name : nil,
                         placeholder: "Type a district name...",
                         id: "district_name", class: "txtfield small tooltip-info",
                         "data-placement" => "bottom",
                         "data-title" => "District Name" %>
    </div>
    <div class="">

      <div class='job-field-title inline-block' style="font-family: gothammediumregular; font-size: 14px;">Access</div>

      <%= f.select :role_id, options_for_select([["Full Access", UserRole::ROLE_SUPPORT], ["Limited (assigned jobs)", UserRole::ROLE_FIELD_ENGINEER]], @user.role_id),
                   {},
                   id: "roles_list",
                   class: "custom-select custom-select-ajax " %>
    </div>

  </div>


</div>


<script type="text/javascript">
    (function ($) {
        $(document).ready(function () {
            $('#district_name').data("autocomplete")._renderItem = function (ul, item) {
                return $("<li class='item_" + item.id + "'></li>").data("item.autocomplete", item).append(
                        "<a>" + (item.id > 0 ? "<div><img src='/assets/district_extrasmall.png' class='job-member-avatar pull-left'></div>" : "") + "<div class='job-user'><strong>" + item.value + " </strong>" + (item.id > 0 ? "<div><p class='job-user-title'>" + item.country + ", " + item.state + "  " + item.city + "</p><p class='job-user-district'>" + item.region + "</p></div>" : "") + "</div></a>").appendTo(ul)
            }
        });
    }(jQuery));
</script>
