<%= render 'shared/error_messages', object: f.object %>

<div class="well">

  <div>
    <div class="field stripe">
      <%= f.text_field :name, placeholder: "Full Name", class: "txtfield tooltip-info",
                       "data-placement" => "bottom",
                       "data-title" => "Full Name" %>

      <div class="inline">
        <% if @user.new_record? %>
            <%= f.text_field :email, placeholder: "Email Address", class: "txtfield tooltip-info",
                             "data-placement" => "bottom",
                             "data-title" => "Email Address" %>
        <% else %>
            <p class="inline blue-text push-right-small">Email &nbsp;&nbsp; <b><%= @user.email %></b></p>
        <% end %>
      </div>
    </div>


    <div class="field stripe">
      <%= image_tag "district_extrasmall.png", class: "job-status-avatar" %>

      <%= f.hidden_field :district_id, id: "district_id" %>
      <%= text_field_tag "", "", data: {autocomplete_source: districts_path},
                         value: @user.district.present? ? @user.district.name : nil,
                         placeholder: "Type a district name...",
                         id: "district_name", class: "txtfield small tooltip-info",
                         "data-placement" => "bottom",
                         "data-title" => "District Name" %>
    </div>
    <div class="field stripe">
      <%= image_tag "user_avatar_extrasmall.png", class: "job-status-avatar" %>

      <%= f.select :role_id, options_for_select(@roles, @user.role_id),
                   prompt: "Select a User Role...",
                   id: "roles_list",
                   class: "" %>
    </div>
    <div class="field stripe">
      <%= image_tag "division_extrasmall.png", class: "job-status-avatar" %>

      <%= select_tag "Divisions", options_for_select(@divisions.collect { |p| [p.name, p.id] }, !@division.nil? ? @division.id : nil),
                     name: "user[division_id]",
                     prompt: "Select a Division...", id: "job_division_id", class: "tooltip-info",
                     "data-placement" => "bottom",
                     "data-title" => "Division" %>

      <%= select_tag "Segments", options_for_select(@segments.collect { |p| [p.name, p.id] }, !@segment.nil? ? @segment.id : nil),
                     name: "user[segment_id]",
                     prompt: "Select a Segment...", id: "job_segment_id", class: "tooltip-info",
                     "data-placement" => "bottom",
                     "data-title" => "Segment" %>

      <%= select_tag "Product Lines", options_for_select(@product_lines.collect { |p| [p.name, p.id] }, !@product_line.nil? ? @product_line.id : nil),
                     name: "user[product_line_id]",
                     prompt: "Select a Product Line....", id: "job_product_line_id", class: "tooltip-info",
                     "data-placement" => "bottom",
                     "data-title" => "Product Line" %>

    </div>
  </div>


  <hr>
  <b>Optional Information</b>
  <br>
  <br>

  <div class="field stripe">
    <%= f.text_field :location, placeholder: "City", class: "txtfield tooltip-info",
                     "data-placement" => "bottom",
                     "data-title" => "City based in" %>

  </div>

  <div class="field stripe">
    <%= f.text_field :phone_number, placeholder: "Phone Number", class: "txtfield small tooltip-info",
                     "data-placement" => "bottom",
                     "data-title" => "Phone Number" %>
    <p class="push-right-small inline help-text">*Used for urgent text message job alerts</p>
  </div>


</div>


<script type="text/javascript">
    (function ($) {
        $(document).ready(function () {
            $('#district_name').data("autocomplete")._renderItem = function (ul, item) {
                return $("<li class='item_" + item.id + "'></li>").data("item.autocomplete", item).append(
                        "<a>" + (item.id > 0 ? "<div><img src='/assets/district_extrasmall.png' class='job-member-avatar pull-left'></div>" : "") + "<div class='job-user'><strong>" + item.value + " </strong>" + (item.id > 0 ? "<div><p class='job-user-title'>" + item.country + ", " + item.state + "  " + item.city + "</p><p class='job-user-district'>" + item.region + "</p></div>" : "") + "</div></a>").appendTo(ul)
            }
        });
    }(jQuery));
</script>
