<%= render 'shared/error_messages', object: f.object %>

<div class="header">
  <h2>Information</h2>
</div>

<div class="content">

  <div class="field stripe">
    <%= f.text_field :name, placeholder: "Full Name", class: "txtfield" %>
  </div>
  <div class="field stripe">
    <%= f.text_field :email, placeholder: "Email Address", class: "txtfield" %>
  </div>

  <div class="field stripe">
    <%= f.label :district_id, class: "field-title" %>
    <%= f.select :district_id, @districts.collect { |p| [p.name, p.id] },
                 id: "districts_list",
                 prompt: "Select a District..." %>
    <%= link_to "New", new_district_path, class: "bluebtn btnsmall" %>
  </div>
  <div class="field stripe">
    <%= f.label "Role", class: "field-title" %>
    <%= f.select :role_id, @roles.collect { |p| [p.title, p.id] },
                 id: "roles_list",
                 prompt: "Select a Role..." %>
    <%= link_to "New", new_user_role_path, class: "bluebtn btnsmall" %>
  </div>
  <div class="field stripe">
    <%= f.label "Product Line", class: "field-title" %>

    <%= select_tag "Divisions", options_for_select(@divisions.collect { |p| [p.name, p.id] },  !@division.nil? ? @division.id : nil),
                   prompt: "Select a Division...", id: "job_division_id" %>

    <%= select_tag "Segments", options_for_select(@segments.collect { |p| [p.name, p.id] }, !@segment.nil? ? @segment.id : nil),
                   prompt: "Select a Segment...", id: "job_segment_id" %>

    <%= select_tag "Product Lines", options_for_select(@product_lines.collect { |p| [p.name, p.id] }, !@product_line.nil? ? @product_line.id : nil),
                 name: "user[product_line_id]",
                 prompt: "Select a Product Line....", id: "job_product_line_id" %>

  </div>

  <div class="field stripe">
    <%= f.text_field :location, placeholder: "Location", class: "txtfield" %>
  </div>

  <div class="field stripe">
    <%= f.text_field :phone_number, placeholder: "Phone Number", class: "txtfield" %>
  </div>

</div>
