<div class="user-line">
  <%= image_tag "user_avatar_extrasmall.png", class: "job-status-avatar" %>
  <h3><%= user.name %></h3>

  <div class="user-line-title"><%= user.title %></div>

  <div class="user-line-district"><%= user.district.name %></div>

  <div class="user-line-email"><%= user.email %></div>
</div>