<% provide(:title, 'Users') %>

<div class="page_header">
  <h1>Users</h1>

  <h2 class="paginated-count">
    <%= render 'layouts/paged_header', items: @users %>
  </h2>

  <% if signed_in_admin? %>
      <%= link_to "+ Add New User", new_user_path, class: "bluebtn page_header_button tooltip-info",
                  "data-placement" => "bottom",
                  "data-title" => "Create new user"%>
  <% end %>

  <%= form_tag users_path, :method => 'get', :id => "users_search", class: "inline search-box" do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search users", class: "search-query tooltip-info",
                         "data-placement" => "left",
                         "data-title" => "Filter users by name"%>
  <% end %>
</div>


<div id="users_list">
  <div id="users" class="list">
    <%= render @users %>
  </div>
  <%= will_paginate %>
</div>