<div class="content">

  <div class="avatar-box">
    <%= image_tag "user_avatar.png" %>
  </div>

  <div class="users-info">
    <h1 class="page-title users-info"><%= @user.name %></h1>

    <h2 class="users-info"><%= @user.role.title %></h2>

    <%= link_to @user.district.name, @user.district, class: "user-info-link" %>

    <%= link_to @user.email, "mailto:" + @user.email, class: "user-info-link tooltip-info",
                "data-placement" => "bottom",
                "data-title" => "Send email to " + @user.name %>

    <h3><%= @user.phone_number %></h3>

    <div class="message-box">
      <%= link_to "SEND MESSAGE", new_conversation_path(to_user_id: @user.id), class: "bluebtn tooltip-info",
                  "data-placement" => "bottom",
                  "data-title" => "Send Elephant message to " + @user.name %>
    </div>
  </div>

</div>

<br><br><br>


<div class="page_header">
  <h1><%= t ".jobs" %></h1>

  <h2>
    <% if @user.active_jobs.count > 0 %>
        <% if params[:page].present? %>
            <%= ((Integer(params[:page]) - 1) * 10) + 1 %>
            - <%= [((Integer(params[:page]) - 1) * 10) + 10, @user.active_jobs.count].min %>
            of <%= @user.active_jobs.count.to_s %>
        <% else %>
            1 - <%= [10, @user.active_jobs.count].min %> of <%= @user.active_jobs.count.to_s %>
        <% end %>
    <% end %>
  </h2>
</div>

<div class="content">
  <div id="jobs" class="list">
    <% @user.active_jobs.each do |job| %>
        <%= link_to job, class: "job-link tooltip-info",
                    "data-placement" => "left",
                    "data-title" => "Click to open job" do %>
            <%= render 'jobs/job_data', job: job, form_editable: false, in_form: false, new_line_job_type: false %>
        <% end %>
    <% end %>
  </div>

  <% if @user.inactive_jobs.count > 0 %>
      <div class="content">
        <br>
        <%= link_to "View Completed Jobs (" + @user.inactive_jobs.count.to_s + ")", "#", class: "user-info-link" %>
        <br>
      </div>
  <% end %>
</div>

<br>

<%= render 'activities/paginated_activity', activities: @activities, inside_job: false, in_form: false %>
