<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Admin:</b>
  <%= @user.admin %>
</p>

<p>
  <b>Company:</b>
  <%= @user.company.name %>
</p>

<p>
  <b>District:</b>
  <%= @user.district_id %>
</p>

<p>
  <b>Location:</b>
  <%= @user.location %>
</p>

<p>
  <b>Position title:</b>
  <%= @user.position_title %>
</p>

<p>
  <b>Phone number:</b>
  <%= @user.phone_number %>
</p>
