<h1 class="page-title"><%= @user.name %></h1>

<div class="header">
  <h2 class="header-title">Information</h2>
</div>


<div class="content">

  <div class="field">
    <b class="b-label">Email</b>
    <%= link_to @user.email, "mailto:" + @user.email %>
  </div>

  <div class="field">
    <b class="b-label">Admin</b>
    <%= @user.admin %>
  </div>

  <div class="field">
    <b class="b-label">District</b>
    <%= @user.district_id %>
  </div>

  <div class="field">
    <b class="b-label">Location</b>
    <%= @user.location %>
  </div>

  <div class="field">
    <b class="b-label">Position title</b>
    <%= @user.position_title %>
  </div>

  <div class="field">
    <b class="b-label">Phone number</b>
    <%= @user.phone_number %>
  </div>

</div>