<div class="content">

  <div class="avatar-box">
    <%= image_tag "user_avatar.png" %>
  </div>

  <div class="users-info">
    <h1 class="page-title users-info"><%= @user.name %></h1>

    <h2 class="users-info"><%= @user.role.title %></h2>

    <div class="">
        <%= image_tag "district_extrasmall.png", class: "job-status-avatar inline" %>
        <%= link_to @user.district.name, @user.district, class: "activity-user-link" %>
    </div>
    <br>

    <%= link_to @user.email, "mailto:" + @user.email, class: "user-info-link tooltip-info",
                "data-placement" => "bottom",
                "data-title" => "Send email to " + @user.name %>

    <h3><%= @user.phone_number %></h3>

    <div class="message-box">
      <%= link_to "SEND MESSAGE", new_conversation_path(to_user_id: @user.id), class: "bluebtn tooltip-info",
                  "data-placement" => "bottom",
                  "data-title" => "Send Elephant message to " + @user.name %>
    </div>
  </div>

</div>

<br><br><br>

<div class="">

  <div class="chart-block tooltip-info"
       data-title="'Total Jobs' is the number of jobs being analyzed based on the set of filters.">
    <div class="chart-title">Active Jobs</div>
    <div class="donut-chart-div">
      <div class="donut-text "><%= @user.active_jobs.count %></div>
      <div class="percentage ">jobs</div>
    </div>
  </div>

  <div class="chart-block tooltip-info"
       data-title="'Total Jobs' is the number of jobs being analyzed based on the set of filters.">
    <div class="chart-title">Total Jobs</div>
    <div class="donut-chart-div">
      <div class="donut-text "><%= @user.jobs.count %></div>
      <div class="percentage ">jobs</div>
    </div>
  </div>

  <div class="chart-block tooltip-info"
       data-title="'Elephant Utilization' is the utilization of Elephant compared to all jobs by your organization.">
    <div class="chart-title">Elephant Utilization</div>
    <div class="donut-chart-div">
      <div id="elephant_utilization" class="donut-chart "></div>
      <div class="donut-inner-circle"></div>
      <div class="donut-text ">67</div>
      <div class="percentage ">%</div>
    </div>
  </div>
</div>

<div class="page_header">
  <h1><%= t ".jobs" %></h1>

  <h2>
    <% if @user.active_jobs.count > 0 %>
        <% if params[:page].present? %>
            <%= ((Integer(params[:page]) - 1) * 10) + 1 %>
            - <%= [((Integer(params[:page]) - 1) * 10) + 10, @user.active_jobs.count].min %>
            of <%= @user.active_jobs.count.to_s %>
        <% else %>
            1 - <%= [10, @user.active_jobs.count].min %> of <%= @user.active_jobs.count.to_s %>
        <% end %>
    <% end %>
  </h2>
</div>

<div class="content">
  <div id="jobs" class="list">
    <% @user.active_jobs.each do |job| %>
        <%= link_to job, class: "job-link tooltip-info",
                    "data-placement" => "left",
                    "data-title" => "Click to open job" do %>
            <%= render 'jobs/job_data', job: job, form_editable: false, in_form: false, new_line_job_type: false %>
        <% end %>
    <% end %>
  </div>

  <% if @user.inactive_jobs.count > 0 %>
      <div class="content">
        <br>
        <%= link_to "View Completed Jobs (" + @user.inactive_jobs.count.to_s + ")", "#", class: "user-info-link" %>
        <br>
      </div>
  <% end %>
</div>

<br>

<%= render 'activities/paginated_activity', activities: @activities, inside_job: false, in_form: false %>



<script>
    $(document).ready(function () {
        var plot3 = $.jqplot('elephant_utilization', [
            [
                ['a', 67],
                ['b', 100 - 67]
            ]
        ], {
            animate:true,
            background:"#FFFFFF",
            seriesColors:[ "#458fd2", "#FFFFFF"],
            seriesDefaults:{
                textColor:" #00ff0000",
                shadow:false,
                renderer:$.jqplot.DonutRenderer,
                rendererOptions:{
                    padding:0,
                    innerDiameter:95,
                    sliceMargin:0,
                    startAngle:-90,
                    showDataLabels:true,
                    dataLabels:'value'
                }
            }
        });
    });
</script>