<div class="content">

  <div class="avatar-box">
    <%= image_tag "user_avatar.png" %>
  </div>

  <div class="users-info">
    <h1 class="page-title users-info"><%= @user.name %></h1>

    <h2 class="users-info"><%= @user.position_title %></h2>

    <%= link_to @user.district.name, @user.district, class: "user-info-link" %>

    <%= link_to @user.email, "mailto:" + @user.email, class: "user-info-link" %>

    <h3><%= @user.phone_number %></h3>

    <div class="message-box">
      <%= link_to "SEND MESSAGE", new_user_path, class: "bluebtn" %>
    </div>
  </div>

</div>


<div class="header">
  <h2 class="header-title">Jobs</h2>
</div>

<div class="content">
  <div id="jobs" class="list">
    <% @user.jobs.each do |job| %>
        <%= link_to job, class: "job-link" do %>
            <%= render 'jobs/job_data', job: job, form_editable: false %>
        <% end %>
    <% end %>
  </div>
</div>


<div class="header">
  <h2 class="header-title">Activity</h2>
</div>
<div id="activities" class="list">
  <% @activities.each do |activity| %>
      <%= render 'activities/job_activity', activity: activity, inside_job: false %>
  <% end %>
</div>