<% provide(:title, "Update Customer") %>

<div class="section-header">
  <h1><%= t ".title" %></h1>

  <div class="btn-group inline pull-right">
    <a class="custom-data-toggle-jobs" data-toggle="dropdown" href="#">
      Advanced Actions
    </a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to "Delete Client", @client, method: :delete,
                    data: {confirm: I18n.t("clients.edit.delete") + " " + @client.name + "?"},
                    class: "dropdown-menu-link tooltip-info",
                    "data-placement" => "left",
                    "data-title" => "Permanently delete customer." %>
      </li>
    </ul>
  </div>
</div>

<div class="form">
  <%= form_for(@client) do |f| %>

      <%= render "form", f: f %>

      <div class="actions">
        <%= f.submit I18n.t("clients.edit.save"), class: "btn btn-success pull-right tooltip-info form-loading-on-click",
                     "data-title" => "Save customer and return to all customers" %>
      </div>
  <% end %>
</div>

<%= render "layouts/inline_loading", title: "Saving customer, please wait" %>
