<% provide(:title, @client.name) %>

<div class="page_header">
  <h1><%= @client.name %></h1>

  <h3 class="inline">&nbsp;Customer</h3>

  <h2 class="paginated-count"><%= t ".jobs" %>:
    <%= render 'layouts/paged_header', items: @jobs %>
  </h2>
</div>

<div class="alert alert-info">
  <%= form_tag @client, :method => 'get', :id => "inline_search", class: "filter-search-box" do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search in customer jobs...", class: "search-query tooltip-info",
                         "data-placement" => "left",
                         "data-title" => "Search in customer jobs..." %>
      <% if params[:search].present? && !params[:search].blank? %>
          <%= link_to "x  clear results", @client, class: "activity-user-link push-right-small" %>
      <% end %>
  <% end %>
</div>



<% if @client_jobs.present? %>
    <div class="well">
      <%= render 'jobs/index_parts/jobs_count', jobs: @client_jobs %>
    </div>
<% end %>



<div id="search_results">
  <div id="jobs" class="list">
    <% @jobs.each do |job| %>
        <%= render 'jobs/job_progress_link', job: job %>
    <% end %>
  </div>

  <div id="full_paginate">
    <%= will_paginate @jobs %>
  </div>
</div>

<div id="search_loading" class="hidden">
  <%= render 'layouts/inline_loading', title: "Searching..." %>
</div>



