<div id="product_line_<%= product_line.id %>" class="div-expand-root">


  <div class="header product-line">

    <a href="#" class="div-expand-toggle div-toggle-button tooltip-info"
       data-placement="bottom"
       data-title="Click to expand/collapse job types">


      <span class="product-line-header"><%= product_line.name %><span class="division-level-name">Product Line</span></span>

    </a>


  </div>


  <div id="job_templates_<%= product_line.id %>"
       class="div-toggle-content indent-content-container <%= params[:product_line] != product_line.id.to_s ? "hidden" : "" %>">
    <div class="indent-content">
      <%= render product_line.job_templates %>
    </div>

    <%= link_to "Add Job Type",
                new_job_template_path(product_line: product_line),
                class: "add-button tooltip-info",
                "data-placement" => "bottom",
                "data-title" => "Create new job type on " + product_line.name %>


    <div class="inline dropdown pull-right">
      <br>
      <a href="#" class="activity-user-link dropdown-toggle tooltip-info push-right-small"
         data-placement="bottom"
         data-title="Click to rename/delete product line"
         data-toggle="dropdown"
         id="product_line_<%= product_line.id %>_header">Rename/Delete Product Line
      </a>

      <ul class="dropdown-menu" role="menu">
        <li><%= link_to "Rename", edit_product_line_path(product_line), remote: true %></li>
        <li><%= link_to "Delete", product_line, method: :delete, remote: true, data: {confirm: "Permanently Delete Product Line? This can't be undone. This will cause all sub Job Types to also be deleted. "} %></li>
      </ul>
    </div>

  </div>

</div>