<% provide(:title, I18n.t(".title")) %>


<%= form_for(@user, :url => "/settings/" + @user.id.to_s) do |f| %>

    <div class="page_header">
      <h1><%= t ".title" %></h1>

      <%= f.submit "Save Settings", class: "bluebtn pull-right" %>
    </div>


    <div class="page-header-small">
      <br>

      <h1>Account</h1>
    </div>

    <div class="content">
      <div class="">
        <%= link_to "Change password", update_password_path(email: current_user.email),
                    class: "bluebtn gray" %>
      </div>
      <br>

      <div class="">
        <%= f.text_field :phone_number, placeholder: "Phone Number", class: "txtfield tooltip-info",
                         "data-placement" => "bottom",
                         "data-title" => "Phone Number" %>
        <p class="push-right-small inline help-text">*Used for urgent text message job alerts</p>
      </div>
    </div>


    <% if !signed_in_admin? %>
        <div class="page-header-small">
          <br>

          <h1>Emails</h1>
        </div>


        <div class="content">
          <div class="">
            <%= f.check_box :send_daily_activity, checked: true,
                            class: "regular-checkbox", id: "checkbox_1" %>
            <label for="checkbox_1"></label>

            <p class="checkbox-label">Daily Activity Report Email</p>
          </div>

          <% if false %>
              <div class="">
                <%= f.check_box :send_added_to_job, checked: true,
                                class: "regular-checkbox", id: "checkbox_2" %>
                <label for="checkbox_2"></label>
                <%= f.label nil, "Added to Job Email", class: "checkbox-label" %>
              </div>

              <div class="">
                <%= f.check_box :send_new_message, checked: true,
                                class: "regular-checkbox", id: "checkbox_3" %>
                <label for="checkbox_3"></label>
                <%= f.label nil, "New Message", class: "checkbox-label" %>
              </div>

              <div class="inline">
                <%= f.check_box :send_task_assigned, checked: true,
                                class: "regular-checkbox", id: "checkbox_4" %>
                <label for="checkbox_4"></label>
                <%= f.label nil, "Task Assigned", class: "checkbox-label" %>
              </div>
          <% end %>
        </div>

        <div class="page-header-small">
          <br>

          <h1>Language and Time</h1>
        </div>

        <div class="content">
          <div class="">
            <%= f.label :language, class: "field-title" %>
            <%= f.select :language, options_for_select([["English", "en-US"]], @user.language),
                         html: {class: "long-select"},
                         default: "en-US" %>
          </div>

          <div class="">
            <%= f.label :time_zone, class: "field-title" %>
            <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.all,
                                   html: {class: "long-select"},
                                   default: "Central Time (US & Canada)" %>
          </div>
        </div>

        <div class="page-header-small">
          <br>

          <h1>Units</h1>
        </div>

        <div class="content">
          <div class="">
            <%= label_tag nil, "Length OD", class: "field-title" %>
            <%= select_tag "[user_unit][length_outer]", options_for_select(DynamicField.new.get_unit_options_full(DynamicField::LENGTH_FT),
                                                                           @current_user.user_unit ? @current_user.user_unit.length_outer : nil),
                           class: "units-default unit-select-long",
                           default: "english" %>

            <div class="inline push-right">
              <%= label_tag nil, "Length ID", class: "field-title" %>
              <%= select_tag "[user_unit][length_inner]", options_for_select(DynamicField.new.get_unit_options_full(DynamicField::LENGTH_IN),
                                                                             @current_user.user_unit ? @current_user.user_unit.length_inner : nil),
                             class: "units-default unit-select-long",
                             default: "english" %>
            </div>
          </div>

          <br>


          <div class="">
            <%= label_tag nil, "Temperature", class: "field-title" %>
            <%= select_tag "[user_unit][temperature]", options_for_select(DynamicField.new.get_unit_options_full(DynamicField::TEMPERATURE_F),
                                                                          @current_user.user_unit ? @current_user.user_unit.temperature : nil),
                           class: "units-default unit-select-long",
                           default: "english" %>


            <div class="inline push-right">
              <%= label_tag nil, "Pressure", class: "field-title" %>
              <%= select_tag "[user_unit][pressure]", options_for_select(DynamicField.new.get_unit_options_full(DynamicField::PRESSURE_PSI),
                                                                         @current_user.user_unit ? @current_user.user_unit.pressure : nil),
                             class: "units-default unit-select-long",
                             default: "english" %>
            </div>
          </div>

          <br>


          <div class="">
            <%= label_tag nil, "Rate", class: "field-title" %>
            <%= select_tag "[user_unit][rate]", options_for_select(DynamicField.new.get_unit_options_full(DynamicField::RATE_BBLS),
                                                                   @current_user.user_unit ? @current_user.user_unit.rate : nil),
                           class: "units-default unit-select-long",
                           default: "english" %>


            <div class="inline push-right">
              <%= label_tag nil, "Volume", class: "field-title" %>
              <%= select_tag "[user_unit][volume]", options_for_select(DynamicField.new.get_unit_options_full(DynamicField::VOLUME_BBLS),
                                                                       @current_user.user_unit ? @current_user.user_unit.volume : nil),
                             class: "units-default unit-select-long",
                             default: "english" %>
            </div>
          </div>

          <br>


          <div class="">
            <%= label_tag nil, "Area", class: "field-title" %>
            <%= select_tag "[user_unit][area]", options_for_select(DynamicField.new.get_unit_options_full(DynamicField::AREA_IN2),
                                                                   @current_user.user_unit ? @current_user.user_unit.area : nil),
                           class: "units-default unit-select-long",
                           default: "english" %>


            <div class="inline push-right">
              <%= label_tag nil, "Weight", class: "field-title" %>
              <%= select_tag "[user_unit][weight]", options_for_select(DynamicField.new.get_unit_options_full(DynamicField::WEIGHT_LBS),
                                                                       @current_user.user_unit ? @current_user.user_unit.weight : nil),
                             class: "units-default unit-select-long",
                             default: "english" %>
            </div>
          </div>

          <br>


          <div class="">
            <%= label_tag nil, "Casing Weight", class: "field-title" %>
            <%= select_tag "[user_unit][weight_casing]", options_for_select(DynamicField.new.get_unit_options_full(DynamicField::WEIGHT_PPF),
                                                                            @current_user.user_unit ? @current_user.user_unit.weight_casing : nil),
                           class: "units-default unit-select-long",
                           default: "english" %>


            <div class="inline push-right">
              <%= label_tag nil, "Pressure Gradient", class: "field-title" %>
              <%= select_tag "[user_unit][weight_gradient]", options_for_select(DynamicField.new.get_unit_options_full(DynamicField::WEIGHT_GRADIENT_PSIF),
                                                                                @current_user.user_unit ? @current_user.user_unit.weight_gradient : nil),
                             class: "units-default unit-select-long",
                             default: "english" %>
            </div>
          </div>

          <br>

          <div class="">
            <%= label_tag nil, "Viscosity", class: "field-title" %>
            <%= select_tag "[user_unit][viscosity]", options_for_select(DynamicField.new.get_unit_options_full(DynamicField::VISCOSITY_PAS),
                                                                            @current_user.user_unit ? @current_user.user_unit.viscosity : nil),
                           class: "units-default unit-select-long",
                           default: "english" %>

          </div>

        </div>

    <% end %>

    <br><br>

    <%= f.submit "Save Settings", class: "bluebtn pull-right" %>

    <%= link_to "Cancel", root_path, class: "bluebtn pull-right btnheight gray push-left-small" %>

<% end %>