<div id="segment_<%= segment.id %>" class="div-expand-root">


  <div class="header product-line">

    <a href="#" class="div-expand-toggle div-toggle-button tooltip-info"
       data-placement="bottom"
       data-title="Click to expand/collapse product lines">

      <p class="div-expand-count pull-right"><%= pluralize(segment.product_lines.count, "product line") %></p>

      <span class="product-line-header"><%= segment.name %></span>

    </a>


  </div>

  <div id="product_lines_<%= segment.id %>"
       class="div-toggle-content indent-content-container <%= params[:segment] != segment.id.to_s ? "hidden" : "" %>">

    <div class="indent-content">
      <%= render segment.product_lines %>
    </div>

    <%= link_to "Add Product Line", new_product_line_path(segment: segment),
                remote: true,
                class: "add-button tooltip-info",
                id: "new_product_line_link_" + segment.id.to_s,
                "data-placement" => "bottom",
                "data-title" => "Create new product line on " + segment.name %>


    <div class="inline dropdown pull-right">
      <br>
      <a href="#" class="activity-user-link dropdown-toggle tooltip-info push-right-small"
         data-placement="bottom"
         data-title="Click to rename/delete segment"
         data-toggle="dropdown"
         id="segment_<%= segment.id %>_header">Rename/Delete Segment
      </a>

      <ul class="dropdown-menu" role="menu">
        <li><%= link_to "Rename", edit_segment_path(segment), remote: true %></li>
        <li><%= link_to "Delete", segment, method: :delete, remote: true, data: {confirm: "Permanently Delete Segment? This can't be undone. This will cause all sub Product Lines, and Job Types to also be deleted. "} %></li>
      </ul>
    </div>

  </div>

</div>