<% provide(:title, 'Segment: ' + @segment.name) %>

<div class="page_header">
  <h1><%= @segment.name %></h1>

  <h3 class="inline">&nbsp;Segment</h3>

  <h2 class="paginated-count">Jobs:
    <%= render 'layouts/paged_header', items: @jobs %>
  </h2>

</div>

<% if !@is_paged %>
    <div class="well">
      <%= render 'jobs/index_parts/jobs_count', jobs: @segment.jobs %>
    </div>
    <br>

    <% if current_user.role.no_assigned_jobs? %>
        <div class="">
          <%= render 'jobs/index_parts/product_lines', segment: @segment %>
        </div>
    <% end %>
<% end %>


<div id="jobs" class="list">
  <% @jobs.each do |job| %>
      <%= render 'jobs/job_progress_link', job: job %>
  <% end %>
</div>

<% if @is_paged %>
    <%= will_paginate @jobs %>
<% else %>
    <br>
    <div class="alert">
      <%= link_to "View all jobs active and closed (" + @segment.jobs.count.to_s + ")", segment_path(:page => "1"), class: "activity-user-link" %>
    </div>
    <% if @jobs.empty? %>
        <div class="no-alerts">
          <p class="center"><%= t ".no_jobs" %></p>
        </div>
    <% end %>
<% end %>



