<div class="upload-metadata inline-block">

  <% last_entry = document.document_type == Document::JOB_LOG ? JobLog.where(:company_id => current_user.company_id).where(:document_id => document.id).last : nil %>
  <% bha = document.document_type == Document::BOTTOM_HOLE_ASSEMBLY ? Bha.where(:company_id => current_user.company_id).where(:document_id => document.id).order("bhas.updated_at DESC").limit(1).first : nil %>


  <% if !document.template? && document.job_id.present? %>
      <div class="document-status">
        <% if !document.blank? %>
            <%= image_tag "document_complete.png", class: "tooltip-info",
                          "data-placement" => "bottom",
                          "data-title" => "Complete" %>
        <% elsif document.category == Document::NOTICES %>
            <%= image_tag "warning.png" %>
        <% end %>
      </div>
  <% end %>

  <% if !document.template? %>
      <% if document.document_type == Document::DOCUMENT %>
          <% if document.url.present? %>
              <%= link_to document.name, document.full_url, class: "document-name tooltip-info download-link",
                          "data-placement" => "bottom",
                          "data-title" => "Click to download document" %>

          <% elsif !document.document_template.nil? && document.document_template.url.present? %>
              <%= link_to document.name, document.document_template.full_url, class: "document-name tooltip-info download-link " + (!document.template? && document.category == Document::NOTICES ? "long-column-text" : ""),
                          "data-placement" => "bottom",
                          "data-title" => "Click to download document" %>
          <% else %>
              <p class="document-name document-name-container push-down"><%= document.name %></p>
          <% end %>
      <% elsif document.document_type == Document::JOB_LOG %>
          <%= link_to document.name, job_logs_path(document: document.id),
                      target: "_blank",
                      class: "document-name tooltip-info",
                      "data-placement" => "bottom",
                      "data-title" => "Open " + document.document_type_string %>
      <% elsif document.document_type == Document::DRILLING_LOG %>
          <%= link_to document.name, drilling_logs_path(document: document.id),
                      target: "_blank",
                      class: "document-name tooltip-info",
                      "data-placement" => "bottom",
                      "data-title" => "Open " + document.document_type_string %>
      <% elsif document.document_type == Document::BOTTOM_HOLE_ASSEMBLY %>
          <%= link_to document.name, bha_path(document),
                      target: "_blank",
                      class: "document-name tooltip-info",
                      "data-placement" => "bottom",
                      "data-title" => "Open " + document.document_type_string %>
      <% end %>
  <% else %>
      <% if document.url.present? %>
          <%= link_to document.name, document.full_url, class: "document-name tooltip-info",
                      "data-placement" => "bottom",
                      "data-title" => "Download document" %>
      <% else %>
          <p class="document-name"><%= document.name %></p>
      <% end %>
  <% end %>

  <div class="document-info <%= (!document.template? && document.category == Document::NOTICES ? "hidden" : "") %>">
    <% if !document.template? and !document.read_only? %>
        <div class="document-modified2">
          <% if document.document_type == Document::DOCUMENT %>
              <% if document.updated_at != document.created_at %>
                  <p class="inline tooltip-info" data-placement="bottom" data-title="Last updated"><%= document.updated_at.strftime("%m/%d/%Y %l:%M %p") %></p>
              <% else %>
                  <p class="warning-text tooltip-info push-down"
                     data-placement="bottom"
                     data-title="No document uploaded, please download the document by clicking the document name and upload the completed one">No
                    Document Uploaded</p>
              <% end %>
          <% elsif document.document_type == Document::JOB_LOG %>
              <% if last_entry.present? %>
                  <p class="">
                    <%= last_entry.entry_at.strftime("%m/%d/%Y %l:%M %p") %>
                  </p>
              <% else %>
                  <p class="warning-text tooltip-info push-down"
                     data-placement="bottom"
                     data-title="No entries have been added to <%= document.document_type_string %>">
                    No Entries Added</p>
              <% end %>
          <% elsif document.document_type == Document::DRILLING_LOG %>
              <% if last_entry.present? %>
                  <p class="">
                    <%= last_entry.entry_at.strftime("%m/%d/%Y %l:%M %p") %>
                  </p>
              <% else %>
                  <p class="warning-text tooltip-info push-down"
                     data-placement="bottom"
                     data-title="No entries have been added to <%= document.document_type_string %>">
                    No Entries Added</p>
              <% end %>
          <% elsif document.document_type == Document::BOTTOM_HOLE_ASSEMBLY %>
              <% if bha.present? %>
                  <p class="push-down">
                    <%= bha.updated_at.strftime("%m/%d/%Y %l:%M %p") %>
                  </p>
              <% else %>
                  <p class="warning-text tooltip-info push-down"
                     data-placement="bottom"
                     data-title="No assemblies have been added to <%= document.document_type_string %>">
                    No Assemblies Added</p>
              <% end %>
          <% end %>
        </div>

        <div class="document-file-name-box">
          <% if document.document_type == Document::DOCUMENT %>
              <% if document.url.present? %>
                  <% if document.user.present? %>
                      <%= render 'activities/user', user: document.user %>
                  <% else %>
                      <p><b><%= document.user_name %></b></p>
                  <% end %>
              <% end %>
          <% else %>
              <% if last_entry.present? %>
                  <%= render 'activities/user', user: last_entry.user %>
              <% elsif bha.present? %>
              <% end %>
          <% end %>

          <% if document.access_level > 1 %>
              <%= image_tag "lock_icon.png", class: "document-restricted tooltip-info",
                            "data-placement" => "bottom",
                            "data-title" => "Restricted Access" %>
          <% end %>
        </div>
    <% else %>
        <div class="document-modified">
          <% if document.url.present? %>
              <p class="inline tooltip-info" data-placement="bottom" data-title="Last updated"><%= document.updated_at.strftime("%m/%d/%Y %l:%M %p") %></p>
          <% end %>
        </div>


        <div class="document-file-name-box">
          <% if document.document_type == Document::DOCUMENT %>
              <% if document.template? or !document.read_only? %>
                  <% if !document.url.nil? %>
                      <p class="document-file-name"><%= '"' + document.file_name + '"' %></p>
                  <% else %>
                      <p class="warning-text tooltip-info"
                         data-placement="bottom"
                         data-title="No document uploaded, please upload a template">
                        No Document Uploaded</p>
                  <% end %>
              <% end %>
          <% else %>
              <p class="tooltip-info"
                 data-placement="bottom"
                 data-title="Job Log document type"><b><%= document.document_type_string %></b></p>
          <% end %>
        </div>
    <% end %>


  </div>

</div>

