<div class="upload-metadata inline">

  <% if !document.template? %>
      <div class="document-status">
        <% if document.url.present? %>
            <%= image_tag "document_complete.png", class: "" %>
        <% end %>
      </div>
  <% end %>

  <% if !document.template? %>
      <% if document.url.present? %>
          <%= link_to document.name, document.full_url, class: "document-name" %>
      <% elsif !document.document_template.nil? && document.document_template.url.present? %>
          <%= link_to document.name, document.document_template.full_url, class: "document-name" %>
      <% else %>
          <p class="document-name document-name-container"><%= document.name %></p>
      <% end %>
  <% else %>
      <% if document.url.present? %>
          <%= link_to document.name, document.full_url, class: "document-name" %>
      <% else %>
          <p class="document-name document-name-container"><%= document.name %></p>
      <% end %>
  <% end %>

  <div class="document-info">
    <% if !document.template? and !document.read_only? %>
        <div class="document-modified2">
          <% if document.updated_at != document.created_at %>
              <p class="inline"><%= document.updated_at.strftime("%m/%d/%Y %l:%M %p") %></p>
          <% else %>
              <p class="warning-text">No Document Uploaded</p>
          <% end %>
        </div>

        <div class="document-file-name-box">
          <% if document.url.present? && document.user.present? %>
              <%= render 'activities/user', user: document.user %>
          <% end %>
        </div>
    <% else %>
        <% if document.updated_at != document.created_at %>
            <div class="document-modified">
              <p class="inline"><%= document.updated_at.utc.in_time_zone("Central Time (US & Canada)").strftime("%m/%d/%Y %l:%M %p") %></p>
            </div>
        <% end %>


        <div class="document-file-name-box">
          <% if document.template? or !document.read_only? %>
              <% if !document.url.nil? %>
                  <%= label_tag '"' + document.file_name + '"', nil, class: "document-file-name" %>
              <% else %>
                  <%= label_tag "no document uploaded", nil, class: "warning-text" %>
              <% end %>
          <% end %>
        </div>
    <% end %>
  </div>


</div>