<fieldset id="document_<%= document.id %>">
  <div class="field inline-form">

    <% if document.url %>
        <%= link_to document.name, document.full_url, class: "document-name" %>
    <% else %>
        <div class="document-name-container">
          <%= label_tag document.name, nil, class: "document-name" %>
        </div>
    <% end %>


    <div class="document-file-name-box">
      <% if !document.url.nil? %>
          <%= label_tag '"' + document.file_name + '"', nil, class: "document-file-name" %>
      <% else %>
          <%= label_tag "no document uploaded", nil, class: "document-file-name" %>
      <% end %>
    </div>

    <%= s3_uploader_form post: "/documents/" + document.id.to_s, as: "document[url]", class: "inline" do %>

        <div class="upload-document-container" id="file_uploads">
          <%= file_field_tag :file, multiple: true, class: "file-input", id: "upload_document_browse" %>
          <%= link_to "Upload", "#", id: "upload_document", class: "document-upload-button" %>
        </div>

    <% end %>




    <%= link_to "remove", document, method: :delete, remote: true, data: {confirm: "You sure?"}, class: "delete-button" %>
  </div>


  <script id="template-upload" type="text/x-tmpl">
    <div class="upload">
      {%=o.name%}
      <div class="progress progress-striped active">
        <div class="bar" style="width: 0%"></div>
      </div>
    </div>
  </script>

</fieldset>

