<div class="upload-metadata inline">

  <% if !document.template? %>
      <div class="document-status">
        <% if document.url.present? %>
            <%= image_tag "document_complete.png", class: "tooltip-info",
                          "data-placement" => "bottom",
                          "data-title" => "Complete" %>
        <% elsif document.category == Document::NOTICES %>
            <%= image_tag "warning.png" %>
        <% end %>
      </div>
  <% end %>

  <% if !document.template? %>
      <% if document.url.present? %>
          <%= link_to document.name, document.full_url, class: "document-name tooltip-info download-link",
                      "data-placement" => "bottom",
                      "data-title" => "Click to download document" %>
      <% elsif !document.document_template.nil? && document.document_template.url.present? %>
          <%= link_to document.name, document.document_template.full_url, class: "document-name tooltip-info download-link " + (!document.template? && document.category == Document::NOTICES ? "long-column-text" : ""),
                      "data-placement" => "bottom",
                      "data-title" => "Click to download document" %>
      <% else %>
          <p class="document-name document-name-container"><%= document.name %></p>
      <% end %>
  <% else %>
      <% if document.url.present? %>
          <%= link_to document.name, document.full_url, class: "document-name tooltip-info",
                      "data-placement" => "bottom",
                      "data-title" => "Download document" %>
      <% else %>
          <p class="document-name document-name-container"><%= document.name %></p>
      <% end %>
  <% end %>

  <div class="document-info <%= (!document.template? && document.category == Document::NOTICES ? "hidden" : "") %>">
    <% if !document.template? and !document.read_only? %>
        <div class="document-modified2">
          <% if document.updated_at != document.created_at %>
              <p class="inline tooltip-info" data-placement="bottom" data-title="Last updated"><%= document.updated_at.strftime("%m/%d/%Y %l:%M %p") %></p>
          <% else %>
              <p class="warning-text tooltip-info"
                 data-placement="bottom"
                 data-title="No document uploaded, please download the document by clicking the document name and upload the completed one">No
                Document Uploaded</p>
          <% end %>
        </div>

        <div class="document-file-name-box">
          <% if document.url.present? %>
              <% if document.user.present? %>
                  <%= render 'activities/user', user: document.user %>
              <% else %>
                  <p><b><%= document.user_name %></b></p>
              <% end %>
          <% end %>
        </div>
    <% else %>
        <% if document.updated_at != document.created_at %>
            <div class="document-modified">
              <% if document.url.present? %>
                  <p class="inline tooltip-info" data-placement="bottom" data-title="Last updated"><%= document.updated_at.strftime("%m/%d/%Y %l:%M %p") %></p>
              <% end %>
            </div>
        <% end %>


        <div class="document-file-name-box">
          <% if document.template? or !document.read_only? %>
              <% if !document.url.nil? %>
                  <%= label_tag '"' + document.file_name + '"', nil, class: "document-file-name" %>
              <% else %>
                  <%= label_tag "no document uploaded", nil, class: "warning-text tooltip-info",
                                "data-placement" => "bottom",
                                "data-title" => "No Document, please upload a template" %>
              <% end %>
          <% end %>
        </div>
    <% end %>
  </div>


</div>