<fieldset id="document_<%= document.id %>">
  <div class="field inline-form document-field">
    <%= s3_uploader_form post: "/documents/" + document.id.to_s, as: "document[url]", class: "inline" do %>

        <%= render 'documents/document_metadata', document: document %>


        <div class="upload-controls inline">
          <div class="upload-document-container" id="file_uploads">
            <% if document.template? or !document.read_only? %>
                <% if !@job || (@job and !@job.approved_to_close) %>
                    <%= file_field_tag :file, multiple: true, class: "file-input", id: "upload_document_browse" %>
                    <%= link_to "Upload", "#", id: "upload_document", class: "document-upload-button" %>
                <% end %>
                </div>
            <% end %>


            <% if editable %>
                <%= link_to "remove", document, method: :delete, remote: true, data: {confirm: "Remove Document?"}, class: "delete-button" %>
            <% end %>
            </div>

    <% end %>

  </div>


  <script id="template-upload" type="text/x-tmpl">
    <div class="upload">
      <div class="progress progress-striped active">
        <div class="bar" style="width: 0%"></div>
      </div>
    </div>
  </script>

</fieldset>

