<div id="alert" class="modal hide fade"
     tabindex="-1" role="dialog" aria-labelledby="modal_label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h2 id="modal_label" class="page-title">Add New Custom Document</h2>
  </div>
  <div class="modal-body">
    <%= form_for(document, remote: true) do |f| %>

        <%= f.hidden_field :document_type, value: "0" %>
        <%= f.hidden_field :template, value: "false" %>
        <%= f.hidden_field :job_id, value: job_id %>

        <div class="well">
          <b>New Document Name</b><br><br>
          <%= f.text_field :name, class: "txtfield",
                           placeholder: "Document Name..." %>
        </div>


        <div class="content">
        <div class="">
          <div class="list-item-column2">Category</div>
          <%= f.select :category, options_for_select([["Pre-Job", Document::PRE_JOB], ["On-Job", Document::ON_JOB], ["Post-Job", Document::POST_JOB]]),
                       {},
                       class: "job-note-type custom-select" %>
        </div>


        <% if !current_user.role.limit_to_assigned_jobs? %>
            <br>

            <div>
              <div class="list-item-column2">Access Level <%= image_tag "warning.png", class: "inline job-status-avatar push-right-small" %></div>
              <%= f.select :access_level, options_for_select([["Available to All", 0], ["Restricted to Corporate", 3]]),
                           {},
                           class: "job-note-type custom-select inline" %>
            </div>

        <% end %>
        </div>


        <br>

        <div class="custom-document-footer">
          <%= f.submit class: "bluebtn pull-right",
                       "aria-hidden" => "true" %>
        </div>


    <% end %>

  </div>

</div>