<% if alert.alert_type != Alert::NEW_MESSAGE %>

    <br>

    <% if alert.alert_type == Alert::ADDED_TO_JOB %>
        <div>
          <%= image_tag "to_arrow.png" %>
          <%= render 'activities/user', user: alert.created_by %><%= t ".added_to_job" %>:
        </div>
        <%= render 'jobs/job', job: alert.job %>
    <% end %>

    <% if alert.alert_type == Alert::PRE_JOB_DATA_READY %>
        <div>
          <%= image_tag "to_arrow.png" %>
          <p class=" inline"><%= t ".waiting_to_ship" %>:</p>
        </div>
        <%= render 'jobs/job', job: alert.job %>
        <%= render 'job_process/job_verified', job: alert.job %>
    <% end %>
    <% if alert.alert_type == Alert::POST_JOB_DATA_READY %>
        <div>
          <%= image_tag "to_arrow.png" %>
          <p class=" inline"><%= t ".waiting_to_close" %>:</p>
        </div>
        <%= render 'jobs/job', job: alert.job %>
        <%= render 'job_process/job_shipped', job: alert.job %>
    <% end %>

    <% if alert.alert_type == Alert::TASK_ASSIGNED %>
        <div>
          <%= image_tag "to_arrow.png" %>
          <%= render 'activities/user', user: alert.created_by %><%= t ".assigned_task" %>:
        </div>
        <%= render 'job_notes/job_note', job_note: alert.target %>
    <% end %>



<% end %>