<% if alert.alert_type != Alert::NEW_MESSAGE %>

    <br>

    <p class="activity-date tooltip-info pull-right"
       data-placement="bottom"
       data-title="<%= alert.created_at.strftime("%a %m/%d/%Y %l:%M %p") %>">
      <%= time_ago_in_words(alert.created_at) %> ago
    </p>

    <% if alert.alert_type == Alert::ADDED_TO_JOB %>
        <div class="alert-title">
          <%= image_tag "add_arrow.png" %>
          <%= image_tag "user_avatar_extrasmall.png", class: "job-status-avatar" %>
          <%= render 'activities/user', user: alert.created_by %><%= t ".added_to_job" %>:
        </div>
        <%= render 'jobs/job', job: alert.job %>
    <% end %>

    <% if alert.alert_type == Alert::PRE_JOB_DATA_READY %>
        <div class="alert-title">
          <%= image_tag "approve_arrow.png" %>
          <p class=" inline"><%= t ".waiting_to_ship" %>:</p>
        </div>
        <%= render 'jobs/job', job: alert.job %>
        <br><br>
    <% end %>
    <% if alert.alert_type == Alert::POST_JOB_DATA_READY %>
        <div class="alert-title">
          <%= image_tag "approve_arrow.png" %>
          <p class=" inline"><%= t ".waiting_to_close" %>:</p>
        </div>
        <%= render 'jobs/job', job: alert.job %>
        <br>
    <% end %>

    <% if alert.alert_type == Alert::TASK_ASSIGNED %>
        <div class="alert-title">
          <%= image_tag "assign_arrow.png" %>
          <%= image_tag "user_avatar_extrasmall.png", class: "job-status-avatar" %>
          <%= render 'activities/user', user: alert.created_by %><%= t ".assigned_task" %> on <%= render 'activities/job_description', job: alert.job, inside_job: false %>:

        </div>
        <%= render 'job_notes/job_note', job_note: alert.target %>
    <% end %>


<% end %>