<div class="">
  <div class="alerts-calendar <%= show_full_calendar ? "alerts-calendar-large" : "" %>">
    <div class="header"></div>

    <% (show_full_calendar ? 42 : 14).times do |i| %>
        <div class="date">
          <p class="<%= adjusted_today_date.month != (start_date + i.days).month ? "number2" : "number" %> <%= ((start_date + i.days).day == Date.today.day && (start_date + i.days).month == Date.today.month) ? "today" : "" %>"><%= (start_date + i.days).day %></p>

          <div class="jobs">
            <% day_jobs = jobs.select { |j| !j.start_date.nil? && (j.start_date.day == (start_date + i.days).day) && (j.start_date.month == (start_date + i.days).month) } %>
            <% use_menu = day_jobs.count > 3 %>
            <% single = day_jobs.count == 1 %>
            <% day_jobs.each_with_index do |job, i| %>
                <% if !use_menu || (use_menu && i < 2) %>
                    <%= link_to job, class: "inline-block " + (single ? "user-calendar-day light-blue" : "job") do %>
                        <div class="tooltip-info "
                             data-placement="right"
                             data-html="true"
                             data-title="<%= render 'jobs/well_tooltip', job: job, show_summary_data: true %>">
                          <% if single %>
                              <div class="inline-block calendar-day">
                                <p>
                                  <%= job.field.name %>
                                  <br>
                                  <b><%= job.well.name %></b>
                                </p>
                              </div>
                          <% else %>
                              <%= job.field.name + " | " + job.well.name %>
                          <% end %>
                        </div>
                    <% end %>
                <% end %>
            <% end %>

            <% if use_menu %>
                <div class="btn-group inline pull-left push-right-small">
                  <a class="custom-data-toggle-jobs" data-toggle="dropdown" href="#">
                    <p class='inline pull-left blue-text'><%= day_jobs.count - 2 %> More Jobs</p>
                  </a>
                  <ul class="dropdown-menu">
                    <% day_jobs.each_with_index do |job, i| %>
                        <% if i >= 2 %>
                            <li>
                              <%= link_to job, class: "job" do %>
                                  <p class="tooltip-info"
                                     data-placement="right"
                                     data-html="true"
                                     data-title="<%= render 'jobs/well_tooltip', job: job, show_summary_data: true %>">
                                    <%= job.field.name + " | " + job.well.name %>
                                  </p>
                              <% end %>
                            </li>
                        <% end %>
                    <% end %>
                  </ul>
                </div>
            <% end %>
          </div>
        </div>
    <% end %>

  </div>
</div>