<% provide(:title, "Agenda") %>

<div class="page_header">
  <h1>Agenda</h1>
  <h2><%= @new_alerts.count() %></h2>
</div>

<div class="well">
  <b>Upcoming Jobs <%= " (" + @active_jobs.where("jobs.start_date >= :start_date AND jobs.start_date <= :end_date", start_date: @start_date, end_date: @start_date + 2.weeks).count.to_s + ")" %></b>
  <br><br>

  <div class="">
    <div class="alerts-calendar">
      <div class="header"></div>

      <% 14.times do |i| %>
          <div class="date">
            <p class="number <%= (@start_date + i.days).day == Date.today.day ? "today" : "" %>"><%= (@start_date + i.days).day %></p>

            <div class="jobs">
              <% @active_jobs.select { |j| !j.start_date.nil? && (j.start_date.day == (@start_date + i.days).day) && (j.start_date.month == (@start_date + i.days).month) }.each do |job| %>
                  <%= link_to job, class: "job" do %>
                      <p class="tooltip-info"
                         data-placement="right"
                         data-html="true"
                         data-title="<%= "<div class='well-tooltip'>" +
                                                 (job.close_date.present? ? "" : "<p class='alert alert-info'><b class='blue-text'>" + job.status_string + "</b></p><br>") +
                                                 "<img src='" + image_path('district_extrasmall.png') + "' class='job-status-avatar'><b>" + (job.district.present? ? job.district.name : "") + "</b><br>" +
                                                 "<br><b class='blue-text'>" + job.client.name + "</b>" +
                                                 "<br><b>" + (job.start_date.present? ? job.start_date.strftime("%m/%d/%Y") : job.created_at.strftime("%m/%d/%Y")) + "</b><br><br>" +
                                                 "<h3>" + job.job_template.product_line.name + " / " + job.job_template.name + "</h3>" +
                                                 "<hr><h3>" + job.dynamic_fields.select { |df| !df.template? && df.priority? }.map { |df| df.name + ": " + (df.value.present? ? df.value : "-") }.join("<br>") + "</h3>" +
                                                 "</div>" %>">
                        <%= job.field.name + " | " + job.well.name %>
                      </p>
                  <% end %>
              <% end %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>


<div id="new_alerts" class="list">
  <%= render @new_alerts, new: true %>
</div>


<% if !@old_alerts.empty? %>

    <div class="page_header old-alerts-div tooltip-info"
         data-placement="bottom" data-title="Past alerts are usually not important, but exist in case they were missed when they were active.">
      <h1>Past Notifications</h1>

      <h2><%= @old_alerts.count() %></h2>
    </div>


    <div id="old_alerts" class="list">
      <%= render @old_alerts, new: false %>
    </div>
<% end %>


<% if @alerts.nil? || @alerts.empty? %>
    <div class="no-alerts">
      <p class="center"><%= t ".none" %></p>
    </div>
<% end %>