<% provide(:title, I18n.t("alerts.index.title")) %>

<div class="page_header">
  <h1><%= t ".title" %></h1>

  <h2><%= @alerts.count() %></h2>
</div>

<div class="header">
  <h2><%= t ".new" %></h2>

  <p><%= @new_alerts.count() %></p>
</div>

<div id="new_alerts" class="list">
  <%= render @new_alerts %>
</div>

<% if @new_alerts.empty? %>
    <div class="no-alerts">
      <p class="center"><%= t ".no-new" %></p>
    </div>
<% end %>


<% if !@old_alerts.empty? %>
    <div class="header old-alerts-div">
      <h2><%= t ".past" %></h2>

      <p><%= @old_alerts.count() %></p>
    </div>

    <div id="old_alerts" class="list">
      <%= render @old_alerts %>
    </div>
<% end %>


<% if @alerts.nil? || @alerts.empty? %>
    <div class="no-alerts">
      <p class="center"><%= t ".none" %></p>
    </div>
<% end %>