<% provide(:title, I18n.t("alerts.index.title")) %>

<div class="page_header tooltip-info"
     data-placement="bottom" data-title="Alerts give notifications to new information or actions.">
  <h1><%= t ".title" %></h1>

  <h2><%= @new_alerts.count() %></h2>
</div>

<div id="new_alerts" class="list">
  <%= render @new_alerts %>
</div>


<% if !@old_alerts.empty? %>

    <div class="page_header old-alerts-div tooltip-info"
         data-placement="bottom" data-title="Past alerts are usually not important, but exist in case they were missed when they were active.">
      <h1><%= t ".past" %></h1>

      <h2><%= @old_alerts.count() %></h2>
    </div>


    <div id="old_alerts" class="list">
      <%= render @old_alerts %>
    </div>
<% end %>


<% if @alerts.nil? || @alerts.empty? %>
    <div class="no-alerts">
      <p class="center"><%= t ".none" %></p>
    </div>
<% end %>