<div class="section-header">
  <h1>New Shipper</h1>
</div>

<div class="form">
  <%= form_for @shipper do |f| %>

      <%= f.hidden_field :district, value: @district.id %>
      <%= render "fields", f: f %>

      <div class=" actions">
        <%= f.submit "Create Shipper", class: "btn btn-success pull-right tooltip-info form-loading-on-click",
                     "data-title" => "Create new shipper" %>
      </div>

  <% end %>
</div>

<%= render "layouts/inline_loading", title: "Creating shipper, please wait..." %>

