<% provide(:title, 'Districts') %>

<div class="page_header">
  <h1>Districts</h1>

  <h2 class="paginated-count">
    <% if @districts.count > 0 %>
        <% if params[:page].present? %>
            <%= ((Integer(params[:page]) - 1) * 10) + 1 %> - <%= [((Integer(params[:page]) - 1) * 10) + 10, @districts.total_count].min %> of <%= @districts.total_count %>
        <% else %>
            1 - <%= [10, @districts.count].min %> of <%= @districts.total_count %>
        <% end %>
    <% end %>
  </h2>

  <% if signed_in_admin? %>
      <%= link_to "+ Add New District", new_district_path, class: "bluebtn page_header_button" %>
  <% end %>

  <%= form_tag districts_path, :method => 'get', :id => "districts_search", class: "inline search-box" do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search districts", class: "search-query" %>
  <% end %>
</div>


<div id="districts_list">
  <%= will_paginate %>
  <div id="districts" class="list">
    <%= render @districts %>
  </div>
  <%= will_paginate %>
</div>