<% provide(:title, 'District: ' + @district.name) %>

<div class="page_header">
  <h1><%= @district.name %></h1>

  <h3 class="inline">&nbsp;District</h3>

  <h2 class="paginated-count">Jobs:
    <%= render 'layouts/paged_header', items: @jobs %>
  </h2>
</div>


<div class="alert alert-info">

  <% if @district.fields.any? %>
      <div class="">
        <b class="push-left-small">Fields</b>
        <% @district.fields.each_with_index do |field, i| %>
            <%= link_to field, class: "activity-user-link inline" do %>
                <%= i < @district.fields.count - 1 ? field.name + "," : field.name %>
            <% end %>
        <% end %>
        <hr>
      </div>
  <% end %>

  <%= form_tag @district, :method => 'get', :id => "inline_search", class: "filter-search-box" do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search in district jobs...", class: "search-query tooltip-info",
                         "data-placement" => "left",
                         "data-title" => "Search in district jobs..." %>
      <% if params[:search].present? && !params[:search].blank? %>
          <%= link_to "x  clear results", @district, class: "activity-user-link push-right-small" %>
      <% end %>
  <% end %>
</div>

<% if !@district_jobs.nil? %>
    <div class="well">

      <div class="pull-right">
        <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= @district.map_search %>&zoom=4&size=230x230&maptype=roadmap&sensor=false&markers=color:blue%7C<%= @district.map_search %>&key=AIzaSyC28fW0cLbMkTbKfyBgYKG4XbOCR3QBmT4">
      </div>

      <div class="chart-block">
        <div class="chart-title">Personnel</div>
        <div class="donut-chart-div job-donut-chart-div">
          <div class="donut-text"><%= @district.personnel.count(:id) %></div>
          <div class="percentage "></div>
        </div>
      </div>


      <div class="chart-block chart-block-extended2">

        <% if !@district.personnel.first.nil? %>
            <%= image_tag "user_avatar_extrasmall.png", class: "job-status-avatar pull-left" %>
            <div>
              <%= link_to @district.personnel.first.name, @district.personnel.first, class: "activity-user-link push-right-small" %>
              <br>
              <b class="push-right-small"><%= @district.personnel.first.role.title %></b>
            </div>
        <% end %>
        <br>
        <b><%= @district.phone_number %></b>
        <a href="mailto:<%= @district.support_email %>" class="activity-user-link"><%= @district.support_email %></a>
      </div>

      <br><br><br>

      <%= render 'jobs/index_parts/jobs_count', jobs: @district_jobs %>

      <% if current_user.role.access_to_inventory? %>
          <hr>

          <div class="push-right-small">
            <%= image_tag "tool.png" %>
            <%= link_to inventory_index_path(district: @district.id), class: "push-right-small activity-user-link" do %>
                Warehouse Inventory <span class="help-text">(<%= @district.parts.count %>)</span>
            <% end %>
          </div>
      <% end %>
    </div>
<% end %>



<div id="search_results">
  <div id="jobs" class="list">
    <% @jobs.each do |job| %>
        <%= render 'jobs/job_progress_link', job: job %>
    <% end %>
  </div>

  <div id="full_paginate">
    <%= will_paginate @jobs %>
  </div>
</div>

<div id="search_loading" class="hidden">
  <%= render 'layouts/inline_loading', title: "Searching..." %>
</div>



