<% provide(:title, 'District: ' + @district.name) %>

<div class="page_header">
  <h1><%= @district.name %></h1>

  <h3 class="inline">&nbsp;District</h3>

  <h2 class="paginated-count">Jobs:
    <%= render 'layouts/paged_header', items: @jobs %>
  </h2>
</div>


<div class="alert alert-info">

  <% if @district.fields.any? %>
      <div class="">
        <b class="push-left-small">Fields</b>
        <% @district.fields.each_with_index do |field, i| %>
            <%= link_to field, class: "activity-user-link inline" do %>
                <%= i < @district.fields.count - 1 ? field.name + "," : field.name %>
            <% end %>
        <% end %>
        <hr>
      </div>
  <% end %>

  <%= form_tag @district, :method => 'get', :id => "inline_search", class: "filter-search-box" do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search in district jobs...", class: "search-query tooltip-info",
                         "data-placement" => "left",
                         "data-title" => "Search in district jobs..." %>
      <% if params[:search].present? && !params[:search].blank? %>
          <%= link_to "x  clear results", @district, class: "activity-user-link push-right-small" %>
      <% end %>
  <% end %>
</div>

<% if !@district_jobs.nil? %>
    <div class="well">

      <div class="pull-right">
        <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= @district.map_search %>&zoom=4&size=230x230&maptype=roadmap&sensor=false&markers=color:blue%7C<%= @district.map_search %>&key=AIzaSyC28fW0cLbMkTbKfyBgYKG4XbOCR3QBmT4">
      </div>

      <div class="chart-block">
        <div class="chart-title">Personnel</div>
        <div class="donut-chart-div job-donut-chart-div">
          <div class="donut-text"><%= @district.personnel.count(:id) %></div>
          <div class="percentage "></div>
        </div>
      </div>


      <div class="chart-block chart-block-extended2">

        <% if !@district.personnel.first.nil? %>
            <%= image_tag "user_avatar_extrasmall.png", class: "job-status-avatar pull-left" %>
            <div>
              <%= link_to @district.personnel.first.name, @district.personnel.first, class: "activity-user-link push-right-small" %>
              <br>
              <b class="push-right-small"><%= @district.personnel.first.role.title %></b>
            </div>
        <% end %>
        <br>
        <%= @district.phone_number %>
        <b>+1 672.893.0900</b>
        <%= @district.support_email %>
        <a href="#" class="activity-user-link">support-williston@bh.com</a>
      </div>

      <br><br><br>

       <%= render 'jobs/index_parts/jobs_count', jobs: @district_jobs %>
    </div>
<% end %>



<div id="jobs" class="list">
  <% @jobs.each do |job| %>
      <%= link_to job, class: "job-status job-link tooltip-info",
                  "data-placement" => "left",
                  "data-title" => "Click to open job" do %>
          <%= render 'jobs/job_progress', job: job, show_summary_data: true, job_name: false %>
      <% end %>
      <!-- <%= render 'jobs/job_link', job: job %> -->
  <% end %>
</div>

<%= will_paginate @jobs %>


