<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" type="text/css" href="/application.css"/>
<body class="email-body">

<h1><%= @document_share.shared_by.name %> Shared a Document</h1>

<h3 class="center"><b>'<%= @document_share.document.name %>'</b></h3>

<hr>

<% if User.find_by_email(@document_share.email).present? %>
    <p>Add document to existing job on Elephant</p>
    <p>
      <% if Rails.env.production? %>
          <%= image_tag "added.png" %>
      <% end %>
      <%= link_to "Add Document to Job", "https://www.go-elephant.com/document_shares/" + @document_share.id.to_s + "?add_to_job=true&access_code=" + @document_share.access_code, class: "activity-user-link push-right-small" %></p>
    <p>Or</p>
<% end %>

<p>
  <% if Rails.env.production? %>
    <%= image_tag "document_download.png" %>
  <% end %>
  <%= link_to "Download Document Now", "https://www.go-elephant.com/document_shares/" + @document_share.id.to_s + "?download=true&access_code=" + @document_share.access_code, class: "activity-user-link push-right-small" %></p>

<br>

<hr>

<p>
  Shared from <b><%= link_to "Elephant", "www.go-elephant.com", class: "activity-user-link" %></b>
</p>
<br><br>
<% if Rails.env.production? %>
    <div class="center"><%= image_tag "blue_logo_small.png" %></div>
    <br>
<% end %>
</body>
</html>