<fieldset id="dynamic_field_<%= dynamic_field.id %>">
  <div class="field inline-form">

    <div class="dynamic-field-name">
      <%= label_tag dynamic_field.name, nil, class: "" %>
    </div>

    <div class="dynamic-field-type">
      <%= label_tag dynamic_field.value_type, nil, class: "" %>
    </div>

    <%= label_tag "Important data", nil, class: "" %>
    <%= check_box_tag "Important data", dynamic_field.priority, dynamic_field.priority %>

    <div class="push-right">
    <%= link_to "remove", dynamic_field, method: :delete, remote: true, data: {confirm: "Remove Custom Field?"}, class: "delete-button" %>
    </div>

  </div>
</fieldset>

