<fieldset id="dynamic_field_<%= dynamic_field.id %>">
  <div class="field inline-form">

    <div class="dynamic-field-name">
      <%= label_tag dynamic_field.name, nil, class: "" %>
    </div>

    <div class="dynamic-field-type">
      <%= label_tag dynamic_field.value_type, nil, class: "" %>
    </div>

    <div class="push-right">
      <%= link_to "edit", edit_dynamic_field_path(dynamic_field), remote: true, class: "edit-dynamic-field-name" %>
      <%= link_to "remove", dynamic_field, method: :delete, remote: true, data: {confirm: "Remove Custom Field?"}, class: "delete-button" %>
    </div>

    <% if dynamic_field.priority %>
        <%= label_tag "Shown in Summary", nil, class: "warning-text pull-right" %>
    <% end %>

  </div>
</fieldset>

