<div class="inline" id="edit_dynamic_field_<%= dynamic_field.id.to_s %>">
  <%= form_for dynamic_field, remote: true do |f| %>

      <%= render 'shared/error_messages', object: f.object %>

      <div class="inline-form">

        <%= f.text_field :name, placeholder: "Name of Field", class: "txtfield small", id: "new_dynamic_field_name" %>
        <%= f.select :value_type, options_for_select(dynamic_field.units, dynamic_field.value_type) %>

        <%= f.submit "Save", class: "bluebtn btnsmall" %>
        <%= link_to "Cancel", "#", id: "cancel_edit", class: "bluebtn btnsmall red" %>


        <%= f.label "Show in Summary", class: "push-right" %>
        <%= f.check_box :priority %>

      </div>
  <% end %>
</div>