<div class="page_header">
  <h1>Update Well Plan</h1>
</div>

<div class="form" data-form="new_well_plan">
  <%= form_for @survey, :html => {:multipart => true} do |f| %>

      <div class='alert'>
        <h3 class='orange-text'>Import New Plan</h3>

        <p>Select the Compass <b>.txt</b> well plan file for upload...</p>
      </div>

      <div style="position:relative;">
        <a class='btn btn-info' href='javascript:;'>
          Choose File...
          <input type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40" onchange='$("#upload-file-info").html($(this).val());'>
        </a>
        <br>
        <span class='label label-info push-down' id="upload-file-info">No file chosen...</span>
      </div>

      <% if false %>
          <%= render "fields", f: f, show_name: false %>
      <% end %>

      <div class="content actions">
        <%= f.submit "Save Well Plan",
                     class: "bluebtn pull-right form-loading-on-click",
                     "data-form" => "new_well_plan" %>

        <%= link_to "Cancel", :back, class: "bluebtn pull-right btnheight gray push-left-small tooltip-info",
                    "data-title" => "Cancel well changes and go back" %>
      </div>

  <% end %>
</div>

<div class="form-loading hidden" data-form="new_well_plan">
  <%= render 'layouts/inline_loading', title: "Saving well plan..." %>
</div>
