<% provide(:title, @survey.name) %>


<div class="page_header">
  <h1><%= @survey.name %></h1>
</div>


<div class="well">
  <div>
    <b>Add New Survey Point</b>
    <br>
    <br>
  </div>
  <div class="form" data-form="new_survey_point">
    <%= form_for SurveyPoint.new, remote: true do |f| %>

        <%= f.hidden_field :survey_id, value: @survey.id %>

        <i class="icon-arrow-down"></i>
        <%= f.text_field :measured_depth, placeholder: "Measured Depth", class: "txtfield extra-small tooltip-info",
                         "data-placement" => "bottom",
                         "data-title" => "Measured Depth" %>

        <i class="icon-resize-full"></i>
        <%= f.text_field :inclination, placeholder: "Inclination", class: "txtfield extra-small tooltip-info",
                         "data-placement" => "bottom",
                         "data-title" => "Inclination" %>

        <i class="icon-screenshot"></i>
        <%= f.text_field :azimuth, placeholder: "Azimuth", class: "txtfield extra-small tooltip-info",
                         "data-placement" => "bottom",
                         "data-title" => "Azimuth" %>

        <%= f.submit "Add Survey Point",
                     class: "bluebtn pull-right form-loading-on-click",
                     "data-form" => "new_survey_point" %>


        <% if false %>
            <br>
            <i class="icon-comment"></i>
            <%= f.text_field :comment, placeholder: "Comment", class: "txtfield txtfield-long tooltip-info",
                             "data-placement" => "bottom",
                             "data-title" => "Point Comment" %>
        <% end %>
    <% end %>
  </div>

  <div class="form-loading hidden" data-form="new_survey_point">
    <%= render 'layouts/inline_loading', title: "Adding survey point..." %>
    <br><br>
  </div>
</div>

<div>
  <span><div class='well-plan'></div> Well Plan</span>
  <span class='push-right-small'><div class='active-survey'></div> Active Survey</span>
</div>

<div id="chartdiv" class='inline-block' style="width: 500px; height: 500px;"></div>
<div id="chartdiv2" class='inline-block' style="width: 400px; height: 500px;"></div>

<div class='push-down'>
  <div class="list-item-column list-item-column-short">M. Depth</div>
  <div class="list-item-column list-item-column-short">Inclination</div>
  <div class="list-item-column list-item-column-short">Azimuth</div>
  <div class="list-item-column list-item-column-short">TVD</div>
  <div class="list-item-column list-item-column-short">V Sect</div>
  <div class="list-item-column list-item-column-short">NS</div>
  <div class="list-item-column list-item-column-short">EW</div>
  <div class="list-item-column list-item-column-count">BR</div>
  <div class="list-item-column list-item-column-count">TR</div>
  <div class="list-item-column list-item-column-count">DLS</div>
</div>
<hr>

<% calculated_points_survey = @survey.calculated_points %>
<% calculated_points = @active_well_plan.calculated_points %>

<% last_point = nil %>
<% index = 0 %>
<div id="list">
  <% calculated_points_survey.each do |point| %>
      <%= render 'survey_points/survey_point', point: point, last_point: last_point %>
      <% last_point = point %>
      <% index += 1 %>
      <% if index % 5 == 0 %>
          <br>
      <% end %>
  <% end %>
</div>

<%= render 'surveys/charting', calculated_points_survey: calculated_points_survey, calculated_points: calculated_points %>