<div class='field'>
  <div class="">
    <p class="list-item-column list-item-column-short">
      <b class='blue-text'><%= entry.entry_at.strftime("%l:%M %p") %></b>
    </p>

    <p class="list-item-column list-item-column-short">
      <% minutes = (entry.entry_at - last_entry.entry_at) / 60 %>
      <%= (minutes / 60).round(2) %>
    </p>

    <p class="list-item-column2">
      <b><%= entry.depth %></b>
      <span class="help-text push-right-small <%= entry.depth - last_entry.depth < 0  ? "warning-text" : "" %>"><%= entry.depth - last_entry.depth %></span>
    </p>

    <p class="list-item-column list-item-column-short">
      <% if entry.activity_code == DrillingLog::DRILLING %>
          <span class="good-text"><b><%= entry.activity_code_string %></b></span>
      <% else %>
          <%= entry.activity_code_string %>
      <% end %>
    </p>

    <p class="list-item-column">
      <%= entry.comment %>
    </p>

    <p class="help-text pull-right push-down-small">
      <%= render "activities/user", user: entry.user %>
    </p>
  </div>
</div>