<div class="remote-tray" data-tray="live">

  <div class="remote-loading hidden">
    <br><br>
    <%= render 'layouts/inline_loading', title: "Please wait, loading Activity..." %>
  </div>

  <div class='tray-content content-loaded'>

    <% if false %>
        <div class="center" style='margin-top: 100px;'>
          <%= image_tag "warning.png", class: "pull-left push-down" %>
          <div class='pull-left push-right-small push-down-small'>
            <h3 class='orange-text'>No real-time wellsite WITS data...</h3>
          </div>
          <br><br><br>
        </div>
    <% end %>

    <div style="position: absolute; left: 0; width: 100%; padding: 0px;">
      <div class='live-column' style='margin-left: 10px;'>

        <div class='live-block'>
          <div class='live-label'>Hole Depth</div>
          <div class='live-line'></div>
          <div class='live-data'>0</div>
          <div class='live-unit'>feet</div>
        </div>

        <div class='live-block'>
          <div class='live-label'>Flow</div>
          <div class='live-data'>0</div>
          <div class='live-unit'>percent</div>
        </div>

        <div class='live-block'>
          <div class='live-label'>Strokes 1</div>
          <div class='live-data'>0.0</div>
          <div class='live-unit'>spm</div>
        </div>

        <div class='live-block'>
          <div class='live-label'>Strokes 2</div>
          <div class='live-data'>0.0</div>
          <div class='live-unit'>spm</div>
        </div>

        <div class='live-block'>
          <div class='live-label'>Gain Loss</div>
          <div class='live-data'>0.0</div>
          <div class='live-unit'>bbl</div>
        </div>

        <div class='live-block'>
          <div class='live-label'>Total Mud</div>
          <div class='live-data'>0</div>
          <div class='live-unit'>bbl</div>
        </div>

        <div class='live-block'>
          <div class='live-label'>Trip Mud</div>
          <div class='live-data'>0</div>
          <div class='live-unit'>bbl</div>
        </div>

        <div class='live-block'>
          <div class='live-label'>Bit Hours</div>
          <div class='live-data'>0</div>
          <div class='live-unit'>hours</div>
        </div>
      </div>

      <div class='live-column'>
        <div class='live-block'>
          <div class='live-label'>Bit Depth</div>
          <div class='live-line'></div>
          <div class='live-data'>0</div>
          <div class='live-unit'>feet</div>
        </div>


        <div class='live-bit-depth'>


          <div class='mark' style='padding-top: 170px;'>
            <div class='time'>17:30</div>
            <%= image_tag "live_chart_drill_axis.png" %>
            <div class='depth'>2010</div>
          </div>

          <div class='mark'>
            <div class='time'>17:45</div>
            <%= image_tag "live_chart_drill_axis.png" %>
            <div class='depth'>2015</div>
          </div>

          <div class='mark'>
            <div class='time'>18:00</div>
            <%= image_tag "live_chart_drill_axis.png" %>
            <div class='depth'>2020</div>
          </div>


          <div class='mark'>
            <div class='time'>18:15</div>
            <%= image_tag "live_chart_drill_axis.png" %>
            <div class='depth'>2025</div>
          </div>

          <div class='mark'>
            <div class='time'>18:30</div>
            <%= image_tag "live_chart_drill_axis.png" %>
            <div class='depth'>2030</div>
          </div>
          <div class='mark'>
            <div class='time'>18:45</div>
            <%= image_tag "live_chart_drill_axis.png" %>
            <div class='depth'>2035</div>
          </div>

          <div class='mark'>
            <div class='time'>19:00</div>
            <%= image_tag "live_chart_drill_axis.png" %>
            <div class='depth'>2040</div>
          </div>


          <div class='mark'>
            <div class='time'>19:15</div>
            <%= image_tag "live_chart_drill_axis.png" %>
            <div class='depth'>2045</div>
          </div>

          <div class='mark'>
            <div class='time'>19:30</div>
            <%= image_tag "live_chart_drill_axis.png" %>
            <div class='depth'>2050</div>
          </div>

          <div class='mark'>
            <div class='time'>19:45</div>
            <%= image_tag "live_chart_drill_axis.png" %>
            <div class='depth'>2055</div>
          </div>


        </div>
      </div>


      <%= render 'drilling_logs/live_column', column_name: '1', data: [{id: "hookload", name: "Hookload", units: "kLbs", value: "0.0"}, {id: "wob", name: "Weight on Bit", units: "kLbs", value: "0.0"}, {id: "wob2", name: "Weight on Bit", units: "kLbs", value: "0.0"}] %>
      <%= render 'drilling_logs/live_column', column_name: '2', data: [{id: "ppressure", name: "Pump Pressure", units: "psi", value: "0.0"}, {id: "diff", name: "Diff. Pressure", units: "psi", value: "0"}, {id: "flow", name: "Flow", units: "percent", value: "0"}] %>
      <%= render 'drilling_logs/live_column', column_name: '3', data: [{id: "rop", name: "ROP", units: "ft/hr", value: "0.0"}, {id: "pgas", name: "Pason Gas", units: "units", value: "0"}, {id: "pgasno", name: "Pason Gas no Lag", units: "units", value: "0"}] %>
      <%= render 'drilling_logs/live_column', column_name: '4', data: [{id: "torque", name: "Torque", units: "ft-lb", value: "0"}, {id: "rotary", name: "Rotary", units: "rpm", value: "0.0"}, {id: "gamma", name: "Gamma", units: "API", value: "0"}] %>
      <%= render 'drilling_logs/live_column', column_name: '5', data: [{id: "tripspeed", name: "Trip Speed", units: "ft/hr", value: "0.0"}, {id: "block", name: "Block Height", units: "feet", value: "0.0"}, {id: "tripmud", name: "Trip Mud", units: "bbl", value: "0"}] %>
      <%= render 'drilling_logs/live_column', column_name: '6', data: [{id: "tripspeed", name: "Trip Speed", units: "ft/hr", value: "0.0"}, {id: "block", name: "Block Height", units: "feet", value: "0.0"}, {id: "tripmud", name: "Trip Mud", units: "bbl", value: "0"}] %>

      <% if false %>

          <%= render 'drilling_logs/live_column', column_name: '1', data: [{name: "Hookload", units: "kLbs", value: "42.0"}, {name: "Weight on Bit", units: "kLbs", value: "14.9"}, {name: "Weight on Bit", units: "kLbs", value: "14.9"}] %>
          <%= render 'drilling_logs/live_column', column_name: '2', data: [{name: "Pump Pressure", units: "psi", value: "2644.7"}, {name: "Diff. Pressure", units: "psi", value: "726"}, {name: "Flow", units: "percent", value: "26"}] %>
          <%= render 'drilling_logs/live_column', column_name: '3', data: [{name: "ROP", units: "ft/hr", value: "27.0"}, {name: "Pason Gas", units: "units", value: "835"}, {name: "Pason Gas no Lag", units: "units", value: "657"}] %>
          <%= render 'drilling_logs/live_column', column_name: '4', data: [{name: "Torque", units: "ft-lb", value: "726"}, {name: "Rotary", units: "rpm", value: "51.0"}, {name: "Gamma", units: "API", value: "167"}] %>
          <%= render 'drilling_logs/live_column', column_name: '5', data: [{name: "Trip Speed", units: "ft/hr", value: "335.0"}, {name: "Block Height", units: "feet", value: "37.7"}, {name: "Trip Mud", units: "bbl", value: "37"}] %>
          <%= render 'drilling_logs/live_column', column_name: '6', data: [{name: "Trip Speed", units: "ft/hr", value: "335.0"}, {name: "Block Height", units: "feet", value: "37.7"}, {name: "Trip Mud", units: "bbl", value: "37"}] %>

      <% end %>
    </div>


    <div style='height: 700px;'></div>

    <script type="text/javascript">

        var pusher = new Pusher('9f7a931d636464d8a7c3', {  });
        var channel = pusher.subscribe('private-wits');
        channel.bind('client-wits', function (data) {
            alert(data.message);
        });

    </script>

  </div>

</div>





