<div>

<% issues = Issue.includes(job: :well).where("wells.id = ?", drilling_log.job.well_id) %>
<% @bhas = Bha.joins(job: :well).where("bhas.master_bha_id IS NULL").where("jobs.well_id = ?", @drilling_log.job.well_id).order("bhas.name ASC") %>

<% if drilling_log.drilling_log_entries.empty? %>
    <div class='alert'>
      <div class='pull-left push-down'>
        <%= image_tag "warning.png" %>
      </div>

      <div class='pull-left push-right-small'>
        <h3 class='orange-text push-down-small'>No Data to Show</h3>

        <p class='push-down'>There is no data to show because the job has not started yet or there is no drilling data. </p>

      </div>

      <br><br><br><br>
    </div>
    <br><br>
<% else %>

    <div>

      <div class="chart-block align-top tooltip-info"
           data-title="Current depth">
        <div class="chart-title">Perfect-Well Ratio</div>
        <div class="donut-chart-div job-donut-chart-div">
          <div class="donut-text ">3.34</div>
          <div class="percentage "></div>
        </div>
      </div>

      <div class="chart-block tooltip-info"
           data-title="Average Total Rate of Penetration.">
        <div class="chart-title">ROP</div>
        <div class="donut-chart-div job-donut-chart-div">
          <div class="donut-text "><%= drilling_log.nil? || drilling_log.drilling_rop.nil? ? "-" : drilling_log.drilling_rop.round(1) %></div>
          <div class="percentage ">ft/hr</div>
        </div>
      </div>

      <% days = @drilling_log.below_rotary.present? && @drilling_log.above_rotary.present? ? ((@drilling_log.above_rotary + @drilling_log.below_rotary) / 24).ceil : 0 %>
      <div class="chart-block tooltip-info align-top"
           data-title="Total Job Cost">
        <div class="chart-title">Days</div>
        <div class="donut-chart-div job-donut-chart-div">
          <div class="donut-text chart-text"><%= days %></div>
          <div class="percentage"><%= "day".pluralize(days) %></div>
        </div>
      </div>

      <% if false %>
      <div class="chart-block align-top tooltip-info"
           data-title="Current depth">
        <div class="chart-title">Depth</div>
        <div class="donut-chart-div job-donut-chart-div">
          <div class="donut-text "><%= drilling_log.nil? || drilling_log.max_depth.nil? ? "0" : number_with_delimiter(drilling_log.max_depth.to_i, :delimiter => ',') %></div>
          <div class="percentage ">
              <span class="push-right-small">TD <%= drilling_log.nil? || drilling_log.td_depth.nil? ? "0" : number_with_delimiter(drilling_log.td_depth.to_i, :delimiter => ',') %>
                ft</span></div>
        </div>
      </div>

          <% end %>


      <div class="chart-block tooltip-info"
           data-title="Time in hours spent rotating or sliding.">
        <div class="chart-title">Drilling Time</div>
        <div class="donut-chart-div job-donut-chart-div">
          <div class="donut-text "><%= drilling_log.nil? || drilling_log.drilling_time.nil? ? "-" : drilling_log.drilling_time.round(1) %></div>
          <div class="percentage ">hours</div>
        </div>
      </div>


      <br><br><br>

      <div>

        <div class="chart-block tooltip-info"
             data-title="Total Number of Failures.">
          <div class="chart-title">Failures</div>
          <div class="donut-chart-div job-donut-chart-div">
            <div class="donut-text chart-text-red"><%= issues.count %></div>
            <div class="percentage chart-text-red"></div>
          </div>
        </div>

        <div class="chart-block tooltip-info"
             data-title="Non-Productive Time (excluding Stand-By Out-hole)">
          <div class="chart-title">NPT</div>
          <div class="donut-chart-div job-donut-chart-div">
            <div class="donut-text chart-text-red"><%= drilling_log.nil? ? "-" : drilling_log.npt.to_f.round(1) %></div>
            <div class="percentage chart-text-red">hours</div>
          </div>
        </div>

        <div class="chart-block tooltip-info"
             data-title="Total feet drilled.">
          <div class="chart-title">Runs</div>
          <div class="donut-chart-div job-donut-chart-div">
            <div class="donut-text "><%= drilling_log.get_runs.count %></div>
            <div class="percentage "><span class="push-right-small"></span></div>
          </div>
        </div>

        <div class="chart-block tooltip-info"
             data-title="Total feet drilled.">
          <div class="chart-title">BHAs</div>
          <div class="donut-chart-div job-donut-chart-div">
            <div class="donut-text "><%= @bhas.count %></div>
            <div class="percentage "><span class="push-right-small"></span></div>
          </div>
        </div>
      </div>

      <hr>


      <% @surveys = Survey.includes(job: :well).where(:plan => false).where("wells.id = ?", drilling_log.job.well_id).order("surveys.created_at ASC") %>
      <% if @survey.nil? %>
          <% @survey = @surveys.last %>
      <% end %>
      <% @well_plans = Survey.includes(job: :well).where(:plan => true).where("wells.id = ?", drilling_log.job.well_id).order("surveys.created_at ASC") %>
      <% if @survey.present? %>
          <% @active_well_plan = @well_plans.where("surveys.well_plan_for_survey_id = ?", @survey.id).last %>
      <% end %>
      <% if @active_well_plan.nil? %>
          <% @active_well_plan = @well_plans.last %>
      <% end %>

      <% if !@active_well_plan.nil? || (@survey.present? && @survey.no_well_plan) %>
          <%= render 'surveys/survey_charts', well_plan: @active_well_plan, survey: @survey, height: 350, section: "overview" %>
      <% else %>
          <div id="survey_charts"><p class='help-text center'>No active well plan set...</p></div>
      <% end %>

      <div class='center'>
        <div class='inline-block alert'>
          <span><div class='well-plan'></div> Well Plan</span>
          <span class='push-right-small'><div class='active-survey'></div> Active Survey</span>
        </div>
      </div>

      <br>
    </div>



<% end %>


</div>





