<div id="drilling_overview">
  <div class="pull-right tooltip-info" data-title="ROP">
    <canvas id="overview_rop_canvas" height="110" width="270"></canvas>
  </div>

  <div class="chart-block tooltip-info"
       data-title="Average Total Rate of Penetration.">
    <div class="chart-title">Avg Total ROP</div>
    <div class="donut-chart-div job-donut-chart-div">
      <div class="donut-text "><%= drilling_log.nil? || drilling_log.rop.nil? ? "-" : drilling_log.rop.round(1) %></div>
      <div class="percentage ">ft/min</div>
    </div>
  </div>

  <div class="chart-block tooltip-info"
       data-title="Total feet drilled.">
    <div class="chart-title">Total Drilled</div>
    <div class="donut-chart-div job-donut-chart-div">
      <div class="donut-text "><%= drilling_log.nil? || drilling_log.total_drilled.nil? ? "-" : number_with_delimiter(drilling_log.total_drilled.to_i, :delimiter => ',') %></div>
      <div class="percentage "><span class="push-right-small">ft</span></div>
    </div>
  </div>

  <div class="chart-block tooltip-info"
       data-title="Time in hours spent below the rotary table.">
    <div class="chart-title">Below Rotary</div>
    <div class="donut-chart-div job-donut-chart-div">
      <div class="donut-text "><%= drilling_log.nil? || drilling_log.below_rotary.nil? ? "-" : drilling_log.below_rotary.round(1) %></div>
      <div class="percentage ">hours</div>
    </div>
  </div>
</div>

<script type='text/javascript'>
    <% if drilling_log.present? && drilling_log.drilling_log_entries.any? %>
    <% rops = [] %>
    <% last_entry = drilling_log.drilling_log_entries.first %>
    <% drilling_log.drilling_log_entries.each do |dl| %>
    <% rops << [dl.entry_at, dl == last_entry ? 0.0 : ((dl.depth - last_entry.depth).to_f / (dl.entry_at - last_entry.entry_at).to_f)] %>
    <% last_entry = dl %>
    <% end %>

    var lineChartData = {
        labels: <%= raw rops.map { |dl| "" }.to_json.html_safe %>,
        datasets: [
            {
                fillColor: "rgba(220,220,220,0.5)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                data: <%= raw rops.map { |dl| dl[1] }.to_json.html_safe %>
            }
        ]
    }

    var myLine = new Chart(document.getElementById("overview_rop_canvas").getContext("2d")).Line(lineChartData, { scaleShowLabels: false });
    <% end %>

</script>