<div class="remote-tray" data-tray="survey">

  <div class="remote-loading hidden">
    <br><br>
    <%= render 'layouts/inline_loading', title: "Please wait, loading survey..." %>
  </div>

  <div class='content tray-content content-loaded'>

    <% @surveys = Survey.includes(document: {job: :well}).where(:plan => false).where("wells.id = ?", @drilling_log.job.well_id).order("surveys.created_at ASC") %>
    <% query = URI.parse(request.referrer).query %>
    <% if !query.blank? %>
        <% p = CGI.parse(query) %>
        <% if p["survey"].present? %>
            <% @survey = @surveys.where("surveys.id = ?", p["survey"]).first %>
        <% end %>
    <% end %>
    <% if @survey.nil? %>
        <% @survey = @surveys.last %>
    <% end %>
    <% @well_plans = Survey.includes(document: {job: :well}).where(:plan => true).where("wells.id = ?", @drilling_log.job.well_id).order("surveys.created_at ASC") %>
    <% if @survey.present? %>
        <% @active_well_plan = @well_plans.where("surveys.well_plan_for_survey_id = ?", @survey.id).last %>
    <% end %>
    <% if @active_well_plan.nil? %>
        <% @active_well_plan = @well_plans.last %>
    <% end %>

    <% if @survey.nil? %>
        <% @document = Document.where("documents.job_id = ?", @drilling_log.document.job_id).where("documents.document_type = ?", Document::SURVEY).last %>
        <% @survey = Survey.new(name: "1", plan: false) %>
        <% @survey.company = current_user.company %>
        <% @survey.document = @document %>
        <% @survey.save %>
    <% end %>

    <% if (@active_well_plan.nil? || @active_well_plan.survey_points.empty?) && !@survey.no_well_plan %>
        <br>

        <div class='alert'>
          <h3 class='orange-text push-down'>No Well Plan, Please Update</h3>
          <br>

          <p>If you are drilling a straight well, there is no need for a well plan.</p>

          <p>If you don't currently have a well plan, please upload at a later time, and continue with 'No well plan'
            for now.</p>
        </div>


        <% document = Document.where("documents.job_id = ?", @drilling_log.document.job_id).where("documents.document_type = ?", Document::WELL_PLAN).last %>
        <% if !document.nil? %>
            <br>
            <%= link_to "Update " + document.name, "/surveys?document=" + document.id.to_s, class: "bluebtn" %>
        <% end %>

        <div class='inline-block push-right-small'>
          <%= link_to "Straight Well/No Well Plan", job_path(@drilling_log.document.job, update_field: true, field: "no_well_plan", value: true),
                      :method => :put,
                      class: "bluebtn gray" %>
        </div>
    <% else %>

        <% calculated_points = @survey.no_well_plan ? [] : @active_well_plan.survey_points %>
        <% calculated_points_survey = @survey.calculated_points(@survey.no_well_plan ? 0 : @active_well_plan.vertical_section_azimuth) %>


        <% if @survey.survey_points.empty? %>
            <%= render 'surveys/tie_in' %>
        <% end %>

        <div>
          <div class="btn-group inline pull-right push-right">
            <a class="custom-data-toggle-jobs" data-toggle="dropdown" href="#">
              Export
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to "Export as Excel", survey_path(@survey, format: "xlsx"),
                            target: "_blank",
                            class: "dropdown-menu-link tooltip-info submit-form",
                            "data-placement" => "left",
                            "data-title" => "Export survey as Microsoft Excel file." %>
              </li>
            </ul>
          </div>

          <div class='pull-right'>
            <% if @survey.no_well_plan %>
                <b>No Well Plan</b>
                <% document = Document.where("documents.job_id = ?", @drilling_log.document.job_id).where("documents.document_type = ?", Document::WELL_PLAN).last %>
                <%= link_to "Add", "/surveys?document=" + document.id.to_s, class: "btn btn-default align-top push-right-small" %>
            <% else %>
                <% if false %>
                    <p class='inline-block help-text align-top'>plan <%= @survey.name %></p>
                <% end %>

                <%= link_to "View Well Plan", @active_well_plan, class: "btn btn-default align-top push-up-small push-right-small" %>
                <%= link_to "New Sidetrack", new_survey_path(new_side_track: true, drilling_log: @drilling_log.id), class: "btn btn-default align-top push-up-small push-right-small" %>
            <% end %>
          </div>
          <% if @active_well_plan.present? %>
              <span><div class='well-plan'></div> Well Plan</span>
          <% end %>
          <span class='push-right-small'><div class='active-survey'></div> Survey</span>
        </div>

        <% if @surveys.count > 1 %>
            <hr>
            <b class='blue-text'>Tracks</b>
            <% @surveys.each do |s| %>
                <%= link_to s.name, drilling_log_path(@drilling_log, anchor: "survey", survey: s.id), class: "btn  align-top push-up-small push-right-small " + (s == @survey ? "btn-primary white-text" : "btn-default") %>
            <% end %>
        <% end %>
        <hr>

        <% if calculated_points_survey.any? || calculated_points.any? %>
            <div id="chartdiv" class='inline-block' style="width: 420px; height: 400px;"></div>
            <div id="chartdiv2" class='inline-block' style="width: 420px; height: 400px;"></div>
        <% end %>


        <div class='push-down'>
          <div class="list-item-column list-item-column-short">M. Depth</div>
          <div class="list-item-column list-item-column-short3">Inc</div>
          <div class="list-item-column list-item-column-short3">Azi</div>
          <div class="list-item-column list-item-column-short">TVD</div>
          <div class="list-item-column list-item-column-short">V Sect</div>
          <div class="list-item-column list-item-column-short">+N/S-</div>
          <div class="list-item-column list-item-column-short">+E/W-</div>
          <div class="list-item-column list-item-column-count">DLS</div>
          <div class="list-item-column list-item-column-count">MFS</div>
          <div class="list-item-column list-item-column-count">Dip</div>
          <div class="list-item-column list-item-column-count">Grav</div>
        </div>
        <hr>

        <% omitted = calculated_points_survey.count - 15 %>
        <% if !@complete_survey && omitted > 0 %>
            <div id="short_survey" class='center' style='font-family: gothambookregular;'>
              <b class='warning-text'><%= omitted %></b> surveys
              omitted...&nbsp;&nbsp; <%= link_to "Load All", @survey, remote: true, class: "activity-user-link", id: "load_full_survey" %>
              <br>
              <br>
            </div>
            <div id="loading_survey" class='center hidden' style='font-family: gothambookregular;'>
              <span class='ajax-loading'>
                Loading...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
              <br>
              <br>
            </div>
        <% end %>

        <%= render 'surveys/survey_list', points: calculated_points_survey.last(15) %>

        <br>

        <div class='center'>
          <%= link_to "New Projection", new_survey_projection_path(survey: @survey), remote: true, class: "btn btn-default align-top show-modal-button" %>
        </div>

        <br>

        <% if @survey.survey_points.empty? %>
            <div id="survey_entry" class="hidden">
            </div>
        <% else %>
            <%= render 'surveys/survey_entry' %>
        <% end %>

        <% if !@survey.survey_points.empty? %>
            <%= render 'surveys/charting', calculated_points_survey: calculated_points_survey, calculated_points: calculated_points %>
        <% end %>
    <% end %>

    <script type='text/javascript'>
        <% if @survey.present? && @survey.document.job.status == Job::ON_JOB %>
        setTimeout(function () {
            $.ajax({
                url: "/surveys/<%= @survey.id %>",
                type: "GET",
                dataType: "script"
            });
        }, 1000 * 60 * 5);
        <% end %>

        $('#load_full_survey').click(function () {
            $('#short_survey').addClass('hidden');
            $('#loading_survey').removeClass('hidden');
        });
    </script>

  </div>
</div>