<div class="remote-tray" data-tray="drilling-runs">

  <div class="remote-loading hidden">
    <br><br>
    <%= render 'layouts/inline_loading', title: "Please wait, loading runs..." %>
  </div>

  <div class="content tray-content content-loaded">

    <% runs = drilling_log.get_runs %>

    <div class='well'>

      <h1 class="donut-text inline"><%= runs.length %></h1>

      <div class='inline-block push-down push-right-small'>
        <h3 class="inline-block">Runs</h3>
      </div>

    </div>


    <% well_plan = Survey.includes(document: {job: :well}).where("wells.id = ?", drilling_log.job.well_id).where(:plan => true).first %>
    <% survey = Survey.includes(document: {job: :well}).where("wells.id = ?", drilling_log.job.well_id).where(:plan => false).first %>
    <% survey_points = survey.present? && well_plan.present? ? survey.calculated_points(well_plan.vertical_section_azimuth) : nil %>

    <% if runs.any? %>
        <% runs.each_with_index do |run, index| %>
            <% entries = run %>
            <% log = DrillingLog.calculate(run) %>
            <% first_entry = run[0] %>
            <% last_entry = run[run.length - 1] %>

            <% issues = Issue.includes(job: :well).where("wells.id = ?", drilling_log.job.well_id).where("issues.failure_at >= :start AND issues.failure_at <= :end", start: first_entry.entry_at, end: last_entry.entry_at) %>

            <div class="page_header">
              <h1>
                Run <%= index + 1 %>
              </h1>

              <h2 class='push-right'>
                <%= ((last_entry.entry_at - first_entry.entry_at).to_f / 60.0 / 60.0).round(1) %> hours
              </h2>

              <% if last_entry.bha.present? %>
              <h2 class='inline-block push-right'>BHA <%= last_entry.bha.name %> - <%= last_entry.bha.description %></h2>
              <% end %>

              <div class='inline-block help-text pull-right'>
                <%= first_entry.entry_at.strftime("%m/%d/%Y %l:%M %p") %>
                - <%= last_entry.entry_at.strftime("%m/%d/%Y %l:%M %p") %>
              </div>
            </div>

            <div>
              <div class="chart-block tooltip-info"
                   data-title="Average Total Rate of Penetration.">
                <div class="chart-title">Avg Total ROP</div>
                <div class="donut-chart-div job-donut-chart-div">
                  <div class="donut-text "><%= log.nil? || log.rop.nil? ? "-" : log.rop.round(1) %></div>
                  <div class="percentage ">ft/min</div>
                </div>
              </div>

              <div class="chart-block tooltip-info"
                   data-title="Total feet drilled.">
                <div class="chart-title">Total Drilled</div>
                <div class="donut-chart-div job-donut-chart-div">
                  <div class="donut-text "><%= log.nil? || log.total_drilled.nil? ? "-" : number_with_delimiter(log.total_drilled.to_i, :delimiter => ',') %></div>
                  <div class="percentage "><span class="push-right-small">ft</span></div>
                </div>
              </div>

              <div class="chart-block tooltip-info"
                   data-title="Time in hours spent rotating or sliding.">
                <div class="chart-title">Drilling Time</div>
                <div class="donut-chart-div job-donut-chart-div">
                  <div class="donut-text "><%= log.nil? || log.drilling_time.nil? ? "-" : log.drilling_time.round(1) %></div>
                  <div class="percentage ">hours</div>
                </div>
              </div>

              <div class="chart-daily tooltip-info" data-title="ROP">
                <canvas id="canvas_<%= index %>" height="110" width="220"></canvas>
              </div>


              <script>
                  <% rops = [] %>
                  <% last_entry = entries.first %>
                  <% entries.each do |dl| %>
                  <% time = (dl.entry_at - last_entry.entry_at).to_f / 60.0 / 60.0 %>
                  <% if dl.activity_code == DrillingLogEntry::DRILLING || dl.activity_code == DrillingLogEntry::SLIDING || time > 0.1 %>
                  <% rop = ((dl.depth - last_entry.depth).to_f / (dl.entry_at - last_entry.entry_at).to_f * 60.0)  %>
                  <% puts rop %>
                  <% rops << [dl.entry_at, dl.activity_code == DrillingLogEntry::DRILLING || dl.activity_code == DrillingLogEntry::SLIDING ? rop : 0.0] %>
                  <% end %>
                  <% last_entry = dl %>
                  <% end %>

                  var lineChartData = {
                      labels: <%= raw rops.map { |dl| '' }.to_json.html_safe %>,
                      datasets: [
                          {
                              fillColor: "rgba(220,220,220,0.5)",
                              strokeColor: "rgba(220,220,220,1)",
                              pointColor: "rgba(220,220,220,1)",
                              pointStrokeColor: "#fff",
                              data: <%= raw rops.map { |dl| dl[1] }.to_json.html_safe %>
                          }
                      ]
                  }

                  var myLine = new Chart(document.getElementById("canvas_<%= index %>").getContext("2d")).Line(lineChartData, { pointDot: false, scaleShowGridLines: false, animation: false, scaleOverride: true, scaleSteps: 4, scaleStepWidth: 5, scaleStartValue: -4 });

              </script>


            </div>
            <% if true %>
                <br><br>

                <div>

                  <div class='inline-block'>
                    <div class="chart-title">Time Breakdown</div>
                    <div class='time-chart' id="time_chart_<%= index %>" style="width: 200px; height: 200px;"></div>
                  </div>

                  <div class='push-right2'>
                    <div class="chart-block tooltip-info align-top"
                         data-title="Total Number of Failures.">
                      <div class="chart-title">Failures</div>
                      <div class="donut-chart-div job-donut-chart-div">
                        <div class="donut-text chart-text-red"><%= issues.count %></div>
                        <div class="percentage chart-text-red"></div>
                      </div>
                    </div>

                    <div class="chart-block tooltip-info align-top"
                         data-title="Time in hours spent in-hole">
                      <div class="chart-title">In-Hole</div>
                      <div class="donut-chart-div job-donut-chart-div">
                        <div class="donut-text "><%= log.nil? || log.below_rotary.nil? ? "-" : log.below_rotary.round(1) %></div>
                        <div class="percentage ">hours</div>
                      </div>
                    </div>

                    <div><%= link_to "Show Full Run Details", "#", class: "activity-user-link" %></div>
                    <%= render 'drilling_logs/range_details', entries: entries, survey_points: survey_points %>
                  </div>

                  <script type="text/javascript">
                      var chart = new AmCharts.AmPieChart();
                      chart.dataProvider = <%= raw log.get_times(entries).sort.map{ |k, v| {time: v[:time].round(2), text: v[:activity_code_string], color: DrillingLogEntry.activity_code_color(k)} }.to_a.to_json.html_safe %>;
                      chart.colorField = "color";
                      chart.titleField = "activity";
                      chart.valueField = "time";
                      chart.sequencedAnimation = false;
                      chart.startDuration = 0;
                      chart.innerRadius = "30%";
                      chart.labelsEnabled = false;
                      chart.balloonText = "<b>[[text]]</b><br><span style='font-size:14px'>([[time]] hours)</span>";
                      chart.write("time_chart_<%= index %>");

                      var label = $("tspan:contains('chart by amcharts.com')");
                      if (label.length > 0) {
                          label.remove();
                      }
                  </script>
                </div>
            <% end %>
            <br><br>
        <% end %>
    <% else %>
        <p class='help-text'>No runs...</p>
    <% end %>
  </div>
</div>
