<div id="drilling_log" class="job-tray" data-tray="log">

<div class="drilling-log-loading hidden">
  <br><br>
  <%= render 'layouts/inline_loading', title: "Please wait, loading logs..." %>
</div>

<div class='job-tray-content'>
<% entries = @drilling_log.drilling_log_entries.includes(:bha).to_a %>
<% dates = entries.group_by { |item| item.entry_at.to_date } %>
<% filter_options = [] %>
<% filter_options << ["Show Recent", 'recent'] %>
<% filter_options << ["Show All", 'all'] %>
<% dates.each_with_index do |d, index| %>
    <% filter_options << [d[0].strftime("%A %m/%d/%Y"), d[0].strftime("%m/%d/%Y")] %>
<% end %>

<br>

<%= select_tag "#",
               options_for_select(filter_options, 1),
               id: "drilling_log_filter",
               class: "custom-select custom-select-long align-top push-up push-right-small" %>

<div class="btn-group inline pull-right push-right">
  <a class="custom-data-toggle-jobs" data-toggle="dropdown" href="#">
    Export/Import
  </a>
  <ul class="dropdown-menu">
    <li>
      <%= link_to "Export as Excel", drilling_logs_path(@drilling_log, format: "xlsx"),
                  target: "_blank",
                  class: "dropdown-menu-link tooltip-info submit-form",
                  "data-placement" => "left",
                  "data-title" => "Export log as Microsoft Excel file." %>
    </li>
    <li>
      <%= form_for DrillingLogEntry.new, :html => {:multipart => true} do |f| %>
          <%= f.hidden_field :drilling_log_id, value: @drilling_log.id %>
          <a class='btn' style="background: #0058a8; color: white; margin-left: 20px; margin-bottom: 6px;" href='javascript:;'>
            Import Offline Log
            <input type="file" style='position:absolute;z-index:2;top:0px;right:0px;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40" onchange="showWorkingCurtain(); $(this).closest('form').submit();">
          </a>
      <% end %>
    </li>
  </ul>
</div>

<% if @drilling_log.job.status < Job::COMPLETE %>
    <%= link_to "#",
                class: "bluebtn btnsmall gray align-top tooltip-info push-up pull-right",
                id: "add_new_entry_jump",
                "data-form" => "new-job-log",
                "data-placement" => "bottom",
                "data-title" => "Add New Log Entry" do %>
        Add New Entry
    <% end %>
<% end %>


<div class="content">
  <div class="">
    <p class="help-text list-item-column list-item-column-short">
      Date/Time
    </p>

    <p class="help-text list-item-column list-item-column-short">
      Hours
    </p>

    <p class="help-text list-item-column2">
      Depth
    </p>

    <p class="help-text list-item-column list-item-column3">
      Activity
    </p>

    <p class="help-text list-item-column">
      Comment/Description
    </p>

    <p class="help-text pull-right push-down-small">
      User
    </p>
    <br><br>
  </div>

  <div class="" id="list">
    <% @last_entry = nil %>
    <% dates.each_with_index do |date| %>
        <%= render 'drilling_log_entries/drilling_log_entry_group', date: date[0], entries: date[1] %>
    <% end %>
  </div>

  <% if @drilling_log.drilling_log_entries.empty? %>
      <br><br>

      <p class="center help-text no-job-log-entries"><br>No log entries...</p>

      <br><br>

  <% end %>

</div>


<% if @drilling_log.job.status < Job::COMPLETE %>
    <div id='drilling_log_entry' class="well content">
      <div class="form" data-form="new-job-log">

        <%= form_for DrillingLogEntry.new, remote: true do |f| %>


            <div class="pull-right">
              <%= f.select :bha_id, options_for_select(@bhas.collect { |bha| [bha.name + (!bha.description.blank? ? " - " + bha.description : ""), bha.id] }, nil),
                           {prompt: "Select BHA..."},
                           class: "inline  custom-select tooltip-info",
                           "data-placement" => "right",
                           "data-title" => "Current Bottom Hole Assembly" %>
            </div>

            <div>
              <b>Add New Entry</b>
            </div>
            <br><br>
            <%= f.hidden_field :drilling_log_id, value: @drilling_log.id %>

            <div>
              <%= f.text_field :depth, placeholder: "Measured Depth",
                               class: "txtfield small tooltip-info submit-enter",
                               id: "depth_log_id",
                               "data-placement" => "bottom",
                               "data-title" => "Depth of log entry" %>

              <%= f.select :activity_code, options_for_select(DrillingLogEntry.options, nil),
                           {prompt: "Select Activity..."},
                           id: "activity_code_select",
                           class: "inline custom-select  tooltip-info align-top",
                           "data-placement" => "right",
                           "data-title" => "Type of log entry" %>

              <%= f.text_field :comment, placeholder: "Comment/description of entry",
                               class: "txtfield tooltip-info submit-enter push-right-small",
                               id: "new_job_log_id",
                               "data-placement" => "bottom",
                               "data-title" => "Comment/description text of entry" %>
            </div>

            <div class="pull-left">
              <div class="inline-block push-down">
                <%= f.check_box :override_date, checked: false,
                                class: "regular-checkbox", id: "checkbox_override_date" %>
                <label for="checkbox_override_date"></label>

                <p class="checkbox-label">Override Date/Time</p>
              </div>

              <div class="inline-block date-fields push-right-small hidden">
                <input type="text" value="<%= Date.today.strftime("%m/%d/%Y") %>"
                       name="date"
                       id="entry_date"
                       class="job-field-value-editable input-small date-picker">


                <div class="inline bootstrap-timepicker">
                  <input id="entry_time" type="text" class="job-field-value-editable input-small timepicker">
                  <span class="add-on"><i class="icon-time"></i></span>
                </div>
              </div>

            </div>


            <div class="pull-right">

              <div class='inline-block survey-entry hidden'>
                <%= f.submit "Add Survey",
                             class: "bluebtn btnsmall light-blue inline-block tooltip-info",
                             "data-placement" => "bottom",
                             "data-title" => "Add new survey point" %>
                <br>
              </div>

              <%= f.submit "Add Entry",
                           class: "bluebtn btnsmall inline tooltip-info form-loading-on-click",
                           "data-form" => "new-job-log",
                           "data-placement" => "bottom",
                           "data-title" => "Add new log entry" %>
            </div>

        <% end %>

      </div>

      <div class="form-loading hidden" data-form="new-job-log">
        <%= render 'layouts/inline_loading', title: "Creating entry..." %>
        <br><br>
      </div>

      <br><br>

      <hr>

      <div>
        <%= link_to "#",
                    class: "activity-user-link tooltip-info",
                    "data-form" => "new-job-log",
                    "data-placement" => "bottom",
                    "data-title" => "Update Drilling Parameters/Mud/Bit Records" do %>
            Update Drilling Parameters
        <% end %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to "#",
                    class: "activity-user-link tooltip-info",
                    "data-form" => "new-job-log",
                    "data-placement" => "bottom",
                    "data-title" => "Update Drilling Parameters/Mud/Bit Records" do %>
            Update Mud Record
        <% end %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to "#",
                    class: "activity-user-link tooltip-info",
                    "data-form" => "new-job-log",
                    "data-placement" => "bottom",
                    "data-title" => "Update Drilling Parameters/Mud/Bit Records" do %>
            New Bottom Hole Assembly
        <% end %>
      </div>

    </div>
<% end %>
</div>
</div>

