<div id="drilling_daily" class="job-tray" data-tray="drilling-daily">

  <div class="drilling-daily-loading hidden">
    <br><br>
    <%= render 'layouts/inline_loading', title: "Please wait, loading daily totals..." %>
  </div>

  <div class="content">
    <br>

    <% if drilling_log.drilling_log_entries.any? %>
        <% drilling_entry = nil %>
        <% drilling_log.drilling_log_entries.each do |entry| %>
            <% if drilling_entry == nil ||
                    drilling_entry.entry_at.day != entry.entry_at.day ||
                    drilling_entry.entry_at.month != entry.entry_at.month ||
                    drilling_entry.entry_at.year != entry.entry_at.year %>
                <% drilling_entry = entry %>
                <% entries = drilling_log.drilling_log_entries.where("drilling_log_entries.entry_at > '#{entry.entry_at.beginning_of_day}' AND drilling_log_entries.entry_at <= '#{entry.entry_at.end_of_day}' ").to_a %>
                <% log = DrillingLog.calculate(entries) %>
                <div class="page_header">
                  <h1><%= drilling_entry.entry_at.strftime("%A") %></h1>

                  <p class='inline-block'><%= drilling_entry.entry_at.strftime("%m/%d/%Y") %></p>
                </div>

                <div>
                  <div class="chart-block tooltip-info"
                       data-title="Average Total Rate of Penetration.">
                    <div class="chart-title">Avg Total ROP</div>
                    <div class="donut-chart-div job-donut-chart-div">
                      <div class="donut-text "><%= log.nil? || log.rop.nil? ? "-" : log.rop.round(1) %></div>
                      <div class="percentage ">ft/min</div>
                    </div>
                  </div>

                  <div class="chart-block tooltip-info"
                       data-title="Total feet drilled.">
                    <div class="chart-title">Total Drilled</div>
                    <div class="donut-chart-div job-donut-chart-div">
                      <div class="donut-text "><%= log.nil? || log.total_drilled.nil? ? "-" : log.total_drilled.to_i %></div>
                      <div class="percentage "><span class="push-right-small">ft</span></div>
                    </div>
                  </div>

                  <div class="chart-block tooltip-info"
                       data-title="Time in hours spent below the rotary table.">
                    <div class="chart-title">Below Rotary</div>
                    <div class="donut-chart-div job-donut-chart-div">
                      <div class="donut-text "><%= log.nil? || log.below_rotary.nil? ? "-" : log.below_rotary.round(1) %></div>
                      <div class="percentage ">hours</div>
                    </div>
                  </div>

                  <div class="chart-daily tooltip-info" data-title="ROP">
                    <canvas id="canvas_<%= drilling_entry.id %>" height="110" width="220"></canvas>
                  </div>

                  <script>
                      <% rops = [] %>
                      <% last_entry = entries.first %>
                      <% entries.each do |dl| %>
                      <% rops << [dl.entry_at, dl == last_entry ? 0.0 : ((dl.depth - last_entry.depth).to_f / (dl.entry_at - last_entry.entry_at).to_f)] %>
                      <% last_entry = dl %>
                      <% end %>

                      var lineChartData = {
                          labels: <%= raw rops.map { |dl| "" }.to_json.html_safe %>,
                          datasets: [
                              {
                                  fillColor: "rgba(220,220,220,0.5)",
                                  strokeColor: "rgba(220,220,220,1)",
                                  pointColor: "rgba(220,220,220,1)",
                                  pointStrokeColor: "#fff",
                                  data: <%= raw rops.map { |dl| dl[1] }.to_json.html_safe %>
                              }
                          ]
                      }

                      var myLine = new Chart(document.getElementById("canvas_<%= drilling_entry.id %>").getContext("2d")).Line(lineChartData, { scaleShowLabels: false });
                  </script>

                </div>
                <br><br>
            <% end %>
        <% end %>
    <% else %>
        <p class='help-text'>No drilling log entries...</p>
    <% end %>
  </div>
</div>
