<% provide(:title, @document.name) %>

<div class="page_header page-header-no-line">
  <h1 id="part_name"><%= @document.name %></h1>

  <h3 class="inline">&nbsp;Drilling Log</h3>

  <div class="btn-group inline pull-right">
    <a class="custom-data-toggle-jobs" data-toggle="dropdown" href="#">
      Export
    </a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to "Export as Excel", document_path(@document, format: "xlsx"),
                    target: "_blank",
                    class: "dropdown-menu-link tooltip-info submit-form",
                    "data-placement" => "left",
                    "data-title" => "Export log as Microsoft Excel file." %>
      </li>
    </ul>
  </div>

  <div>
    <%= render 'jobs/job_progress_link', job: @document.job, show_summary_data: false, job_name: false %>
  </div>
</div>



<div>
  <div class="pull-right tooltip-info" data-title="ROP">
    <canvas id="canvas" height="120" width="270"></canvas>
  </div>


  <div class="chart-block tooltip-info"
       data-title="Total days scheduled for month">
    <div class="chart-title">Avg Total ROP</div>
    <div class="donut-chart-div job-donut-chart-div">
      <div class="donut-text "><%= "36" %></div>
      <div class="percentage ">ft/min</div>
    </div>
  </div>

  <div class="chart-block tooltip-info"
       data-title="Total days actually worked for month">
    <div class="chart-title">Total Drilled</div>
    <div class="donut-chart-div job-donut-chart-div">
      <div class="donut-text "><%= "5,678" %></div>
      <div class="percentage "><span class="push-right-small">ft</span></div>
    </div>
  </div>

  <div class="chart-block tooltip-info"
       data-title="Total days actually worked for month">
    <div class="chart-title">Below Rotary</div>
    <div class="donut-chart-div job-donut-chart-div">
      <div class="donut-text "><%= "4.98" %></div>
      <div class="percentage ">hours</div>
    </div>
  </div>


</div>

<br><br>

<ul class="nav nav-pills alert alert-info">
  <li class="active">
    <a href="#" class="job-tray-toggle custom-data-toggle"
       data-tray="log">Drilling Log<%= "(0)" %></a>
  </li>
  <li class="push-right-small">
    <a href="#" class="job-tray-toggle custom-data-toggle"
       data-tray="overview">Overview</a>
  </li>

  <li class="push-right-small">
    <a href="#" class="job-tray-toggle custom-data-toggle"
       data-tray="daily">Daily Totals</a>
  </li>

  <li class="push-right-small">
    <a href="#" class="job-tray-toggle custom-data-toggle"
       data-tray="rop">ROP Analysis</a>
  </li>
</ul>


<%= render 'drilling_logs/tray_log' %>

<div class="job-tray custom-data-closed" data-tray="overview">
</div>

<div class="job-tray custom-data-closed" data-tray="daily">
</div>

<div class="job-tray custom-data-closed" data-tray="rop">
</div>


<div id="modal_popup" class="modal-popup-background">
  <div class="modal-popup modal-popup-fixed">
    <%= link_to "close", "#", class: "delete-button modal-popup-close", id: "close_modal" %>
    <div class="modal-content">
    </div>
    <%= render "layouts/inline_loading", title: "Loading..." %>
  </div>
</div>

<script>
    var lineChartData = {
        labels: ["", "", "", "", "", "", ""],
        datasets: [
            {
                fillColor: "rgba(220,220,220,0.5)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                data: [0, 2, 30, 40, 30, 36, 30]
            }
        ]
    }

    var myLine = new Chart(document.getElementById("canvas").getContext("2d")).Line(lineChartData);

</script>

