<% provide(:title, @drilling_log.document.name) %>

<div class="page_header page-header-no-line">
  <h1 id="part_name"><%= @drilling_log.document.name %></h1>

  <h3 class="inline">&nbsp;Drilling Log</h3>

  <div class="btn-group inline pull-right">
    <a class="custom-data-toggle-jobs" data-toggle="dropdown" href="#">
      Export
    </a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to "Export as Excel", drilling_logs_path(@drilling_log, format: "xlsx"),
                    target: "_blank",
                    class: "dropdown-menu-link tooltip-info submit-form",
                    "data-placement" => "left",
                    "data-title" => "Export log as Microsoft Excel file." %>
      </li>
    </ul>
  </div>

  <div>
    <%= render 'jobs/job_progress_link', job: @drilling_log.job, show_summary_data: false, job_name: false %>
  </div>
</div>


<ul class="nav nav-pills alert alert-info">
  <li class="active">
    <a href="#" class="job-tray-toggle custom-data-toggle"
       data-tray="log">Drilling Log<%= " (" + @drilling_log.drilling_log_entries.count.to_s + ")" %></a>
  </li>
  <li class="push-right-small">
    <a href="#" class="job-tray-toggle custom-data-toggle" data-id="<%= @drilling_log.id %>"
       data-tray="drilling-overview">Overview</a>
  </li>

  <li class="push-right-small">
    <a href="#" class="job-tray-toggle custom-data-toggle" data-id="<%= @drilling_log.id %>"
       data-tray="drilling-daily">Daily Totals</a>
  </li>

  <li class="push-right-small">
    <a href="#" class="job-tray-toggle custom-data-toggle" data-id="<%= @drilling_log.id %>"
       data-tray="rop">ROP Analysis</a>
  </li>
</ul>


<%= render 'drilling_logs/tray_log' %>

<div id="drilling_overview" class="job-tray custom-data-closed" data-tray="drilling-overview">
  <div class="drilling-overview-loading">
    <%= render 'layouts/inline_loading', title: "Please wait, loading overview..." %>
  </div>
</div>

<div id="drilling_daily" class="job-tray custom-data-closed" data-tray="drilling-daily">
  <div class="drilling-daily-loading">
    <%= render 'layouts/inline_loading', title: "Please wait, loading daily totals..." %>
  </div>
</div>

<div class="job-tray custom-data-closed" data-tray="rop">
</div>


<div id="modal_popup" class="modal-popup-background">
  <div class="modal-popup modal-popup-fixed">
    <%= link_to "close", "#", class: "delete-button modal-popup-close", id: "close_modal" %>
    <div class="modal-content">
    </div>
    <%= render "layouts/inline_loading", title: "Loading..." %>
  </div>
</div>



