<div class="remote-tray" data-tray="shipping">

  <div class="remote-loading hidden">
    <br><br>
    <%= render 'layouts/inline_loading', title: "Please wait, loading assets in shipping..." %>
  </div>

  <div class="content tray-content content-loaded">

    <% parts = @parts.where(:status => Part::SHIPPING) %>
    <% shipments = Shipment.includes(part_memberships: { part: :master_part }).includes(part_memberships: :shipment).where(:district_id => @district.id).order("status ASC, created_at DESC") %>
    <% shippers = Shipper.where(:district_id => @district.id).order("name ASC") %>

    <div class='section-header' style="margin-top: 15px;">
      <h1>Shipments</h1>

      <div class='push-right-small align-top'>
        <%= link_to shipments_path(district: @district),
                    method: :post,
                    class: "btn btn-primary white-text align-top" do %>
            <i class="icon-plus-sign icon-white"></i>
            <span>New Shipment</span>
        <% end %>
      </div>


      <% if false %>
          <div class='pull-right push-right'>
            <%= link_to "New Shipment", shipments_path(district: @district),
                        remote: true, method: :post,
                        class: "btn btn-default show-modal-button" %>
          </div>
      <% end %>
      <% if true %>

      <% end %>

      <div class='pull-right align-top'>
        <%= link_to shippers_path(district: @district.id), class: "btn btn-default align-top" do %>
            Open Shippers
        <% end %>
      </div>
    </div>

    <% paginated_shipments = shipments.paginate(page: params[:page], limit: 20) %>
    <div id="shipments_list" class="list">
      <% paginated_shipments.each do |shipment| %>
          <%= render 'shipments/shipment', shipment: shipment, editable: shipment.status != Shipment::COMPLETE, show_assets: false, in_job: false %>
          <% if shipment.accepted_at.nil? && shipment.status == Shipment::IN_TRANSIT && (shipment.part_memberships.where("part_memberships.to_type != ?", Job.name).any?) %>
              <%= link_to "Receive Shipment", shipment_path(shipment, update_field: true, field: "receive_shipment", value: shipment.id),
                          remote: true, :method => :put,
                          class: "bluebtn btnsmall green push-down receive-shipment-button" %>
          <% end %>
          <hr>
      <% end %>
    </div>

    <%= will_paginate paginated_shipments %>

    <script type='text/javascript'>
        $(function () {
            $('.pagination a').live("click", function () {
                $('.pagination').html('Page is loading...');
                $.get(this.href, null, null, 'script');
                return false;
            });
        });
    </script>
  </div>

</div>