<div class="remote-tray" data-tray="shipping">

  <div class="remote-loading hidden">
    <br><br>
    <%= render 'layouts/inline_loading', title: "Please wait, loading assets in shipping..." %>
  </div>

  <div class="content tray-content content-loaded">

    <% parts = @parts.where(:status => Part::SHIPPING) %>
    <% shipments = Shipment.where(:district_id => @district.id).order("status ASC, created_at DESC") %>
    <% shippers = Shipper.where(:district_id => @district.id).order("name ASC") %>

    <div class='well'>
      <h1 class="donut-text inline"><%= shipments.where("shipments.status != ?", Shipment::COMPLETE).count %></h1>

      <div class='inline-block push-down push-right-small'>
        <h3 class="inline-block">Shipments</h3>
      </div>

      <div class='pull-right push-right'>
        <%= link_to "New Shipment", shipments_path(district: @district),
                    method: :post,
                    class: "bluebtn" %>
      </div>

      <div class='pull-right align-top' style='margin-top: 15px;'>
        <%= link_to shippers_path(district: @district.id), class: "activity-user-link" do %>
            View Shippers
            (<%= shippers.count %>)
        <% end %>
      </div>
    </div>

    <% paginated_shipments = shipments.where("shipments.status > 0").paginate(page: params[:page], limit: 20) %>
    <div id="shipments_list" class="list">
      <% paginated_shipments.each do |shipment| %>
          <%= render 'shipments/shipment', shipment: shipment, editable: shipment.status != Shipment::COMPLETE, show_assets: shipment.status != Shipment::COMPLETE %>
          <% if shipment.accepted_at.nil? && shipment.status == Shipment::IN_TRANSIT && shipment.to.present? && (shipment.to_type == Warehouse.name || shipment.to_type == Supplier.name) %>
              <%= link_to "Receive Shipment", shipment_path(shipment, update_field: true, field: "receive_shipment", value: shipment.id),
                          remote: true, :method => :put,
                          class: "bluebtn btnsmall green push-down receive-shipment-button" %>
          <% end %>
          <hr>
      <% end %>
    </div>

    <%= will_paginate paginated_shipments %>

    <script type='text/javascript'>
        $(function () {
            $('.pagination a').live("click", function () {
                $('.pagination').html('Page is loading...');
                $.get(this.href, null, null, 'script');
                return false;
            });
        });
    </script>
  </div>

</div>