<div class="remote-tray" data-tray="warehouses">

  <div class="remote-loading hidden">
    <br><br>
    <%= render 'layouts/inline_loading', title: "Please wait, loading warehouses..." %>
  </div>

  <div class="content tray-content content-loaded">

    <div class='well'>

      <% if current_user.role.add_remove_inventory? %>
          <%= link_to "New Warehouse", new_warehouse_path(district: @district),
                      class: "bluebtn tooltip-info pull-right",
                      "data-placement" => "left",
                      "data-title" => "Create new warehouse" %>
      <% end %>


      <h1 class="donut-text inline"><%= @district.warehouses.count %></h1>

      <div class='inline-block push-down push-right-small'>
        <h3 class="inline-block">Warehouses</h3>
      </div>
    </div>

    <div id="parts" class="list">
      <% @district.warehouses.each do |warehouse| %>
          <div class="">

            <%= link_to warehouse, class: "job-link" do %>
                <div class='pull-right help-text push-down-small'>
                  <%= "#{warehouse.city} #{warehouse.state}" %>
                </div>

                <p class="list-item-header-text inline">
                  <b><%= warehouse.name %></b>
                </p>

                <br>

                <h3 class='inline-block blue-text push-right-small'><%= warehouse.parts.count %></h3>&nbsp;<b>assets</b>

            <% end %>


            <% if warehouse.parts.any? %>
                <div class="content">
                  <% warehouse.parts.each_with_index do |p, i| %>
                      <%= render 'parts/sub_part2', part: p, index: i, show_warehouse: false, condensed: @condensed, show_name: true %>
                  <% end %>
                </div>

            <% else %>
                <p class='help-text'>No assets in this warehouse...</p>
            <% end %>
            <hr>

          </div>
      <% end %>
    </div>

  </div>

</div>