<div class="remote-tray" data-tray="full">

  <div class="remote-loading hidden">
    <br><br>
    <%= render 'layouts/inline_loading', title: "Please wait, loading full list..." %>
  </div>

  <div class="tray-content content-loaded">

    <div class="">

      <div class="btn-group inline pull-right push-right-small">
        <a class="custom-data-toggle-jobs" data-toggle="dropdown" href="#">
          Advanced Actions
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to "Export as Excel", inventory_path(district: @district, format: "xlsx"),
                        target: "_blank",
                        class: "dropdown-menu-link tooltip-info submit-form",
                        "data-placement" => "left",
                        "data-title" => "Export data as Microsoft Excel file." %>
          </li>
          <li class="divider"></li>
          <li>
            <%= link_to "Expand All Assets", "#",
                        id: "expand_all_assets",
                        class: "dropdown-menu-link tooltip-info",
                        "data-placement" => "left",
                        "data-title" => "Expand all asset types to show assets." %>
          </li>
        </ul>
      </div>


      <br><br>
    </div>


    <% groups = @parts.group_by { |part| part.master_part_id } %>

    <div class='well'>

      <% if current_user.role.add_remove_inventory? %>
          <%= link_to "New Asset Type", new_part_path(template: true, district: @district),
                      class: "bluebtn tooltip-info pull-right",
                      "data-placement" => "bottom",
                      "data-title" => "Create new asset type" %>
      <% end %>

      <h1 class="donut-text inline"><%= @parts.count %></h1>

      <div class='inline-block push-down push-right-small'>
        <h3 class="inline-block">Assets</h3>
      </div>

      <h1 class="donut-text inline push-right"><%= groups.count %></h1>

      <div class='inline-block push-down push-right-small'>
        <h3 class="inline-block">Types</h3>
      </div>
    </div>
    <% if false %>
        <%= render 'inventory/statistics', parts: Part.where("parts.master_part_id IN (#{@parts.select(:id).to_sql})"), show_rentals: false %>
    <% end %>

    <br>

    <% master_parts = [] %>
    <% groups.each do |group| %>
        <% master_parts << Part.find_by_id(group[0]) %>
    <% end %>

    <% master_parts = master_parts.sort_by { |p| p.name } %>

    <div id="parts" class="list">
      <% master_parts.each do |master_part| %>
          <div id="asset_type_<%= master_part.id %>" class="asset-type">

            <% if params[:show_all].nil? || params[:show_all] == "false" %>
                <%= link_to "list assets", part_path(master_part, show_inline: true), remote: true, class: "activity-user-link pull-right align-top push-down asset-load-full-list" %>
            <% end %>

            <%= link_to master_part, class: "job-link" do %>
                <div class="member-icon ">
                  <p>
                    <%= master_part.parts.count %>
                  </p>
                </div>
                &nbsp;

                <p class="list-item-header-text inline">
                  <b><%= master_part.name %></b>
                </p>

                <p class="help-text inline">
                  <%= master_part.material_number %>
                </p>

            <% end %>


            <div class='asset-list'>
              <% if params[:show_all].present? && params[:show_all] == "true" %>
                  <%= render 'parts/asset_list', part: master_part %>
              <% end %>
            </div>


          </div>
      <% end %>
    </div>


  </div>
</div>

<script type='text/javascript'>
    $('.asset-load-full-list').click(function () {
        $(this).hide();
        $(this).closest('.asset-type').find('.asset-list').append("<span class='ajax-loading search-loading push-right'><b>Loading assets...</b>&nbsp;&nbsp;&nbsp;&nbsp;</span>");
    });

    $('#expand_all_assets').click(function () {
        $('.asset-type').each(function () {
            $(this).find('.asset-load-full-list').remove();
            $(this).find('.asset-list').append("<span class='ajax-loading search-loading push-right'><b>Loading assets...</b>&nbsp;&nbsp;&nbsp;&nbsp;</span>");

            $.ajax({
                url:"/parts/" + $(this).prop("id").replace("asset_type_", "") + "?show_inline=true",
                type:"GET",
                dataType:"script"
            });
        });
        return false;
    });
</script>