<div class="remote-tray" data-tray="suppliers">

  <div class="remote-loading hidden">
    <br><br>
    <%= render 'layouts/inline_loading', title: "Please wait, loading suppliers..." %>
  </div>

  <div class="content tray-content content-loaded">

    <div class='well'>

      <%= link_to "New Supplier", new_supplier_path(district: @district),
                  class: "bluebtn tooltip-info pull-right",
                  "data-placement" => "left",
                  "data-title" => "Create new supplier" %>

      <h1 class="donut-text inline"><%= @district.suppliers.count %></h1>

      <div class='inline-block push-down push-right-small'>
        <h3 class="inline-block">Suppliers</h3>
      </div>
    </div>

    <div id="parts" class="list">
      <% @district.suppliers.each do |supplier| %>
          <div class="">

            <%= link_to supplier, class: "job-link" do %>
                <div class='pull-right help-text push-down-small'>
                  <%= "#{supplier.city} #{supplier.state}" %>
                </div>
                <p class="list-item-header-text inline">
                  <b><%= supplier.name %></b>
                </p>

                <br>
                <h3 class='inline-block blue-text push-right-small'>0</h3>&nbsp;<b>rentals</b>

            <% end %>


            <hr>

          </div>
      <% end %>
    </div>

  </div>

</div>