<% provide(:title, "Inventory") %>

<div class="">
  <div>
    <b>Assets</b>

    <div class="filter-search-box">
      <% if @district.present? %>
          <%= text_field_tag "", "", data: {autocomplete_source: parts_path(district_id: @district.id)},
                             placeholder: "Search for asset...",
                             class: "txtfield search-query tooltip-info part-search",
                             id: "part_search",
                             "data-placement" => "left",
                             "data-title" => "Search in asset..." %>
      <% else %>
          <%= text_field_tag "", "", data: {autocomplete_source: parts_path},
                             placeholder: "Search for asset...",
                             class: "txtfield search-query tooltip-info part-search",
                             id: "part_search",
                             "data-placement" => "left",
                             "data-title" => "Search in assets..." %>
      <% end %>
    </div>
  </div>
  <hr>
</div>

<div class="page_header">

  <h1>Inventory</h1>

  <h2>
    <% page = params[:page].present? ? Integer(params[:page]) : 1 %>
    <%= ((page - 1) * 30) + 1 %>
    - <%= [((page - 1) * 30) + 30, @parts.count].min %> of <%= @parts.count.to_s %>
  </h2>


  <div class="btn-group inline pull-right push-right-small">
    <a class="custom-data-toggle-jobs" data-toggle="dropdown" href="#">
      Export
    </a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to "Export as Excel", inventory_path(district: @district, format: "xlsx"),
                    target: "_blank",
                    class: "dropdown-menu-link tooltip-info submit-form",
                    "data-placement" => "left",
                    "data-title" => "Export data as Microsoft Excel file." %>
      </li>
    </ul>
  </div>

</div>

<%= render 'inventory/statistics', parts: Part.where("parts.master_part_id IN (#{@parts.select(:id).to_sql})"), show_rentals: false %>

<% if @district.present? %>
    <div class="">
      <b>Warehouses</b>

      <div class='inline'>
        <% if current_user.role.limit_to_assigned_jobs? %>
            <% current_user.warehouses.each_with_index do |warehouse, i| %>
                <%= link_to warehouse, class: "activity-user-link push-right-small" do %>
                    <%= warehouse.name %>
                <% end %>
            <% end %>
        <% else %>
            <% @district.warehouses.each_with_index do |warehouse, i| %>
                <%= link_to warehouse, class: "activity-user-link push-right-small" do %>
                    <%= warehouse.name %>
                <% end %>
            <% end %>
        <% end %>
      </div>
    </div>
<% end %>

<% if false %>
    <div class="content">
      <p class="list-item-column list-item-column-long help-text">
        Name
      </p>

      <p class="list-item-column2 help-text">
        Material Number
      </p>

      <% if current_user.role.district_read? %>
          <p class="list-item-column list-item-column2 help-text">
            District
          </p>
      <% end %>
    </div>

<% end %>

<br>


<div id="parts" class="list">
  <% last_part = nil %>
  <% remove_lines = [] %>
  <% @parts.each do |part| %>
      <div class="">
        <% if last_part.nil? || part.material_number != last_part.material_number %>
            <%= link_to part, class: "job-link" do %>
                <div class="member-icon ">
                  <p>
                    <%= part.parts.count %>
                  </p>
                </div>
                &nbsp;

                <p class="list-item-header-text inline">
                  <b><%= part.name %></b>
                </p>

                <p class="help-text inline">
                  <%= part.material_number %>
                </p>

            <% end %>
        <% else %>
            <% remove_lines << last_part %>
        <% end %>

        <% if part.parts.any? %>
            <div class="content">
              <% part.parts.each_with_index do |p, i| %>
                  <%= render 'parts/sub_part2', part: p, index: i, show_warehouse: true, condensed: @condensed %>
              <% end %>
            </div>

            <hr id="divider_part_<%= part.id %>">
        <% end %>
      </div>
      <% last_part = part %>
  <% end %>
</div>

<%= will_paginate @parts %>


<script type="text/javascript">

  <% remove_lines.each do |l| %>
    $('#divider_part_<%= l.id %>').remove();
  <% end %>

    (function ($) {
        $(document).ready(function () {
            $('.part-search').data("autocomplete")._renderItem = function (ul, item) {
                return $("<li class='item_" + item.id + "'></li>").data("item.autocomplete", item).append(
                        "<a><div>" + (item.id > 0 ? "<img src='/assets/tool.png' class='job-member-avatar pull-left'>" : "") + "</div><div><div class='pull-right help-text list-item-column-short'>" + item.warehouse + "</div><div class='job-user'><strong>" + item.value + " </strong>" + (item.id > 0 ? "<p class='job-user-district pull-right'><span class='help-text'>Material # </span>" + item.material_number + "</p>" : "") + (item.id > 0 ? "<div>" + (item.serial_number != null ? ("<p class='job-user-title'><span class='help-text'>Serial # </span><b class='orange-text'>" + item.serial_number + "</b>" + (item.district_serial_number != '' ? " / <span class='help-text'>District # </span><b class='orange-text'>" + item.district_serial_number + "</b>" : "") + "</p>") : "<p class='job-user-title'><b class='blue-text'>Master Part</b></p>") + "</div>" : "") + "</div></div></a>").appendTo(ul)
            }
        });
    }(jQuery));
</script>




