<% provide(:title, "Inventory") %>

<div class="">
  <div>
    <b>Assets</b>

    <div class="filter-search-box">
      <% if @district.present? %>
          <%= text_field_tag "", "", data: {autocomplete_source: parts_path(district_id: @district.id)},
                             placeholder: "Search for asset...",
                             class: "txtfield search-query tooltip-info part-search",
                             id: "part_search",
                             "data-placement" => "left",
                             "data-title" => "Search in asset..." %>
      <% else %>
          <%= text_field_tag "", "", data: {autocomplete_source: parts_path},
                             placeholder: "Search for asset...",
                             class: "txtfield search-query tooltip-info part-search",
                             id: "part_search",
                             "data-placement" => "left",
                             "data-title" => "Search in assets..." %>
      <% end %>
    </div>
  </div>
  <hr>
</div>

<div class="page_header">

  <h1>Inventory</h1>

  <h2>
    <% page = params[:page].present? ? Integer(params[:page]) : 1 %>
    <%= ((page - 1) * 30) + 1 %>
    - <%= [((page - 1) * 30) + 30, @parts.count].min %> of <%= @parts.count.to_s %>
  </h2>


  <div class="btn-group inline pull-right push-right-small">
    <a class="custom-data-toggle-jobs" data-toggle="dropdown" href="#">
      Export
    </a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to "Export as Excel", inventory_path(district: @district, format: "xlsx"),
                    target: "_blank",
                    class: "dropdown-menu-link tooltip-info submit-form",
                    "data-placement" => "left",
                    "data-title" => "Export data as Microsoft Excel file." %>
      </li>
    </ul>
  </div>

</div>

<% if false %>
    <div class="content">
      <p class="list-item-column list-item-column-long help-text">
        Name
      </p>

      <p class="list-item-column2 help-text">
        Material Number
      </p>

      <% if current_user.role.district_read? %>
          <p class="list-item-column list-item-column2 help-text">
            District
          </p>
      <% end %>
    </div>

<% end %>

<br>


<div id="parts" class="list">
  <% @parts.each do |part| %>
      <div class="">
        <%= link_to part, class: "job-link" do %>
            <div class="member-icon ">
              <p>
                <%= part.parts.count %>
              </p>
            </div>
            &nbsp;

            <p class="list-item-header-text inline">
            <b><%= part.name %></b>
            </p>

            <p class="help-text inline">
              <%= part.material_number %>
            </p>


        <% end %>

        <div class="content">
          <% part.parts.each_with_index do |p, i| %>
              <%= render 'parts/sub_part2', part: p, index: i %>
          <% end %>
        </div>

        <hr>
      </div>
  <% end %>
</div>

<%= will_paginate @parts %>


<script type="text/javascript">
    (function ($) {
        $(document).ready(function () {
            $('.part-search').data("autocomplete")._renderItem = function (ul, item) {
                return $("<li class='item_" + item.id + "'></li>").data("item.autocomplete", item).append(
                        "<a><div>" + (item.id > 0 ? "<img src='/assets/tool.png' class='job-member-avatar pull-left'>" : "") + "</div><div><div class='job-user'><strong>" + item.value + " </strong>" + (item.id > 0 ? "<p class='job-user-district pull-right'><span class='help-text'>Material # </span>" + item.material_number + "</p>" : "") + (item.id > 0 ? "<div>" + (item.serial_number != null ? ("<p class='job-user-title'><span class='help-text'>Serial # </span><b class='orange-text'>" + item.serial_number + "</b> / <span class='help-text'>District # </span><b class='orange-text'>" + item.district_serial_number + "</b></p>") : "<p class='job-user-title'><b class='blue-text'>Master Part</b></p>") + "</div>" : "") + "</div></div></a>").appendTo(ul)
            }
        });
    }(jQuery));
</script>




