<div class=" root-tool root_tool_<%= tool.tool.id %>" id="primary_tool_<%= tool.id %>">
  <div>

    <div class="pull-right">
      <%= link_to "edit", edit_tool_path(tool.tool), remote: true,
                  class: "inline edit-dynamic-field-name tooltip-info show-modal-button",
                  "data-placement" => "bottom",
                  "data-title" => "Edit tool info" %>

      <%= link_to "remove", tool, method: :delete, remote: true,
                  data: {confirm: "Remove Primary Tool " + tool.tool.name + "?"}, class: "delete-button tooltip-info",
                  "data-placement" => "bottom",
                  "data-title" => "Delete " + tool.tool.name + " from job type" %>
    </div>

    <div class="primary-tool-name">
      <%= image_tag "tool.png" %>
      <h3 class="push-right-small tool-name"><%= tool.tool.name %></h3>

      <br>

      <p class="tool-description tool-long-description  <%= tool.tool.description.blank? ? 'hidden' : '' %>"><%= tool.tool.description %></p>

    </div>


  </div>
  <div class="content">
    <div id="documents_primary_tool_<%= tool.id %>" class="">
      <% tool.template_documents.each do |d| %>
          <%= render 'documents/document', document: d, editable: true, can_upload: true %>
      <% end %>
    </div>

    <div id="parts_primary_tool_<%= tool.id %>" class="">
      <% tool.part_memberships.where(:template => true).each do |p| %>
          <%= render 'part_memberships/part_membership', part_membership: p %>
      <% end %>
    </div>

    <hr>


    <div class="add-new-document-tool hidden">
      <%= form_for Document.new, remote: true do |f| %>

          <div class="alert alert-info">

            <p><b>Add New Document to Primary Tool</b></p>

            <%= f.text_field :name, placeholder: I18n.t("job_templates.document_fields.name"), class: "txtfield tooltip-info",
                             id: "new_document_name",
                             "data-placement" => "bottom",
                             "data-title" => "Document name" %>
            <%= f.hidden_field :primary_tool_id, value: tool.id %>
            <%= f.hidden_field :document_type, value: "0" %>
            <%= f.hidden_field :read_only, value: false %>
            <%= f.hidden_field :template, value: true %>
            <%= f.hidden_field :category, value: Document::PRIMARY_TOOL %>
            <%= f.hidden_field :job_template_id, value: tool.job_template.id %>

            <%= f.submit "+ Add new document",
                         class: "bluebtn btnsmall tooltip-info add-new-document-tool-button",
                         "data-placement" => "bottom",
                         "data-title" => "Add new document" %>

            <%= link_to "Cancel", "#", class: "bluebtn btnsmall red cancel-add-document-tool btn-fix" %>

          </div>

      <% end %>
    </div>

    <div class="add-new-part-tool hidden">
      <%= form_for PartMembership.new, remote: true do |f| %>

          <div class="alert alert-info">

            <p><b>Add New Asset to Primary Tool</b></p>
            <p>Specify asset by <b class='orange-text'>material number</b> that will be used in inventory</p>

            <%= f.text_field :material_number, placeholder: "Asset Material Number",
                             class: "txtfield tooltip-info",
                             id: "new_part_material_number",
                             "data-placement" => "bottom",
                             "data-title" => "Asset Material Number" %>

            <%= f.hidden_field :primary_tool_id, value: tool.id %>
            <%= f.hidden_field :template, value: true %>

            <%= f.submit "+ Add new asset",
                         class: "bluebtn btnsmall tooltip-info add-new-part-tool-button",
                         "data-placement" => "bottom",
                         "data-title" => "Add new asset" %>

            <%= link_to "Cancel", "#", class: "bluebtn btnsmall red cancel-add-part-tool btn-fix" %>

            <br>
            <div class="inline-block">
              <%= f.check_box :track_usage, checked: false,
                              class: "regular-checkbox", id: "track_usage_box_" + tool.id.to_s  %>
              <label for="track_usage_box_<%= tool.id %>"></label>
              <p class="checkbox-label">Track Usage Hours</p>
            </div>

            <div class="inline-block push-right">
              <%= f.check_box :optional, checked: false,
                              class: "regular-checkbox", id: "optional_box_" + tool.id.to_s %>
              <label for="optional_box_<%= tool.id %>"></label>
              <p class="checkbox-label">Optional</p>
            </div>

          </div>

      <% end %>
    </div>

    <div class="tool-add-links">
      <%= link_to "+ Add new document", "#", class: "activity-user-link push-right add-new-document-tool-link" %>
      <%= link_to "+ Add asset", "#", class: "activity-user-link push-right add-new-part-tool-link" %>
    </div>
  </div>

</div>

<hr class="search-constraint-line">


