<%= form_for @new_document, remote: true do |f| %>

    <%= render 'shared/error_messages', object: f.object %>

    <div class="inline-form">

      <%= f.text_field :name, placeholder: I18n.t("job_templates.document_fields.name"),
                       class: "txtfield tooltip-info align-top",
                       id: "new_document_name",
                       "data-placement" => "bottom",
                       "data-title" => "Document name" %>

      <%= f.select :document_type, options_for_select([["Document", Document::DOCUMENT],
                                                       ["Protected Document", Document::PROTECTED_DOCUMENT],
                                                       ["Job Log", Document::JOB_LOG],
                                                       ["Bottom Hole Assembly", Document::BOTTOM_HOLE_ASSEMBLY],
                                                       ["Drilling Log", Document::DRILLING_LOG],
                                                       ["Well Plan", Document::WELL_PLAN],
                                                       ["Survey", Document::SURVEY]
                                                        ]),
                   {},
                   class: "job-note-type custom-select" %>

      <%= f.hidden_field :read_only, value: read_only %>
      <%= f.hidden_field :template, value: true %>
      <%= f.hidden_field :category, value: category_name %>
      <%= f.hidden_field :job_template_id, value: @job_template.id %>

      <%= f.submit "+ Add to " + category_name,
                   class: "bluebtn btnsmall tooltip-info add-new-document-button",
                   "data-placement" => "bottom",
                   "data-title" => "Add new document to " + category_name %>

    </div>

<% end %>

