<%= form_for @new_document, remote: true do |f| %>

    <%= render 'shared/error_messages', object: f.object %>

    <div class="inline-form">

      <%= f.text_field :name, placeholder: I18n.t("job_templates.document_fields.name"), class: "txtfield tooltip-info", id: "new_document_name",
                       "data-placement" => "bottom",
                       "data-title" => "Document name" %>
      <%= f.hidden_field :document_type, value: "0" %>
      <%= f.hidden_field :read_only, value: read_only %>
      <%= f.hidden_field :template, value: true %>
      <%= f.hidden_field :category, value: category_name %>
      <%= f.hidden_field :job_template_id, value: @job_template.id %>

      <%= f.submit I18n.t("global.add"), class: "bluebtn btnsmall tooltip-info",
                   "data-placement" => "bottom",
                   "data-title" => "Add new document to " + category_name %>

    </div>
<% end %>

