<%= form_for @new_dynamic_field, remote: true do |f| %>

    <%= render 'shared/error_messages', object: f.object %>

    <div class="inline-form well">

      <h3 class="job-dynamic-field-title">New Custom Data Property</h3>

      <%= f.text_field :name, placeholder: "Custom data property name", class: "txtfield tooltip-info", id: "new_dynamic_field_name",
                       "data-placement" => "bottom",
                       "data-title" => "Custom data property name" %>
      <!-- <%= f.select :value_type, options_for_select(@new_dynamic_field.units) %>   -->
      <%= f.hidden_field :template, value: true %>
      <%= f.hidden_field :job_template_id, value: @job_template.id %>

      <%= f.select :value_type,
                   options_for_select(@new_dynamic_field.units),
                   {},
                   class: "tooltip-info", "data-placement" => "bottom",
                            "data-title" => "Units of field, click to change" %>

      <%= f.submit I18n.t("global.add"), class: "bluebtn btnsmall" %>

      <br>

      <div class="inline tooltip-info" data-placement="bottom"
           data-title="This data is pre-defined and non-editable on the job page">
        <%= f.label "Value", class: "inline" %>

        <%= f.text_field :value,
                         placeholder: "-",
                         class: "job-field-value-editable push-right-small" %>
      </div>

      <div class="inline tooltip-info push-right" data-placement="bottom"
           data-title="This data is shown in the summary of the job">
        <%= f.label "Show in job summary", class: "inline" %>
        <%= f.check_box :priority %>
      </div>

      <div class="inline tooltip-info push-right" data-placement="bottom"
           data-title="This data is a tool used on the job">
        <%= f.label "Tool", class: "inline" %>
        <%= f.check_box :is_tool %>
      </div>




    </div>
<% end %>