<%= form_for @new_dynamic_field, remote: true do |f| %>

    <%= render 'shared/error_messages', object: f.object %>

    <div class="inline-form">

      <%= f.text_field :name, placeholder: I18n.t("job_templates.dynamic_field_fields.name"), class: "txtfield", id: "new_dynamic_field_name" %>
      <%= f.select :value_type, options_for_select(@new_dynamic_field.units) %>
      <%= f.hidden_field :template, value: true %>
      <%= f.hidden_field :job_template_id, value: @job_template.id %>

      <%= f.submit I18n.t("global.add"), class: "bluebtn btnsmall" %>

      <%= f.label I18n.t("job_templates.document_fields.show_in_summary"), class: "push-right" %>
      <%= f.check_box :priority %>


    </div>
<% end %>