<%= form_for @new_dynamic_field, remote: true do |f| %>

    <%= render 'shared/error_messages', object: f.object %>

    <div class="inline-form">

      <%= f.text_field :name, placeholder: I18n.t("job_templates.dynamic_field_fields.name"), class: "txtfield tooltip-info", id: "new_dynamic_field_name",
                       "data-placement" => "bottom",
                       "data-title" => "Custom field name" %>
      <!-- <%= f.select :value_type, options_for_select(@new_dynamic_field.units) %>   -->
      <%= f.hidden_field :template, value: true %>
      <%= f.hidden_field :job_template_id, value: @job_template.id %>

      <%= f.select :value_type,
                   options_for_select(@new_dynamic_field.units),
                   {},
                   class: "tooltip-info", "data-placement" => "bottom",
                            "data-title" => "Units of field, click to change" %>

      <%= f.submit I18n.t("global.add"), class: "bluebtn btnsmall" %>

      <div class="inline tooltip-info" data-placement="bottom"
           data-title="This field is shown in the summary of the job">
        <%= f.label I18n.t("job_templates.document_fields.show_in_summary"), class: "push-right" %>
        <%= f.check_box :priority %>
      </div>


    </div>
<% end %>