<div class="">

  <%= f.hidden_field :product_line_id, value: @job_template.product_line.id %>

  <div class="well">
    <div class="">
      <h3 class="">Job Type Name</h3><br>
      <%= f.text_field :name, value: @job_template.name, class: "txtfield", placeholder: I18n.t("job_templates.show.job_type_name") %>
    </div>

    <div>
      <%= image_tag "division_extrasmall.png", class: "job-status-avatar" %>
      <b class="inline"><%= @job_template.product_line.segment.division.name %></b>
      |
      <b class="inline"><%= @job_template.product_line.segment.name %></b>
      |
      <b class="inline"><%= @job_template.product_line.name %></b>
    </div>

    <hr>


    <div class="">
      <%= f.text_area :description,
                      placeholder: I18n.t("job_templates.show.description_prompt"),
                      class: "txtfield job-description-text push-right-small", autofocus: false %>
    </div>
  </div>

</div>