<div class='alert'>

  <%= link_to "#", id: "show_tool_filter", class: "activity-user-link help-text pull-right push-down" do %>
      Filter List &nbsp; <i class="icon-chevron-down"></i>
  <% end %>

  <b>Job Systems</b>
  <p>Select from list below to continue</p>

  <% if job_templates.includes(:product_line).any? && job_templates.includes(:product_line).first.product_line.present? %>
      <div class="">
        <div class="hidden tool-filter">
          <br>
          Tool Filter
          <hr>
          <% job_templates.first.product_line.primary_tools.each do |primary_tool| %>
              <a class="tool-type-selection" data-primary-tool="<%= primary_tool.id %>"><%= primary_tool.name %></a>
          <% end %>
        </div>
      </div>
  <% end %>
</div>

<% job_templates.includes(primary_tools: :tool).each do |jt| %>
    <div class="field">
      <%= link_to "#",
                  id: "job_template_" + jt.id.to_s,
                  class: "clearfix job-type-selection " + (job_template.present? && jt.id == job_template.id ? "job-type-selected" : ""),
                  "data-primary-tools" => jt.primary_tools.where(:template => true).map { |pt| pt.tool.id }.join("_"),
                  "data-placement" => "left",
                  "data-title" => "Click to open/edit job type" do %>
          <p class="list-job-item-name">
            <strong><%= jt.name %></strong>
          </p>
          <% if jt.primary_tools.any? %>
              <p class="list-job-item-tools-divider">
                <% jt.primary_tools.each do |primary_tool| %>
                    <span class="label"><%= primary_tool.tool.name %></span>
                <% end %>
              </p>
          <% end %>
          <p class="list-job-item-description">
            <%= jt.description %>
          </p>

      <% end %>
    </div>
<% end %>