<h1 class="page-title"><%= t ".title" %></h1>

<%= form_for(@job_template) do |f| %>

    <%= render 'shared/error_messages', object: f.object %>

    <%= render 'fields', f: f %>


    <div class="actions">
      <%= f.submit I18n.t("job_templates.edit.save"), class: "bluebtn pull-right" %>
    </div>


<% end %>