<h1 class="page-title"><%= t ".title" %></h1>

<%= form_for(@job_template) do |f| %>

    <%= render 'shared/error_messages', object: f.object %>

    <div>
      <div class="field">
        <p class="field-title"><%= t "jobs.job_data.division" %></p>
        <h3 class="inline"><%= @job_template.product_line.segment.division.name %></h3>

        <div class="inline push-right">
          <p class="field-title"><%= t "jobs.job_data.segment" %></p>
          <h3 class="inline"><%= @job_template.product_line.segment.name %></h3>
        </div>
      </div>
      <div class="field">
        <p class="field-title"><%= t "jobs.job_data.product_line" %></p>
        <h3 class="inline"><%= @job_template.product_line.name %> </h3>
      </div>
    </div>

    <%= render 'fields', f: f %>


    <div class="actions">
      <%= f.submit I18n.t("job_templates.new.save"), class: "bluebtn pull-right" %>
    </div>

<% end %>





