<div class="page_header">
  <h1>Job Type Information</h1>

  <%= link_to I18n.t("global.save"), divisions_path(division: @job_template.product_line.segment.division.id,
                                                    segment: @job_template.product_line.segment.id,
                                                    product_line: @job_template.product_line.id),
              class: "bluebtn pull-right tooltip-info",
              "data-title" => "Save data and return to all job types" %>
</div>

<div class="content">

  <%= form_for(@job_template, remote: true) do |f| %>

      <div><h3 class="field-title"><%= t ".job_type_name" %></h3></div>
      <br>

      <%= f.text_field :name, value: @job_template.name,
                       placeholder: I18n.t("job_templates.show.job_type_name"),
                       class: "txtfield  job-template-name-width tooltip-info",
                        "data-placement" => "bottom",
                        "data-title" => "Job type name" %>
  <% end %>

  <div class="">
    <p class="field-title"><%= t "jobs.job_data.division" %></p>

    <h3 class="inline"><%= @job_template.product_line.segment.division.name %></h3>
  </div>
  <div class="inline">
    <p class="field-title"><%= t "jobs.job_data.segment" %></p>

    <h3 class="inline"><%= @job_template.product_line.segment.name %></h3>
  </div>
  <div class="">
    <p class="field-title"><%= t "jobs.job_data.product_line" %></p>

    <h3 class="inline"><%= @job_template.product_line.name %> </h3>
  </div>
</div>

<div class="content">
  <%= form_for(@job_template, remote: true) do |f| %>
      <%= f.text_area :description,
                      placeholder: I18n.t("job_templates.show.description_prompt"),
                      value: @job_template.description,
                      class: "txtfield job-description-text job-template-description tooltip-info",
                      "data-placement" => "bottom",
                      "data-title" => I18n.t("job_templates.show.description_prompt"),
                      autofocus: false %>

  <% end %>
</div>


<div class="page_header">
  <h1><%= t ".custom_data" %></h1>

  <p class="inline push-right header-subtitle"><%= t ".job_type_specifics" %></p>
</div>

<div class="content" id="dynamic_fields">
  <%= render @job_template.dynamic_fields.sort_by { |e| e.order || 0 } %>
</div>

<div class="content">
  <%= render 'dynamic_field_fields' %>
</div>


<div class="page_header">
  <h1><%= t "jobs.show.documents" %></h1>

  <p class="inline push-right header-subtitle"><%= t ".document_templates" %></p>
</div>


<h3 class="document-section-header"><%= t "jobs.show.notices" %></h3>
<div class="content" id="documents3">
  <% @job_template.notices_documents.each do |d| %>
      <%= render 'documents/document', document: d, editable: true, can_upload: true %>
  <% end %>
</div>

<div class="content">
  <%= render 'document_fields', category_name: Document::NOTICES, read_only: true %>
</div>


<h3 class="document-section-header"><%= t "jobs.show.pre_job" %></h3>
<div class="content" id="documents">
  <% @job_template.pre_job_documents.each do |d| %>
      <%= render 'documents/document', document: d, editable: true, can_upload: true %>
  <% end %>
</div>

<div class="content">
  <%= render 'document_fields', category_name: Document::PRE_JOB, read_only: false %>
</div>

<h3 class="document-section-header"><%= t "jobs.show.post_job" %></h3>
<div class="content" id="documents2">
  <% @job_template.post_job_documents.each do |d| %>
      <%= render 'documents/document', document: d, editable: true, can_upload: true %>
  <% end %>
</div>

<div class="content">
  <%= render 'document_fields', category_name: Document::POST_JOB, read_only: false %>
</div>



<div class="actions">
  <%= link_to I18n.t("global.save"), divisions_path(division: @job_template.product_line.segment.division.id,
                                                    segment: @job_template.product_line.segment.id,
                                                    product_line: @job_template.product_line.id),
              class: "bluebtn pull-right tooltip-info",
              "data-title" => "Save data and return to all job types" %>

  <% if signed_in_admin? %>
      <%= link_to I18n.t("global.delete"), @job_template, method: :delete,
                  data: {confirm: I18n.t("delete_job_template") + " " + @job_template.name + "?"},
                  class: "bluebtn red pull-right-button tooltip-info",
                  "data-title" => "Permanently delete job type and associated data. Warning, this can't be undone. This will cause any jobs using this template to may not function properly." %>
  <% end %>
</div>





