<div class="page_header">
  <h1>Job Type</h1><b class="push-right-small"><%= @job_template.name %></b>

  <%= link_to I18n.t("global.save"), divisions_path(division: @job_template.product_line.segment.division.id,
                                                    segment: @job_template.product_line.segment.id,
                                                    product_line: @job_template.product_line.id),
              class: "bluebtn pull-right tooltip-info",
              "data-title" => "Save data and return to all job types" %>
</div>

<div class="well">

  <%= form_for(@job_template, remote: true) do |f| %>

      <b><%= t ".job_type_name" %></b><br><br>

      <%= f.text_field :name, value: @job_template.name,
                       placeholder: I18n.t("job_templates.show.job_type_name"),
                       class: "inline txtfield  tooltip-info",
                       "data-placement" => "bottom",
                       "data-title" => "Job type name" %>
  <% end %>

  <div class="">
    <p class="field-title"><%= t "jobs.job_data.division" %></p>

    <h3 class="inline"><%= @job_template.product_line.segment.division.name %></h3>
  </div>
  <div class="inline">
    <p class="field-title"><%= t "jobs.job_data.segment" %></p>

    <h3 class="inline"><%= @job_template.product_line.segment.name %></h3>
  </div>
  <div class="">
    <p class="field-title"><%= t "jobs.job_data.product_line" %></p>

    <h3 class="inline"><%= @job_template.product_line.name %> </h3>
  </div>

  <hr>

  <div class="">
    <b>Job Description</b>
    <br><br>
    <%= form_for(@job_template, remote: true) do |f| %>
        <%= f.text_area :description,
                        placeholder: "Description of job for post job report",
                        value: @job_template.description,
                        class: "txtfield job-description-text job-template-description tooltip-info",
                        "data-placement" => "bottom",
                        "data-title" => I18n.t("job_templates.show.description_prompt"),
                        autofocus: false %>

    <% end %>
  </div>
</div>


<div class="">
  <hr>
  <ul class="nav nav-pills">
    <li class="active">
      <a href="#" id="custom_data_toggle" class="job-type-tray-toggle custom-data-toggle" data-tray="custom_data">Custom
        Data</a>
    </li>
    <li>
      <a href="#" id="documents_toggle" class="job-type-tray-toggle custom-data-toggle" data-tray="all_documents">Documents</a>
    </li>
    <li>
      <a href="#" id="tools_toggle" class="job-type-tray-toggle custom-data-toggle" data-tray="tools">Primary Tools</a>
    </li>
    <li>
      <a href="#" id="failures_toggle" class="job-type-tray-toggle custom-data-toggle" data-tray="failures">Failures</a>
    </li>
    <li>
      <a href="#" id="report_toggle" class="job-type-tray-toggle custom-data-toggle" data-tray="report">Post Job
        Report</a>
    </li>
  </ul>

</div>


<div class="tray" data-tray="custom_data">
  <div class="page_header">
    <h1><%= t ".custom_data" %></h1>

    <p class="inline push-right header-subtitle"><%= t ".job_type_specifics" %></p>
  </div>

  <div class="content" id="dynamic_fields">
    <%= render @job_template.dynamic_fields %>
  </div>

  <div class="content">
    <%= render 'dynamic_field_fields' %>
  </div>
</div>


<div class="tray hidden" data-tray="all_documents">
  <div class="page_header">
    <h1><%= t "jobs.show.documents" %></h1>

    <p class="inline push-right header-subtitle"><%= t ".document_templates" %></p>
  </div>


  <h3 class="document-section-header"><%= t "jobs.show.notices" %></h3>

  <div class="content" id="documents3">
    <% @job_template.notices_documents.each do |d| %>
        <%= render 'documents/document', document: d, editable: true, can_upload: true %>
    <% end %>
  </div>

  <div class="content">
    <%= render 'document_fields', category_name: Document::NOTICES, read_only: true %>
  </div>


  <h3 class="document-section-header"><%= t "jobs.show.pre_job" %></h3>

  <div class="content" id="documents">
    <% @job_template.pre_job_documents.each do |d| %>
        <%= render 'documents/document', document: d, editable: true, can_upload: true %>
    <% end %>
  </div>

  <div class="content">
    <%= render 'document_fields', category_name: Document::PRE_JOB, read_only: false %>
  </div>

  <h3 class="document-section-header"><%= t "jobs.show.post_job" %></h3>

  <div class="content" id="documents2">
    <% @job_template.post_job_documents.each do |d| %>
        <%= render 'documents/document', document: d, editable: true, can_upload: true %>
    <% end %>
  </div>

  <div class="content">
    <%= render 'document_fields', category_name: Document::POST_JOB, read_only: false %>
  </div>
</div>

<div class="tray hidden" data-tray="tools">
  <div class="page_header">
    <h1>Primary Tools</h1>
  </div>

  <div class="content">
    <div id="primary_tools_list">
      <% @job_template.primary_tools.each do |primary_tool| %>
          <%= render 'tools/primary/primary_tool', tool: primary_tool %>
      <% end %>
    </div>

    <hr>

    <%= form_for(PrimaryTool.new, :html => {:class => "inline"}, remote: true) do |f| %>
        <%= f.hidden_field :job_template_id, value: @job_template.id %>
        <%= f.select :tool_id, options_for_select(@job_template.product_line.primary_tools.collect { |p| [p.name, p.id] }),
                     prompt: "Select a Tool...",
                     class: "tooltip-info",
                     "data-placement" => "bottom",
                     "data-title" => "Select from an existing primary tool on this product line" %>

        <%= f.submit I18n.t("global.add"), class: "bluebtn btnsmall" %>
    <% end %>


    <%= link_to "Add New primary tool on product line", new_tool_path(:product_line => @job_template.product_line.id), remote: true,
                class: "inline add-job-member tooltip-info", id: "add_job_member",
                "data-placement" => "bottom",
                "data-title" => "Add primary tool to job type" %>
  </div>
</div>

<div class="tray hidden" data-tray="failures">
  <div class="page_header">
    <h1>Failures</h1>
  </div>

  <div class="content">
    <div id="failures_list">
      <% @job_template.failures.each do |failure| %>
          <%= render 'failures/failure', failure: failure %>
      <% end %>
    </div>

    <hr>

    <%= form_for(Failure.new, :html => {:class => "inline"}, remote: true) do |f| %>
        <%= f.hidden_field :job_template_id, value: @job_template.id %>
        <%= f.select :failure_master_template_id, options_for_select(@job_template.product_line.failures.collect { |p| [p.text, p.id] }),
                     prompt: "Select a Failure...",
                     class: "tooltip-info",
                     "data-placement" => "bottom",
                     "data-title" => "Select from an existing failure on this product line" %>

        <%= f.submit I18n.t("global.add"), class: "bluebtn btnsmall" %>
    <% end %>


    <%= link_to "Add New failure on product line", new_failure_path(:product_line => @job_template.product_line.id), remote: true,
                class: "inline add-job-member tooltip-info", id: "add_failure",
                "data-placement" => "bottom",
                "data-title" => "Add failure to job type" %>
  </div>
</div>

<div class="tray hidden" data-tray="report">
  <div class="page_header">
    <h1>Post Job Report</h1>
  </div>

  <div class="">
    <div id="post_job_documents_list">
      <% @job_template.documents.each do |document| %>
          <%= render 'documents/document', document: document, editable: true, can_upload: true %>
      <% end %>
    </div>

    <hr>

    <%= form_for(Failure.new, :html => {:class => "inline"}, remote: true) do |f| %>
        <%= f.hidden_field :job_template_id, value: @job_template.id %>
        <%= f.select :failure_master_template_id, options_for_select(@job_template.product_line.failures.collect { |p| [p.text, p.id] }),
                     prompt: "Select a Failure...",
                     class: "tooltip-info",
                     "data-placement" => "bottom",
                     "data-title" => "Select from an existing failure on this product line" %>

        <%= f.submit I18n.t("global.add"), class: "bluebtn btnsmall" %>
    <% end %>


    <%= link_to "Add New failure on product line", new_failure_path(:product_line => @job_template.product_line.id), remote: true,
                class: "inline add-job-member tooltip-info", id: "add_failure",
                "data-placement" => "bottom",
                "data-title" => "Add failure to job type" %>
  </div>
</div>

<hr>


<div class="actions">
  <%= link_to I18n.t("global.save"), divisions_path(division: @job_template.product_line.segment.division.id,
                                                    segment: @job_template.product_line.segment.id,
                                                    product_line: @job_template.product_line.id),
              class: "bluebtn pull-right tooltip-info",
              "data-title" => "Save data and return to all job types" %>

  <% if signed_in_admin? %>
      <%= link_to I18n.t("global.delete"), @job_template, method: :delete,
                  data: {confirm: I18n.t("delete_job_template") + " " + @job_template.name + "?"},
                  class: "bluebtn red pull-right-button tooltip-info",
                  "data-title" => "Permanently delete job type and associated data. Warning, this can't be undone. This will cause any jobs using this template to may not function properly." %>
  <% end %>

  <%= link_to "Cancel", :back, class: "bluebtn pull-right btnheight gray push-left-small tooltip-info",
              "data-title" => "Cancel new message and go back"%>
</div>


<div id="modal_popup" class="modal-popup-background">
  <div class="modal-popup modal-popup-fixed">
    <%= link_to "close", "#", class: "delete-button modal-popup-close", id: "close_modal" %>

    <div class="modal-content">

    </div>

  </div>
</div>




