<h1 class="page-title"><%= @job_template.product_line.name %> / <%= @job_template.name %></h1>



<div class="header">
  <h2 class="header-title">Custom data</h2>

  <p class="header-subtitle">Job type specifics</p>
</div>

<div class="content" id="dynamic_fields">
  <%= render @job_template.dynamic_fields %>
</div>

<div class="content">
  <%= render 'dynamic_field_fields' %>
</div>

<div class="header">
  <h2 class="header-title">Documents</h2>

  <p class="header-subtitle">Document Templates</p>
</div>

<h3 class="document-section-header">Pre-Job</h3>
<div class="content" id="documents">
  <% @job_template.documents.select {|item| item.category == "Pre-Job" }.each do |d| %>
      <%= render 'documents/document', document: d, editable: true %>
  <% end %>
</div>

<div class="content">
  <%= render 'document_fields', category_name: "Pre-Job" %>
</div>

<h3 class="document-section-header">Post-Job</h3>
<div class="content" id="documents2">
  <% @job_template.documents.select {|item| item.category == "Post-Job" }.each do |d| %>
      <%= render 'documents/document', document: d, editable: true %>
  <% end %>
</div>

<div class="content">
  <%= render 'document_fields', category_name: "Post-Job" %>
</div>



<div class="actions">
  <%= link_to "Done", job_templates_path, class: "bluebtn pull-right" %>

  <% if signed_in_admin? %>
      <%= link_to "Delete", @job_template, method: :delete,
                  data: {confirm: "You sure?"}, class: "bluebtn red pull-right-button" %>
  <% end %>
</div>





