<div class="alert alert-info">
  <div class="field-title">Quick jump to job system</div>

  <%= text_field_tag "", "", data: {autocomplete_source: job_templates_path},
                     placeholder: "Type Job system name...",
                     id: "job_type_name",
                     class: "inline txtfield job-note-assign custom-data-input tooltip-info",
                     "data-placement" => "right",
                     "data-title" => "Jump directly to a job system by name" %>

  <div class="btn-group inline pull-right push-down">
    <a class="custom-data-toggle-jobs blue-text" data-toggle="dropdown" href="#">
      Related Job Systems
    </a>
    <ul class="dropdown-menu">
      <% @job_template.product_line.job_templates.each do |jt| %>
          <li>
            <%= link_to jt.name, jt, class: "dropdown-menu-link tooltip-info" %>
          </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="page_header">
  <h1>Job System</h1><b class="push-right-small"><%= @job_template.name %></b>


  <div class="btn-group inline pull-right">
    <a class="custom-data-toggle-jobs" data-toggle="dropdown" href="#">
      Advanced Actions
    </a>
    <ul class="dropdown-menu">

      <li>
        <%= link_to "Delete Job System", @job_template, method: :delete,
                    data: {confirm: "Permanently delete job system and associated data. Warning, this can't be undone. This will cause any jobs using this template to may not function properly."},
                    class: "dropdown-menu-link tooltip-info",
                    "data-placement" => "left",
                    "data-title" => "Permanently delete job system and associated data. Warning, this can't be undone. This will cause any jobs using this template to may not function properly." %>
      </li>


    </ul>
  </div>
</div>

<div class="well">

  <%= button_tag "Save Updates", class: "bluebtn btnsmall pull-right hidden", id: "save_job_name_description" %>


  <%= form_for(@job_template, remote: true) do |f| %>

      <b>Job System Name</b><br><br>

      <%= f.text_field :name, value: @job_template.name,
                       placeholder: I18n.t("job_templates.show.job_type_name"),
                       class: "inline txtfield  tooltip-info job-template-name",
                       "data-placement" => "bottom",
                       "data-title" => "Job system name" %>
  <% end %>


  <div>

    <%= image_tag "division_extrasmall.png", class: "job-status-avatar" %>
    <b class="inline"><%= @job_template.product_line.segment.division.name %></b>
    |
    <b class="inline"><%= @job_template.product_line.segment.name %></b>
    |
    <b class="inline"><%= @job_template.product_line.name %></b>
  </div>


  <hr>

  <div class="">
    <b>Job Description</b>
    <br><br>
    <%= form_for(@job_template, remote: true) do |f| %>
        <%= f.text_area :description,
                        placeholder: "Description of job for post job report",
                        value: @job_template.description,
                        class: "txtfield job-description-text job-template-description tooltip-info",
                        "data-placement" => "bottom",
                        "data-title" => I18n.t("job_templates.show.description_prompt"),
                        autofocus: false %>
    <% end %>
  </div>


</div>


<div class="">
  <ul class=" alert alert-info nav nav-pills">
    <li class="active">
      <a href="#" id="documents_toggle" class="job-type-tray-toggle custom-data-toggle" data-tray="all_documents">Documents</a>
    </li>
    <li>
      <a href="#" id="custom_data_toggle" class="job-type-tray-toggle custom-data-toggle" data-tray="custom_data">Custom
        Data</a>
    </li>
    <li>
      <a href="#" id="tools_toggle" class="job-type-tray-toggle custom-data-toggle" data-tray="tools">Tools/Assets</a>
    </li>
    <li>
      <a href="#" id="tools_toggle" class="job-type-tray-toggle custom-data-toggle" data-tray="accessories">Accessories</a>
    </li>
    <li>
      <a href="#" id="failures_toggle" class="job-type-tray-toggle custom-data-toggle" data-tray="failures">Failures</a>
    </li>
    <li>
      <a href="#" id="report_toggle" class="job-type-tray-toggle custom-data-toggle" data-tray="report">Post Job
        Report</a>
    </li>
  </ul>
</div>


<div class="tray hidden" data-tray="custom_data">
  <div class="page_header">
    <h1><%= t ".custom_data" %></h1>
  </div>

  <div class="content" id="dynamic_fields">
    <%= render @job_template.dynamic_fields %>
  </div>

  <div class="content">
    <%= render 'dynamic_field_fields' %>
  </div>

  <br>

  <div class="content alert">
    <b>Custom Data</b>

    <p>Add all data fields that represent the job type specifics, such as casing size, mud weight, etc...</p>
    <hr>
    <p><b>Preset Value</b>: A value that is persisted into the job file and can't be changed</p>

    <p><b>Show in summary</b>: Displays the custom data in the all places the job summary is shown</p>

    <p><b>Optional</b>: Sets the property as optional in that it is not needed to fulfill the requirements for "Pre-Job"
    </p>
  </div>
</div>


<div class="tray" data-tray="all_documents">
  <div class="page_header">
    <h1><%= t "jobs.show.documents" %></h1>
  </div>


  <h3 class="document-section-header"><%= t "jobs.show.notices" %></h3>

  <div class="content" id="documents3">
    <% @job_template.notices_documents.each do |d| %>
        <%= render 'documents/document', document: d, editable: true, can_upload: true %>
    <% end %>
  </div>

  <div class="content">
    <%= render 'document_fields', category_name: Document::NOTICES, read_only: true %>
  </div>

  <br>

  <h3 class="document-section-header"><%= t "jobs.show.pre_job" %></h3>

  <div class="content" id="documents">
    <% @job_template.pre_job_documents.each do |d| %>
        <%= render 'documents/document', document: d, editable: true, can_upload: true %>
    <% end %>
  </div>

  <div class="content">
    <%= render 'document_fields', category_name: Document::PRE_JOB, read_only: false %>
  </div>


  <br>

  <h3 class="document-section-header">On-Job</h3>

  <div class="content" id="documents_on_job">
    <% @job_template.on_job_documents.each do |d| %>
        <%= render 'documents/document', document: d, editable: true, can_upload: true %>
    <% end %>
  </div>

  <div class="content">
    <%= render 'document_fields', category_name: Document::ON_JOB, read_only: false %>
  </div>


  <br>

  <h3 class="document-section-header"><%= t "jobs.show.post_job" %></h3>

  <div class="content" id="documents2">
    <% @job_template.post_job_documents.each do |d| %>
        <%= render 'documents/document', document: d, editable: true, can_upload: true %>
    <% end %>
  </div>

  <div class="content">
    <%= render 'document_fields', category_name: Document::POST_JOB, read_only: false %>
  </div>

  <br>

  <div class="content alert">
    <b>Documents</b>

    <p>Add documents that will be used on the job to represent files such as rig checklist, tally, rig log, etc...</p>
  </div>
</div>

<%= render 'job_templates/tray_tools' %>

<%= render 'job_templates/tray_accessories' %>

<%= render 'job_templates/tray_failures' %>

<%= render 'job_templates/tray_post_job_reports' %>


<div id="modal_popup" class="modal-popup-background">
  <div class="modal-popup modal-popup-fixed">
    <%= link_to "close", "#", class: "delete-button modal-popup-close", id: "close_modal" %>

    <div class="modal-content">

    </div>

    <%= render "layouts/inline_loading", title: "Loading..." %>

  </div>
</div>




<script>
    $(document).ready(function () {
        $('#job_type_name').data("autocomplete")._renderItem = function (ul, item) {
            return $("<li class='item_" + item.id + "'></li>").data("item.autocomplete", item).append(
                    "<a><div class='job-user'><strong>" + item.label + " </strong><div><p class=''>" + item.division + " | " + item.segment + " | " + item.product_line + "</p></div></div></a>").appendTo(ul)
        }
    });
</script>