<h1 class="page-title">Update Job Type</h1>
<br>

<div class="content">

  <%= form_for(@job_template, remote: true) do |f| %>

      <p class="field-title">Job Type Name</p>
      <%= f.text_field :name, value: @job_template.name,
                       placeholder: "Job type name",
                       class: "txtfield large job-template-name" %>
  <% end %>

  <div class="field">
    <p class="field-title">Division</p>
    <h3 class="inline"><%= @job_template.product_line.segment.division.name %></h3>

    <div class="inline push-right">
      <p class="field-title">Segment</p>
      <h3 class="inline"><%= @job_template.product_line.segment.name %></h3>
    </div>
  </div>
  <div class="field">
    <p class="field-title">Product Line</p>
    <h3 class="inline"><%= @job_template.product_line.name %> </h3>
  </div>
</div>

<div class="content">
  <%= form_for(@job_template, remote: true) do |f| %>
        <%= f.text_area :description, placeholder: "Type description/special notes here...",
                        value: @job_template.description,
                        class: "txtfield job-description-text job-template-description",
                        autofocus: false %>

  <% end %>
</div>


<div class="header">
  <h2 class="header-title">Custom data</h2>

  <p class="header-subtitle">Job type specifics</p>
</div>

<div class="content" id="dynamic_fields">
  <%= render @job_template.dynamic_fields %>
</div>

<div class="content">
  <%= render 'dynamic_field_fields' %>
</div>

<div class="header">
  <h2 class="header-title">Documents</h2>

  <p class="header-subtitle">Document Templates</p>
</div>


<h3 class="document-section-header">Field Bulletins</h3>
<div class="content" id="documents3">
  <% @job_template.documents.select { |item| item.category == "Field Bulletins" }.each do |d| %>
      <%= render 'documents/document', document: d, editable: true %>
  <% end %>
</div>

<div class="content">
  <%= render 'document_fields', category_name: "Field Bulletins", read_only: true %>
</div>


<h3 class="document-section-header">Pre-Job</h3>
<div class="content" id="documents">
  <% @job_template.documents.select { |item| item.category == "Pre-Job" }.each do |d| %>
      <%= render 'documents/document', document: d, editable: true %>
  <% end %>
</div>

<div class="content">
  <%= render 'document_fields', category_name: "Pre-Job", read_only: false %>
</div>

<h3 class="document-section-header">Post-Job</h3>
<div class="content" id="documents2">
  <% @job_template.documents.select { |item| item.category == "Post-Job" }.each do |d| %>
      <%= render 'documents/document', document: d, editable: true %>
  <% end %>
</div>

<div class="content">
  <%= render 'document_fields', category_name: "Post-Job", read_only: false %>
</div>



<div class="actions">
  <%= link_to "Done", job_templates_path, class: "bluebtn pull-right" %>

  <% if signed_in_admin? %>
      <%= link_to "Delete", @job_template, method: :delete,
                  data: {confirm: "Delete Job Template " + @job_template.name + "?"}, class: "bluebtn red pull-right-button" %>
  <% end %>
</div>





