<% provide(:title, 'Job Type: ' + @job_template.name) %>

<div class="page_header">
  <h1><%= @job_template.name %></h1>
  <h3 class="inline">&nbsp;Job Type</h3>

  <h2 class="paginated-count">Jobs:
    <%= render 'layouts/paged_header', items: @jobs %>
  </h2>

</div>

<% if !@is_paged %>
    <%= render 'jobs/index_parts/jobs_count', jobs: @job_template.jobs %>
    <br>
<% end %>

<div id="jobs" class="list">
  <% @jobs.each do |job| %>
      <%= link_to job, class: "job-link" do %>
          <%= render 'jobs/job_data', job: job, form_editable: false, in_form: false, new_line_job_type: false %>
      <% end %>
  <% end %>
</div>

<% if @is_paged %>
    <%= will_paginate @jobs %>
<% else %>
    <br>
    <div class="alert">
      <%= link_to "View all jobs active and closed (" + @job_template.jobs.count.to_s + ")", job_template_path(:page => "1"), class: "activity-user-link" %>
    </div>
    <% if @jobs.empty? %>
        <div class="no-alerts">
          <p class="center"><%= t ".no_jobs" %></p>
        </div>
    <% end %>
<% end %>

