<li class="job-member-list-item" id="job_membership_<%= job_membership.id %>">

  <div class="activity-user-link-div-short">
    <div class="inline  push-right-small">
      <% if job_membership.user.present? %>
          <%= render 'jobs/user', job_membership: job_membership, include_icon: false %>

          <% if false %>
              <span class="help-text">- <%= pluralize(job_membership.user.jobs.where(:status => Job::ACTIVE).count, "job") %></span>
          <% end %>
      <% else %>
          <%= job_membership.user_name %>
      <% end %>
    </div>
  </div>
  <p class="inline-block label <%= job_membership.icon_css_style %>"><%= job_membership.role_title %></p>

  <p class="job-members-position-title push-right orange-text"><b><%= job_membership.user.present? ? job_membership.user.phone_number : job_membership.phone_number   %></b></p>


  <% if !job_membership.job.approved_to_close %>

      <div class="push-right">
        <%= link_to edit_job_membership_path(job_membership), remote: true,
                    class: "job-member-edit-button" do %>
            <i class="icon-edit"></i> change role
        <% end %>

        <%= link_to "remove", job_membership, method: :delete, remote: true,
                    data: {confirm: "Remove " + (job_membership.user.present? ? job_membership.user.name : job_membership.user_name || '') + " from job?"},
                    class: "delete-button-small job-member-button" %>
      </div>
  <% end %>
</li>