<% if activity.target.present? %>
    <div class="activity">

      <% if activity.activity_type == Activity::JOB_NOTE_ADDED %>
          <% if activity.target.note_type == 2 %>
              <div class="job-note-warning"></div>
          <% end %>
          <% if activity.target.note_type == 3 %>
              <div class="job-note-error"></div>
          <% end %>
          <% if activity.target.note_type == 4 %>
              <div class="job-note-task"></div>
          <% end %>
      <% elsif activity.activity_type == Activity::JOB_FAILURE %>
          <div class="job-note-error"></div>
      <% end %>

      <div class="activity-avatar-box-small">
        <% if activity.user.present? && activity.job.get_membership_role(activity.user).present? %>
            <% case activity.job.get_membership_role(activity.user).job_role_id
                   when 1 %><%= image_tag "user_avatar_default.png" %>
                <% when 2 %><%= image_tag "manager_icon.png" %>
                <% when 3 %><%= image_tag "coordinator_icon.png" %>
                <% when 4 %><%= image_tag "field_icon.png" %>
                <% when 5 %><%= image_tag "shop_icon.png" %>
                <% else %><%= image_tag "user_avatar_default.png" %>
            <% end %>
        <% else %>
            <%= image_tag "user_avatar_default.png" %>
        <% end %>
      </div>

      <div class="activity-content">

        <% if !inside_job %>
            <div class="pull-right">
              <%= render 'activities/job_description', job: activity.job, inside_job: false %></p>
            </div>
        <% end %>

        <div class="activity-user-link-div">
          <% if activity.user.present? %>
              <%= render 'activities/user', user: activity.user %>
          <% else %>
              <p><b><%= activity.user_name %></b></p>
          <% end %>

          <% if activity.activity_type == Activity::JOB_NOTE_ADDED %>
              <% if activity.target.assign_to.present? %>
                  <%= image_tag "to_arrow.png", class: "job-note-assign-arrow" %>
                  <%= render 'activities/user', user: activity.target.assign_to %>
              <% end %>
          <% end %>
        </div>

        <p class="activity-date tooltip-info"
           data-placement="bottom"
           data-title="<%= activity.created_at.strftime("%a %m/%d/%Y %l:%M %p") %>">
          <%= time_ago_in_words(activity.created_at) %> ago
        </p>

        <div class="">
          <% if activity.activity_type == Activity::JOB_CREATED %>
              <p class="activity-message">Created job</p>
          <% end %>
          <% if activity.activity_type == Activity::PRE_JOB_DATA_COMPLETE %>
              <p class="activity-message">Pre-Job data and documents complete</p>
          <% end %>
          <% if activity.activity_type == Activity::JOB_APPROVED_TO_SHIP %>
              <b>
                <p class="activity-message status-good">Job approved to ship to field</p></b>
          <% end %>
          <% if activity.activity_type == Activity::POST_JOB_DATA_COMPLETE %>

              <p class="activity-message">Post-Job documents complete</p>
          <% end %>
          <% if activity.activity_type == Activity::JOB_APPROVED_TO_CLOSE %>
              <b>
                <p class="activity-message status-good">Job completed and approved to close</p></b>
          <% end %>
          <% if activity.activity_type == Activity::DATA_EDITED %>
              <p class="activity-message"><%= activity.metadata %> changed</p>
          <% end %>
          <% if activity.activity_type == Activity::ASSET_ADDED %>
              <% if activity.target.present? %>
                  <p class="activity-message"><b>Asset</b></p>
                  <%= link_to activity.target.part.master_part.name, activity.target.part, class: "activity-user-link" %>
                  <p class="activity-message">added to job</p>
                  <br>
                  <p  class="activity-message">
                  <b>Material #</b> <%= activity.target.part.material_number %><br>
                  <b>Serial #</b> <%= activity.target.part.serial_number %><br>
                  <% if !activity.target.part.district_serial_number.blank? %>
                    <b>District #</b> <%= activity.target.part.district_serial_number %>
                  <% end %>
                  </p>
              <% else %>
                  <p class="activity-message"><%= activity.metadata %></p>
              <% end %>
          <% end %>
          <% if activity.activity_type == Activity::START_DATE %>
              <p class="activity-message">Job set to start
                <b><%= Date.strptime(activity.metadata).strftime("%a %m/%d/%Y") %></b></p>
          <% end %>
          <% if activity.activity_type == Activity::JOB_FAILURE %>
              <p class="activity-message">Job failure:
                <b><%= activity.target.failure_master_template.text %></b></p>
          <% end %>
          <% if activity.activity_type == Activity::JOB_RATING %>
              <p class="activity-message">Job rating set to
                <% activity.metadata.to_i.times do |i| %>
                    <%= image_tag "rating_star_activity.png" %>
                <% end %>
                (<b><%= activity.metadata %> stars</b>)</p>
          <% end %>
          <% if activity.activity_type == Activity::DOCUMENT_UPLOADED %>

              <%= image_tag "document_icon.png" %>

              <span class="activity-document-name inline">
                <%= link_to activity.target.name, activity.target.full_url, class: "activity-user-link",
                            "data-placement" => "bottom",
                            "data-title" => "Click to download document" %>
                <div class="activity-text">
                  - Document Uploaded
                </div>
              </span>


          <% end %>
          <% if activity.activity_type == Activity::JOB_MEMBER_ADDED %>
              <p class="activity-message">
                <%= image_tag "added.png" %>

                <span class="inline push-right-small">
                <% case activity.target.job_role_id
                       when 1 %><%= image_tag "observer_icon_small.png", class: "job-status-avatar" %>
                      <% when 2 %><%= image_tag "manager_icon_small.png", class: "job-status-avatar" %>
                      <% when 3 %><%= image_tag "coordinator_icon_small.png", class: "job-status-avatar" %>
                      <% when 4 %><%= image_tag "field_icon_small.png", class: "job-status-avatar" %>
                      <% when 5 %><%= image_tag "shop_icon_small.png", class: "job-status-avatar" %>
                      <% else %><%= image_tag "observer_icon_small.png", class: "job-status-avatar" %>
                <% end %>
                  <%= render 'activities/user', user: activity.target.user %>
                  <div class="activity-text">
                    - <%= activity.target.role_title %>
                  </div>
              </span>
              </p>
          <% end %>
          <% if activity.activity_type == Activity::JOB_NOTE_ADDED %>
              <p class="activity-message">

                <% if activity.target.note_type == 3 %>
                    <%= image_tag "error_red.png", class: "inline" %>
                <% end %>

              <p class="activity-message">"<%= activity.target.text %>"</p></p>
          <% end %>
        </div>

      </div>

    </div>
<% end %>