<% if activity.target.present? %>
    <div class="activity">

      <% if activity.activity_type == Activity::JOB_NOTE_ADDED %>
          <% if activity.target.note_type == 2 %>
              <div class="job-note-warning"></div>
          <% end %>
          <% if activity.target.note_type == 3 %>
              <div class="job-note-error"></div>
          <% end %>
          <% if activity.target.note_type == 4 %>
              <div class="job-note-task"></div>
          <% end %>
      <% end %>

      <div class="activity-avatar-box-small">
        <% if activity.activity_type == Activity::JOB_MEMBER_ADDED %>
            <%= image_tag "user_avatar_added.png" %>
        <% elsif activity.activity_type == Activity::JOB_APPROVED_TO_SHIP %>
            <%= image_tag "user_avatar_shipped.png" %>
        <% elsif activity.activity_type == Activity::JOB_APPROVED_TO_CLOSE %>
            <%= image_tag "user_avatar_complete.png" %>
        <% elsif activity.activity_type == Activity::JOB_NOTE_ADDED %>
            <%= image_tag "user_avatar_note.png" %>
        <% elsif activity.activity_type == Activity::DOCUMENT_UPLOADED %>
            <%= image_tag "user_avatar_upload_document.png" %>
        <% elsif activity.activity_type == Activity::DATA_EDITED %>
            <%= image_tag "user_avatar_note.png" %>
        <% else %>
            <%= image_tag "user_avatar_default.png" %>
        <% end %>
      </div>

      <div class="activity-content">

        <% if !inside_job %>
            <div class="pull-right">
              <%= render 'activities/job_description', job: activity.job, inside_job: false %></p>
            </div>
        <% end %>

        <div class="activity-user-link-div">
          <%= render 'activities/user', user: activity.user %>

          <% if activity.activity_type == Activity::JOB_NOTE_ADDED %>
              <% if activity.target.assign_to.present? %>
                  <%= image_tag "to_arrow.png", class: "job-note-assign-arrow" %>
                  <%= render 'activities/user', user: activity.target.assign_to %>
              <% end %>
          <% end %>
        </div>

        <p class="activity-date tooltip-info"
           data-placement="bottom"
           data-title="<%= activity.created_at.strftime("%a %m/%d/%Y %l:%M %p") %>">
          <%= time_ago_in_words(activity.created_at) %> ago
        </p>

        <div class="">
          <% if activity.activity_type == Activity::JOB_CREATED %>
              <p class="activity-message">Created job</p>
          <% end %>
          <% if activity.activity_type == Activity::PRE_JOB_DATA_COMPLETE %>
              <p class="activity-message">Pre-Job data and documents complete</p>
          <% end %>
          <% if activity.activity_type == Activity::JOB_APPROVED_TO_SHIP %>
              <p class="activity-message status-good">Job approved to ship to field</p>
          <% end %>
          <% if activity.activity_type == Activity::POST_JOB_DATA_COMPLETE %>
              <p class="activity-message">Post-Job documents complete</p>
          <% end %>
          <% if activity.activity_type == Activity::JOB_APPROVED_TO_CLOSE %>
              <p class="activity-message status-good">Job completed and approved to close</p>
          <% end %>
          <% if activity.activity_type == Activity::DATA_EDITED %>
              <p class="activity-message"><%= activity.metadata %> changed</p>
          <% end %>
          <% if activity.activity_type == Activity::DOCUMENT_UPLOADED %>
              <p class="activity-message">
                Uploaded document
              </p>

              <div class="activity-document-name inline">
                <%= image_tag "document_icon.png" %>
                <%= link_to activity.target.name, activity.target.full_url, class: "tooltip-info",
                            "data-placement" => "bottom",
                            "data-title" => "Click to download document" %>
                <p class="activity-message">
                </p>
              </div>
          <% end %>
          <% if activity.activity_type == Activity::JOB_MEMBER_ADDED %>
              <p class="activity-message">
                Added
                <%= render 'activities/user', user: activity.target.user %>
                as project member
              </p>
          <% end %>
          <% if activity.activity_type == Activity::JOB_NOTE_ADDED %>
              <p class="activity-message">

                <% if activity.target.note_type == 3 %>
                    <%= image_tag "error_red.png", class: "inline" %>
                <% end %>

              <p class="activity-message">"<%= activity.target.text %>"</p></p>
          <% end %>
        </div>

      </div>

    </div>
<% end %>