<div class="activity">
  <div class="activity-avatar-box-small">
    <%= image_tag "user_avatar_small.png" %>
  </div>

  <div class="activity-content">
    <div class="activity-user-link-div">
      <%= render 'activities/user', user: activity.user %>
    </div>
    <p class="activity-date"><%= activity.created_at.getlocal.strftime("%a %m/%d/%Y %l:%M %p") %></p>

    <div class="">
      <% if activity.activity_type == Activity::JOB_CREATED %>
          <p class="activity-message">Created <%= render 'activities/job_description', job: activity.job, inside_job: inside_job %></p>
      <% end %>
      <% if activity.activity_type == Activity::DOCUMENT_UPLOADED %>
          <p class="activity-message">
            Added document to <%= render 'activities/job_description', job: activity.job, inside_job: inside_job %>
          </p>

          <div class="activity-document-name">
            <%= image_tag "document_icon.png" %>
            <%= link_to activity.target.name, activity.target.full_url %>
            <p class="activity-message">
              (<%= activity.target.file_name %>)
            </p>
          </div>
      <% end %>
      <% if activity.activity_type == Activity::JOB_MEMBER_ADDED %>
          <p class="activity-message">
            Added
            <%= render 'activities/user', user: activity.target.user %>

          <p class="activity-message">to</p> <%= render 'activities/job_description', job: activity.job, inside_job: inside_job %></p>
      <% end %>
      <% if activity.activity_type == Activity::JOB_NOTE_ADDED %>
          <p class="activity-message">
            Added note: <br><br>
            <% if activity.target.note_type == 3 %>
                <%= image_tag "error_red.png", class: "inline" %>
            <% end %>

          <p class="activity-note">"<%= activity.target.text %>"</p></p>
      <% end %>
    </div>

  </div>

</div>