<% active_warnings = @job.job_notes.select { |n| n.note_type == JobNote::WARNING } %>
<% if failures.any? || active_warnings.any? %>
    <div class="alert">
      <% if active_warnings.any? %>
          <h3>Warnings</h3>
          <br>
          <% active_warnings.each_with_index do |note, i| %>
              <div>
                <%= image_tag "warning.png", class: " job-status-avatar" %>
                <span><%= note.text %></span> - <%= time_ago_in_words(note.created_at) %> ago
                <% if i < active_warnings.count - 1 %>
                    <br><br>
                <% end %>
              </div>
          <% end %>
          <br>
      <% end %>
      <% if failures.any? %>
          <h3>Warning, past failures on this job type to avoid!</h3>
          <br>
          <% failures.each do |failure| %>
              <div>
                <span class='label label-warning'><%= failure[1].count - 1 %></span>
                &nbsp;
                <%= failure[0].text %>

                <% failure[1].each_with_index do |f, index| %>
                    <%= render 'activities/job_description', job: f.job, inside_job: false %>
                    <%= index < failure[1].count - 2 ? " - " : "" %>
                <% end %>

              </div>
          <% end %>
      <% end %>
    </div>
<% end %>