<div class="form" data-form="failures_list">
  <%= form_for Issue.new, remote: true do |f| %>
      <div class="page_header failure-page-header ">
        <h1>New Failure</h1>
      </div>

      <%= f.hidden_field :job_id, value: job.id %>

      <% if false %>
          <%= f.select :failure_id, options_for_select(job.job_template.failures.collect { |f| [f.failure_master_template.text, f.id] }),
                       {prompt: "Select a Failure..."},
                       class: "inline-block custom-select-long custom-select custom-select-ajax" %>
      <% end %>

      <div class="inline-block date-fields">
        <input type="text" value="<%= Date.today.strftime("%m/%d/%Y") %>"
               name="date"
               id="entry_date"
               class="job-field-value-editable input-small datepicker">


        <div class="inline bootstrap-timepicker">
          <input id="entry_time" type="text" class="job-field-value-editable input-small timepicker">
          <span class="add-on"><i class="icon-time"></i></span>
        </div>
      </div>

      <% if false %>
          <div class=''>
            <%= select_tag "part_membership_id", options_for_select(job.part_memberships.collect { |p| [p.name + (p.serial_number.blank? ? '' : ' (' + p.serial_number + ')'), p.id] }),
                           prompt: "(Optional) Select asset...",
                           class: "inline-block custom-select custom-select-long custom-select-ajax" %>
          </div>

          <div class=''>
            <%= select_tag "responsible_by_id", options_for_select(job.job_memberships.select { |jm| jm.user.present? && (jm.job_role_id == JobMembership::FIELD || jm.job_role_id == JobMembership::SHOP) }.collect { |jm| [jm.user.name, jm.user_id] }),
                           prompt: "(Optional) Responsible personnel...",
                           class: "inline-block custom-select custom-select-long custom-select-ajax" %>
          </div>
      <% end %>

      <%= text_area_tag "description", "",
                        placeholder: "Description of Failure...",
                        class: "txtfield job-notes-text custom-select-long" %>

      <div class="content actions">
        <%= f.submit "Add Failure", class: "bluebtn pull-right form-loading-on-click",
                     "data-form" => "failures_list" %>
      </div>
  <% end %>
</div>

<div class="form-loading hidden" data-form="failures_list">
  <%= render 'layouts/inline_loading', title: "Saving..." %>
</div>