<% if @failure.new_record? %>
$('#alert').remove();
$('body').append("<%= j render 'layouts/modal_error', title: "Problem Adding Failure", message: @failure.errors.full_messages.join(', ').html_safe %>");
$('#alert').modal({show:true});

<% else %>

$('#modal_popup').css('visibility', 'hidden');
$('#modal_popup').find(".modal-content").children().remove();
$('#modal_popup').height(0);


<% if @failure.job_template %>

$('.job-type-no-failures').hide();
$('#failures_list').append("<%= j render 'failures/failure', failure: @failure %>");

<% else %>

$('#failure_failure_master_template_id').append($("<option></option>")
        .attr("value", '<%= @failure.id %>')
        .text('<%= @failure.text %>'));
$('#failure_failure_master_template_id').find("option[value='<%= @failure.id %>']").attr('selected', 'selected');
$("#failure_failure_master_template_id").trigger("change");


<% end %>

<% end %>