<% provide(:title, 'Failure') %>

<div class="page_header">
  <h1>Failure</h1>
</div>

<div>
  <% if @failure.failure_master_template.present? %>
      <div><%= @failure.failure_master_template.product_line.name %></div>
      <div><h3 class="warning-text"><%= @failure.failure_master_template.text %></h3></div>
  <% else %>
      <div><%= @failure.product_line.name %></div>
      <div><h3 class="warning-text"><%= @failure.text %></h3></div>
  <% end %>
</div>

<br><br>

<%= render 'issues/failure_statistic', failure: @failure %>
<br><br>
<%= render 'issues/history', failure: @failure %>
