<%= render 'shared/error_messages', object: f.object %>

<div class="content">


  <div class="">
    <%= f.text_field :name, placeholder: "Field Name", class: "txtfield", autofocus: true %>
  </div>

  <div class="">
    <br>
    <%= f.label :district, class: "field-title" %>
    <h3 class="inline"> <%= @district.name %></h3>
    <%= f.hidden_field :district_id, value: @district.id %>
  </div>

</div>

