<%= render 'shared/error_messages', object: f.object %>

<div class="">


  <div class="well">
    <%= f.text_field :name, placeholder: "Field Name", class: "txtfield", autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :district, class: "field-title" %>
    <h3 class="inline"> <%= @district.name %></h3>
    <%= f.hidden_field :district_id, value: @district.id %>
  </div>

  <div class="field">
    <%= f.label "Country", class: "field-title" %>
    <%= f.select :country_id, options_for_select(@countries.sort_by { |c| c.name }.collect { |p| [p.name, p.id] }, @district.country_id),
                 {},
                 class: "",
                 prompt: "Select a Country..." %>
  </div>

  <div class="field">
    <%= f.label "State", class: "field-title" %>
    <%= f.select :state_id, options_for_select(@states.collect { |p| [p.name, p.id] }, @district.state_id),
                 {},
                 class: "",
                 prompt: "Select a State..." %>
  </div>

  <div class="field">
    <%= f.label :county, class: "field-title" %>
    <%= f.text_field :county, placeholder: "County Name", class: "txtfield small" %>
  </div>


  <br>

</div>

