<% provide(:title, 'Field: ' + @field.name) %>

<div class="page_header">
  <h1><%= @field.name %></h1>

  <h3 class="inline">&nbsp;Field</h3>

  <h2 class="paginated-count">Jobs:
    <%= render 'layouts/paged_header', items: @jobs %>
  </h2>

</div>

<% if @field.wells.any? %>
    <div class="alert alert-info">
      <b class="push-left-small">Wells</b>
      <% @field.wells.each_with_index do |well, i| %>
          <%= link_to well, class: "activity-user-link inline" do %>
              <%= i < @field.wells.count - 1 ? well.name + "," : well.name %>
          <% end %>
      <% end %>
    </div>
<% end %>

<div id="jobs" class="list">
  <% @jobs.each do |job| %>
      <%= link_to job, class: "job-status job-link tooltip-info",
                  "data-placement" => "left",
                  "data-title" => "Click to open job" do %>
          <%= render 'jobs/job_progress', job: job, show_summary_data: true, job_name: false %>
      <% end %>
      <!--<%= link_to job, class: "job-link" do %>
          <%= render 'jobs/job_data', job: job, form_editable: false, in_form: false, new_line_job_type: false %>
      <% end %> -->
  <% end %>
</div>

<%= will_paginate @jobs %>


