<div style="margin-top: -40px;">
  <div class="form" data-form="new_shipment">

    <div class="page_header">
      <% if !new %>
          <%= link_to "Delete Shipment", shipment,
                      method: :delete, remote: true,
                      data: {confirm: "Permanently Delete Shipment?"},
                      class: "activity-user-link pull-right form-loading-on-click",
                      "data-form" => "new_shipment" %>
      <% end %>
      <h1>Create Shipment</h1>
    </div>

    <%= render 'part_memberships/new', shipment: shipment %>


    <div id="asset_list" class="">
      <% shipment.part_memberships.each do |pm| %>
          <%= render 'part_memberships/part_membership', part_membership: pm, allow_remove: true %>
      <% end %>
    </div>

    <% if !shipment.part_memberships.any? %>
        <div id="no_assets" class='push-down center'>
          <br><br>
          <span class='help-text'>No assets added...</span>
        </div>
    <% end %>


    <%= form_for shipment, remote: true do |f| %>
        <div class="content">
          <%= f.submit "Save",
                      class: "bluebtn push-right-small pull-right form-loading-on-click",
                      "data-form" => "new_shipment" %>

        </div>
    <% end %>

  </div>

  <div class="form-loading hidden" data-form="new_shipment">
    <br><br>
    <%= render 'layouts/inline_loading', title: "Saving..." %>
  </div>
</div>