<div id="shipment_<%= shipment.id %>">
  <%= link_to edit_shipment_path(shipment, editable: editable), remote: true, class: "job-link  show-modal-button" do %>
      <div style="margin-top: 10px; margin-bottom: 10px;">
        <div class='pull-right'>

          <% if shipment.status != Shipment::COMPLETE %>
              <span><%= time_ago_in_words(shipment.created_at) %> ago</span>
          <% else %>
              <span><%= shipment.created_at.strftime("%a %m/%d/%Y") %></span>
          <% end %>


        </div>
        <div>
          <b><%= shipment.from_name %></b>&nbsp;&nbsp;&nbsp;<i class="icon-chevron-right"></i>&nbsp;&nbsp;&nbsp;<b><%= shipment.to_name %></b>
        </div>

        <div>
          <% if shipment.status == Shipment::IN_TRANSIT %>
              <b class='warning-text'>In Transit</b>
          <% elsif shipment.status == Shipment::AWAITING_SHIPMENT %>
              <b class='warning-text'>Not Yet Shipped</b>
          <% else %>
              <b class='good-text'>Completed</b>
          <% end %>



          <h3 class='inline-block blue-text push-right-small'><%= shipment.part_memberships.count %></h3>&nbsp;<span class='help-text'><%= "asset".pluralize(shipment.part_memberships.count) %></span>
        </div>
      </div>
  <% end %>

  <% if show_assets %>
      <div class='' style="margin-left: 10px;">
        <% shipment.part_memberships.includes(:part, :shipment, :job).each do |pm| %>
            <%= render 'part_memberships/part_membership', part_membership: pm, allow_remove: editable %>
        <% end %>
      </div>
  <% end %>
</div>