<div id="shipment_<%= shipment.id %>">
  <%= link_to (in_job ? edit_shipment_path(shipment, editable: editable) : shipment), remote: in_job, class: "job-link " + (in_job ? "show-modal-button" : "") do %>
      <div style="margin-top: 10px; margin-bottom: 10px;">
        <div class='pull-right'>

          <% if shipment.status != Shipment::COMPLETE %>
              <p class='inline-block push-right help-text'><%= time_ago_in_words(shipment.created_at) %> ago</p>
          <% else %>
              <p class='inline-block push-right help-text'><%= shipment.created_at.strftime("%a %m/%d/%Y %l:%M %p") %></p>
          <% end %>


        </div>
        <div>
          <% from = nil %>
          <% to = nil %>
          <% pms = shipment.part_memberships.to_a.sort_by { |pm| "#{pm.from_id} #{pm.to_id}" } %>
          <% pms.each do |pm| %>
              <% if from != pm.from || to != pm.to %>
                  <div>
                    <%= render 'shipments/path', part_membership: pm, use_link: false %>
                  </div>
              <% end %>
              <% from = pm.from %>
              <% to = pm.to %>
          <% end %>

          <% if from.nil? %>
              <b><%= shipment.from_name %></b>
              &nbsp;&nbsp;&nbsp;
              <i class="icon-chevron-right"></i>
              &nbsp;&nbsp;&nbsp;
              <div class='inline-block'>
                <b><%= shipment.to_name %></b>
              </div>
          <% end %>
        </div>

        <div>
          <% if shipment.status == Shipment::IN_TRANSIT %>
              <b class='warning-text'>In Transit</b>
          <% elsif shipment.status == Shipment::CREATING %>
              <b class='warning-text'>Not Yet Shipped</b>
          <% else %>
              <b class='good-text'>Completed</b>
          <% end %>



          <h3 class='inline-block blue-text push-right-small'><%= shipment.part_memberships.count %></h3>&nbsp;<span class='help-text'><%= "asset".pluralize(shipment.part_memberships.count) %></span>

          <span class='help-text push-right-small'><%= shipment.shipper.present? ? shipment.shipper.name : '' %></span>
        </div>
      </div>
  <% end %>

  <% if show_assets %>
      <div class='' style="margin-left: 10px;">
        <% shipment.part_memberships.includes(:part, :shipment, :job).each do |pm| %>
            <%= render 'part_memberships/part_membership', part_membership: pm, allow_remove: editable %>
        <% end %>
      </div>
  <% end %>
</div>