popup = $('#modal_popup');
popup.find('.modal-content').find('*').remove();
popup.find('.modal-content').append("<%= j render 'shipments/list', shipment: @shipment, new: false, editable: true %>");
popup.css('visibility', 'visible');
popup.find('.loading').addClass('hidden');

popup.find('.modal-popup').css('max-width', '900px').css('width', '900px').css('padding-bottom', '20px');
popup.find('.custom-select').customSelect();


$('.popover').popover({  delay: { show: 100, hide: 100 } });


setTimeout(function () {


    var focusevent, last_selected_item, part_focused,
            _this = this;

    last_selected_item = null;

    focusevent = function (event, ui) {
        var selected_item;
        if (last_selected_item !== null) {
            $('.item_' + last_selected_item.id).removeClass('ui-state-hover');
        }
        selected_item = $('.item_' + ui.item.id);
        selected_item.addClass('ui-state-hover');
        return last_selected_item = ui.item;
    };

    popup.find('.part-search').each(function (index, element) {
        return $(element).autocomplete({
            source: $(element).data('autocomplete-source'),
            focus: focusevent,
            select: function (event, ui) {
                if (ui.item.id > 0) {
                    $('#modal_popup').find('input[id=part_membership_part_id]').val(ui.item.id);
                    setTimeout(function () {
                        $('#modal_popup').find('input[id=part_search]').val(ui.item.label + ' (Serial #' + ui.item.serial_number + ')');
                    }, 1);
                }
            }
        });
    });

    part_focused = false;

    popup.find('.part-search').focusin(function () {
        part_focused = true;
        $(this).removeClass('ui-autocomplete-bad');
        $(this).addClass('ui-autocomplete-typing');
        return $(this).val('').trigger('keydown');
    });

    popup.find('.part-search').focusout(function () {
        if (part_focused) {
            $(this).addClass('ui-autocomplete-bad');
            if ($(this).val() === '') {
                return $(this).removeClass('ui-autocomplete-typing');
            }
        }
    });


    popup.find('.part-search').data("autocomplete")._renderItem = function (ul, item) {
        return $("<li class='item_" + item.id + "'></li>").data("item.autocomplete", item).append(
                "<a><div>" + (item.id > 0 ? "<img src='/assets/tool.png' class='job-member-avatar pull-left'>" : "") + "</div><div><div class='pull-right help-text list-item-column-short'>" + item.warehouse + "</div><div class='job-user'><strong>" + item.value + " </strong>" + (item.id > 0 ? "<p class='job-user-district pull-right'><span class='help-text'>Material # </span>" + item.material_number + "</p>" : "") + (item.id > 0 ? "<div>" + (item.serial_number != null ? ("<p class='job-user-title'><span class='help-text'>Serial # </span><b class='orange-text'>" + item.serial_number + "</b>" + (item.district_serial_number != '' ? " / <span class='help-text'>District # </span><b class='orange-text'>" + item.district_serial_number + "</b>" : "") + "</p>") : "<p class='job-user-title'><b class='blue-text'>Master Part</b></p>") + "</div>" : "") + "</div></div></a>").appendTo(ul)
    }
}, 50);

popup.find(".modal-popup-close").click(function () {
    $(this).unbind('click');

    if ($("#shipment_<%= @shipment.id %>").length > 0) {
        $("#shipment_<%= @shipment.id %>").replaceWith("<%= j render 'shipments/shipment', shipment: @shipment %>");
        $("#shipment_<%= @shipment.id %>").find('.popover').popover({  delay: { show: 100, hide: 100 } });
    }
});

popup.find("#edit_shipment").click(function () {
    $(this).hide();
    $("#from_to_edit").removeClass("hidden");
    $("#from_to_links").addClass("hidden");
});

$('#deselect_all').click(function() {
    $('.shipment_checkbox').each(function() {
        $(this).prop('checked', false);
        $(this).next().css('opacity', '0.3');
    });
    $('#deselect_all').addClass('hidden');
    $('#select_all').removeClass('hidden');
    return false;
});

$('#select_all').click(function() {
    $('.shipment_checkbox').each(function() {
        $(this).prop('checked', true);
        $(this).next().css('opacity', '1.0');
    });
    $('#deselect_all').removeClass('hidden');
    $('#select_all').addClass('hidden');
    return false;
});

$('.shipment_checkbox').change(function() {
    if($(this).is(":checked")) {
        $(this).next().css('opacity', '1.0');
    }
    else {
        $(this).next().css('opacity', '0.3');
    }
});
