<% new = false %>
<% shipment = @shipment %>
<% editable = @shipment.status != Shipment::COMPLETE %>


<% shipment_assets = shipment.part_memberships.to_a %>

<div>
  <div class="form" data-form="new_shipment">

    <div class="section-header">

      <div class='pull-right push-down-small align-top'>
        <% if shipment.user.present? %>
            <%= render 'users/user_icon', user: shipment.user, use_name: false, use_link: true %>
        <% end %>
      </div>

      <h1 class='inline-block' style="margin-right: 10px;">Shipment</h1>
      <% if shipment.status == Shipment::IN_TRANSIT %>
          <h3 class='inline-block warning-text'>In Transit</h3>
      <% elsif shipment.status == Shipment::AWAITING_SHIPMENT %>
          <h3 class='inline-block warning-text'>Not Yet Shipped</h3>
      <% elsif shipment.status == Shipment::CREATING %>
          <h3 class='inline-block warning-text'>Not Yet Shipped</h3>
      <% else %>
          <h3 class='inline-block good-text'>Completed</h3>
      <% end %>
      <b class='push-right-small help-text'>
        created
        <% if shipment.status != Shipment::COMPLETE %>
            <span><%= time_ago_in_words(shipment.created_at) %> ago</span>
        <% else %>
            <span><%= shipment.created_at.strftime("%a %m/%d/%Y") %></span>
        <% end %>
      </b>
    </div>

    <% if editable && shipment.from_editable %>
        <div id="shipment_new" class="<%= shipment_assets.any? ? "hidden" : "" %>">
          <%= render 'part_memberships/new_shipment', shipment: shipment, allow_inventory: true %>
        </div>
        <% if shipment_assets.any? %>
            <a id='show_shipment_add' href='#' class='btn btn-primary white-text'>
              <i class="icon-plus-sign icon-white"></i>
              <span>Add Asset</span>
            </a>
        <% end %>
    <% else %>
    <% end %>


    <%= form_for shipment do |f| %>

        <% if !shipment.from_editable %>
            <div class='inline-block align-top push-down'>
              <% if  shipment.user.present? %>
                  <%= render 'users/user_icon', user: shipment.user, use_name: false, use_link: true %>
                  <%= render 'activities/user', user: shipment.user %>
              <% end %>
            </div>
        <% end %>

        <% if false && !shipment.from_editable && shipment.from_type == "Job" && shipment.status != Shipment::COMPLETE && shipment.from.present? %>
            <div class="job-shipment-list">
              <% shipment.from.part_memberships.each do |pm| %>
                  <% found = shipment_assets.select { |s| s.job_part_membership == pm }.any? %>
                  <% if found || !pm.shipping %>
                      <div class='inline-block'>
                        <% if shipment_assets.any? %>
                            <%= check_box_tag "pm_#{pm.id}", "true",
                                              (found ? true : false),
                                              name: "[pm][pm_#{pm.id}]",
                                              class: "shipment_checkbox" %>
                        <% else %>
                            <%= check_box_tag "pm_#{pm.id}", "true",
                                              true,
                                              name: "[pm][pm_#{pm.id}]",
                                              class: "shipment_checkbox" %>
                        <% end %>
                        <div class='inline-block align-top' style="<%= found || shipment_assets.empty? ? "" : "opacity: 0.3;" %>">
                          <%= render 'part_memberships/part_membership', part_membership: pm, allow_remove: false %>
                        </div>
                      </div>
                  <% end %>
              <% end %>
            </div>
        <% else %>
            <%= render 'shipments/grouped_list', shipment: shipment, editable: editable %>
        <% end %>


        <hr>


        <div class="content">

          <% if shipment.status != Shipment::COMPLETE %>

              <%= hidden_field_tag "commit", "" %>

              <div class='pull-right'>
                <%= link_to "Delete", shipment,
                            method: :delete,
                            data: {confirm: "Permanently Delete Shipment?"},
                            class: "btn btn-default form-loading-on-click",
                            style: "margin-right: 15px;",
                            "data-form" => "new_shipment" %>

                <%= f.submit "Save",
                             "data-commit" => "save",
                             class: "btn btn-primary set-commit form-loading-on-click",
                             style: "margin-right: 15px;",
                             "data-form" => "new_shipment" %>

                <% if shipment.status == Shipment::IN_TRANSIT && shipment_assets.select { |pm| pm.to_type != Job.name }.any? %>
                    <%= f.submit "Receive Shipment",
                                 "data-commit" => "receive",
                                 class: "btn btn-success set-commit form-loading-on-click",
                                 "data-form" => "new_shipment" %>
                <% end %>
                <% if shipment.status != Shipment::IN_TRANSIT %>
                    <%= f.submit "Send Shipment",
                                 "data-commit" => "send",
                                 class: "btn btn-success set-commit form-loading-on-click",
                                 "data-form" => "new_shipment" %>
                <% end %>
              </div>
          <% end %>

          <div style="margin-left: -10px;">
            <div class='inline-block align-top push-down'>
              <b>Shipper</b>
            </div>
            &nbsp;
            <% if shipment.from_editable && shipment.status != Shipment::COMPLETE %>
                <% shippers = shipment.district.shippers.collect { |w| [w.name, w.id] }.sort_by { |k| k[0] } %>
                <div class='inline-block'>
                  <%= select_tag "shipper_id", options_for_select(shippers, shipment.shipper_id),
                                 placeholder: "Shipper",
                                 class: "custom-select" %>
                </div>
            <% else %>
                <div class='inline-block align-top push-down'><%= shipment.shipper.present? ? shipment.shipper.name : '-' %></div>
            <% end %>

          </div>

        </div>
    <% end %>

  </div>

  <div class="form-loading hidden" data-form="new_shipment">
    <br><br>
    <%= render 'layouts/inline_loading', title: "Saving shipment..." %>
    <br><br>
  </div>
</div>



<div id="modal_popup2" class="modal-popup-background">
  <div class="modal-popup modal-popup-fixed">
    <%= link_to "close", "#", class: "delete-button modal-popup-close", id: "close_modal2" %>
    <div class="modal-content">
    </div>
    <%= render "layouts/inline_loading", title: "Loading..." %>
  </div>
</div>

<script type='text/javascript'>
    $('.custom-select-ajax').customSelect();

    $('#show_shipment_add').click(function () {
        $(this).addClass('hidden');
        $('#shipment_new').removeClass("hidden");
    });
    $('.set-commit').click(function () {
        $('#commit').val($(this).attr('data-commit'));
    });

</script>

<script type='text/javascript'>
    (function ($) {
        $(document).ready(function () {

            var oldHide = $.fn.popover.Constructor.prototype.hide;

            $.fn.popover.Constructor.prototype.hide = function () {
                if (this.options.trigger === "hover" && this.tip().is(":hover")) {
                    var that = this;
                    // try again after what would have been the delay
                    setTimeout(function () {
                        return that.hide.call(that, arguments);
                    }, that.options.delay.hide);
                    return;
                }
                oldHide.call(this, arguments);
            };

            $('.part-membership').find('.popover').popover({  delay: { show: 500, hide: 200 } });

        });
    }(jQuery));
</script>
