<header class="navbar navbar-fixed-top">

  <div class="right-menu">
    <ul class="nav header-v-center">

      <% if signed_in? %>
          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <b class="caret"></b> <%= current_user.name %>
            </a>
            <ul class="dropdown-menu">
              <% if signed_in_admin? %>
                  <li><%= link_to "Company Info", edit_company_path(current_user.company) %></li>
              <% else %>
                  <li><%= link_to "Company Directory", company_path %></li>
              <% end %>
              <li class="divider"></li>
              <li><%= link_to "Settings", settings_path %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Sign out", signout_path, method: "delete" %>
              </li>
            </ul>
          </li>


          <li><%= link_to "Help", help_path %></li>
      <% else %>

          <li class="non-signed-in-header"><%= link_to "What is Elephant?", about_path %></li>

          <li class="non-signed-in-header"><%= link_to "Sales", sales_path %></li>

          <li class="non-signed-in-header"><%= link_to "Help", help_path %></li>
      <% end %>

    </ul>
  </div>

  <div class="navbar-inner">
    <div class="container container-header">
      <%= link_to "Elephant", root_path, id: "logo" %>
      <nav>

        <% if signed_in_admin? %>
            <%= render 'layouts/admin_tab' %>
        <% elsif signed_in? %>
            <%= render 'layouts/user_tab' %>

            <div class="messages-icon-container">
              <%= link_to "Messages", conversations_path, class: "messages-icon-link" %>

              <% if !current_user.alerts.where("alert_type = 3").empty? %>
                  <div class="messages-icon-alert">
                    <p><%= current_user.alerts.where("alert_type = 3").count %></p>
                  </div>
              <% end %>
            </div>



            <%= form_tag search_index_path, :method => 'get', :id => "users_search", class: "inline" do %>
                <%= text_field_tag :search, params[:search], placeholder: "Search...", class: "search-query" %>
            <% end %>

            <%= link_to "advanced search", new_search_path, class: "advanced-search-link" %>
        <% end %>


      </nav>
    </div>
  </div>
</header>