<div class="navbar navbar-fixed-top">

  <div class="navbar-inner">

    <div class="right-menu">
      <ul class="nav header-v-center">

        <% if signed_in? %>
            <li id="fat-menu" class="dropdown menu-width">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <b class="caret pull-left"></b>

                <div class="pull-left">
                  <p class="user-name"><%= current_user.name %></p>

                  <p class="user-title">
                    <% if current_user.admin? %>
                        Administrator
                    <% else %>
                        <%= current_user.title %>
                    <% end %>
                  </p>
                </div>
              </a>
              <ul class="dropdown-menu menu-width2">
                <% if !signed_in_admin? %>
                    <li>
                      <%= link_to user_path(current_user), class: "menu-avatar" do %>
                          <%= image_tag "user_avatar_extrasmall.png" %>
                          <span>Profile</span>
                      <% end %>
                    </li>
                    <li class="divider"></li>
                    <% if current_user.district.present? %>
                        <li>
                          <%= link_to current_user.district, class: "menu-avatar" do %>
                              <%= image_tag "district_extrasmall.png" %>
                              <span><%= current_user.district.name %></span>
                          <% end %>
                        </li>
                        <li class="divider"></li>

                        <% if current_user.role.global_read? || current_user.role.access_to_inventory? %>
                            <li>
                              <%= link_to inventory_index_path, class: "menu-avatar" do %>
                                  <%= image_tag "tool.png", class: "job-status-avatar" %>
                                  <span class="push-right-small">Inventory</span>
                              <% end %>
                            </li>
                            <li class="divider"></li>
                        <% end %>
                    <% elsif current_user.role.global_read? %>
                        <li>
                          <%= link_to districts_path, class: "menu-avatar" do %>
                              <%= image_tag "district_extrasmall.png" %>
                              <span>Districts</span>
                          <% end %>
                        </li>

                        <li class="divider"></li>

                        <li>
                          <%= link_to inventory_index_path, class: "menu-avatar" do %>
                              <%= image_tag "tool.png", class: "job-status-avatar" %>
                              <span class="push-right-small">Inventory</span>
                          <% end %>
                        </li>
                        <li class="divider"></li>
                    <% end %>
                <% end %>
                <% if signed_in_admin? %>
                    <li><%= link_to "Company Info", edit_company_path(current_user.company) %></li>
                <% else %>
                    <li>
                      <%= link_to Company.cached_find(current_user.company_id), class: "menu-avatar" do %>
                          <%= image_tag "user_avatar_client_extrasmall.png" %>
                          <span>Company Directory</span>
                      <% end %>
                    </li>
                <% end %>
                <li class="divider"></li>
                <% if !signed_in_admin? %>
                    <li><%= link_to "Job History", history_index_path %></li>
                    <li class="divider"></li>
                <% end %>
                <li><%= link_to "Settings", edit_setting_path(current_user) %></li>
                <li class="divider"></li>
                <% if signed_in_admin? %>
                    <li><%= link_to "Security", security_path %></li>
                    <li class="divider"></li>
                <% end %>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>


            <li><%= link_to "Help", help_path %></li>
        <% else %>



        <% end %>

      </ul>
    </div>

    <% if !signed_in? %>
        <%= link_to "Elephant", root_path, id: "logo", class: "push-right-small", alt: "Home of Elephant Oil & Gas Energy Software" %>
        <% if request.path != root_path %>
            <%= link_to "Email Us Now", "mailto:sales@go-elephant.com", class: "login-now-btn push-right bluebtn btnsmall gray pull-left" %>
        <% end %>
        <div class="non-signed-in-header-right pull-right">
          <%= render 'layouts/signed_out_tab' %>
        </div>
    <% end %>
    <div class="container container-header">
      <% if signed_in? %>
          <%= link_to "Elephant", root_path, id: "logo" %>
      <% end %>
      <nav>
        <% if signed_in_admin? %>
            <%= render 'layouts/admin_tab' %>
        <% elsif signed_in? %>
            <div class="inline">
              <%= render 'layouts/user_tab' %>

              <div class="alerts-icon-container">
                <% new_alerts = Alert.cached_find_new_alerts(current_user.id) %>
                <% if new_alerts > 0 %>
                    <div class="messages-icon-alert">
                      <p><%= new_alerts %></p>
                    </div>
                <% end %>
              </div>

            </div>


            <div class="messages-icon-container tooltip-info"
                 data-placement="bottom"
                 data-title="Messages and conversations">
              <%= link_to "Messages", conversations_path, class: "messages-icon-link" %>

              <% new_messages = Alert.cached_find_new_messages(current_user.id) %>
              <% if new_messages > 0 %>
                  <div class="messages-icon-alert">
                    <p><%= new_messages %></p>
                  </div>
              <% end %>
            </div>


            <%= form_tag search_index_path, :method => 'get', :id => "global_search_id", class: "inline" do %>
                <%= text_field_tag :search, params[:search], placeholder: "Search...", class: "search-query global-search tooltip-info",
                                   "data-placement" => "bottom",
                                   "data-title" => "Free-form text search, type well name, job name, district, etc..." %>
            <% end %>

            <div class="advanced-search-div">
              <%= link_to "advanced search", new_search_path, class: "advanced-search-link tooltip-info",
                          "data-placement" => "bottom",
                          "data-title" => "Create complex searches for jobs based on data criteria" %>
            </div>
        <% end %>

      </nav>
    </div>
  </div>
</div>