<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta name="description=" content="Elephant is a solutions package created for the energy industry to achieve high quality processes.">
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>

  <% if signed_in? || cookies[:access_code].present? %>
      <script src="https://d3dy5gmtp8yhk7.cloudfront.net/2.1/pusher.min.js" type="text/javascript"></script>

      <% if Rails.env.dev? %>
          <script src='assets/javascript/mapbox.js'></script>
          <link href='assets/stylesheets/mapbox.css' rel='stylesheet'/>
      <% else %>
          <script src='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
          <link href='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet'/>
      <% end %>

  <% end %>


  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
  <link href='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css' rel='stylesheet'>
  <![endif]-->
</head>
<% if signed_in? %>
    <body class="body">
    <%= render 'layouts/header' %>

    <div id="wrong_browser_alert" class="hidden">
      <div class="alert alert-error2 align-top">
        <%= image_tag "error_white.png", class: "inline-block align-top" %>&nbsp;&nbsp;
        <h3 class='inline-block white-text push-right-small'>Problem with Browser</h3>
        <br>
        <div class='inline-block align-top push-right push-down'>
          <b>Sorry, we don't support Internet Explorer 9 or lower. Please install either Google Chrome or Firefox.</b></div>
        <div class=''>
          <div class='inline-block push-right'><i class="icon-download icon-white"></i><%= link_to "Download Google Chrome", "http://www.google.com/chrome/", class: "activity-user-link white-text", :target => "_blank" %></div>
          <div class='inline-block push-right'><i class="icon-download icon-white"></i><%= link_to "Download Firefox", "http://www.mozilla.org/en-US/firefox/", class: "activity-user-link white-text", :target => "_blank" %></div>
        </div>
      </div>
    </div>

    <div class="<%= request.path == insight_path ? "" : "container" %>">

      <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>

      <%= yield %>

      <%= render 'layouts/footer' %>

      <div id="logged_out" class="hidden">
      </div>

      <div id="messages_window" class="hidden" style="position: fixed; left: 0; top: 60px; width: 250px; height: 120px;">
        <div style="position: relative; width: 100%; height: 100%;">
          <div style="position: absolute; background: #000000; opacity: 0.91; width: 100%; height: 100%; border-radius: 6px;"></div>
          <div style="position: absolute; padding: 18px;">
            <h3 class='' style="color: #ffc208;">Messages</h3>

            <div id="messages_content">

            </div>
            <div id="messages_loading">
              <br><br>

              <div class="inline-block ajax-loading search-loading">
                <b class='white-text'>Loading...</b>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="message_window" class="hidden" style="position: fixed; left: 0; top: 60px; width: 400px; height: 80px;">
        <div style="position: relative; width: 100%; height: 100%;">
          <div style="position: absolute; background: #000000; opacity: 0.7; width: 100%; height: 100%; border-radius: 6px;"></div>
          <div id="message_window_content" style="position: absolute; padding: 18px;">
          </div>
        </div>
      </div>

      <div id="working" class="curtain hidden">
        <div class='curtain-content'>
          <div>
            <h1>Loading</h1>

            <div class='inline-block push-right-small'>
              <div class="inline-block ajax-loading search-loading push-right-small">
                <b class='white-text'>Please wait...</b></div>
            </div>
          </div>
          <br><br><br>
          <%= image_tag "blue_logo_small.png" %>
        </div>
      </div>

      <%= debug(params) if Rails.env.development? %>

      <br><br>
    </div>

    <!-- begin olark code -->
    <script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/
    window.olark || (function (c) {
        var f = window, d = document, l = f.location.protocol == "https:" ? "https:" : "http:", z = c.name, r = "load";
        var nt = function () {
            f[z] = function () {
                (a.s = a.s || []).push(arguments)
            };
            var a = f[z]._ = {
            }, q = c.methods.length;
            while (q--) {
                (function (n) {
                    f[z][n] = function () {
                        f[z]("call", n, arguments)
                    }
                })(c.methods[q])
            }
            a.l = c.loader;
            a.i = nt;
            a.p = {
                0: +new Date};
            a.P = function (u) {
                a.p[u] = new Date - a.p[0]
            };
            function s() {
                a.P(r);
                f[z](r)
            }

            f.addEventListener ? f.addEventListener(r, s, false) : f.attachEvent("on" + r, s);
            var ld = function () {
                function p(hd) {
                    hd = "head";
                    return["<", hd, "></", hd, "><", i, ' onl' + 'oad="var d=', g, ";d.getElementsByTagName('head')[0].", j, "(d.", h, "('script')).", k, "='", l, "//", a.l, "'", '"', "></", i, ">"].join("")
                }

                var i = "body", m = d[i];
                if (!m) {
                    return setTimeout(ld, 100)
                }
                a.P(1);
                var j = "appendChild", h = "createElement", k = "src", n = d[h]("div"), v = n[j](d[h](z)), b = d[h]("iframe"), g = "document", e = "domain", o;
                n.style.display = "none";
                m.insertBefore(n, m.firstChild).id = z;
                b.frameBorder = "0";
                b.id = z + "-loader";
                if (/MSIE[ ]+6/.test(navigator.userAgent)) {
                    b.src = "javascript:false"
                }
                b.allowTransparency = "true";
                v[j](b);
                try {
                    b.contentWindow[g].open()
                } catch (w) {
                    c[e] = d[e];
                    o = "javascript:var d=" + g + ".open();d.domain='" + d.domain + "';";
                    b[k] = o + "void(0);"
                }
                try {
                    var t = b.contentWindow[g];
                    t.write(p());
                    t.close()
                } catch (x) {
                    b[k] = o + 'd.write("' + p().replace(/"/g, String.fromCharCode(92) + '"') + '");d.close();'
                }
                a.P(2)
            };
            ld()
        };
        nt()
    })({
        loader: "static.olark.com/jsclient/loader0.js", name: "olark", methods: ["configure", "extend", "declare", "identify"]});
    /* custom configuration goes here (www.olark.com/documentation) */
    olark.identify('6353-319-10-9764');
    /*]]>*/</script>
    <noscript><a href="https://www.olark.com/site/6353-319-10-9764/contact" title="Contact us" target="_blank">Questions?
      Feedback?</a> powered by
      <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
    <!-- end olark code -->

    </body>
<% else %>
    <% if request.path == root_path %>
        <body class="body-non-signed-in">
    <% elsif request.path == features_path %>
        <body class="body-about-non-signed-in">
    <% elsif request.path == sales_path %>
        <body class="body-sales">
    <% elsif request.path == about_path %>
        <body class="body-about-non-signed-in">
    <% else %>
        <body class="body">

        <div class="container">
          <% flash.each do |key, value| %>
              <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
    <% end %>

    <% if request.path != root_path %>
        <%= render 'layouts/header' %>
    <% end %>
    <div class="container-reset">
      <%= yield %>
    </div>

    <% if request.path != root_path && request.path != about_path %>
        </div>
    <% end %>

    </body>

<% end %>
</html>

<% if signed_in? %>
    <script type="text/javascript">

        var pusher = new Pusher('<%= Pusher.key %>', {  });
        var channel = pusher.subscribe('private-channel_<%= current_user.id %>');
        channel.bind('pusher:subscription_succeeded', function () {
        });
        channel.bind('new_message', function (data) {
            $.ajax('/conversations/' + data.conversation_id + "?check_new=true&seen=false", {
                type: 'get',
                dataType: 'script'
            });
        });
        var presenceChannel = pusher.subscribe('presence-<%= current_user.company_id %>');
        presenceChannel.bind('pusher:subscription_succeeded', function () {


            var me = presenceChannel.members.me;
            var userId = me.id;
            var userInfo = me.info;
        });
        presenceChannel.bind('pusher:subscription_error', function () {
        });
        presenceChannel.bind('pusher:member_added', function (member) {
            // for example:
            //add_member(member.id, member.info);
            //alert(member.info);
        });
        presenceChannel.bind('pusher:member_removed', function (member) {
            // for example:
            //remove_member(member.id, member.info);
            //alert(member.info);
        });

        function showWorkingCurtain() {
            $('#working').removeClass('hidden');
            $('body').animate({scrollTop: 0 }, 'fast');
            $('html, body').css({
                'overflow': 'hidden',
                'height': '100%'
            });
        }

        function hideWorkingCurtain() {
            $('#working').addClass('hidden');
            $('html, body').css({
                'overflow': 'auto',
                'height': 'auto'
            });
        }

        (function ($) {
            $(document).ready(function () {

                $('.show-working-curtain').live("click", function () {
                    showWorkingCurtain();
                });

                var expire = new Date(new Date().getTime() + (1000 * 60 * 120));
                setInterval(function () {
                    if (new Date().getTime() >= expire.getTime()) {
                        $.ajax({
                            url: "/is_signed_in",
                            type: "GET",
                            dataType: "script"
                        });
                    }
                }, 1000 * 60 * 10); // 1000 * 60 * 120


                var isMobile = {
                    Android: function () {
                        return navigator.userAgent.match(/Android/i);
                    },
                    BlackBerry: function () {
                        return navigator.userAgent.match(/BlackBerry/i);
                    },
                    iOS: function () {
                        return navigator.userAgent.match(/iPhone|iPad|iPod/i);
                    },
                    Opera: function () {
                        return navigator.userAgent.match(/Opera Mini/i);
                    },
                    Windows: function () {
                        return navigator.userAgent.match(/IEMobile/i);
                    },
                    any: function () {
                        return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
                    }
                };

                if (isMobile.any()) {
                    // Mobile - take any browser
                } else {
                    //var ie = $.browser.ielt9;
                    if (jQuery.browser.msie == true && jQuery.browser.version < 10.0) {
                        $('#wrong_browser_alert').removeClass('hidden');
                    }
                }
            });
        }(jQuery));
    </script>
<% end %>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-42124443-1', 'elephant-cloud.com');
    ga('send', 'pageview');

</script>

<% if signed_in? %>
    <script type="text/javascript">
        olark('api.visitor.updateEmailAddress', {emailAddress: '<%= current_user.email %>'});
        olark('api.visitor.updateFullName', {fullName: '<%= current_user.name %> (<%= current_user.company.name %>)'});
        olark('api.visitor.updatePhoneNumber', {phoneNumber: '<%= current_user.phone_number %>'});
    </script>
<% end %>