<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
  <![endif]-->
</head>
<% if signed_in? %>
    <body class="body">
    <%= render 'layouts/header' %>

    <div id="wrong_browser" class="alert alert-error2 hidden">
    <b>For security reasons, Google Chrome is the only supported web browser. Please use Google Chrome.</b>
        <%= link_to "Download Google Chrome", "http://www.google.com/chrome/", class: "activity-user-link red pull-right", :target => "_blank" %>
    </div>

    <div class="container">

      <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>

      <%= yield %>

      <%= render 'layouts/footer' %>

      <%= debug(params) if Rails.env.development? %>
    </div>
    </body>
<% else %>
    <% if request.path == root_path  %>
        <body class="body-non-signed-in">
    <% elsif request.path == features_path %>
        <body class="body-about-non-signed-in">
    <% elsif request.path == sales_path %>
        <body class="body-sales">
    <% elsif request.path == about_path %>
        <body class="body-about-non-signed-in">
    <% else %>
        <body class="body">

        <div class="container">
          <% flash.each do |key, value| %>
              <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
    <% end %>

    <%= render 'layouts/header' %>
    <div class="container-reset">
      <%= yield %>
    </div>

    <% if request.path != root_path && request.path != about_path %>
        </div>
    <% end %>

    </body>

<% end %>
</html>

<% if signed_in? %>
    <script type="text/javascript">
        (function ($) {
            $(document).ready(function () {
                var isMobile = {
                    Android: function() {
                        return navigator.userAgent.match(/Android/i);
                    },
                    BlackBerry: function() {
                        return navigator.userAgent.match(/BlackBerry/i);
                    },
                    iOS: function() {
                        return navigator.userAgent.match(/iPhone|iPad|iPod/i);
                    },
                    Opera: function() {
                        return navigator.userAgent.match(/Opera Mini/i);
                    },
                    Windows: function() {
                        return navigator.userAgent.match(/IEMobile/i);
                    },
                    any: function() {
                        return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
                    }
                };

                if(isMobile.any()){
                    // Mobile - take any browser
                } else {
                    var isChrome = window.chrome;
                    if(!isChrome) {
                        $('#wrong_browser').removeClass('hidden');
                    }
                }
            });
        }(jQuery));
    </script>
<% end %>