<% provide(:title, 'Rigs') %>

<div class="page_header">
  <h1>Rigs</h1>

  <h2 class="paginated-count">
    <%= render 'layouts/paged_header', items: @rigs %>
  </h2>

  <%= link_to "New", new_rig_path, remote: true,
              class: "bluebtn page_header_button tooltip-info show-modal-button", id: "new_rig_link",
              "data-placement" => "bottom",
              "data-title" => "Create new rig" %>
</div>


<%= render 'rigs/rigs_overview', rigs: @rigs %>


<div id="modal_popup" class="modal-popup-background">
  <div class="modal-popup modal-popup-fixed">
    <%= link_to "close", "#", class: "delete-button modal-popup-close", id: "close_modal" %>
    <div class="modal-content">
    </div>
    <%= render "layouts/inline_loading", title: "Loading..." %>
  </div>
</div>