<% provide(:title, 'Rigs') %>

<div class="page_header">
  <h1>Rigs</h1>

  <h2 class="paginated-count">
    <%= render 'layouts/paged_header', items: @rigs %>
  </h2>

  <%= link_to "New", new_rig_path, remote: true,
              class: "bluebtn page_header_button tooltip-info show-modal-button", id: "new_rig_link",
              "data-placement" => "bottom",
              "data-title" => "Create new rig" %>
</div>

<div>
  <div class="map-container">
    <div id='map' class='dark' style='width:100%;height:300px;'></div>
    <div class="corner tlcorner"></div>
    <div class="corner trcorner"></div>
    <div class="corner brcorner"></div>
    <div class="corner blcorner"></div>
  </div>
</div>

<br><br>

<div id="list">
  <% @rigs.each do |rig| %>
      <%= render rig %>
  <% end %>
</div>

<%= will_paginate %>


<div id="modal_popup" class="modal-popup-background">
  <div class="modal-popup modal-popup-fixed">
    <%= link_to "close", "#", class: "delete-button modal-popup-close", id: "close_modal" %>
    <div class="modal-content">
    </div>
    <%= render "layouts/inline_loading", title: "Loading..." %>
  </div>
</div>

<script type='text/javascript'>
    var map = L.mapbox.map('map', 'elephant.map-vum3on5g');
    map.attributionControl = false;
    map.scrollWheelZoom.disable();

    var geoJson = [];

    <% coordinates_for_zoom = [] %>
    <% coordinates_for_lines = [] %>

    <% @rigs.each_with_index do |rig, index| %>
    <% well = rig.wells.last %>
    <% if well.present? && index < 7 && !well.location.blank? %>
    <% x = well.x_location %>
    <% y = well.y_location  %>
    <% coordinates_for_lines << [x, y] %>
    <% coordinates_for_zoom << [y, x] %>
    geoJson.push({
        "type": "Feature",
        "geometry": {
            "type": "Point",
            "coordinates": [<%= x %>, <%= y %>]
        },
        "properties": {
            title: '<%= rig.name %>',
            'marker-size': 'medium',
            'marker-color': '#0058a8',
            url: '/rigs/' + <%= rig.id %>
            //'marker-symbol': '1'
        }
    });
    <% end %>
    <% end %>

    map.markerLayer.setGeoJSON(geoJson);

    map.markerLayer.on('click', function (e) {
        map.panTo(e.layer.getLatLng());
    });
    map.markerLayer.on('click', function (e) {
        e.layer.unbindPopup();
        window.location = e.layer.feature.properties.url;
    });

    var bounds = [];
    <% coordinates_for_zoom.each do |c| %>
    bounds.push([<%= c[0] %>, <%= c[1] %>]);
    <% end %>
    map.fitBounds(bounds);
    zoom = Math.round(map.getZoom());
    map.setZoom(zoom - 1);
    <% if coordinates_for_zoom.count == 1 %>
    if (zoom > 8) {
        map.setZoom(8);
    }
    <% end %>

    map.markerLayer.on('mouseover', function (e) {
        e.layer.openPopup();
    });
    map.markerLayer.on('mouseout', function (e) {
        e.layer.closePopup();
    });
</script>